.article-component{
    width: 100%;
    height: 100%;
    padding: 5% 10%;
    overflow-y: scroll;
    .cancel-button{
        filter: drop-shadow(0,0,5px red);
        filter: invert(0.5);
        top: 5%;
        right: 5%;
        position: absolute;
        cursor: pointer;
        &:hover{
            transition: 0.3s;
            transform: scale(1.2);
        }
    }
    h1{
        color: var(--main-color)
    }

    .author-info{
        display: flex;
        div{
            &:nth-child(1){
                margin-right: 15px;
                img{
                    height: 5vh;
                    width: 5vh;
                    border-radius: 50%;
                }

            }
            &:nth-child(2){
                display: flex;
                flex-direction: column;
                justify-content: center;
                span{
                    &:nth-child(1){
                        text-decoration: underline;
                    }
                    &:nth-child(2){
                        font-weight: 400;
                    }
                }

            }
        }
    }
    .article-cover-wrapper{
        width: 100%;
        height: auto;
        padding: 4vh 0 ;
        img{
            width: 100%;
            height: auto;
        }
    }
    .article-wrapper{
        width: 100%;
        
        span{
            white-space: normal;
            font-weight: 400;
            font-size: 100%;
        }
    }
}