.trade-tab-header-child{
    display: flex;
    height: 100%;
    display: flex;

    .header-block{
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            h6{
                transition: 0.3s;
                transform: scale(1.35);
            }
        }
        &:nth-child(2){
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
        }
        h6{
            transition: 0.3s;
            margin-bottom: 0;
            img{
                height: 20px;
            }
        }
    }
    .current-block{
        background-color: var(--light-border-color);
        h6{
            font-weight: bold;
        }

    }
    .opaque-block{
        opacity: 0.5;
    }

}