.this-trade-tab-body-child {
    height: 100%;
    width: 100%;
    .this-trade-tab-body-sub-body {
        height: 100%;
        width: 100%;
        display: flex;
        
        .sub-body-list-wrapper{
            width: 100%;
            height: 100%;
            transition: 0.3s;
            .trade-tab-body-sub-header{
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 40px;
                align-items: center;
                border-bottom: 1px solid var(--border-color);
                input{
                    width: 50%;
                    background-color: transparent;
                    border: 0;
                    font-size: 122%;
                }
            }
            .tab-list-wrapper{
                height: calc(100% - 40px);
                width: 100%;
            }
            

        }

        .list-adjust{
            width: calc((190%/3 + 5% - 1px));
            transition: 0.3s;
        }
        .sub-body-dashboard-wrapper{
            width: 0;
            height: 100%;
            transition: 0.3s;
        }
        .dashboard-adjust{

            border-left: 1px solid var(--border-color);
            width: calc(95%/3 + 1px);
            height: 100%;
            transition: 0.3s;

        }
    }
}
