.links-generator-container {
  .links-generator-wrapper {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding-right: 15px;
    .ant-btn {
      height: 48px;
      font-size: 16px;
      border-radius: 4px;
    }
    .link-copy-wrapper {
      align-self: center;
      margin-left: 15px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
