@import "src/css-variables/css-variables.scss";
.trade-main{
    height: 100%;
    width: 100%;
    // border: 2px solid red;
    padding:0  5%;
    padding-top: 2%;
    .trade-main-header-normal{
        height: 60px;
        width: 100%;
        border: 1px solid var(--border-color);

    }
    .trade-main-body{
        height: calc(100% - 60px);
        width: 100%;
        border: 1px solid var(--border-color);
        border-top: 0;
    }
}