@import "src/scss-variables/all-variables";

.chart-transaction-trending {
  overflow: hidden;
  height: 100%;
  width: 100%;
  .chart-transaction-trending-header {
    height: 50px;
    width: 100%;
    //background-color: #464b4e;
    display: flex;
    border: 1px solid --var(--border-color) !important;
    button {
      border: 1px solid var(--border-color);
      background-color: transparent;
      //color: white;
      font-size: 85%;
      outline: none;
      width: 34%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0;
      }
      &:nth-child(3) {
        width: 32%;
        border-right: 1px solid var(--border-color);
        position: relative;
        display: flex;
        padding: 0;
        justify-content: space-between;
        span {
          width: 30%;
          margin-right: 0;
          text-align: center;
          img {
            padding-right: 5px;
            height: 2vh;
          }
          &:nth-child(2) {
            text-align: left;
            justify-self: flex-end;
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      span {
        @media (min-width: 1600px) {
          font-size: 125%;
        }
        @media (max-width: 767px) {
          font-size: 85%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        font-size: 100%;
        font-weight: 500;
        margin-right: 5px;
        img {
          height: 2.8vh;
          width: auto;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .selected {
      font-size: 125%;
      font-weight: 500;
    }
    &:hover {
      .full-button {
        opacity: 1;
        transition: 0.5s;
      }
    }
    .full-button {
      position: absolute;
      right: 10px;
      background-color: var(--main-color);
      color: black;
      top: 50%;
      padding: 2px;
      border-radius: 2px;
      transform: translateY(-50%);
      opacity: 0;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .chart-transaction-trending-body {
    height: calc(100% - 0px);
    width: 100%;
    overflow: hidden;
    border-right: 1px solid var(--border-color) !important;
    border-left: 1px solid var(--border-color) !important;
    border-bottom: 1px solid var(--border-color) !important;

    display: flex;
    transition: 0.5s;
    .chart-transaction-trending-sidebar-hide {
      display: none;
      width: 0;
      transition: 0.6s;
    }
    .chart-transaction-trending-sidebar {
      width: 47%;
      min-width: 0;
      box-shadow: 0 0 5px #d9d9d9;
      z-index: 4;
      transition: 0.6s;
      height: 100%;
      background-color: var(--bg-color);
      //animation: sidebar linear 0.6s 1;
      .chart-transaction-trending-sidebar-body {
        width: 100%;
        height: 85%;
        overflow-y: auto;
        color: var(--bg-color) !important;
        button {
          padding: 20px 0%;
          outline: none;
          width: 100%;
          display: flex;
          font-size: 80%;
          background-color: transparent;
          border: 0;
          color: var(--bg-color) !important;
          border-left: 1px solid var(--border-color) !important;
          justify-content: space-between;
          div {
            &:nth-child(1) {
              width: 70%;
              display: flex;
              span {
                &:nth-child(1) {
                  width: 43%;
                  text-align: center;
                  color: var(--bg-color);
                }
                &:nth-child(2) {
                  width: 57%;
                  text-align: left;
                  color: var(--bg-color);
                }
              }
            }
            &:nth-child(2) {
              width: 30%;
              padding-right: 5px;
              text-align: right;
            }
            img {
              margin-right: 5px;
              height: 2vh;
            }
            span {
              font-weight: 500;
            }
            span {
              &:nth-child(1) {
                width: 35%;
              }

              &:nth-child(2) {
                text-align: left;
                width: 65%;
              }
            }
          }
        }
      }
      .chart-transaction-trending-sidebar-footer {
        width: 100%;
        height: 15%;
        background-color: var(--main-color);
        color: var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
      }
    }
  }
}
@keyframes come-from-top {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: auto;
    opacity: 1;
  }
}
@keyframes sidebar {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}
