.gx-pagination-wrapper {
  position: relative;
  right: 25px;
  top: 25px;
  bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gx-pagination-wrapper .gx-pagination {
  justify-content: flex-end;
}
@media (min-width: 1024px) and (max-width: 1470px) {
  .gx-pagination-wrapper {
    position: relative;
    right: 25px;
    top: 0;
    bottom: 10px;
    margin-top: 15px;
  }
}
