@import "src/css-variables/css-variables.scss";
.password-checklist{
    width: 100%;
    height: 100%;
    padding: 12%;
    h5, h1{
        color: var(--background-color)
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        font-weight: 600;
    }
    h5{
        display: flex;
        justify-content: space-between;
        p{
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
        .valid{
            background-color: var(--green-color);
        }
        .invalid{
            background-color: var(--red-color);
        }
    }

}