.cards-wallet {
  height: calc(100vh - 229px);
  overflow-y: auto;
  @media (max-width: 768px) {
    height: unset;
  }

  .card-inner {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 15px;
    }
    h2 {
      font-size: 4rem;
      span {
        color: green;
        font-size: 1.25rem;
      }
      @media (max-width: 768px) {
        font-size: 2.5rem;
        span {
          font-size: 0.8rem;
        }
      }
    }
    .main-dropdown {
      z-index: 3;
      background-color: #fff;
      padding: 5px;
      box-shadow: 0 0 5px #d9d9d9;
      right: 0;
      .country-list {
        justify-content: space-between;
        width: 120px;
      }
    }
  }

  .carousel {
    .slide {
      background: transparent;
      .cc-container {
        margin-top: 25px;
        .rccs {
          width: 292px;
          .rccs__card {
            width: 292px;
            height: 190px;
          }
        }
        .cu-card {
          width: 292px;
          height: 190px;
          position: relative;
          border-radius: 14.5px;
          transform-style: preserve-3d;
          transition: all 0.4s linear;
          margin: 0 auto;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          img {
            width: unset !important;
          }
          .center-logo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 60px;
            max-width: 150px;
          }
          .rect {
            position: absolute;
            right: 10px;
            bottom: 10px;
            height: 25px;
            max-width: 100px;
          }
          .pay-wrap {
            right: 0;
            top: 0;
            height: 60px;
            width: 90px;
            margin-bottom: auto;
            margin-left: auto;
            .pay {
              position: absolute;
              right: 10px;
              top: 16px;
              height: 25px;
              min-width: 70px;
            }
          }
        }
        @media (max-width: 1564px) {
          .rccs {
            width: 240px;
          }
          .cu-card,
          .rccs__card {
            width: 240px !important;
            height: 156px !important;
            .rccs__number {
              font-size: 16px;
            }
          }
        }
      }
      @media (max-width: 768px) {
        .cc-container {
          margin-top: 0;
          .rccs,
          .cu-card {
            max-width: 90%;
          }
        }
      }
      &.selected {
        .cc-container {
          margin-top: 0;
          .rccs {
            width: 320px;
            .rccs__card {
              width: 320px;
              height: 208px;
            }
          }
          .cu-card {
            width: 320px;
            height: 208px;
          }
          @media (max-width: 1564px) {
            .rccs {
              width: 260px !important;
              .rccs__card {
                width: 260px !important;
                height: 169px !important;
              }
            }
            .cu-card {
              width: 260px !important;
              height: 169px !important;
            }
          }
          @media (max-width: 768px) {
            .cc-container {
              margin-top: 0;
              .rccs,
              .cu-card {
                max-width: 90%;
              }
            }
          }
        }
      }
    }
  }

  .App-cards-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    .rccs {
      margin: 20px auto;
      .rccs__card--front,
      .rccs__card--back {
        border-radius: 8px;
      }
    }
  }
  .card-item {
    border-radius: 12px;
    color: white;
    img {
      max-width: 3rem;
    }
    .cash {
      font-size: 2.5rem;
    }
    .number {
      font-size: 2rem;
    }
    &.main {
      background: rgb(64, 76, 147);
      background: linear-gradient(
        90deg,
        rgba(64, 76, 147, 1) 0%,
        rgba(65, 72, 143, 1) 93%,
        rgba(69, 65, 130, 1) 100%
      );
    }
  }
  .trans-history {
    overflow-y: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    @media (max-width: 768px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .history-item {
      .icon {
        background-color: #dddddd;
        border-radius: 0.5rem;
      }
      h4 {
        font-size: 1.3rem;
      }
    }
  }
}
.add-card {
  height: calc(100vh - 229px);
  overflow-y: auto;
  .MuiPaper-root {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .cards-form {
    input,
    select,
    textarea {
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 3px;
      text-transform: uppercase;
      padding: 25px 15px;
    }
    label {
      margin-bottom: 6px;
      display: block;
    }
    .input-ccnum {
      position: relative;
      i {
        position: absolute;
        right: 12px;
        top: 12px;
        bottom: 12px;
      }
    }
    .btn-darkblue {
      color: #fff;
      background-color: #EAB00C;
      border-color: #EAB00C;
      border-radius: 3rem;
      padding: 12px;
      margin-bottom: 10px;
      margin-top: 20px;
      &:hover {
        background-color: #194e86;
        border-color: #194e86;
        color: #fff;
      }
    }
    .btn-outline-darkblue {
      color: #EAB00C;
      background-color: transparent;
      background-image: none;
      border-color: #EAB00C;
      border-radius: 3rem;
      padding: 12px;
      margin-bottom: 10px;
      margin-top: 20px;
      &:hover {
        color: #fff;
        background-color: #EAB00C;
        border-color: #EAB00C;
      }
    }
  }
}
// .cu-card {
//   width: 292px;
//   height: 190px;
//   position: relative;
//   border-radius: 14.5px;
//   transform-style: preserve-3d;
//   transition: all 0.4s linear;
//   margin: 0 auto;
//   img {
//     width: unset !important;
//   }
//   .center-logo {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     height: 60px;
//     max-width: 150px;
//   }
//   .rect {
//     position: absolute;
//     right: 10px;
//     bottom: 10px;
//     height: 25px;
//     max-width: 100px;
//   }
// }
