.by-broker-main{
    height: 100%;
    position: relative;
    button{
        &:disabled{
            opacity: 0.25;
        }
    }
    .bb-free-floating-text{
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        &:hover{
            transition:0.3s;
            font-weight: 600;
        }
    }
    .by-broker-step-two{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            height: 12vh;
            margin-bottom: 2vh;
        }
        p{
            margin-bottom: 5vh;
        }
        .broker-info{
            border: 1px solid var(--light-border-color);
            width: 35%;
            margin-bottom: 4vh;
            .broker-info-upper{
                border-bottom: 1px solid var(--light-border-color);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 4vh 0;
                img{
                    height: 12vh;
                    width: 12vh;
                    border-radius: 50%;
                }
                h6{
                    opacity: 0.5;
                }
                span{
                    font-weight: 400;
                    opacity: 0.5;
                }
            }
            .broker-info-lower{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 3vh 0;
                h4{
                    font-weight: bold;
                    margin-bottom: 10px;
                    opacity: 0.5;
                }
                p{
                    margin-bottom: 0;
                    font-size: 80%;
                    opacity: 0.5;
                }

            }
        }
        .bb-two-buttons{
            width: 35%;
            display: flex;
            justify-content: space-between;
            button{
                width: 46%;
                padding: 8px 0;
                &:nth-child(1){
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                }
                &:nth-child(2){
                    background-color: var(--main-color);
                    color: white;
                    border: 0;
                    a{
                        color: white;
                    }
                }
            }
        }

    }
    .by-broker-step-one{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            height: 12vh;
            margin-bottom: 5vh;
        }
        p{
            margin-bottom: 5vh;
        }
        .bb-one-input{
            width: 35%;
            display: flex;
            height: 6vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--border-color);
            padding: 0 20px;
            margin-bottom: 5vh;

            input {
                width: 90%;
                background-color: transparent;
                border: 0;
            }
            button{
                width: 10%;
                background-color: transparent;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 18px;
                    width: 18px;
                    margin-bottom: 0;
                }
            }
        }
        .bb-one-buttons{
            width: 35%;
            display: flex;
            justify-content: space-between;
            button{
                width: 46%;
                padding: 8px 0;
                &:nth-child(1){
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                }
                &:nth-child(2){
                    background-color: var(--main-color);
                    color: white;
                    border: 0;
                }
            }
        }

    }
}