
.notification {
  width: 100%;
  height: 45px;
  position: absolute;
  opacity: 0.9;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 0 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 0.4s move-extra 1 linear;
  // opacity: 0.90;
  border-top: 2px solid var(--background-color);
  h6 {
    font-size: 100%;
    margin-bottom: 0;
    color: white;
    font-weight: 500;
  }
  transition: 0.4s;
  box-shadow: 4px 4px 0px 0px black;
  img {
    transform: rotate(45deg);
    padding: 4px;
    cursor: pointer;
    &:hover {
      transition: 0.3s;
      transform: scale(1.4) rotate(45deg);
    }
  }
}
.hide {
  transition: 0.4s;
  transform: translateX(100%);
  box-shadow: none;
}
@keyframes move-extra {
  0% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

