@import "../../../../css-variables/css-variables.scss";
$appColor: var(--main-color);
$fontColor: white;

.dropbtn {
  background: white;
  /* background-color: gold; */
  color: black;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  /* width: 100%; */
  cursor: pointer;
  text-align: justify;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;

  }

.usertitle
  {
   font-size: 25px; 
color:$appColor;
font-family:Montserrat;
line-height: 30.48px;
font-weight: bold;
width: 18rem;
  }

.userparagraph
  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 35px;
    color: var(--main-color);
    opacity: 0.29;
    margin-bottom: 1.5rem;
    width: 18rem;
  }
  .adduserlist
  {
    background: var(--main-color);
    border-radius: 5px;
    color: white;
    height: 41px;
    width: 8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    font-size: 14px;
  }
  .cancellist
  {
    cursor: pointer;
    background:white ;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    color: var(--main-color);
    height: 41px;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
.scessheader
  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    /* display: flex; */
    /* align-items: center; */
    color: #182542;
    width: 18rem;
    margin-bottom: 2rem
  }

.buttoncomplete
  {
    border: 0.5px solid #E7E4E4;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .sucessparagraph
  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #002A51;
    width: 18rem;
  }
.textsuess
  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-color);

    margin: 0;
    padding-left: 9px;
  }
.suceessboxtext
  {
    border: 0.5px solid #E7E4E4;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
.header
  {
    width: 50%;
    border-right: 0.25px solid #E7E4E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.todoListMain
  {
    height: 52vh;
    border: 0.25px solid #E7E4E4;
    display: flex;
  }
.displaybutton
  {
    display: flex;
    justify-content: space-between;
    width: 18rem;
  }
.Userinputbox
  {
    border: 0.5px solid #E9E9E9;
    height: 3rem;
    width: 18rem;
    padding-left: 1.5rem;
    font-size: 13px;
    display: block;
    color: var(--main-color);
    margin-bottom: 2rem;
  }
  .Userinputbox::placeholder
  {
    opacity: 0.29;
    color: var(--main-color);
  }
  .indicatorGreen
{
    width: 0.8rem;
    height: 0.8rem;
    background: #186AB4;
    border: 1px solid #186AB4;
    border-radius: 14px;
    position: absolute;
    right: 21px; 
    top:18px
}
.indicatormark
{

    position: absolute;
    right: 21px; 
    top:18px
}
.indicatorred
{
    width: 0.8rem;
    height: 0.8rem;
    background: #d51717;
    border: 1px solid #d51717;
    border-radius: 14px;
    position: absolute;
    right: 21px;
    top:18px
}
.liveMain{
  display: flex;
    width: 100%;
    height: 100%;
    .livesubdiv{
      width: 50%;
      cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    }  .livesubdivActive{
      width: 50%;
      cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1F4F6;
    font-weight: bold;
    }

}
  .fontLiveData
  {
    font-size: 11px;
    color: #182542;
  }
  .dropdown-content p {
    color: #000;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 13px;
    margin: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,50.2%,.22);
    padding: 0 0 0 5%;
}
.vsaControllerDropdown
  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
  }

  
  .sale-contrl-divbottom {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 20px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(20, 31, 91, 0.7);
    justify-content: center;
    border-top: 1px solid #8080804a;
    margin: 0;
    height: 8.5rem;
}
.chart-height
{
  height: 43vh;
}
.sale-contrl-div
  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    /* line-height: 20px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(20, 31, 91, 0.7);
    justify-content: center;
    border-bottom: 1px solid #8080804a;
    margin: 0;
    height: 3.5rem;
  }
.header-controller-sub
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.controllTabVsa .ant-dropdown-trigger
{
  width: 8%;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #80808047;
}

  .controllTabVsa .ant-tabs
  {width:100%
}
  .controllTabVsa .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 32px 0 0;
    /* padding: 12px 16px; */
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
    justify-content: center;
    height: 4.5vh !important;
    width: 33.3333333333%;
    border-right: 1px solid #80808047;
  
}
.yeardiv
{
  display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;


}
.tabandyear
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 87.5%;
}
.yeardivp
{
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: rgba(88, 87, 87, 0.7);
}
.cslaes-p
{
  font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    /* line-height: 12px; */
    display: flex;
    /* align-items: center; */
    color: #141F5B;
    margin: 0;
}
.csalesheader
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  /* line-height: 16px; */
  display: block;
  /* align-items: center; */
  color: #141F5B;
  margin: 0;
}


.controller-sale-div-list
{
  height: 100%;
  overflow-y: scroll;
  padding-left: 10%;
    padding-right: 10%;
}
.controller-sale-div-list::-webkit-scrollbar
{
  display: none;
}
.controller-sub-main-page
{
  padding: 2% 2% 0% 2%;
  padding-left: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.full-cntrl-sale
{
  background: #FFFFFF;
box-shadow: 0px 2px 9px rgba(208, 208, 208, 0.5);
border-radius: 3px;
height: 70.4vh;
display: flex;
justify-content: space-between;
flex-direction: column;

}

.csalesheadercustom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  /* line-height: 16px; */
  display: block;
  /* align-items: center; */
  color: #141F5B;
  /* margin: 0; */
  margin-bottom: 7px;
}
.control-salescustom{
  display: flex;
  align-items: center;

  /* height: 4rem; */
  justify-content: space-between;
}
.mainSelectedcontroldiv
{
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
.marginrightimg{
  margin-left: 19px;
}
.control-sales
{
  display: flex;
  align-items: center;
cursor: pointer;
  height: 4rem;
  // height: 16.6666666667%;
  /* padding-left: 7%;
  padding-right: 7%; */
}


.menu-drp-cont-a
{
  
  display: flex !important;
  align-items: center;
  text-align: center;

  justify-content: center;
  width: 9rem;
  text-align: center;
  /* padding-top: 10px; */
  /* padding-bottom: 4px; */
  height: 3rem;
  margin: 0;
  
  border-bottom: 1px solid #80808047;
}
.menu-drp-cont
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #575758;
  justify-content: center;
  width: 9rem;
  text-align: center;
  /* padding-top: 10px; */
  /* padding-bottom: 4px; */
  height: 3rem;
  margin: 0;
  
  border-bottom: 1px solid #80808047;
}

.controllTabVsa  .ant-dropdown {
  left: 600px !important;
}
.controllersubd-pvalue
  {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #182542;
    margin: 0;
  }
  .controllTabVsa .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 ;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s cubic-bezier(.645,.045,.355,1);
    align-items: center;
    justify-content: center;
    height: 4.5vh!important;
    width: 33.3333333333%;
    border-right: 1px solid hsla(0,0%,50.2%,.28);
}
.controllTabVsa .ant-tabs-nav
{
  width: 100%;
}
.controllTabVsa .ant-tabs-bar
{
border-top: 0px;
}
.controllTabVsa .ant-tabs-ink-bar
{
  background-color: #182542;
}
.controllTabVsa .ant-tabs-nav .ant-tabs-tab-active
{
  color: #182542;
}
.controllersubdiv-pvalue
  {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
.row-cntrl
  {
    border: 1px solid #80808052;
  }
  .controllersubmenu
  {
    height: 49.3vh;
    border-right: 1px solid #8080806e;
    padding: 0;
    width: 12.5%;
  }
.controllersubdiv-p
  {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 9px;
text-align: center;
margin: 0;
color: white;
  }
  .controllersubdiv-p-div
  {
    text-align: center;
    background: #182542;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .controller-sub-div
  {
    height: 25%;
  }
.controller
  {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
  }

.controller-submaain-section
  {
    height: 49.3vh;
  }

.searchicon
  {
    position: absolute;
    right: 11px;
  }

.seachsection
  {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    margin: auto;
    background: white;
    border: 1px solid #8080803d;
    /* border-radius: 7px; */
    margin-top: 5px;
    border-left: none;
    border-right: none;
  }
.drop-image-div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  box-shadow: 0px 1px 9px rgba(208, 208, 208, 0.5);
  padding-left: 4%;
  padding-right: 7%;
}
  .controller-Sectionsection-cuz {
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}
  .controller-main-page
  {
    justify-content: space-between;
    padding: 2%;
    height: 74vh;
    /* border-right: 1px solid #80808059; */
    display: flex;
    flex-direction: column;
    padding-right: 0 !important;
    padding-bottom: 0;
}
  
.maintab-controlller-sub
  {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  
  #myInput {
    box-sizing: border-box;
    /* background-image: url(searchicon.png); */
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 14px;
    /* padding: 14px 20px 12px 45px; */
    border: none;
    /* border-bottom: 1px solid #ddd; */
    width: 100%;
    height: 100%;
    padding-left: 10%;
    border-radius: 7px;
  }
  

  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
.asp
  {
    margin-top: 12px;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1;

    padding-top: 7px;
    box-shadow: 0px 1px 9px rgba(208, 208, 208, 0.5);
    margin-top: 3px;
   
  }
  
.drp-lenght
  {
    height: 11rem;
    width: 100%;
    overflow-y: scroll;
  }
  .dropdown-content p {
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin: 0;
    height: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #80808038;
    /* margin: auto; */
    padding-left: 5%;
}

  
  .dropdown a:hover {background-color: #ddd;}
/*  */
.controller_P_text
{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
margin:0;
color: #585757;
text-align: center;
}

.controller-foursection{
  width: 32.3333333333%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(115, 115, 115, 0.15);
    cursor: pointer;
    
}

.controller-foursectionTrue{
  width: 32.3333333333%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border:1px solid black;
  cursor: pointer;
  
}
.controller-foursection-cust{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(115, 115, 115, 0.15);
    cursor: pointer;
    
}
.controller-foursection-custtrue{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 border:1px solid black;
  cursor: pointer;
  
}
.customradio
{
  margin-bottom: 5px;
}


.controller_P_text-custom
{
font-family: Roboto;
font-style: normal;
font-weight: 500;
display: block;
font-size: 14px;
margin:0;
color: #585757;
text-align: center;
}
.controller-div-sectionTrue {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}
.controller-div-section
{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px rgba(115, 115, 115, 0.15);
    text-align: center;
    cursor: pointer;
}
.mainsectionpadding
{
  padding-right: 5%;
  padding-left: 5%;    padding-bottom: 2%;
}

.controller-customdivision
{
    width: 25%;
    display: flex;
justify-content: space-between;
padding-bottom: 3px;
}
.controller_p_num
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #182542;
    margin: 0;
    text-align: center;
    font-weight: bold;
}



.controller-firstsection
{
    width: 25%;
    display: flex;
    box-shadow: 0px 1px 9px rgba(208, 208, 208, 0.5);

}
.controller-firstsectionTrue
{
    width: 25%;
    display: flex;
    border: 1px solid black;

}

.controller-Sectionsection {
    width: 35%;
    display: flex;
    box-shadow: 0px 1px 9px rgba(208, 208, 208, 0.5);
    justify-content: space-between;
    padding-bottom: 1px;
}
.controller-subdivsection
{
    width: 50%;
    border-right: 1px solid #80808078;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controller-thridsection {
    width: 35%;
    display: flex;
    /* box-shadow: 0px 1px 9px rgba(208, 208, 208, 0.5); */
    border: 1px solid black;
}
.controller-thridsection-cust {
    width: 35%;
    display: flex;
    /* box-shadow: 0px 1px 9px rgba(208, 208, 208, 0.5); */
    border: 1px solid black;
}
.controller-subdivsecondsection
{
    width: 50%;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controll-mainfirst-section
{
    display: flex;
    justify-content: space-between;
}



@media only  screen and (min-width:1200px)  and (max-width:1600px)
{
  .controller-main-page
  {
    
    height: 76vh;
    padding-bottom: 0;
  }
  .full-cntrl-sale
{

height: 73vh;

}
}