@import "src/css-variables/css-variables.scss";
.buy-sell{
  width: 100%; height: 100%;
  border: 1px solid var(--border-color);
  .buy-sell-header{
    width: 100%;
    height: 12%;
    border-bottom: 1px solid var(border-color);
    background-color: var(--background-color);
    button{
      outline: none;
      width: 50%;
      height: 100%;
      background-color: transparent;
      border: 0;
      color: var(--main-color);
    }
    .selected{
      font-weight: 600;
      border-bottom: 1px solid var(--border-color);
    }
  }
  .buy-sell-body{
    height: 88%; width: 100%;
  }

}

