@import "src/css-variables/css-variables.scss";
.invert-colors{
    background-color: var(--background-color) !important;
    .sidebar-stick{
        position: relative;
        .sidebar-stick-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.5);
            z-index: 2;

        }
    }
    .sidebar-content{
        h4{
            color: var(--main-color) !important;
            font-size: 130%;
            font-weight: bold;
        }
        h6{
            color: var(--main-color) !important;
        }
        .selected{
            background-color: var(--main-color) !important;
            color: var(--background-color) !important;
            transition: 0.3s;
            .default{
                filter: invert(1);
            }
            &:hover{
                // background-color: var(--background-color);
            }
        }
        
        .list-wrapper{
            height: 95%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 3px;
                height: 0px;
                position: absolute;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #182542 !important;
                cursor: pointer !important;
            }
        }
    }
}
.apps-menu-active{
    .sidebar-stick{
        position: relative;
        .sidebar-stick-overlay{
            position: absolute !important;
            top: 0;
            left: 0;
            width: calc(100% + 0px);
            height: 100%;
            background-color: rgba(255,255,255,0.5);
            z-index: 12;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding: 40px 0;
            padding-right: 10px;
        }
    }

}
.sidebar {
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    position: relative;
    width: calc(24vw + 80px);
    transition: 0.3s;
    // padding: 2% 0;
    border-right: 1px solid var(--border-color);
    // box-shadow: 0 0 6px rgba(0,0,0,0.16);
    z-index: 99;
    .sidebar-stick {
        height: 100%;
        width: 80px;
        padding: 40px 0 !important;
        padding-bottom: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sidebar-stick-overlay{
            position: absolute;
        }
        .sidebar-stick-upper{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .arrow-button{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                position: relative;
                &:nth-child(3), &:nth-child(2){
                    display: none;
                }
                &:nth-child(1){
                    &:hover{
                        box-shadow: none;
                    }
                }

                span{
                    position: absolute;
                    z-index: 10;
                    display: none;
                    background-color: var(--background-color);
                    padding: 1px 15px;
                    border: 1px solid var(--main-color);
                    top: 50%;
                    font-size: 12px;
                    left: 50px;
                    transform: translateY(-50%);
                    color: var(--main-color)
                }
                img{
                    height: 20px;
                    width: 20px;
                }
                cursor: pointer;
                margin-bottom: 30px;
                &:hover{
                    // box-shadow: 0 0 0px 7px $main-color, 0 0 0 8px rgba(255,255,255,0.2);
                    span{
                        display: block;
                    }
                }
                &:nth-child(1){
                    position: relative;
                    top: 5px;
                    margin-bottom: 35px;
                    transform: scale(1.5);
                }
            }
        }
        .sidebar-stick-below{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            // border: 1px solid red;
            button {
                width: 100%;
                height: 80px;
                border: 0;
                outline: none;
                position: relative;
                z-index: 10;
                span{
                    display: none;
                    position: absolute;
                    background-color: var(--background-color);
                    border: 1px solid var(--main-color);
                    padding: 2px 10px;
                    left: 110%;
                    font-weight: 600;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover{
                    span{
                        display: block;
                    }
                }f
                img {
                    height: 33%;
                }
                &:nth-child(1) {
                    background-color: var(--main-color);
                }
                &:nth-child(2) {
                    background-color: transparent;
                }
            }
        
        }
    }
    .sidebar-content{
        height: 100%;
        width: 0px;
        padding: 40px 0;
        &:hover{
            // width: 220px;
            // padding-right: 5px;
        }
        transition: 0.3s;
        // padding-left: 10px;
        h4{
            // color: var(--background-color);
            margin-bottom: 1.5rem;
            white-space: nowrap;
            overflow: hidden;
            color: var(--background-color);
        }
        .list-wrapper{
            height: 95%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                position: absolute;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #f1f1f1;
                cursor: pointer !important;
            }

        .selected{
            background-color: var(--background-color);
            color: var(--main-color);
            transition: 0.3s;
            .default{
                filter: invert(1);
            }
            &:hover{
                // background-color: var(--background-color);
            }
        }
        h6{
            cursor: pointer;
            color: var(--background-color);
            padding: 10px 15px;
            font-size: 100%;
            display: flex;
            align-items: center;
            transition: 0.3s;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 10px;
            &:hover{
                background-color: var(--border-color);
            }
            img{
                margin-right: 1.5rem;
            }
            .loading-start{
                height: 20px;
                width: 20px;
                background-color: transparent;
                border: 0;
                border-top: 2px solid var(--background-color);
                border-radius: 50%;
                border-bottom: 2px solid var(--background-color);
                animation: spin-round 1s infinite;
                margin-left: 20px;
            }


        }
    }
    }
    .sidebar-content-hide{
        height: 100%;
        width: 0px;
        overflow: hidden;
        transition: 0.3s;

    }
    .collapse-sidebar{
        position: absolute;
        outline: none;
        right: 0;
        top: 40px;
        transform: translateX(50%);
        padding: 5px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 0;
        transform: translate(50%, 30%);
        z-index: 9999999;
        box-shadow: 0 0 2px 1px #d9d9d9;
        background-color: var(--background-color);
        cursor: pointer;
        img {
            cursor: pointer;
        }
        &:hover{
            span{
                display: block;
            }
        }
        span{
            display: none;
            position: absolute;
            background-color: var(--background-color);
            border: 1px solid var(--main-color);
            padding: 2px 10px;
            left: 150%;
            font-weight: 600;
        }
    }
}
.occupy-full-width{
    width: 100% !important;
    transition: 0.3s;
}

@keyframes come-from-down{
    0%{
        transform: scaleY(0) ;
    }
    100%{
        transform: scaleY(1);
    }
}