.bond-list-main {
    width: 100%;
    height: 100%;
    .bond-list-main-header {
        height: 15%;
        border: 1px solid var(--main-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        .bond-list-header-left {
            h4 {
                margin-bottom: 0;
                font-weight: 600;
            }
            span {
                font-weight: 400;
                font-size: 75%;
            }
        }
        .bond-list-header-right {
            button {
                transition: 0.3s;
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.05);
                }
                img{
                    height: 15px !important;
                    margin-right: 5px;
                }
                background-color: transparent;
                border: 1px solid var(--border-color);
                margin-left: 20px;
                padding: 4px 20px;
                font-weight: 500;
                color: var(--main-color);
                opacity: 0.5;
            }
            .selected-header {
                opacity: 1;
                border: 2px solid var(--border-color);
            }
        }
    }
    .bond-list-header {
        width: 100%;
        height: 35px;
        background-color: var(--main-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        padding-left: 0;
        position: relative;
        .investment-header {
            height: 8%;
            width: 100%;
            background-color: var(--main-color);
            padding: 0 5%;
            padding-right: 0;
            display: flex;
            position: relative;
            span {
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 80%;
                font-weight: 500;
                color: var(--background-color);
                // width: calc(50% / 3);
                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(5) {
                    width: calc(75% / 4);
                }
                &:nth-child(1) {
                    // width: calc(75%/4);
                }
                &:nth-child(2) {
                    width: calc(75% / 4);
                }
                &:nth-child(3) {
                    width: calc(75% / 4);
                }
                &:nth-child(4) {
                    width: calc(75% / 4);
                }
            }
        }

        .switch-wrapper-bond {
            width: 30%;
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0 40px;
            span {
                font-weight: 300;
                color: var(--background-color);
            }
            .switched {
                font-weight: 600;
            }
            // position: absolute;
            right: 10%;
        }
        .hide-switch {
            display: none;
            visibility: hidden;
            pointer-events: none;
        }
        .extra-images {
            position: absolute;
            right: 40px;
            img {
                margin-left: 10px !important;
            }
            &:nth-child(3) {
                padding-right: 0px;
                justify-content: flex-end;
                img {
                    margin-left: 15px;
                }
            }
        }
    }
    .bond-list-body {
        height: calc(85% - 35px);
        background-color: var(--background-color);
        border-left: 1px solid var(--main-color);
        border-right: 1px solid var(--main-color);
        .all-bonds-wrapper {
            width: 0;
            height: 0%;
            display: none;
        }
        .active-bond {
            height: 100%;
            width: 100%;
            display: block;
        }
    }
}
