@import "src/css-variables/css-variables.scss";
.mobile-login{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 25% 10%;
    .logo-wrapper{
        height: 25%;
        // margin: 10% 0;
        text-align: center;
        img{
            height: 100%;
        }
    }
    .mobile-input-box{
        position: relative;
        border-bottom: 1px solid $main-color;
        input{
            width: 100%;
            border: 0;
            outline: none;
            background-color: transparent;
            &:-webkit-autofill{
              -webkit-box-shadow: 0 0 0 40px white inset !important;
              -webkit-text-fill-color: black !important;
            }
            &:focus, &:valid{
                & + p{
                    transition: 0.4s;
                    top: -30px;
                }
            }
        }
        p{
            transition: 0.4s;
            top: 0;
            position: absolute;
        }

    }
    button{
        width: 100%;
        background-color: $main-color;
        color: white;
        border: 0;
        padding: 7px;
    }
}