.update-portfolio-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    .upm-header{
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-weight: 600;
            margin-bottom: 0;
        }
    }
    .upm-body{
        width: 100%;
        height: 100%;
        .upm-body-child{
            height: 10vh;
            transition: 0.3s;
            width: 100%;
            border: 1px solid var(--border-color);
            overflow: hidden;
            .upm-body-child-header{
                height: 10vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 0 20px var(--border-color);
                
            }
            .upm-coin-collection{
                height: calc(100% - 10vh);
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 5px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--border-color);
                }
                div{
                    height: 20%;
                    width: 100%;
                    border-bottom: 1px solid var(--border-color);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5%;
                    img{
                        margin-right: 10px;
                    }
                }
            }
            


        }
        .expand-upm-child{
            transition: 0.3s;
            height: 100%;
            .upm-body-child-header{
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
}