.e-app-home{
  width: 100%;height: 100%;
  .e-app-home-header{
    width: 100%; height: 10%;
    background-color: #464b4e;
    display: flex;align-items: center;justify-content: center;
    img{
      height: 75%;
      position: relative;
      top: 3px;
    }
    .full-button{
      position: absolute;
      right: 10px;
      background-color: #464b4e;
      color: black;
      top: 50%;
      padding: 2px;
      border-radius: 2px;
      height: 55%;
      transform: translateY(-50%);
      opacity: 0;
    }
    &:hover{
      .full-button{
        opacity: 1;
        transition: 0.5s opacity;
      }
    }
  }
  .e-app-home-body {
    width: 100%;
    height: 80%;
    border-left: 1px solid #E5E5E5 !important;
    border-right: 1px solid #E5E5E5 !important;
    border-bottom: 1px solid #E5E5E5 !important;
    position: relative;

    .e-app-overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.9);
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      h6{
        color: white;
        width: 100%;
        margin-bottom: 2rem;
        button{
          border: 0;
          background-color: white;
          width: 40%;
          padding: 4px;
          margin: 0 5px;
        }
      }
    }

    .e-app-home-body-input-container {
      width: 100%;
      height: 28%;
      padding: 4.6% 0 0 0;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      h6, h2{
        width: 100%;
        margin-bottom: 0;
      }


    }
    .app-list {
      height: 72%; width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5% 0;
      align-content: space-between;
      .e-app-home-body-slider {
        width: 100%;
        height:47%;
        display: flex;
        justify-content: space-between;

        .e-app-home-body-slider-single {
          width: 32%;
          height: 100%;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          align-content: space-between;

          .slider-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 75%;
          }

          p {
            width: 100%;
            margin-bottom: 0;
            font-size: 70%;
            font-weight: 500;
          }

          &:nth-child(1) {
            .slider-image-container {
              border-radius: 0 5px 5px 0;
            }
          }

          &:nth-child(2) {
            .slider-image-container {
              border-radius: 5px;
            }
          }

          &:nth-child(3) {
            .slider-image-container {
              border-radius: 5px 0 0 5px;
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

  }
  .e-app-home-footer{
    width: 100%; height: 10%;
    background-color: #464b4e;
    padding: 0 7%;
    button{
      width: 50%; height: 100%;
      border: 0;
      background-color: transparent;
      outline: none;
      padding: 0;
      color: white;
      &:nth-child(1){
        text-align: left;
      }
      &:nth-child(2){
        text-align: right;
      }

    }

  }
}
