.collapse {
    width: calc(100% - 24vw - 70px);
    transition: 0.3s;
}
.compress {
    width: calc(100% - 80px);
    transition: 0.3s;
}

.dashboard-content {
    // height: 100%;
    // flex: 1;
    // width: auto;
    flex: none;
    height: 100%;
    transition: 0.3s;
    .content-left {
        transition: 0.6s;
        height: 100%;
        position: relative;
        .show {
        }
        .hide {
            display: none;
        }
        .content-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.46);
            top: 0;
            left: 0;
            z-index: 6;
        }
        .click-me {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50px;
            z-index: 10;
            background-color: white;
            border-top: 1px solid var(--border-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 5%;
            padding-right: 10%;
            h6 {
                margin-bottom: 0;
                img {
                    margin: 0 10px;
                    height: 20px;
                }
                span {
                    font-weight: bold;
                }
                &:nth-child(2) {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    button {
                        height: 60%;
                        border: 1px solid var(--border-color);
                        margin-left: 3vh;
                        font-size: 80%;
                        padding: 0 15px;
                        &:nth-child(1) {
                            background-color: var(--main-color);
                            color: var(--background-color);
                        }
                        &:nth-child(2) {
                            background-color: var(--background-color);
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
    }
    .content-right {
        transition: 0.6s;
        height: 100%;
    }
    .dashboard-modal-new {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 12;
        display: flex;
        justify-content: center;
        align-items: center;
        .session-reload-modal{
            width: 27%;
            height: 50%;

        }
    }
    .explain-more-navbar-layout{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.46);
        z-index: 11;
        animation: 0.3s  opacity-change 1 linear;

    }
    .display-apps-menu {
        position: absolute;
        z-index: 11;
        background-color: var(--background-color);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        animation: 0.3s come-from-down 1 linear;
        .close-app-menu {
            position: absolute;
            right: 4%;
            bottom: 4%;
            background-color: var(--main-color);
            height: 5vh;
            width: 5vh;
            border: 0;
            z-index: 2;
            border-radius: 50%;
            img{
                transform: rotate(45deg);
            }

            &:hover{
                transition: 0.3s;
                transform: scale(1.2);
            }
        }
    }
    .pre-image-upload-modal{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 12;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-viewer{
            height: 55vh;
            width: 25vw;
            padding: 2%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .image-container{
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 100%;
                }
            }
            .image-buttons{

                display: flex;
                justify-content: space-between;
                button{
                    font-size: 80%;
                    font-weight: 600;
                    padding: 4px 20px;
                    &:nth-child(1){
                        background-color: var(--background-color);
                        color: var(--main-color);
                        border: 1px solid var(--main-color);
                    }
                    &:nth-child(2){
                        background-color: var(--main-color);
                        color: var(--background-color);
                        border: 1px solid var(--main-color);

                    }
                    &:nth-child(3){
                        background-color: var(--main-color);
                        color: var(--background-color);
                        border: 1px solid var(--main-color);
                        opacity: 0.5;
                        width: 100%;

                    }
                }

            }
        }
    }
    .video-player-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 12;
        background-color: var(--background-color);
        animation: 0.3s come-from-down 1 linear;
    }
    .dashboard-modal-admin{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 12;
        display: flex;
        justify-content: center;
        align-items: center;
        .admin-password-modal{
            width: 27%;
            height: 55%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-color: white;
            border-radius: 10px;
            overflow: hidden;
            padding: 5% 0%;
            img{
                height: 14vh;
                width: 14vh;
            }
            button{
                background-color: var(--main-color);
                color: white;
                width: 100%;
                height: 40px;
                border: 0;
                position: absolute;
                bottom: 0;
            }

            div{
                width: 100%;
                justify-content: space-between;
                padding: 0 10%;
                div{
                    padding: 0;
                    width: 50px;
                    input{
                        width: 50px !important;
                        height: 50px;
                        font-size: 30px !important;
                    }
                }
            }
        }

        
    }

}
.hide-it-completely{
    width: 0;
    overflow: hidden;
    transition: 0.3s;
}
@keyframes come-from-down{
    from{transform: translateY(100%);}
    to{transform: translateY(0);}
}

@keyframes opacity-change {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
