.refresh-session-main{
    width: 100%;
    height: 100%;
    background-color: white;
    animation: 0.4s zoom-big 1 linear;
    .refresh-session-header{
        height: 50px;
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        h6{
            color: var(--background-color);
            margin-bottom: 0;
        }
    }
    .refresh-session-body{
        height: calc(100% - 50px);
        width: 100%;
        padding: 12% 12%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input{
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid var(--border-color);

        }
        span{
            font-size: 90%;
            font-weight: 500;
            white-space: normal;
        }
        .wrong-password{
            // background-color: var(--red-color);
        }
        button{
            background-color: var(--main-color);
            border: 0;
            padding: 8px 0;
            color: var(--background-color);
            font-weight: 600;
        }
    }
}

@keyframes zoom-big{
    from{transform: scale(0.1);}
    to{transform: scale(1);}
}