@import "src/css-variables/css-variables.scss";
.main-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    background-color: rgba($color: #000000, $alpha: 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    .cropper-wrapper {
        max-width: 40%;
        min-width: 40%;
        width: auto;
        // max-height: 70%;
        min-height: 20%;
        height: auto;
        overflow: hidden;

        .wrapper-header {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-color);
            h6 {
                height: 100%;
                width: 100%;
                margin: 0;
                cursor: pointer;
                color: var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .wrapper-footer {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-color);
            h6 {
                margin: 0;
                height: 100%;
                width: 100%;
                cursor: pointer;
                color: var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .disable-footer{
            pointer-events: none;
            opacity: 0.25;
        }
        .wrapper-body {
            // height: auto;
            // width: auto;
            // max-height: 75vh;
            min-height: 30vh;
            background-color: white;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5%;
            .ReactCrop{
                border: 1px solid var(--border-color);
            }
        }
    }
}
