@import "src/css-variables/css-variables.scss";
.step-two-left{
    height: 100%;
    width: 100%;
    border-right: 1px solid var(--border-color);
    .step-two-left-title{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h5{
            margin-bottom: 0;
        }
        span{
            font-weight: 400;
        }
        padding-left: 12%;

    }
    .step-two-left-body{
        height: calc(100% - 100px);
        padding: 0 12%;
        // background-color: red;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .accounts-wrapper{
            width: 45%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            span{
                font-weight: 400;
            }
            div{
                border: 1px solid var(--border-color);
                height: 80%;
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                img{
                    height: 50%;
                    width: 50%;
                    border-radius: 50%;
                    // background-color: red;
                }
            }

        }
        .active{
            span{
                font-weight: 600;
            }
            div{
                border: 1px solid var(--main-color);
            }
        }

    }

}