@import "src/scss-variables/all-variables";
.welcome-step{
  width: 100%; height: 70%;
  display: flex;align-items: center;justify-content: center;
  border-right: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;
  div{
    text-align: center;
    .image-container {
      position: relative;
      margin-bottom: 1rem;
      h1{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-bottom: 0;
        transform: translate(-50%, -50%);
      }
      .main-logo {
      }

      .loader-logo {
        animation: rotate-round 4s linear infinite;
      }
    }
    h2{
      display: flex;
      align-items: center;
      img{
        margin-left: 10px;
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
}
@keyframes rotate-round {
  from {transform: rotate(0)}
  to{transform: rotate(360deg)}
}

