.header-search{
    width: 100%;
    height: 100%;
    padding: 0 40px;
    input{
        width: 100%;
        outline: none;
        font-size: 130%;
        height: 100%;
        background-color: transparent;
        border: 0;
    }
}