.admin-analytics{
    width: 100%;
    height: 100%;
    .admin-analytics-header{
        height: 170px;
        width: 100%;
        // border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        padding: 2% 5%;
        .analytics-header-left{
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
                margin-bottom: 1vh;
                &:nth-child(1){
                    h3{
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                    p{
                        margin: 0;
                        font-weight: 500;
                    }
                }
                &:nth-child(2){
                    width: 55%;
                    height: 35px;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid var(--border-color);
                    align-items: center;
                    padding-left: 20px;
                    border-radius: 5px;
                    input{
                        border: 0;
                        font-size: 80%;
                        width: 70%;
                        height: 35px;
                        background-color: transparent;
                    }
                    span{
                        width: calc(30% - 35px);
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--gray-color);
                        font-weight: 400;
                        font-size: 85%;
                        border-left: 1px solid var(--border-color);
                    }
                    button{
                        width: 35px;
                        height: 35px;
                        background-color: var(--main-color);
                        border: 0;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0 5px 5px 0;
                    }



                }
            }

        }
        .analytics-header-right{
            display: flex;
            width: 35%;
            height: 100%;

            div{
                &:nth-child(1){
                    border-right: 1px solid var(--border-color);
                    padding-right: 8%;
                }
                height: 100%;
                width: 50%;
                text-align: right;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                // justify-content: space-between;
                h3{
                    font-weight: bold;
                    margin-bottom: 0;
                }
                span{
                    font-size: 85%;
                    margin-bottom: 1.5vh;
                }
                button{
                    border: 1px solid var(--border-color);
                    background-color: transparent;
                    font-size: 85%;
                    padding: 2px 10px;
                }

            }

        }

    }
    .admin-analytics-data{
        height: 170px;
        width: 100%;
        padding: 0 5%;
        display: flex;
        // border-bottom: 1px solid var(--border-color);
        .admin-analytics-data-left{
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            .data-wrapper{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .data-wrapper-header{
                    display: flex;
                    height: 30px;
                    justify-content: space-between;
                    button{
                        width: 49%;
                        border: 1px solid var(--border-color);
                        background-color: transparent;
                        font-size: 85%;
                    }

                }
                .data-wrapper-body{
                    display: flex;
                    height: calc(100% - 40px);
                    justify-content: space-between;
                    align-items: center;
                    // background-color: red;
                    border: 1px solid var(--border-color);
                    padding: 0 40px;
                    div{
                        text-align: center;
                        span{
                            font-size: 65%;
                        }
                        h6{
                            font-size: 130%;
                            font-weight: 600;
                        }
                    }
                }
                &:nth-child(1){
                    width: 24%;
                    height: 100%;
                    .data-wrapper-body{
                        justify-content: center;
                    }

                }
                &:nth-child(2){
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    
                }
                &:nth-child(3){
                    width: 24%;
                    height: 100%;
                    .data-wrapper-body{
                        justify-content: center;
                    }
                    
                }
            }
        }
        .admin-analytics-data-right{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 3%;
            button{
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                border: 1px solid var(--border-color);
                margin-bottom: 2vh;
                font-size: 70%;
                padding: 5px 20px;
                align-items: center;
                img{
                    transform: rotate(180deg);
                }
            }

        }

    }
    .admin-analytics-body{
        display: flex;
        padding: 2% 5%;
        height: calc(100% - 340px);

        .admin-analytics-body-left{
            width: 80%;
            height: 100%;
            border: 1px solid var(--border-color);
            display: flex;
            .admin-sidebar{
                width: 12%;
                height: 100%;
                border-right: 1px solid var(--border-color);
                div{
                    height: 25%;
                    width: 100%;

                    h6{
                        height: 20px;
                        width: 100%;
                        background-color: var(--main-color);
                        color: var(--background-color);
                        text-align: center;
                        font-size: 65%;
                        margin-bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .admin-body{
                width: 88%;
                height: 100%;
                .admin-body-header{
                    height: 35px;
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid var(--border-color);
                    button{
                        border: 0;
                        background-color: transparent;
                        flex: 1;
                        &:nth-child(2){
                            border: 0;
                            border-left: 1px solid var(--border-color);
                            border-right: 1px solid var(--border-color);

                        }
                    }

                }
                .admin-body-main{
                    height: calc(100% - 70px);
                    display: flex;
                    .admin-body-main-left{
                        width: 80%;
                        height: 100%;
                    }
                    .admin-body-main-right{
                        width: 20%;
                        height: 100%;
                        border-left: 1px solid var(--border-color);
                        display: flex;
                        flex-direction: column;
                        button{
                            height: calc(100% / 6);
                            background-color: transparent;
                            border: 0;
                            border-bottom: 1px solid var(--border-color);
                            font-size: 85%;
                            &:nth-child(1){
                                font-size: 100%;
                                
                                font-weight: 600;
                            }
                        }

                    }

                }
                .admin-body-footer{
                    height: 35px;
                    width: 100%;
                    display: flex;
                    border-top: 1px solid var(--border-color);
                    button{
                        border: 0;
                        flex: 1;
                        background-color: transparent;
                        border-left: 1px solid var(--border-color);
                        border-right: 1px solid var(--border-color);
                        &:nth-child(1){
                            border-left: 0;
                        }
                        &:last-child{
                            border-right: 0;
                        }
                        

                    }

                }

            }



        }
        .admin-analytics-body-right{
            width: 20%;
            height: 100%;
            padding-left: 3%;

            .admin-transaction-header{
                height: 40px;
                width: 100%;
                border: 1px solid var(--border-color);
                display: flex;
                justify-content: center;
                align-items: center;
                h6{
                    margin-bottom: 0;
                    font-weight: bold;
                }
            }
            .admin-transaction-body{
                height: calc(100% - 70px);
                width: 100%;
                border-left: 1px solid var(--border-color);
                border-right: 1px solid var(--border-color);
                .transaction-wrapper{
                    height: calc(100% / 6);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 10px;
                    
                    .span{
                        &:nth-child(1){
                            height: 25px;
                            width: 25px;
                            background-color: rgba(234, 176, 12, 0.1);
                        }
                        &:nth-child(3){
                            font-size: 85%;

                        }
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h6{
                            margin-bottom: 0;
                            font-size: 90%;
                            font-weight: 600;
                        }
                        span{
                            font-size: 60%;
                        }
                    }
                }
            }
            .admin-transaction-footer{
                height: 30px;
                width: 100%;
                border: 1px solid var(--border-color);
                display: flex;
                justify-content: center;
                align-items: center;
                h6{
                    margin-bottom: 0;
                    font-weight: bold;
                    font-size: 80%;
                }
            }

        }

    }
}