.fd-operation {
    width: 100%;
    height: 100%;
    display: flex;
    .selected-section{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }
    .fd-operation-left {
        width: 34%;
        height: 100%;
        .friend-finder {
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 12%;
            flex-direction: column;
            animation: glow-up 0.5s 1 linear;

            div {
                display: flex;
                flex-direction: column;
                h6 {
                    font-size: 2.7vh;
                    font-weight: 600;
                }
                span {
                    font-weight: 500;
                    font-size: 80%;
                }
                button {
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                    padding: 10px 0;
                    margin-top: 5px;
                }
                &:nth-child(3) {
                    pointer-events: none;
                    opacity: 0.35;
                }
            }
        }
        .selected-app {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5% 12%;
            animation: glow-up 0.5s 1 linear;
            .selected-app-header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px !important;
                img {
                    height: 2.8vh;
                }
            }
            .selected-app-body {
                // height: calc(40%);
                display: flex;
                justify-content: space-between;
                .app-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    div {
                        cursor: pointer;
                        margin: 2vh 0;
                        height: 13vh;
                        width: 13vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        box-shadow: 1px 4px 7px #a4a5a9;
                        position: relative;
                        overflow: hidden;
                        transition: 0.3s;
                        &:hover{
                            transform: scale(1.05);
                            transition: 0.3s;
                        }

                        img {
                            height: 50%;
                        }
                        p {
                            opacity: 1;
                            transition: 0.3s;
                            position: absolute;
                            margin: 0;
                            font-size: 55%;
                            background-color: var(--main-color);
                            width: 100%;
                            color: var(--background-color);
                            text-align: center;
                            top: 50%;
                            padding: 2px 0;
                            left: 50%;

                            transform: rotate(45deg) translate(-45%, -45%);
                        }
                    }
                    span {
                        text-align: center;
                        font-weight: 400;
                    }
                }
                .selected-app-funds {
                    div {
                        box-shadow: 1px 4px 12px #a4a5a9;
                        
                    }
                    span {
                        font-weight: 600;
                    }
                }
            }
        }
        .connect-list {
            display: flex;
            height: 100%;
            flex-direction: column;
            padding: 12%;
            padding-bottom: 0;
            animation: glow-up 0.5s 1 linear;
            .connect-list-header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 80px;
                span {
                    white-space: normal;
                }
                img {
                    height: 3vh;
                    margin-bottom: 1.5vh;
                }
            }
            .connect-list-body {
                height: calc(100% - 80px);
                border-top: 1px solid var(--border-color);
                overflow-y: auto;
                position: relative;
                .shadow-new{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                    background-color: var(--border-color);
                    box-shadow: 0 0 5px 10px solid var(--border-color) !important;
                }
                &::-webkit-scrollbar {
                    width: 0;
                }
                h6 {
                    img {
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                    }
                    border: 1px solid var(--border-color);
                    padding: 2.5vh 20px;
                    &:nth-child(1){
                        border-top: 0;
                    }
                }
            }
        }
        .connect-main {
            display: flex;
            height: 100%;
            flex-direction: column;
            padding: 12%;
            animation: glow-up 0.5s 1 linear;
            .connect-main-header {
                display: flex;
                flex-direction: column;
                height: 80px;
                justify-content: center;
                align-items: flex-start;
                img {
                    height: 3vh;
                    margin-bottom: 1.5vh;
                }
            }
            .connect-main-body {
                height: calc(100% - 80px);
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    border: 1px solid var(--border-color);
                    .fancy-button-wrapper{
                        img{
                            filter: invert(1);
                            height: 45%;
                        }
                    }
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 40px;
                        width: 40px;
                        background: #186ab4;
                        border: 0;
                        img {
                            height: 45%;
                        }
                    }
                    span {
                        width: calc(100% - 40px);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 10px;
                        height: 100%;
                        img {
                            height: 45%;
                        }

                        input {
                            width: 100%;
                            height: 100%;
                            margin-right: auto;
                            background-color: transparent;
                            border: 0;
                            font-size: 120%;
                            outline: none;
                            color: #186AB4;
                        }
                    }
                }
            }
            .connect-main-body-confirm {
                display: flex;
                height: 100%;
                flex-direction: column;
                justify-content: space-between;
                .email-details {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border: 1px solid var(--border-color);
                    padding: 2vh 0;
                    padding-left: 20px;
                    img {
                        height: 25px;
                        margin-right: 10px;
                    }
                    div {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h6 {
                            margin-bottom: 0;
                            font-weight: 600;
                        }
                        span {
                            font-weight: 400;
                        }
                    }
                }
                .bottom-buttons {
                    display: flex;
                    justify-content: space-between;
                    button {
                        width: 48%;
                        border: 1px solid var(--border-color);
                        padding: 1.2vh 0;
                        font-size: 90%;
                        font-weight: 600;
                        &:disabled {
                            opacity: 0.5;
                        }
                        &:nth-child(1) {
                            background-color: transparent;
                            color: #186ab4;
                        }
                        &:nth-child(2) {
                            background-color: #186ab4;
                            color: white;
                        }
                    }
                }
            }
        }
        .only-amim{
            animation: glow-up 0.5s 1 linear;

        }
        .only-none-anim{
            .fo-step-one-title{
                animation: glow-up 0.51s 1 linear;

            }

        }
        .fund-operation-step-one {
            width: 100%;
            height: 100%;
            padding: 5% 12%;
            padding-bottom: 0;
            .fo-step-one-title {
                height: 80px;
                width: 100%;
                overflow: hidden;
                h6 {
                    margin-bottom: 0;
                    font-weight: 600;
                    font-size: 2.7vh;
                }
                .title-span {
                    span {
                        font-weight: bold;
                        &:nth-child(2) {
                            font-weight: 400;
                        }
                    }
                }
            }
            .fo-step-one-main {
                height: calc(100% - 80px);
                width: 100%;
                .fo-step-one-main-search-bar {
                    height: 22%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    input {
                        width: 100%;
                        border: 1px solid var(--border-color);
                        padding: 8px 0;
                        background-color: transparent;
                        font-size: 75%;
                        padding-left: 10px;
                        border-radius: 4px;
                        &::placeholder {
                            color: #a4a5a9;
                        }
                    }
                }
                .fo-step-one-main-app-containers {
                    height: 78%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                    position: relative;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    .app-row-wrapper {
                        display: flex;
                        margin-bottom: 1vh;
                        div {
                            width: calc(100% / 3);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 15px 0;
                            .image-wrapper {
                                position: relative;
                                padding: 12px;
                                background-color: white;
                                box-shadow: 1px 5px 4px #d3d3d3;
                                border: 1px solid #f1f1f1;
                                border-radius: 10px;
                                img {
                                    height: 3.5vh;
                                    width: 3.5vh;
                                }
                                p {
                                    z-index: 2;
                                    display: none;
                                    position: absolute;
                                    padding: 2px 10px;
                                    top: 80%;
                                    left: 120%;
                                    border-radius: 4px;
                                    font-size: 80%;
                                    background-color: var(--background-color);
                                    border: 1px solid var(--main-color);
                                }
                                &:hover {
                                    p {
                                        display: block;
                                    }
                                }
                            }
                            &:nth-child(1) {
                                justify-content: flex-start;
                            }
                            &:nth-child(3) {
                                justify-content: flex-end;
                                .image-wrapper {
                                    &:hover {
                                        p {
                                            width: auto;
                                            display: block;
                                            left: -20%;
                                            top: 120%;
                                            // right: 120%;
                                            transform: translateX(-100%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .fd-operation-center {
        width: 35%;
        height: 100%;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        // padding: 5% 12%;
        .fund-operation-step-two-overview{
            width: 100%;
            height: 100%;
            padding: 10% 0%;
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .fo-overview-body{
                height: 80%;
                padding: 5% 0;
                display: flex;
                padding: 0 12%;
                flex-direction: column;
                justify-content: space-between;
                .overview-child-wrapper{
                    height: 42%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h4{
                        font-weight: bold;
                        img{
                            height: 2.8vh;
                        }
                        font-size: 2.8vh;
                    }
                    p{
                        display: flex;
                        margin: 10px 0;
                        justify-content: space-between;
                        span{
                            &:nth-child(2){
                                text-decoration: underline;
                                font-weight: 400;
                            }
                        }
                    }
                    div{
                        height: 7.5vh;
                        border: 1px solid var(--border-color);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 5%;
                        span{
                            &:nth-child(1){
                                font-weight: 400;
                                img{
                                    height: 20px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                }
            }
            .fo-overview-footer{
                height: 10%;
                display: flex;
                justify-content: space-between;
                button{
                    height: 100%;
                    border: 0;
                    &:nth-child(1){
                        width: 13%;
                        border: 1px solid var(--border-color);
                        img{
                            width: 50%;
                            transform: rotate(180deg);
                        }

                    }
                    &:nth-child(2){
                        width: 87%;
                        background-color: var(--main-color);
                        color: var(--background-color);
                        font-size: 85%;
                        font-weight: 600;
                    }
                }

            }


        }
        .fund-operation-step-two-home{
            width: 100%;
            height: 100%;
            padding: 5% 0;
            padding-bottom: 0;
            .fd-home-title{
                height: 60px;
                width: 100%;
                padding: 0 12%;
                display: flex;
                align-items: center;

                span{
                    height: 2.8vh;
                    font-size: 2.8vh;
                    display: flex;justify-content: center;
                    align-items: center;
                    img{
                        height: 100%;
                        margin-right: 5px;
                    }
                }
            }
            .fd-home-body{
                position: relative;
                // padding: 0 12%;
                height: calc(90% - 62px);
                // padding-top: 17%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 12%;
                h6{
                    font-size: 90%;
                    font-weight: 600;
                }
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 6vh;
                    border: 1px solid var(--border-color);
                    padding: 0 5%;
                    span{
                        img{
                            height: 20px;
                            margin-right: 5px;
                        }
                        &:nth-child(1){
                            font-weight: 400;
                        }
                    }
                }
                p{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-size: 80%;
                    text-decoration: underline;
                    cursor: pointer;
                    padding: 0 12%;
                }
            }
            .fd-home-footer{
                height: 10%;
                width: 100%;
                // padding: 0 12%;
                button{
                    width: 100%;
                    height: 100%;
                    border: 0;
                    background-color: var(--main-color);
                    font-weight: 600;
                    color: var(--background-color);
                    font-size: 85%;
                    &:disabled{
                        opacity: 0.5;
                    }
                }

            }
        }
        .fund-operation-step-two {
            width: 100%;
            height: 100%;
            padding: 5% 12%;
            padding-bottom: 0;
            animation: glow-up 0.5s 1 linear;
            .fo-step-two-title {
                height: 10vh;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h6 {
                    margin-bottom: 0;
                    font-weight: bold;
                    font-size: 2.5vh;
                }
                span {
                    font-weight: 400;
                }
                input{
                    background-color:transparent;
                    border: 0;
                    font-size: 85%;
                    outline: none;
                }
            }
            .fo-step-two-main {
                height: calc(100% - 10vh);
                border-top: 1px solid var(--border-color);
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 0;
                }
                .selected-coin{
                    background-color: #f1f1f1;
                }
                div {
                    height: 20%;
                    cursor: pointer;
                    border-bottom: 1px solid var(--border-color);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:hover{
                        span{
                            &:nth-child(1) {
                                font-weight: 600;
                            }
                            img {
                                height: 22px;
                                margin-right: 10px;
                            }
                        }
                    }
                    span {
                        img {
                            height: 20px;
                            margin-right: 10px;
                        }
                        &:nth-child(1) {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }
    .fd-operation-right {
        width: 31%;
        height: 100%;
        .fund-operation-step-three {
            width: 100%;
            height: 100%;
            position: relative;
            padding: 10% 0%;
            .submit-button {
                position: absolute;
                bottom: 0;
                height: 10%;
                width: 100%;
                background-color: var(--main-color);
                color: var(--background-color);
                &:disabled{
                    opacity: 0.5;
                }
            }
            .wd-calculator-title {
                padding: 0 12%;
                height: 6vh;
                width: 100%;
                h6 {
                    margin-bottom: 0;
                    font-weight: 600;
                }
                span {
                    font-weight: 400;
                }
            }
            .wd-calculator-body {
                padding: 0 12%;
                padding-top: 5%;
                height: calc(90% - 6vh );
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // justify-content: center;
                .get-details {
                    // margin-top: 4VH;
                    width: 100%;
                    // margin-bottom: 10vh;
                    h6{
                        font-size: 85%;
                    }
                    input {
                            margin-top: 10px;
                        width: 100%;
                        border: 0;
                        font-size: 90%;
                        border-bottom: 1px solid var(--border-color);
                    }
                }
                div {
                    &:nth-child(1) {
                        button {
                            margin-right: 5px;
                            font-size: 70%;
                            background-color: transparent;
                            border: 1px solid var(--border-color);
                            padding: 2px 20px;
                        }
                        .selected {
                            border: 1px solid var(--main-color);
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 2rem;
                        h6 {
                            display: flex;
                            justify-content: space-between;
                            padding: 5px 0;
                            input {
                                border: 0;
                                background-color: transparent;
                            }
                            &:nth-child(1) {
                                border-bottom: 1px solid var(--main-color);
                                font-weight: 600;
                            }
                            font-weight: 500;
                        }
                    }
                    h6 {
                        margin-bottom: 0;
                    }
                }
                p {
                    font-weight: 600;
                    text-decoration: underline;
                    margin: 0;
                }
            }
        }
        .fod-step-three-result {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 12%;
            p {
                text-align: center;
                color: var(--background-color);
                font-weight: 600;
            }
            button {
                // border: 2px solid var(--background-color);
                background-color: transparent;
            }
        }
        .successful {
            background-color: var(--background-color);
            color: var(--green-color);
            p{

                color: var(--green-color);
            }
            button {
                border: 2px solid var(--green-color);
            }
        }
        .Unsuccessful {
            background-color: var(--background-color);
            color: var(--red-color);
            p{
                color: var(--red-color);

            }
            button {
                border: 2px solid var(--red-color);
            }
        }
    }
}
