@import "src/css-variables/css-variables.scss";
.input-box-wrapper {
    width: 100%;
    position: relative;
    .forgot-password{
        position: absolute;
        color: var(--gray-color);
        right: 0;
        top: 105%;
        &:hover{
            color: var(--light-gray)
        }
    }
    .input-box {
        width: 100%;
        height: 8vh;
        border-bottom: 1px solid var(--main-color);
        position: relative;
        display: flex;
        align-items: flex-end;
        // margin: 50px 0;
        @media (max-width: 767px) {
            height: 50px ;
            // background-color: var(--main-color);
        }
        img{
            cursor: pointer;
            position: relative;
            bottom: 5px;
        }
        input {
            background-color: transparent;
            outline: none;
            border: 0;
            width: 100%;
            padding: 5px 0;
            color: var(--main-color);
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 40px var(--background-color) inset !important;
                -webkit-text-fill-color: var(--main-color);
            }

            & + p {
                position: absolute;
                z-index: 1;
                top: 0%;
                left: 0;
                transition: 0.3s;
                font-size: 100%;
                font-weight: 500;
                color: var(--main-color) !important;
            }
            &:valid,
            &:focus {
                & + p {
                    top: 0%;
                    transition: 0.3s;
                }
            }
            span {
                position: absolute;
                right: 0;
            }
        }
    }
}
