.portal-modal {
    position: absolute;
    height: 45px;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 5%;
    transform: translateX(100%);
    opacity: 0.75;
    img {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        cursor: pointer;
        z-index: 2;
        transition: 0.3s;
        &:hover {
            transform: translateY(-50%) rotate(135deg) scale(1.3);
            transition: 0.3s;
        }
    }
    h6 {
        margin-bottom: 0;
        color: white;
    }
}
.failed {
    background-color: var(--red-color);
}
.succeed {
    background-color: var(--green-color);
}
.show-modal {
    animation: 0.4s move-extra 1 linear;
    transition: 0.4s;
    transform: translateX(0%);
    box-shadow: none;
}
@keyframes move-extra {
    0% {
        transform: translateY(100%);
    }
    80% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0%);
    }
}
