
.liquid-passive-managed-body{
  height: 100%; width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 2px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
  }
  .coming-soon-image{
    width: 100%; height: 100%;
  }
  .liquid-loading{
    text-align: center;
    position: relative;
    top: 50%;
  }
  .liquid-passive-managed-table-row{
    height: 25%;
    width: 100%;
    border-bottom: 1px solid var(--border-color) !important;
    display: flex;
    //padding: 0 10%;
    &:hover {
      background-color: var(--solid-hover-color);
    }
    div{
      width: calc(100%/3);
      white-space: nowrap;
      @media (min-width: 1600px) {
        padding: 0 10%;
      }
      padding: 0 6%;
      display: flex;
      align-items: center;
      &:nth-child(3){
        span{
          font-weight: 500;
          color: var(--red-color) !important;
        }
      }
      span{
        font-size: 80% !important;
        @media (min-width: 1600px) {
          font-size: 18px;
        }
      }
      img{
        height: 16px;width: 16px;
        @media (min-width: 1600px) {
          height: 18px;width: 18px;

        }
        margin-right: 5px;
      }
      &:nth-child(1){
        justify-content: center;
        color: var(--main-color) !important;
      }
      &:nth-child(2){
        justify-content: center;
        color: var(--main-color) !important;
      }
      &:nth-child(3){
        justify-content: flex-end;
        color: var(--main-color) !important;
      }
    }
  }
}
