.new-portfolio-ai{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 9%;
    div{
        width: 100%;
        display: flex;
        align-items: center;
        button{
            height: 80%;
            width: 50%;
            background-color: transparent;
            border: 1px solid var(--border-color);
        }
        .close-button{
            font-size: 17px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                margin: 0;
                width: 70%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:hover{
                font-weight: 600;
                img{
                    transition: 0.3s;
                    transform: scale(1.2) rotate(45deg);;
                }
            }
            img{
                transition: 0.3s;
                height: 20px;
                margin-left: 10px;
                transform: rotate(45deg);
            }
        }
        .portfolio-button{
            img{
                height: 45%;
            }
            &:hover{
                img{
                    transition: 0.3s;
                    transform: scale(1.1);
                }

            }
            border-right: 0;

        }
        .net-worth-button{
            height: 80%;
            width: 50%;
            border: 1px solid var(--border-color);
            cursor: text;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-right: 20px;
            margin-bottom: 0;
            h6{
                font-size: 165%;
                font-weight: 700;
                margin-bottom: 0;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
            }
        }
        

    }
}