@import "src/css-variables/css-variables.scss";

.trade-base-quote {
    width: 100%;
    height: 100%;
    nav {
        height: 30px;
        width: 100%;
        padding: 0 40px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        span {
            display: flex;
            // justify-content: center;
            align-items: center;
            &:nth-child(1) {
                width: 30%;
            }
            &:nth-child(2),
            &:nth-child(3) {
                width: 20%;
                justify-content: center;
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: 15%;
                justify-content: center;
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
    }
    article {
        height: calc(100% - 30px);
        width: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            // height: 0;
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }
        .trade-quote-row{
            width: 100%;
            height: 25%;
            border-bottom: 1px solid var(--border-color);
        }
        &::-webkit-scrollbar{
            width: 0;
        }
        .trade-base-row {
            width: 100%;
            height: 25%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            padding: 0 40px;
            &:hover{
                background-color: rgba(24,37,66,0.1);
            }

            span {
                display: flex;
                // justify-content: center;
                align-items: center;
                &:nth-child(1) {
                    width: 30%;
                    img{
                        margin-right: 1rem;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 20%;
                    justify-content: center;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    width: 15%;
                    justify-content: center;
                }
                &:last-child {
                    justify-content: flex-end;
                }
            }
        }
    }
}
