
.enable2fqstep
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    justify-content: center;
    text-align: center;
    margin-bottom: 0 !important;
}
.alignmentloading
{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divenbalestepsectio
{
    width: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
}
.divenbalestepsectiofalse
{
    width: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-bottom: 2px solid var(--main-color);
    opacity: 0.3;
    cursor: pointer;
}
.EnableUserMaindiv
{
    padding: 2rem;
    h6{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        /* or 179% */
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        
        color: var(--main-color); 
    }
h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;

/* or 120% */

display: flex;
align-items: center;

color: var(--main-color);
}
.vidtop{
    margin-top: 2rem;
}
input{
    width: 3.2rem !important;
    height: 3.2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
border-radius: 2px;
border: 0 !important;
margin-right: 1rem;
}
p{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 25px;
/* or 179% */

display: flex;
align-items: center;

color: var(--main-color);

}


.qrcodeiv{
  
        display: flex;
        align-items: center;
        justify-content: center;
}
span{
    position: absolute;
}
}

.my-custommdoel
{
  width: 500px !important;
    height: auto !important;
}
.qurcodetext
{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 20rem;
    height: 1.2em;
    white-space: nowrap;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    margin-bottom: 0;
}
.sectiomcopydiv
{
    width: 412px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #80808021;
    align-items: center;
    padding-left: 1REM;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.bottomslected
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    label{
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: var(--main-color);
    border-radius: 5px;
    width: 300px;
    height: 3rem;
    justify-content: center;
    cursor: pointer;
    }
}

