.learn-more-main{
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: var(--background-color);
    .learn-more-one{
        width: 100%;
        height: 100%;
        .page-title{
            text-decoration: underline;
        }
        .category-wrapper{
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            margin-bottom: 3vh;
            &:hover{
                transform: scale(1.05);
            }
            img{
                height: 6vh;
                width: 6vh;
            }
            div{
                padding-left: 10px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                h6{
                    margin-bottom: 0;
                    font-weight: 600;
                }
                span{
                    font-weight: 400;
                }

            }
        }
    }
    .select-content{
        width: 100%;
        height: 100%;
        .learn-final-header{
            height: 20%;
            width: 100%;
            border: 1px solid var(--border-color);
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: space-between;
            padding: 3%;
            margin-bottom: 10px;
            img{
                height: 5vh;
                width: 5vh;
                margin-right: 10px;
            }
            div{
                display: flex;
                flex-direction: column;
                h6{
                    margin-bottom: 0;
                }
                span{
                    font-weight: 400;
                }
            }

        }
        .buttons-wrapper{
            display: flex;
            justify-content: space-between;
            button{
                width: 45%;
                background-color: transparent;
                border: 1px solid var(--border-color);
                font-size: 85%;
                padding: 5px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                // box-shadow: 3px 4px 0 var(--main-color);
                &:focus{
                    border: 1px solid var(--main-color);

                }
                img{
                    margin-right: 10px;
                }
            }
        }

    }
    .learn-final{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .learn-final-header{
            height: 20%;
            width: 100%;
            border: 1px solid var(--border-color);
            background-color: var(--light-border-color);
            // box-shadow: 0 0 10px 0 rgba(0,0,0,0.16);
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: space-between;
            padding: 3%;
            img{
                height: 5vh;
                width: 5vh;
                margin-right: 10px;
            }
            div{
                display: flex;
                flex-direction: column;
                h6{
                    margin-bottom: 0;
                }
                span{
                    font-weight: 400;
                }
            }

        }
        .learn-final-decider{
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            height: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                width: 45%;
                background-color: transparent;
                border: 1px solid var(--border-color);
                font-size: 85%;
                padding: 5px 0;
                display: flex;
                // border-radius: 3px;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                // box-shadow: 3px 4px 0 var(--border-color);
                &:focus{
                    border: 1px solid var(--main-color);

                }
                img{
                    margin-right: 10px;
                }
            }
            .decided{
                // box-shadow: 3px 4px 0 var(--main-color);
                border: 1px solid var(--main-color);

            }

        }

        .learn-final-content{
            height: 55%;
            width: 100%;
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            .content-search-bar{
                display: flex;
                height: 30px;
                justify-content: space-between;
                align-items: center;
                h6{
                    font-size: 90%;
                    margin-bottom: 0;
                }
                input{
                    width:25%;
                    font-size: 80%;
                }
            }
            .article-wrapper{
                padding-top: 2vh;
                .single-video{
                    display: flex;
                    border: 1px solid var(--border-color);
                    margin-bottom: 2vh;
                    .thumbnail-area{
                        width: 15%;
                        border-right: 1px solid var(--border-color);
                        background-color: var(--main-color);
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            // background-color: red;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            
                            transform: translate(-50%,-50%);
                            // right: 0;
                            transform: scale(2) !important;
                            // bottom: 0;
                            // width: 100%;
                            // height: 100%;
                        }

                    }
                    .more-information{
                        width: 85%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 1vh 0vh;
                        padding-left: 10px;
                        h6{
                            margin-bottom: 0;
                        }
                        span{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-weight: 400;
                        }

                    }

                }

            }
            .video-article-wrapper{
                height: calc(100% - 30px);
                display: flex;
                overflow-x: auto;
                padding: 4% 5%;
                &::-webkit-scrollbar{
                    height: 5px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--main-color);
                }
                .single-video{
                    height: 100%;
                    width: 60%;
                    border: 1px solid var(--border-color);
                    // border-radius: 5px;
                    flex: none;
                    margin-right: 4vh;
                    overflow: hidden;
                    background-color: var(--border-color);
                    // box-shadow: 0px 2px 5px rgba(0,0,0,0.16);
                    .thumbnail-area{
                        height: 70%;
                        width: 100%;
                        border-bottom: 1px solid var(--main-color);
                        background-color: var(--background-color);
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .more-information{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        padding-left: 20px;
                        h6{
                            font-size: 95%;
                            margin-bottom: 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        span{
                            font-weight: 400;
                            font-size: 75%;
                        }
                    }
                }
            }

        }
        .learn-final-footer{

            height: 10%;
            width: 100%;
            background-color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: var(--background-color);
                font-weight: 400;
                font-size: 75%;
            }
        }

    }
}