@import "src/css-variables/css-variables.scss";

.deposit-left {
    width: 33.5%;
    height: 100%;
    position: relative;
    overflow: hidden;
    img {
        top: -1%;
        left: 0;
        position: absolute;
        height: 102%;
        width: 101%;
        // display: none;
    }
}
.deposit-right {
    width: 66.5%;
    height: 100%;
    .deposit-right-top {
        height: 35%;
        width: 100%;
        background-color: #1a6bb4;
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        .logo-wrapper {
            width: 30%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            img {
                // height: 50%;
                height: 65px;
            }
        }
        .button-wrapper {
            width: 70%;
            height: 100%;
            display: flex;
            // justify-content: space-between;
            align-items: center;
            button {
                width: 33%;
                margin-right: 5%;
                height: 45px;
                font-weight: 600;
                @include removeDefault;
                color: white;
                background-color: transparent;
                display: flex;
                align-items: center;
                border: 1px solid white;
                justify-content: center;
                transition: 0.3s;
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.1);
                }
                img {
                    height: 50%;
                    margin-right: 5px;
                }
            }
        }
    }
    .deposit-right-bottom {
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--faint-dark);
        padding: 5% 7%;
        h2 {
            margin-bottom: 3vh;
            font-weight: bold;
            color: #1a6bb4;
        }
        p {
            line-height: 28px;
            font-size: 90%;
            margin-bottom: 4vh;
        }
        div {
            // width: auto;
            // flex: 0;
            // justify-content: space-between;
            // button {
            //     @include removeDefault;
            //     padding: 12px 20px;
            //     border: 1px solid #1a6bb4;
            //     color: #1a6bb4;
            //     background-color: transparent;
            //     font-size: 90%;
            //     transition: 0.3s;
            //     &:hover{
            //         transition: 0.3s;
            //         transform: scale(1.1);
            //     }
            // }
            display: flex;
            justify-content: space-between;
            button {
                @include removeDefault;
                width: 48%;
                padding: 12px 20px;
                border: 1px solid #1a6bb4;
                color: #1a6bb4;
                background-color: transparent;
                font-size: 90%;
                transition: 0.3s;
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.1);
                }
            }
        }
    }
}
