@import "src/css-variables/css-variables.scss";
.footer-row{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    span {
        color: var(--background-color);
        padding: 0 20px;
    }
}
.footer-back{
    height: 100%;
    width: 100%;
    padding: 0 40px;
    h6{
        height: 100%;
        display: flex;
        align-items: center;
        img{
            height: 1rem;
            margin-right: 0.5rem;
            transform: rotate(180deg);
            filter: invert(1);
        }
        font-size: 1.2rem;
        color: var(--background-color);
    }
}