
@import "src/css-variables/css-variables.scss";
.enter-email{
    width: 100%;
    h6{
        color: var(--main-color) !important;
        margin-bottom: 2rem;
        font-weight: 600 !important;
    }
    button{
        margin-top: 4rem;
        outline: none;
        // margin-left: auto;
        background-color: var(--main-color);
        border: 0;
        height: 40px;
        display: flex;justify-content: center;align-items: center;
        color: var(--background-color);
        padding: 6px 50px;
        position: relative;
        span{
            position: absolute;
            color: red;
            left: 0;
            top: -120%;
            width: 300%;
            font-weight: 500;
            text-align: left;
    
        }
    }   
    .go-back{
        margin-top: 5vh;
        color: var(--main-color) !important;
        span{
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
            color: var(--main-color) !important;
        }

    }
}