@import "src/css-variables/css-variables.scss";
.asset-section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    .trade-stream-wrapper {
        animation: glow-up 0.5s 1 linear;
        width: 30%;
        height: 100%;
        transition: 0.3s;
        position: relative;
        .trade-stream-coming-soon {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: var(--main-color);
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 80%;
                }
                p {
                    color: white;
                    margin-bottom: 0;
                }
            }
            span {
                position: absolute;
                bottom: 5%;
                left: 50%;
                color: var(--background-color);
                transform: translateX(-50%);
                font-size: 90%;
                font-weight: 400;
                display: flex;
                align-items: center;
                img {
                    margin-left: 5px;
                    height: 4vh;
                }
            }
        }
        .videoPlayerSidebar {
            height: 100% !important;
            .head {
                height: 70px !important;
            }
            .vh {
                height: 37% !important;
                img {
                    height: 100% !important;
                    width: 100% !important;
                    border: 0;
                }
            }
            .tabs {
                height: 50px !important;
            }
            .content {
                height: calc(63% - 190px) !important;
            }
            .footer {
                height: 70px;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
            }
        }
    }
    .trade-goes-null {
        width: 0;
        overflow: hidden;
        transition: 0.3s;
    }
    .asset-section {
        width: 70%;
        height: 100%;
        transition: 0.3s;
        padding-top: 4%;
        padding-right: 0 !important;
        // padding-left: 2%;
        animation: glow-up 0.5s 1 linear;
        overflow: hidden;
        .close-trade-stream {
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: transparent;
            outline: none;
            border: 0;
            z-index: 1;
            transition: 0.3s;
            height: 70px;
            width: 35px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            // padding: 4px;
            button {
                height: 35px;
                width: 35px;
                padding: 0;
                border: 0;
                background-color: transparent;
                border: 1px solid var(--border-color);
                border-right: 0;
                border-top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    svg{
                        transform: scale(1.1);
                    }
                }
            }
            .selected-type {
                border: 0;
                background-color: var(--main-color);
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
        .trade-stream-open {
            background-color: var(--main-color);
            top: 0;
            right: 0;
            transition: 0.3s;
        }
        .asset-section-header {
            height: 15%;
            width: 60%;
            display: flex;
            display: none;
            flex-direction: column;
            border: 1px solid var(--main-color);
            justify-content: center;
            padding: 0 3%;
            h5,
            h6 {
                width: 100%;
                margin: 0;
            }
            h5 {
                font-weight: 600;
                color: var(--text-color);
            }
            h6 {
                font-size: 90%;
                font-weight: 600;
                color: var(--border-color);
            }
            span {
                font-weight: 400;
                font-size: 80%;
            }
        }
        .asset-section-body {
            height: 100%;
            width: 100%;
            // overflow: hidden;
            .charts-wrapper {
                height: 100%;
                width: 100%;
                .chart-container {
                    cursor: pointer;
                    height: 100%;
                    width: 85%;
                    padding: 0 !important;
                    // opacity: 0.5;
                    position: relative;
                    .label-overlay {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(255, 255, 255, 0.85);
                        z-index: 2;
                    }
                }
                .selected-section {
                    opacity: 1;
                }
            }
            #id1:checked ~ .charts-wrapper #cId1,
            #id2:checked ~ .charts-wrapper #cId2,
            #id3:checked ~ .charts-wrapper #cId3,
            #id4:checked ~ .charts-wrapper #cId4,
            #id5:checked ~ .charts-wrapper #cId5,
            #id6:checked ~ .charts-wrapper #cId6 {
                transform: translateX(8.5%);
                z-index: 3;
                transition: 0.6s;
            }
            #id1:checked ~ .charts-wrapper #cId3,
            #id2:checked ~ .charts-wrapper #cId1,
            #id3:checked ~ .charts-wrapper #cId4,
            #id4:checked ~ .charts-wrapper #cId5,
            #id5:checked ~ .charts-wrapper #cId6,
            #id6:checked ~ .charts-wrapper #cId2 {
                transform: translate(46.6%, 14%) scale(0.85);
                transition: 0.6s;
                z-index: 2;
                bottom: 0;
            }
            #id1:checked ~ .charts-wrapper #cId4,
            #id1:checked ~ .charts-wrapper #cId5,
            #id1:checked ~ .charts-wrapper #cId6,
            
            #id2:checked ~ .charts-wrapper #cId3,
            #id2:checked ~ .charts-wrapper #cId4,
            #id2:checked ~ .charts-wrapper #cId5,


            #id3:checked ~ .charts-wrapper #cId2,
            #id3:checked ~ .charts-wrapper #cId5,
            #id3:checked ~ .charts-wrapper #cId6,

            #id4:checked ~ .charts-wrapper #cId1,
            #id4:checked ~ .charts-wrapper #cId2,
            #id4:checked ~ .charts-wrapper #cId6,

            #id5:checked ~ .charts-wrapper #cId1,
            #id5:checked ~ .charts-wrapper #cId3,
            #id5:checked ~ .charts-wrapper #cId2,

            #id6:checked ~ .charts-wrapper #cId1,
            #id6:checked ~ .charts-wrapper #cId3,
            #id6:checked ~ .charts-wrapper #cId4 {
                display: none;
                transition: 0.6s;
                z-index: 1;
                bottom: 0;
            }

            #id1:checked ~ .charts-wrapper #cId2,
            #id2:checked ~ .charts-wrapper #cId6,
            #id3:checked ~ .charts-wrapper #cId1,
            #id4:checked ~ .charts-wrapper #cId3,
            #id5:checked ~ .charts-wrapper #cId4,
            #id6:checked ~ .charts-wrapper #cId5 {
                transform: translate(-7.5%, 14%) scale(0.85);
                transition: 0.6s;
                z-index: 0;
                bottom: 0;
                // visibility: hidden;
            }
        }
    }
    .asset-goes-full {
        width: 100%;
        transition: 0.3s;
    }
}
@keyframes glow-up {
    from {
        transform: scale(1.2);
        opacity: 0.2;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
