.main-asset-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
    padding: 0 9%;
    .main-asset-list-header {
        padding: 4vh 0;
        h3 {
            font-weight: bold;
            color: var(--text-color);
        }
        p {
            font-size: 88%;
        }
        h3,
        p {
            margin: 0;
        }
    }
    .main-asset-list-body {
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-bottom: 5%;
        &::-webkit-scrollbar {
            width: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--border-color);
        }
        div {
            cursor: pointer;
            height: 24%;
            border: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            margin-bottom: 2vh;
            padding-left: 5%;
            opacity: 0.25;
            img {
                height: 4vh;
            }
            @media (min-width: 1600px) {
                height: 3.5vh;
                height: 18%;
                img {
                    height: 3.2vh;
                }
            }
            &:hover {
                transition: 0.3s;
                opacity: 0.75;
                img {
                    transition: 0.3s;
                    transform: scale(1.05);
                }
            }
        }
        .selected-asset {
            opacity: 1;
            img {
                transform: scale(1.05);
            }
            &:hover {
                transition: 0.3s;
            }
        }
    }
}
