@import "../../../css-variables/css-variables.scss";
$appColor: var(--main-color);
$fontColor: white;

.broker-landing-page-wrapper {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.perunittext
{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: $appColor;
}

.spacingthebroker{
  padding: 0 5%;
  margin-bottom: 5%;
}

.spacingthevideo
{
  padding-left: 5%;
}
.wrraapimg
{
  width: 100%;
  overflow-x:scroll;
  white-space: nowrap;
  float:left;
  position: relative;
}
.wrraapimg::-webkit-scrollbar{
  display: none;
}
.wrapperitem {
  display: inline-block;
  height: 14rem;
  width: 23rem;
  margin-right: 1rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapperitemcus {
  display: inline-block;
  height: 21rem;
  width: 19rem;
  margin-right: 1rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textheader
{
  font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 31px;
    display: flex;
    align-items: center;
    color: $appColor
}

.broker-landing-nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 98.2%;
  .broker-logo {
    height: 50px;
    width:10rem
  }
  .btn-wrapper {
    display: flex;
    height: 40px;
    align-self: center;
    background-color: $appColor;
    color:white;
    border-radius: 4px;
    .login-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 25px;
      margin-right: 10px;
      cursor: pointer;
      // &:hover {
      //   background-color: #dddddd;
      //   border-radius: 6px;
      // }
      .login {
        margin: auto;
        font-weight: bold;
        font-size: 1rem;
        color: $fontColor;
      }
    }
    .sign-up-btn {
      background-color: $appColor;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      border-radius: 6px;
      cursor: pointer;
      .signup {
        margin: auto;
        font-weight: bold;
        font-size: 1rem;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}
.intro-row {
  margin-top: 5rem;
  .intro-text-wrapper {
    .intro-header {
      color: $fontColor;
      margin-bottom: 1.75rem;
      font-weight: bold;
      span {
        color: $appColor;
      }
    }
    .intro-sub-header {
      margin-bottom: 1.75rem;
      color: #000000a6;;
    }
  }
  .redeem-promo-wrapper {
    padding: 30px;
    text-align: center;
    .promo-wrapper {
      i {
        color: $appColor;
      }
      .promo-header {
        color: $appColor;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .copy-promo-wrapper {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: bold;
      }
    }
  }
  .sign-up-wrapper {
    display: flex;
    line-height: 43px;
    height: 45px;
    border: 1px solid $appColor;
    border-radius: 3px;
    max-width: 400px;
    .sign-up-email-input {
      flex-grow: 1;
      border: none;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    .submit-button {
      align-self: center;
      padding-left: 15px;
      padding-right: 15px;
      font-weight: bold;
      color: $appColor;
      font-size: 1rem;
      margin: auto;
      cursor: pointer;
      span {
        margin-left: 10px;
      }
    }
  }
}

.feature-row {
  margin-top: 6rem;
  .feature-card-wrapper {
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05),
      0 1px 1px rgba(0, 0, 0, 0.04);
    margin-right: 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 16px;
    .feature-header {
      color: $appColor;
      i {
        padding-right: 8px;
      }
    }
    .feature-intro {
      color: #6f7691;
      font-size: 15px;
      margin: 4px 0;
    }
  }
}

.broker-main-feature-wrapper {
  margin-top: 9rem;
  .main-feature-header {
    color: $fontColor;
    font-weight: bold;
    margin-bottom: 1.75rem;
  }
  .feature-list {
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05),
      0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    border-radius: 3px;
    .main-feature-item {
      background: #fafcff;
      padding: 24px 32px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      }
      .feature-header {
        color: #515978;
      }
      .feature-body {
        color: #7b8199;
        margin: 0;
      }
    }
  }
  .feature-branding {
    height: 100%;
    display: flex;
    flex-direction: column;
    .feature-image-background {
      flex-grow: 1;
      height: 0;
      background-size: contain;
    }
    .feature-image-desc {
      margin-top: 20px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.broker-partners-wrapper {
  margin-top: 6rem;
  background: #f4f8ff;
  padding: 20px 0;
  .partners-header {
    letter-spacing: 0.5px;
    color: $fontColor;
    margin-bottom: 6px;
    font-weight: bold;
  }
  .partner-intro {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }
  .partner-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    height: 100%;
    .partner-img-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .partner-img {
        width: 100px;
        margin: auto;
      }
    }
  }
}

.broker-who-can-be-wrapper {
  margin-top: 6rem;
  .who-can-be-header {
    letter-spacing: 0.5px;
    color: $fontColor;
    margin-bottom: 6px;
  }
  .who-can-be-intro {
    color: #515978;
    font-size: 16px;
    line-height: 24px;
  }
  .who-can-be-list {
    margin-top: 40px;
    box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05),
      0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fefefe;
    border-radius: 3px;
    .who-can-be-item {
      background: #fafbff;
      border-color: rgba(82, 143, 240, 0.3);
      border-left: 3px solid #528ff0;
      z-index: 1;
      padding: 20px 0 20px 28px;
      border: 1px solid #e2e2e2;
      margin: -1px 0 0 -1px;
      display: flex;
      cursor: pointer;
      &.active {
        background: #fafbff;
        border-color: rgba(82, 143, 240, 0.3);
        border-left: 3px solid #528ff0;
      }
      i {
        margin-right: 15px;
      }
      .list-item-title {
        letter-spacing: 0.5px;
        color: #0d2366;
        margin-bottom: 0;
        font-size: 18px;
      }
    }
  }
  .who-can-be-image-wrapper {
    .who-can-be-image {
    }
  }
}

.broker-landing-faq-wrapper {
  margin-top: 6rem;
  .faq-header {
    padding-bottom: 15px;
    letter-spacing: 0.5px;
    color: #0d2366;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
    &::after {
      background: $appColor;
      margin-left: auto !important;
      margin-right: auto !important;
      content: "";
      display: block;
      width: 24px;
      height: 4px;
      margin-top: 16px;
    }
  }
  .faq-list-wrapper {
    background: #fefefe;
    border-radius: 3px;
    margin: 12px 0 0 0;
    .faq-list-item {
      display: inline-block;
      text-align: left;
      padding: 16px;
      width: 106%;
      position: relative;
      border-top: 2px solid #e4eeff;
      &:first-child {
        border-top: 2px solid rgba(255, 255, 255, 0.8);
      }
      &:hover {
        background: #fafbff;
        border: 2px solid #e4eeff;
      }
      &::after {
        content: "";
        height: 8px;
        width: 8px;
        transform: rotate(135deg) translate(19px, 2px);
        border: 2px solid $appColor;
        border-right: 0;
        border-bottom: 0;
        position: relative;
        float: right;
        margin-right: 6px;
      }
      &.active {
        background: #fafbff;
        border: 2px solid #e4eeff;
        z-index: 5;
      }
      .faq-dot {
        background: $appColor;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 6px 20px 8px 8px;
        display: inline-block;
        vertical-align: top;
      }
      .faq-qstn {
        padding-right: 10px;
        font-size: 16px;
        line-height: 30px;
        color: #515978;
        display: inline-block;
        max-width: 430px;
      }
    }
  }
  .faq-overview-wrapper {
    text-align: left;
    background: #fafbff;
    border: 1px solid #e4eeff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    padding: 48px;
    height: 100%;
    .faq-sub-header {
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      color: #515978;
      &::after {
        background: $appColor;
        content: "";
        display: block;
        width: 14px;
        height: 4px;
        margin-top: 16px;
      }
    }
    .faq-body {
      line-height: 30px;
      color: #515978;
      margin: 24px 0;
      font-size: 16px;
    }
  }
}

.broker-testimonial-wrapper {
  margin-top: 6rem;
  .testimonial-header {
    text-align: center;
    letter-spacing: 0.5px;
    color: #0d2366;
    margin-bottom: 6px;
    font-weight: bold;
    &::after {
      margin-left: auto;
      margin-right: auto;
      content: "";
      display: block;
      width: 24px;
      height: 4px;
      background: $appColor;
      margin-top: 16px;
    }
  }
  .testimonial-carousel-wrapper {
    margin-top: 48px;
    .slide {
      background: transparent;
    }
    .testimonial-carousel-item {
      height: 365px;
      overflow-y: auto;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.03);
      box-shadow: 2px 4px 9px 1px rgba(0, 0, 0, 0.05),
        0 1px 1px rgba(0, 0, 0, 0.04);
      white-space: normal;
      padding: 32px;
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      margin-right: 15px;
      .testimonial-title {
        font-weight: bold;
        color: #515978;
        text-align: start;
      }
    }
    .testimonial-body {
      margin-top: 10px;
      color: #515978;
      text-align: start;
      flex-grow: 1;
      height: 0;
      overflow-y: auto;
      font-size: 16px;
    }
    .testimonial-author {
      display: flex;
      .author-img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .names {
        border-left: 2px solid rgba(151, 151, 151, 0.3);
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        .author-name {
          font-weight: bold;
          color: #515978;
        }
        .org-name {
          color: #515978;
        }
      }
    }
  }
}

.broker-modal-container {
  box-shadow:none;
  background: #fff;
  border: none;
  padding: 2.5rem 2.5rem 0 2.5rem;
  text-align: center;
  max-width: 500px;
  border-radius: 0 !important;
  .login-icon {
    width: 108px;
    margin-bottom: 1.3rem;
  }
  .login-header {
    font-weight: bold;
    color: #515978;
  }
  .desc {
    color: #515978;
    font-size: 16px;
  }
  .pin-input-wrapper {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .error-wrapper {
    margin-top: 2rem;
  }
  .login-btn-wrapper {
    margin-top: 2rem;
    .ant-btn {
      padding: 10px 32px;
      font-weight: bold;
      font-size: 1.1rem;
      height: auto;
      background-color: $appColor;
      border-color: $appColor;
    }
  }
}

.broker-login-modal-container {
}

.broker-sign-up-container {
}
