@import "../../../css-variables/css-variables.scss";
$appColor: var(--main-color);
$fontColor: white;

@media (min-width: 576px)
{
.feacture-model .modal-dialog {
    /* max-width: 500px; */
    max-width: 40% !important;
}}

.reset-text
{
  color: grey;
  padding-top: 1rem;
}
 .pin-input-wrapper-custom {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.reset-pin
{
  width: 100%;
    border: none;
    background: #C4C4C4;
    margin-top: 32px;
    padding: 6px 0px 8px 0px;
    color: white;
    cursor: pointer;
}
.reset-pin1
{
  width: 100%;
    border: none;
    background: $appColor;
    margin-top: 32px;
    padding: 6px 0px 8px 0px;
    color: white;
    cursor: pointer;
}
.custom-p-protal
{
  margin: auto;
  padding-top: 23px;
  color: grey;
  cursor: pointer;
 
}
.top-riding
{
  /* background-image: url('./images/shorupan.jpg'); */
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.8;
  display: flex;
    align-items: center;
    justify-content: center
}
.btnm
{
  width: 4rem;
}


.intro-header-cutom {
  color: black !important;
  font-weight: 500;
  margin: 0;
}
.custom-paragrap {
  line-height: 24px;
  /* display: flex; */
  /* align-items: center; */
  color: #7B7B7B;
  width: 44%;
  /* padding-top: 4%; */
  font-size: 17px;
  color: #7B7B7B;
  font-family: Montserrat;
  font-weight: 300;
  width: 538px;
}


.accessportal
{

  background: var(--main-color);
  color: white;
  padding: 7px 21px 0px 21px;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 15px;
  position: absolute;
  right: 5%;
  top: 20px


}

.rightSidePartWraperSectioncustom {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  /* padding-left: 3.7rem; */
  padding-bottom: 4%;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rightSidePartWraperSectioncustombroker{
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  /* padding-left: 3.7rem; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}


.initechNode {
  border: solid 3px red;
  border-radius: 3px;
  padding: 5px;
  width: 150px;
  display: inline-block;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 3px red
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 3px red;
}
.intro-header
{
  color:black !important;
}
/* 
.feature-rows .alice-carousel__wrapper {
  padding-left: 16px !important;
} */

.login-btn
{
  color:white !important;
}
.prevous-carosule1
{
  position: absolute;
  font-size: 24px;
  position: absolute;
  color: #8080807a;
  /* left: 50%; */
  /* margin-left: -50px; */
  top: 50%;
  margin-top: -22px;
  cursor: pointer;
  left: -16px;
  position: absolute;
  /* left: 50%; */
  top: 50%;
  transform: translateX(-50% );
  /* font-weight: 400; */
  /* height: 3rem; */
}
.prevous-carosule
{
  position: absolute;
  font-size: 24px;
  position: absolute;
  color: #8080807a;
  /* left: 50%; */
  /* margin-left: -50px; */
  top: 50%;
  margin-top: -22px;
  cursor: pointer;
  right: -16px;
  position: absolute;
  /* left: 50%; */
  top: 50%;
  transform: translateX(-50% );
  /* font-weight: 400; */
  /* height: 3rem; */
}
/* .alice-carousel__stage-item.__cloned 
{
  display:none !important
} */
/* .feature-rows .alice-carousel__wrapper {
  background-color: transparent !important;
  overflow-x: scroll;
} */
.d-flec
{
  display: inline-flex;
}
.feacture-model .modal-content {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.feature-p
{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;

color: #9C7608;

}
.feacture-model .modal-backdrop {

  background-color: white !important;
  opacity: 0.9 !important;
}
.modal-backdrop
{
  background: white !important;
}
.feature-videosectio
{

    margin-left: 14px;
  display: inline-grid;
  text-align: left;
}
.feacture-model .modal-body
{
  padding: 0 !important;
}
.vide-res
{
  width: 100% !important;
  height: 40vh !important;
}
.feacture-model .close
{
  position: absolute;
  top: -1px;
  /* bottom: 0; */
  margin: auto;
  color: black!important;
  right: 14px;
  display: flex;
  align-items: center;
  font-size: 40px;
}
.feacture-model .close:focus
{
outline: none !important;
}
.altas-header
{
  font-size: 18px;
  
font-family: Roboto;
font-style: normal;
font-weight: bold;
  margin: 0;
  font-weight: 200;
  color: black !important;
}
.featureheader
{
  display: flex;
  width: 100%;
  align-items: center;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: $appColor ;
    font-weight: 500;
  
}

.imgsection-feature
{
  width: 3rem;
  height: 3rem;
}
  .bv 
 {

  background-color: black !important;

 } 
.shorupan1
{
  /* background-image: url('./images/shorupan.jpg'); */
  
}
.main-video-container
{
     height: 22rem;
}
  
.cardsec
  {
    background-color: white;
    color: black !important;
    border: 1px solid var(--main-color);
    height: 6rem;
    width: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.fe-title
  {
    background: black;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-size: 16.5px;
    line-height: 21px;
    padding-top: 7px;
    padding-bottom: 9px;
    font-weight: 200;
    color: white
  }
.custom-sectionfeature
  {
        /* margin: auto; */
        position: absolute;
        /* top: 0; */
        /* left: 0; */
        /* bottom: 0; */
        /* right: 0; */
        width: 100%;
        height: 84%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $appColor;
        font-size: 4rem;
        cursor: pointer;
  }
  .linepop
{
  font-size: 18px;
  line-height: normal;
}
  .feature-rows
  {
    margin-top: 3rem;
    position: relative;
  }
.black-iten
  {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
.feature-carousel
  {
    width: 95.3%;
    height: 14rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
    border: 1.2px solid $appColor 
  }
.card-style
  {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-tabs-nav-scroll
  {
    text-align: center;
  }
  .ant-tabs-ink-bar{
    background-color: black ;
   
}
  .qweimg
  {
    width: 9rem;
  }
.broker-img
{
  width: 100%;
    height: 12rem;
}
.img-sectio
{
  padding-right: 7px !important;
  padding-left: 7px !important;
}
.img-section1
{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
}
.main-section-boker
{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px 0px 14px;
    padding-bottom: 1.3rem;
}
.ant-select-arrow .ant-select-arrow-icon
{
  display: none !important;
}

.button-span-broker
{
  border: none;
  padding: 5px 21px 5px 21px;
  color: white;

  cursor: pointer;
  background: #000000;
  font-size: 11px;

  cursor: pointer;
}
.from-block1
{
  padding-top: 1px;
  display: block;
  /* color: $appColor !important; */
  font-size: 23px;
  font-weight: bold;
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #182542;
}

.from-block
{
  display: block;
    margin: auto;
}
.emmmorceshow
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.facitsz {
  margin-top: 1rem !important;
  margin-bottom: 3rem;
}
.broker-section-custom
{
 
  padding: 17px 14px 0px 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #7B7B7B;
  white-space: break-spaces;
}

.broker-title-custom
{
    /* position: relative; */
    /* top: -26px; */
    background: white;
    padding: 5px 17px 5px 17px;
    font-weight: bold;
    font-size: 14px;
    margin: 0in;
    position: absolute;
    bottom: 34px;
    /* width: 8rem; */
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .loginPdsBlock {
    padding: 0px;
    height: 100vh;
    /* background-color: red; */
    /* background-image: url('./images/Atlas.png'); */
    background-position: center;
    background-size: cover;
}
.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  -webkit-box-shadow: -2px 0 8px $appColor !important;
  box-shadow: -2px 0 8px $appColor !important;
}
.klp-police
{
  font-size: 2rem;
    position: relative;
    top: -6px;
}
.payment-transaction-subwraper-title-static {
  height: 90px;
  /* padding-left: 25px; */
  border-bottom: none !important;
}

  .ant-tabs-nav .ant-tabs-tab:hover
  {
    color: $appColor ;  
  }
  .ant-tabs-bar {
    border-top: 1px solid $appColor ;
    border-bottom: 1px solid $appColor ;
  }
  .homepagegxmy
  {
    /* background-image: url('./images/mygx.png'); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  .onclick-card-info
  {
height:50vh;
  }
  .custome-paymentTransaction
  {
    width:7.5rem !important;
 
  }
  .main-menu {
    padding-top: 2rem !important;
  }
  .lol
  {
    position: absolute !important;
    bottom: 0;
  }

.alt-logo
  {
    width: 3rem;
    margin: auto;
    width: 100;
    position: relative;
    margin-left: 7px;
    padding-bottom: 2rem;
  }
.custom-map
  {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .main-menu
  {
    background-color: white !important;
  }
  .main-menu:hover
  {
    background-color: white !important;
  }
  .hoverValueUserProfile

{
  background-color: white !important;
}
.sideBarHeightMainWraperSection
{
  background-color: white !important;
  border: 1px solid $appColor;
}
.desktopUserIdandValue
{
  background-color: white !important;
}


.AliceCarousel-custom .alice-carousel__next-btn-item
{
  display: none !important;
}
  @media only screen and (min-width:0px) and (max-width:421px)
  {
    .custome-paymentTransaction
    {
      width:7.5rem !important;
      margin-right: 1rem;
    }

   
  }
  .main-page-broker
  {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  @media only screen and (min-width:0px) and (max-width:767.9px)
  {
    .loginPdsBlock {
      padding: 0px;
      display: none;
  }
  .custom-paragrap
  {
    width: 100%;
  }

  .payment-transaction-subwraper-title-static
  {
    width: 100%;
  }

  .broker-landing-nav-wrapper .btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    margin-right: 10px;
    cursor: pointer;
    background-color: $appColor !important;
    border-radius: 4px; display: flex;
    height: 40px;
    color:white;
    align-self: center;
    margin: auto;
    justify-content: center;
    margin-top: 9px;
    
}
  .main-page-broker
  {
    padding-top: 5.4rem !important;
  }
  .broker-landing-nav-wrapper {
    display: block;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    width: 98.2%;
}

  }
@media only screen and (min-width:1600px) and (max-width:4500px)
{
  .main-page-broker
  {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
  }
} 
