@import "src/css-variables/css-variables.scss";
.market-main{
  width: 100%;
  height: 100%;
  padding: 0 8%;
  .market-main-dashboard{
    height: 75%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10% 0;
    align-content: center;
    .market-amount{
      width: 100%;
      height: 50%;
      margin-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      .market-amount-above{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        h6{
          margin-bottom: 0;
          color: #464b4e;
        }
        .selected{
          background-color: #464b4e;
          color: white;
          font-weight: 600;
          transition: 0.5s;
        }
        button{
          outline: none;
          height: 100%;
          color: #464b4e;
          font-size: 60%;
          margin: 0px 3px;
          border-radius: 4px;
          background-color: transparent;
          border: 1px solid #c6c8ca;
        }
      }
      .market-amount-below{
        border: 1px solid rgba(255, 255, 255, 0.5) !important;
        display: flex;
        width: 100%;
        height: 65%;
        justify-content: space-between;
        align-items: center;
        padding: 0 3%;
        h6{
          width: 55%;
          margin-bottom: 0;
          display: flex;
          button{
            outline: none;
            color: #464b4e;
            padding: 3px;
            width: calc(100%/3);
            background-color: transparent;
            border: 1px solid #c6c8ca;
            border-radius: 4px;
            font-size: 75%;
            &:nth-child(2){
              margin: 0 5px;
            }
          }
          .selected{
            background-color: #464b4e;
            color: white;
          }
        }
        input{
          width: 45%;
          background-color: transparent;
          border: 0;
          text-align: right;
          color: #464b4e;
          outline: none;
          border-bottom: 1px solid #f1f1f1;
        }
      }
    }
    .market-price{
      width: 100%;
      height: 50%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      h6{
        color: #464b4e;
        margin-bottom: 0;
        width: 100%;
        height: 30%;
      }
      .market-price-input{
        padding: 0 3%;
        width: 100%;
        height: 65%;
        border: 1px solid rgba(255, 255, 255, 0.5) !important;
        display: flex;
        align-items: center;
        h6{
          margin-bottom: 0;
          display: flex;
          align-items: center;
          width: 55%;
          button{
            outline: none;
            border-radius: 4px;
            width: 30%;
            background-color: transparent;
            border: 1px solid #c6c8ca;
            color: #464b4e;
            font-size: 75%;
            padding: 3px 5px;
            margin-right: 5px;
          }
          .selected{
            background-color: #464b4e;
            color: white;
          }

        }
        input{
          width: 45%;
          background-color: transparent;
          border: 0;
          text-align: right;
          color: #464b4e;
          outline: none;
          border-bottom: 1px solid #f1f1f1;
        }


      }
    }
  }


  .market-main-buttons{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      outline: none;
      width: 48%;
      height: 50%;
      border: 0;
      border-radius: 4px;
      font-weight: 600;
      color: white;
      &:nth-child(1){
        background-color: #CB4D49;
      }
      &:nth-child(2){
        background-color: #70C582;
      }
    }
  }
}
