.tab-dash-summary{
    width: 100%;
    height: 100%;
    .dash-summary-header{
        height: 40px;
        width: 100%;
        background-color: var(--main-color);
        color: var(--background-color);
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        h6{
            color: white;
            margin-bottom: 0;
        }
        .d-expand-button{
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            height: 40%;
            cursor: pointer;
        }
        
        .d-back-button{
            position: absolute;
            left: 5%;
            top: 50%;
            transform: translateY(-50%);
            height: 35%;
            cursor: pointer;
        }
    }
    .dash-summary-body{
        height: calc(100% - 40px);
        .total-summary{
            padding: 5%;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
    
            .trade-summary-body{
                height: calc(90% - 40px);
                width: 100%;
                display: flex;
                flex-direction: column;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--border-color);
                }
                .t-s-data-boxes{
                    margin-bottom: 4vh;
                    p,h6{
                        margin: 0;
                    }
                    p{
                        font-size: 90%;
                        font-weight: 600;
                        margin-bottom: 1vh;
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid var(--border-color);
                        height: 7.5vh;
                        h6{
                            width: 75%;
                            padding-left: 10px;
                        }
                        button{
                            height: 100%;
                            width: 25%;
                            background-color: transparent;
                            border: 0;
                            border-left: 1px solid var(--border-color);
                            padding: 8px 0;
                            font-weight: 600;
                            .currency-coin{
                                height: 20px;
                                margin-right: 5px;
                            }
                            .dropdown-pic{
                                filter: invert(1);
                                margin-left: 10px;
                                transform: rotate(180deg);

                            }
                        }
                    }
                }
            }
            .trade-summary-footer{
                height: 40px;
                width: 100%;   
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    width: 45%;
                    height: 95%;
                    font-weight: 600;
                    font-size: 90%;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    // transform: matrix(1, 0, 0, -1, 0, 0);
                    border-radius: 4px;
                    &:nth-child(1){
                        background-color: transparent;
                        border: 0;
                        // border: 1px solid var(--border-color);


                    }
                    &:nth-child(2){
                        background-color: var(--main-color);
                        border: 0;
                        color: white;
                    }
                    &:disabled{
                        opacity: 0.25;
                    }
                }
            }

        }
        .select-currency-main{
            padding: 0 5%;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            .select-currency-header{
                height: 17%;
                display: flex;
                align-items: center;
                input{
                    border: 0;
                    font-weight: 500;
                    height: 65%;
                    font-size: 125%;
                }
                // border-bottom: 1px solid var(--light-border-color);
            }
            .select-currency-tabs{
                height: 15%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                button{
                    width: 50%;
                    background-color: transparent;
                    border: 0;
                    &:hover{
                        transition: 0.3s;
                        font-weight: 600;

                    }
                }
                .selected-type{
                    font-weight: 600;
                    background-color: var(--border-color);
                }


            }
            .select-currency-scroll{
                height: 65%;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--border-color);
                }
                .single-coin-wrapper{
                    display: flex;
                    align-items: center;
                    height: 35%;
                    border: 1px solid var(--border-color);
                    margin-bottom: 2vh;
                    padding: 0 4%;
                    &:hover{
                        background-color: var(--light-border-color);
                    }
                    h6{
                        margin-bottom: 0;
                    }
                    img{
                        height: 22px;
                        margin-right: 2vh;
                    }

                }
                .selected-coin-wrapper{
                    background-color: var(--border-color);
                    h6{
                        font-weight: bold;
                    }
                }
            }
        }
        .trade-summary-main{
            padding: 0 5%;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            .trade-summary-header{
                height: 30%;
                width: 100%;
                display: flex;
                // flex-direction: column;
                justify-content: space-between;
                align-items: center;
                h4,p{
                    margin: 0;
                }
                p{
                    font-size: 85%;
                }
                h4{
                    font-weight: bold;
                }
                button{
                    background-color: transparent;
                    font-weight: bold;
                    border: 1px solid var(--border-color);
                    padding: 6px 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 16px;
                        margin-right: 6px;
                    }
                }
            }
            .trade-summary-body{
                height: 70%;
                display: flex;
                flex-direction: column;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--border-color);
                }

                .trade-fees-wrapper{
                    border: 1px solid var(--border-color);
                    display: flex;
                    justify-content: space-between;
                    padding: 2.5vh 5%;
                    margin-bottom: 2vh;
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        h6,p{
                            margin: 0;
                        }
                        h6{
                            font-weight: 600;
                            font-size: 130%;
                        }
                        p{
                            font-size: 75%;
                        }
                        &:nth-child(2){
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                        }

                    }
                }
            }

        }
    }
}