.investment-table {
    width: 100%;
    height: 100%;
    div {
        background-color: var(--background-color);
        width: 100%;
        height: calc(100% / 8);
        border-bottom: 1px solid var(--border-color) !important;
        display: flex;
        padding: 0 5%;
        transition: 0.3s;
        &:hover {
            span {
                &:nth-child(1) {
                    transition: 0.3s;
                    transform: scale(1.2);
                }
            }
        }
        span {
            display: flex;
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 500;
            font-size: 85%;
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(5) {
                width: calc(75% / 4);
                color: var(--text-color);
            }
            &:nth-child(1) {
                img {
                    margin-right: 10px;
                    height: 20px;
                    width: 20px;
                }
                color: var(--text-color);
                // width: calc(75%/4);
            }
            &:nth-child(2) {
                color: var(--text-color);
                width: calc(75% / 4);
            }
            &:nth-child(3) {
                // color: var(--green-color);
                color: var(--text-color);
                width: calc(75% / 4);
            }
            &:nth-child(4) {
                color: var(--text-color);
                width: calc(75% / 4);
            }
        }
    }
}
