@import "src/scss-variables/all-variables";
.binance-main{
  width: 100%;
  height: 100%;
  .binance-main-header{
    background-color: var(--bg-color);
    height: 10%;
    width: 100%;
    color: var(--main-color);
    display: flex;
    padding: 0 5%;
    border: 1px solid var(--border-color) !important;
    button{
      font-size: 80%;
      font-weight: bold;
      white-space: nowrap;
      width: calc(100%/3);
      outline: none;
      color: var(--main-color);
      background-color: transparent;
      border: 0;
      &:nth-child(1){
        text-align: left;
      }
      &:nth-child(3){
        text-align: right;
      }
    }
  }
  .binance-main-body{
    height: 90%;
    width: 100%;
    border: 1px solid var(--border-color) !important;
    border-top: 0 !important;
    .binance-main-body-ask{
      width: 100%;
      height: 44%;
      div{
        padding: 0 5%;
        height: 20%;
        width: 100%;
        display: flex;
        button{
          white-space: nowrap;
          background-color: transparent;
          outline: none;
          border: 0;
          font-size: 80%;
          width: calc(100%/3);
          &:nth-child(1){
            text-align: left;
            color: $red-color;
          }
          &:nth-child(3){
            text-align: right;
          }
        }

      }
    }
    .binance-main-body-center{
      width: 100%;
      height: 12%;
      display: flex;
      padding: 0 5%;
      background-color: var(--main-color);;
      button{
        white-space: nowrap;
        width: 50%;
        outline: none;
        background-color: transparent;
        border: 0;
        color: var(--bg-color);
        font-size: 92%;
        letter-spacing: 1px;
        font-weight: bold;
        &:nth-child(1){
          text-align: left;
        }
        &:nth-child(2){
          text-align: right;
        }
      }
    }
    .binance-main-body-bid{
      width: 100%;
      height: 44%;
      div{
        padding: 0 5%;
        height: 20%;
        width: 100%;
        display: flex;
        button{
          white-space: nowrap;
          background-color: transparent;
          outline: none;
          border: 0;
          font-size: 80%;
          width: calc(100%/3);
          &:nth-child(1){
            text-align: left;
            color: $green-color;
          }
          &:nth-child(3){
            text-align: right;
          }
        }

      }
    }
  }
}

