.mi-list-main{
    display: flex;
    height: 100%;
    flex-direction: column;
    .mi-list-main-header{
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10%;
        h2{
            margin-bottom: 0;
            font-size: 25px;
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
                height: 22px;
            }
        }
        input{
            border: 0;
            background-color: transparent;
            outline: none;
            font-size: 90%;
            padding-bottom: 5px;
        }
        p{
            font-size: 80%;
            margin: 0;
        }
    }
    .mi-list-main-body{
        height: 70%;
        width: 100%;
        overflow: auto;
        border-top: 1px solid var(--border-color);
        &::-webkit-scrollbar{
            width: 0;
        }
        .animation-div{
            padding: 0;
        }
        div{
            cursor: pointer;
            padding: 0 10%;
            height: 25%;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                height: 20px;
                margin-right: 8px;
            }
        }
        .coin-selected{
            background-color: var(--border-color);
        }
    }

}