@import "src/css-variables/css-variables.scss";
.controller-friends{
    width: 100%;
    height: 100%;
    display: flex;
    .friends-left{
        width: calc(100%/3);
        height: 100%;
    }
    .friends-middle{
        width: calc(100%/3);
        height: 100%;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);

    }
    .friends-right{
        width: calc(100%/3);
        height: 100%;

    }

    
}