.all-users{
    height: 100%;
    width: 100%;
    display: block;
    .all-users-searchbar{
        height: 45px;
        width: 100%;
        border: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0 15px;
        input{
            width: 65%;
            height: 50px;
            border: 0;
            font-size: 85%;
            background-color: transparent;
        }
        button{
            width: 35%;
            height: 100%;
            border: 0;
            background-color: transparent;
            border-left: 1px solid var(--border-color);
            font-size: 85%;
            font-weight: 600;
        }
    }
    .all-users-body{
        height: calc(100% - 45px);
        padding-top: 4vh;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 0;
        }
        .Select-option{
            h6{
                padding: 0;
                font-weight: 600;
                background-color: transparent !important;
                &:hover{
                    background-color: transparent !important;
                }
            }
            .selected-option{
                height: 8vh;
                border: 1px solid var(--main-color);
                display: flex;justify-content: center;align-items: center;
                margin-bottom: 4vh;
            }
            .not-selected-option{
                height: 8vh;
                border: 0.5px solid #EBEBEB;
                display: flex;justify-content: center;align-items: center;
                margin-bottom: 2vh;

            }
        }

        .user-wrapper{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid var(--border-color);
            margin-bottom: 1vh;
            padding: 2.5vh 1.7vh;
            img{
                height: 4vh;
            }
            .user-details-wrapper{
                display: flex;
                flex-direction: column;
                padding-left: 2vh;
                h5{
                    margin-bottom: 0;
                    font-weight: 600;
                }
                span{
                    font-size: 70%;
                    font-weight: 400;
                }
            }
        }
    }
}