.account-handle {
    width: 100%;
    height: 100%;
    .account-handle-step-one {
        display: flex;
        height: 100%;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        h1 {
            text-align: center;
        }
        button {
            width: 50%;
            background-color: transparent;
            border: 1px solid var(--main-color);
            color: var(--main-color);
            font-weight: 600;
            &:hover{
                transition: 0.3s;
                background-color: rgba(0,0,0,0.1);
                transform: scale(1.1);
            }
        }
    }
    .account-add-fiat{
        height: 100%;
        width: 100%;
        .account-add-fiat-header{
            height: 60px;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            // background-color: var(--main-color);
            color: var(--background-color);

            padding: 0 40px;
            display: flex;
            align-items: center;
            h2{
                margin: 0;
                font-size: 120%;
                font-weight: bold;
                color: var(--main-color);
            }

        }
        .account-add-fiat-body{
            height: calc(100% - 60px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5% 40px;
            position: relative;

            h6{
                display: flex;
                span{
                    width: 45%;
                }
                input{
                    width: 55%;
                    border: 0;
                    border-bottom: 1px solid var(--border-color);
                    margin-left: 10px;
                }
            }
            button{
                position: absolute;
                height: 40px;
                background-color: var(--main-color);
                bottom: 0;
                border: 0;
                color: var(--background-color);
                width: 100%;
                left: 0;
            }


        }
    }
    .account-add-crypto{
        height: 100%;
        width: 100%;
        .account-add-crypto-header{
            height: 60px;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            // background-color: var(--main-color);
            color: var(--background-color);

            padding: 0 40px;
            display: flex;
            align-items: center;
            h2{
                margin: 0;
                font-size: 120%;
                font-weight: bold;
                color: var(--main-color);
            }

        }
        .account-add-crypto-body{
            height: calc(100% - 60px);
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5% 40px;
            position: relative;

            h6{
                display: flex;
                span{
                    width: 45%;
                }
                input{
                    width: 55%;
                    border: 0;
                    border-bottom: 1px solid var(--border-color);
                    margin-left: 10px;
                }
            }
            button{
                position: absolute;
                height: 40px;
                background-color: var(--main-color);
                bottom: 0;
                border: 0;
                color: var(--background-color);
                width: 100%;
                left: 0;
            }

        }
    }
    .account-list {
        display: flex;
        height: 100%;
        flex-direction: column;

        .account-list-row {
            display: flex;
            height: 20%;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            &:hover{
                background-color: rgba(0,0,0,0.1);
            }
            div {
                cursor: pointer;
                &:nth-child(1) {
                    width: 20%;
                    img {
                        height: 25px;
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid var(--border-color);
                }
                &:nth-child(2) {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 20px;
                    p {
                        margin: 0;
                        margin-bottom: 5px;
                    }
                    h6 {
                        font-size: 120%;
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .account-add-crypto{
            height: 100%;
            width: 100%;
            .account-add-crypto-header{
                height: 60px;
                width: 100%;
                border-bottom: 1px solid var(--border-color);
                padding: 0 40px;

            }
            .account-add-crypto-body{
                height: calc(100% - 60px);
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;


            }
        }
        
       
    }
}
