.mi-calculator-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10%;

    .mi-calculator-above{
        width: 100%;
        height: 58%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        .calci-header{
            h3{
                margin-bottom: 0;
            }
            span{
                white-space: normal;
                font-weight: 500;
                line-height: 10px;
            }
        }
        .mi-enter-data-wrapper{
            h6{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0;
                padding: 3px 0;
                input{
                    outline: none;
                    border: 0;
                }
                &:nth-child(1){
                    border-bottom: 1px solid var(--main-color);
                }
                
            }
        }
        .warnings{
            position: absolute;
            top: 110%;
            h6{
                font-size: 65%;
                color: var(--red-color);
            }

        }
    }
    button{
        background-color: var(--main-color);
        color: var(--background-color);
        padding: 6px 0;
        border: 0;
        &:disabled{
            opacity: 0.5;
        }
    }
}