@import "src/css-variables/css-variables.scss";
.friend-upload{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    label, div{
        width: 100%;
    }
    .next-button{
        position: absolute;
        right: 1%;
        top: 10%;
        @include removeDefault;
        background-color: transparent;
        border: 1px solid var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        img{
            height: 2.5vh;
            width: 2.5vh;
        }
        animation: 1s coming-down 1 linear
    }
    label{
        width: 20vh;
        height: 20vh;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid var(--border-color);
        margin-bottom: 2rem;
        img{
            filter: invert(0.5);

            height: 40%;
        }
        .go-full{
            width: 100%;
            height: 100%;
            filter: invert(0);
            border-radius: 50%;
        }

    }
    div{
        text-align: center;
        h6{
            margin-bottom: 0;
            font-weight: 600;
        }
        input{
            border: 0;
            outline: none;
            background-color: transparent;
            text-align: center;
            font-size: 3.2vh;
            color: var(--main-color);
        }
    }
}

@keyframes coming-down{
    from{transform: translate(10vh,-10vh)}
    to{transform: translate(-50%,-50%)}
}