.mi-dashboard-main{
    display: flex;
    height: 100%;
    .mi-d-step-one-wrapper{
        width: calc(100%/3);
        height: 100%;
        padding: 3% 4%;
        padding-bottom: 0;
    }
    .mi-d-step-two-wrapper{
        width: calc(100%/3);
        height: 100%;
        padding: 3% 0%;
        padding-bottom: 0;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
    }
    .mi-d-step-three-wrapper{
        width: calc(100%/3);
        height: 100%;
        padding: 3% 4%;
        padding-bottom: 0;
    }
    .selected-wrapper{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}