@import "src/css-variables/css-variables.scss";
.trade-welcome {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .trade-logo{
        animation: 0.3s opacity-change 1 linear;
    }

    div {
        animation: 0.3s opacity-change 1 linear;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        span {
            margin-right: 1rem;
            font-size: 150%;
        }
    }
    footer {
        animation: 0.3s opacity-change 1 linear;
        position: absolute;
        width: 100%;
        height: 40px;
        bottom: 0;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: var(--background-color);
            padding: 0 20px;
        }
    }
}
