@import "src/css-variables/css-variables.scss";
.deposit-crypto {
    display: flex;
    width: 100%;
    height: 100%;
    .crypto-cards {
        cursor: pointer;
        width: calc(100% / 3);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:hover{
            h6, img{
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
        h6 {
            font-size: 130%;
            font-weight: 600;
            margin-bottom: 1rem;
            color: $gray-color;
        }
        img {
            height: 35%;
        }
    }
}
