@import "src/css-variables/css-variables.scss";
.deposit-step-two{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .step-two-back-button{
        position: absolute;
        top: 5%;
        left: 3%;
        height: 30px;
        width: 30px;
        @include removeDefault;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        img{
            transform: rotate(270deg);
        }

    }
    .qr-code-wrapper{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
            margin-bottom: 1rem;
            font-weight: bold;
            color: var(--text-color);
        }
        div{
            margin-top: 1rem;
            width: 300px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid var(--border-color);
            padding-left: 10px;
            p{
                margin: 0;
                width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            button{
                @include removeDefault;
                background-color: transparent;
                // border: 1px solid var(--border-color);
                width: 100%;
                height: 100%;
                font-weight: 500;
                color: var(--text-color);
            }
            .copy-wrapper{
                height: 40px;
                width: 40px;
                border-left: 1px solid var(--faint-dark);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                span{
                    top: 110%;
                    position: absolute;
                    background-color: var(--main-color);
                    color: var(--background-color);
                    padding: 2px 10px;
                }

            }
            
        }
    }
}