.analytics-value{
    display: flex;
    height: 100%;
    // box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
    padding: 0 10%;
    div{
        &:nth-child(1){
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // flex-direction: column;
            h6{
                margin: 0;
                img{
                    height: 20px !important;
                    margin-right: 5px;
                }
            }

        }
        &:nth-child(2){
            display: flex;
            width: 40%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            
            h6{
                width: 50%;
                display: flex;
                align-items: center;
                margin: 1vh 0px;
                img{
                    margin-right: 10px;
                }
                .value-span{
                    position: relative;
                    font-size: 100%;
                    .symbol-span{
                        position: absolute;
                        bottom: 1px;
                        left: 105%;
                        font-size: 65%;
                        font-weight: 400;
                    }

                }
            }

        }
    }
}