@import "src/css-variables/css-variables.scss";
.asset-list {
    width: 100%;
    height: 100%;
    .asset-list-main-header {
        height: 15%;
        border: 1px solid var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
        h4 {
            margin-bottom: 0;
            font-weight: bold;
        }
        span {
            font-weight: 400;
            font-size: 75%;
        }
    }
    .portfolio-wrapper {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        transform: translateY(0) !important;
        padding: 0 !important;
        span{
            position: static !important;
            margin-left: 5px;
        }
        img {
            padding: 0 !important;
            height: 20px;
        }
        div{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-120%);
            z-index: 2;
            background-color: white;
            border: 1px solid var(--border-color);
            padding: 10px;
            h4,p{
                margin: 0;
            }
        }
        &:hover{
            div{
                display: block;
            }
        }
    }
    .asset-list-header-crypto {
        height: 8%;
        width: 100%;
        background-color: var(--main-color);
        padding: 0 5%;
        display: flex;
        position: relative;
        input {
            outline: none;
            color: var(--background-color);
            background-color: transparent;
            border: 0;
            animation: scale-x 2s 1 linear;
            &::placeholder {
                color: #d9d9d9;
            }
        }
        h6 {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 80%;
            font-weight: 500;
            color: var(--background-color);
            // width: calc(50% / 3);
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(5) {
                width: calc(75% / 4);
            }
            &:nth-child(2) {
                width: calc(75% / 4);
            }
            &:nth-child(3) {
                width: calc(75% / 4);
            }
            &:nth-child(4) {
                width: calc(75% / 4);
            }
        }
        span {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            img {
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }

    .asset-list-header-fiat {
        height: 8%;
        width: 100%;
        background-color: var(--main-color);
        padding: 0 5%;
        display: flex;
        position: relative;
        input {
            outline: none;
            color: var(--background-color);
            background-color: transparent;
            border: 0;
            animation: scale-x 2s 1 linear;
            &::placeholder {
                color: #d9d9d9;
            }
        }
        h6 {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 80%;
            font-weight: 500;
            color: var(--background-color);
            // width: calc(50% / 3);
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(5) {
                width: calc(75% / 4);
            }
            &:nth-child(2) {
                width: calc(75% / 4);
            }
            &:nth-child(3) {
                width: calc(75% / 4);
            }
            &:nth-child(4) {
                width: calc(75% / 4);
            }
        }
        span {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            img {
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }

    .asset-list-header-assets {
        height: 8%;
        width: 100%;
        background-color: var(--main-color);
        padding: 0 5%;
        display: flex;
        position: relative;
        input {
            outline: none;
            color: var(--background-color);
            background-color: transparent;
            border: 0;
            animation: scale-x 2s 1 linear;
            &::placeholder {
                color: #d9d9d9;
            }
        }
        h6 {
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 80%;
            font-weight: 500;
            color: var(--background-color);
            // width: calc(50% / 3);
            &:nth-child(1) {
                width: 25%;
            }
            &:nth-child(5),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: calc(75% / 4);
            }
            &:nth-child(3) {
                width: 17%;
            }
        }
        span {
            position: absolute;
            right: 2%;
            top: 50%;
            transform: translateY(-50%);
            img {
                padding: 5px 10px;
                cursor: pointer;
            }
        }
    }

    .asset-list-body {
        height: 77%;
        width: 100%;
        border: 1px solid var(--main-color);
        border-bottom: 0 !important;
        background-color: var(--background-color);
        border-top: 0 !important;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        .implement-hover {
            height: calc(100% / 8);
            &:hover {
                transition: 0.3s;
                // transform: scale(1.05);
            }
        }
        .asset-list-row-crypto {
            background-color: var(--background-color);
            width: 100%;
            height: calc(100% / 8);
            border-bottom: 1px solid var(--border-color) !important;
            display: flex;
            padding: 0 5%;
            transition: 0.3s;
            &:hover {
                div {
                    &:nth-child(1) {
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
                }
            }
            div {
                display: flex;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 500;
                font-size: 85%;
                // background-color: red;
                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(5) {
                    width: calc(75% / 4);
                    color: var(--text-color);
                }
                &:nth-child(1) {
                    img {
                        margin-right: 10px;
                        height: 20px;
                    }
                    color: var(--text-color);
                    // width: calc(75%/4);
                }
                &:nth-child(2) {
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
                &:nth-child(3) {
                    // color: var(--green-color);
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
                &:nth-child(4) {
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
            }
        }

        .asset-list-row-fiat {
            background-color: var(--background-color);
            width: 100%;
            height: calc(100% / 8);
            border-bottom: 1px solid var(--border-color) !important;
            display: flex;
            padding: 0 5%;
            transition: 0.3s;
            &:hover {
                div {
                    &:nth-child(1) {
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
                }
            }
            div {
                display: flex;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 500;
                font-size: 85%;
                &:nth-child(1) {
                    width: 25%;
                    color: var(--text-color);
                }
                &:nth-child(5) {
                    width: calc(75% / 4);
                    color: var(--text-color);
                }
                &:nth-child(1) {
                    img {
                        margin-right: 10px;
                        height: 20px;
                    }
                    color: var(--text-color);
                    // width: calc(75%/4);
                }
                &:nth-child(2) {
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
                &:nth-child(3) {
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
                &:nth-child(4) {
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
            }
        }

        .asset-list-row-assets {
            background-color: var(--background-color);
            width: 100%;
            height: calc(100% / 8);
            border-bottom: 1px solid var(--border-color) !important;
            display: flex;
            padding: 0 5%;
            transition: 0.3s;
            &:hover {
                div {
                    &:nth-child(1) {
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
                }
            }
            div {
                display: flex;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-weight: 500;
                font-size: 85%;
                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(1) {
                    img {
                        margin-right: 10px;
                        height: 20px;
                    }
                    font-weight: 600;
                    color: var(--text-color);
                }
                &:nth-child(2) {
                    font-weight: 400;
                    color: var(--text-color);
                    // width: 15%;
                    width: calc(75% / 4);
                }

                &:nth-child(3),
                &:nth-child(4) {
                    font-weight: 400;
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
                &:nth-child(5) {
                    font-weight: 600;
                    color: var(--text-color);
                    width: calc(75% / 4);
                }
                &:nth-child(3) {
                    width: 17%;
                }
            }
        }
    }
}

@keyframes scale-x {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
