.copied-portal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  animation: 0.3s appear-slowly 1 linear;

  .copied-card {
    position: absolute;
    top: 5vh;
    right: 5vh;
    width: 0%;
    height: 90px;
    transition: 0.3s;
    background-color: white;
    display: flex;
    overflow: hidden;
    animation-delay: 0.3s;
    .copied-card-left {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 4vh;
      img {
        height: 35px;
      }
      div {
        width: calc(100% - 35px);
        padding-left: 2vh;
        h6,
        p {
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .copied-card-right {
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
          cursor: pointer;
          img{
            transform: rotate(45deg) scale(1.2);
            transition: 0.3s;

          }
      }
      img {
        height: 20px;
        transform: rotate(45deg);
        transition: 0.3s;
      }
    }
  }
  .full-width {
    width: 25%;
    transition: 0.5s;
    animation: 0.3s go-to-left 1 linear;
  }
  .no-width {
    width: 0;
    transition: 0.5s;
    animation: 0.3s go-to-right 1 linear;
  }
}
.close-overlay {
  animation: 0.3s dissolve-slowly 1 linear;
  width: 0;
  height: 0;
  overflow: hidden;
}

@keyframes dissolve-slowly {
  from {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  to {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes appear-slowly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes go-to-left {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}

@keyframes go-to-right {
  from {
    width: 25%;
  }
  to {
    width: 0%;
  }
}
