.instacrypto-main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;

    .insta-loader {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .instacrypto-main {
        height: 100%;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        span,
        p,
        button {
            color: #1b75bc;
        }
        .instacrypto-header {
            height: 15%;
            display: flex;
            align-items: center;
            padding: 0 5%;
            h2 {
                margin: 0;
                img {
                    margin-left: 10px;
                }
            }
        }
        .instacrypto-body {
            padding: 0 5%;
            height: 75%;
            position: relative;
            .insta-execution-panel {
                animation: 0.5s come-up linear 1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--background-color);
                width: 100%;
                height: 100%;
                padding-left: 5%;
                z-index: 2;
                .insta-execution-panel-child {
                    height: 95%;
                    width: 70%;
                    border: 1px solid var(--border-color);
                    border-radius: 10px;
                    padding: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .execution-panel-header {
                        // margin-bottom: 6vh;
                        h4 {
                            margin: 0;
                            img {
                                height: 7vh;
                            }
                        }
                    }
                    .execution-panel-body {
                        height: 55%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .execution-panel-input-wrapper {
                            // margin-bottom: 6vh;
                            // border: 1px solid red;
                            span {
                                font-weight: 500;
                                font-size: 95%;
                            }
                            .insta-crypto-box {
                                height: 7vh;
                                margin-top: 1.5vh;
                                border: 1px solid var(--light-border-color);
                                width: 60%;
                                display: flex;
                                align-items: center;
                                span {
                                    height: 100%;
                                    &:nth-child(1) {
                                        width: 70%;
                                        padding-left: 10px;
                                        border-right: 1px solid var(--light-border-color);
                                        input {
                                            border: 0;
                                            height: 100%;
                                            width: 100%;
                                            font-size: 140%;
                                        }
                                    }
                                    &:nth-child(2) {
                                        width: 30%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 100%;
                                        img {
                                            height: 16px;
                                            width: 16px;
                                            border-radius: 50%;
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .execution-panel-footer {
                        button {
                            background-color: transparent;
                            border: 1px solid var(--border-color);
                            font-size: 90%;
                            margin-right: 20px;
                            padding: 8px 25px;
                            font-weight: 600;
                            min-width: 17%;
                            &:disabled {
                                opacity: 0.25;
                            }
                        }
                    }
                }
            }

            .instacrypto-main-list-wrapper {
                width: 100%;
                height: auto;
                max-height: 100%;
                padding-bottom: 25%;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--border-color);
                }
                overflow: auto;
                .insta-step-one {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 50px;
                    .insta-step-one-wrapper-main {
                        position: relative;
                        .search-wrapper {
                            position: absolute;
                            right: 2%;
                            top: 0;
                            border: 1px solid var(--border-color);
                            height: 4vh;
                            display: flex;
                            border-radius: 2vh;
                            transition: 0.3s;
                            overflow: hidden;
                            input {
                                border: 0;
                                background-color: transparent;
                                padding-left: 10px;

                            }
                            .input-no-width {
                                width: 0;
                                // transition: 0.3s;
                            }
                            .input-full-width {
                                width: 100%;
                            }
                            button {
                                height: 4vh;
                                width: 4vh;
                                padding: 4px;
                                padding: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 0 2vh 2vh 0;
                                border: 0;
                                background-color: transparent;
                                border-left: 1px solid var(--border-color);
                                img{
                                    height: 12px;
                                    transform: rotate(45deg);
                                }
                            }
                        }
                        .no-width-main {
                            border: 0;
                            transition: 0.3s;
                            button {
                                border-radius: 2vh;
                                padding: 4px;
                                border: 1px solid var(--border-color);
                                img{
                                    transform: rotate(0deg);
                                }
                            }
                        }
                        .scroll-image-button {
                            position: absolute;
                            right: 2%;
                            z-index: 2;
                            top: 50%;
                            height: 4vh;
                            width: 4vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            background-color: white;
                            box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.16);
                            border: 1px solid var(--border-color);
                            transform: translateY(-50%);
                            .scroll-image {
                                height: 15px;
                                border-radius: 50%;
                            }
                            &:active {
                                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
                            }
                        }
                        .insta-step-one-wrapper {
                            display: flex;
                            margin-top: 2vh;
                            padding: 20px 5px;
                            overflow-x: auto;
                            overflow-y: hidden;
                            &::-webkit-scrollbar {
                                width: 0px;
                                height: 0px;
                            }
                            &::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                background-color: var(--border-color);
                            }
                            div {
                                animation: 0.3s come-up linear 1;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 3vh;
                                min-width: 20vh;
                                border: 1px solid var(--light-border-color);
                                margin-right: 3%;
                                border-radius: 10px;
                                cursor: pointer;
                                flex: none;
                                overflow: hidden;
                                .inside-image {
                                    margin-bottom: 15px;
                                    height: 7vh;
                                    transition: 0.3s;
                                }
                                span {
                                    font-weight: 400;
                                    text-overflow: ellipsis !important;
                                    overflow: hidden !important;
                                }
                                &:hover {
                                    .inside-image {
                                        transition: 0.3s;
                                        transform: scale(1.1);
                                    }
                                    span {
                                        font-weight: 600;
                                    }
                                    transition: 0.3s;

                                    border: 1px solid var(--border-color);
                                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
                                }
                            }
                            .selected-card {
                                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
                            }
                            .disable-card {
                                opacity: 0.25;
                                pointer-events: none;
                            }
                        }
                    }
                }
            }
        }
        .instacrypto-footer {
            width: 100%;
            height: 10%;
            border-top: 1px solid var(--border-color);
            padding: 0 5%;
            display: flex;
            align-items: center;
            div {
                width: 20%;
                img {
                    height: 5vh;
                    width: 5vh;
                    border-radius: 50%;
                    margin-right: 5vh;
                    animation: 0.3s come-up linear 1;
                    cursor: pointer;
                }
                .enable-back {
                    transform: scale(1.5);
                    &:hover {
                        transition: 0.3s;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
                    }
                }
            }
        }
    }
    .full-content {
        transition: 0.3s;
        width: 100%;
    }
    .adjust-content {
        transition: 0.3s;
        width: 70%;
    }
    .instaCrypto-right-panel {
        height: 100%;
        border-left: 1px solid var(--border-color);

        .insta-describe-step {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            // justify-content: space-evenly;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--border-color);
                border-radius: 4px;
            }
            .describe-cover {
                height: 30%;
                width: 100%;
                border-bottom: 1px solid var(--border-color);
                position: relative;
                margin-bottom: 7vh;
                .describe-full-image {
                    width: 100%;
                    height: 100%;
                }
                .describe-floating-image {
                    height: 10vh;
                    width: 10vh;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    // border: 1px solid var(--border-color);
                    transform: translate(-50%, 50%);
                }
            }
            .describe-about {
                text-align: center;
                padding: 0 5%;
                margin-bottom: 4vh;
                p {
                    font-size: 80%;
                    margin: 0;
                }
                h6 {
                    margin: 3vh 0;
                    img {
                        margin: 0 10px;
                        height: 2.4vh;
                        cursor: pointer;
                        &:hover {
                            transition: 0.3s;
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .describe-related {
                padding: 0 10%;
                margin-bottom: 4vh;
                .describe-card {
                    height: 12vh;
                    width: 100%;
                    border: 1px solid var(--border-color);
                    display: flex;
                    .describe-card-left {
                        width: 25%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .describe-card-right {
                        width: 75%;
                        height: 100%;
                        border-left: 1px solid var(--border-color);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 8px;
                        div {
                            h6 {
                                margin: 0;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                            span {
                                font-weight: 400;
                                font-size: 70%;
                                position: relative;
                                top: -5px;
                            }
                        }
                        .learn-more {
                            font-weight: 600;
                            font-size: 70%;
                            text-decoration: underline;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }
            .describe-screenshots {
                width: 100%;
                height: 12vh;
                padding: 0 10%;
                .screenshot-wrapper {
                    width: 100%;
                    height: 100%;
                    border: 1px solid var(--border-color);
                }
            }
        }
        .insta-side-panel {
            width: 100%;
            height: 100%;
            background-color: var() --background-color;
            .insta-side-panel-header {
                height: 15%;
                border-bottom: 1px solid var(--light-border-color);
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;

                h4 {
                    img {
                        height: 5vh;
                        width: 5vh;
                    }
                }
                h6 {
                    img {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            .insta-side-panel-body {
                height: 85%;
                width: 100%;
                // padding: 0 20px;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--main-color);
                }
                .insta-path-wrapper {
                    height: 60%;
                    border: 1px solid var(--border-color);
                    margin: 2vh 0;
                    .insta-path-wrapper-body {
                        padding: 20px;
                        height: 75%;
                        border-bottom: 1px solid var(--border-color);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        img {
                            height: 75%;
                            width: 100%;
                            cursor: pointer;
                            border: 1px solid var(--border-color);
                            margin-bottom: 10px;
                        }
                    }
                    .insta-path-wrapper-bottom {
                        display: flex;
                        height: 25%;
                        div {
                            height: 100%;
                            &:nth-child(1) {
                                width: 35%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img {
                                    height: 60%;
                                    width: 60%;
                                }
                            }
                            &:nth-child(2) {
                                width: 65%;
                                border-left: 1px solid var(--border-color);
                                padding-left: 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                h5 {
                                    margin-bottom: 0;
                                    font-weight: bold;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .for-panel {
        transition: 0.3s;
        width: 30%;
    }
    .no-panel {
        transition: 0.3s;
        width: 0;
        display: none;
    }
}
@keyframes come-up {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
