@import "src/css-variables/css-variables.scss";
.price-text{
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 120%;
    color: var(--main-color);
    img{
        height: 20px !important;
    }
}
.currency-text{
    color: var(--main-color);

}