.dashboard-container{
  height: 100%; width: 100%;
  overflow-y: auto;
  overflow-x: hidden !important;
  div{
    border: 0 !important;
  }
  &::-webkit-scrollbar{
    width: 0px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 2px;
  }
  @media (max-width: 767px){
    overflow: scroll !important;
  }
  @media (max-width: 767px) {

    grid-template-columns: 100%;
    grid-template-rows: none;
    gap: 2rem 0;
    .react-grid-layout{
      height: 100vh !important;
      .react-grid-item{
        width: 100% !important;
        height: 50vh !important;
        transform: translate(0,0) !important;
        position: relative !important;
        margin-bottom: 2rem;
        div{
          border: 0 !important;
        }
      
      }
    }
  }
  div{
    border: 1px solid var(--border-color);
  }
}
.terminal-component-loading{
  height: 100%; width: 100%;
  display: flex;align-items: center;justify-content: center;
}
