// @import "src/scss-variables/all-variables";

.choose-quote-asset{
  width: 100%;height: 70%;
  border-right: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;
  .choose-quote-asset-head{
    height: 12%;width: 100%;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 80%;
    display: flex;align-items: center;
    padding: 0 4%;
  }
  .choose-quote-asset-body{
    max-height: 100%; width: 100%;
    height: 88%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
    }
    .choose-quote-asset-body-row{
      height: 25%;width: 100%;
      padding: 0 4%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-color) !important;
      span{
        display: flex;align-items: center;
        font-size: 90%;
        &:nth-child(1){
          font-weight: 500;
          img{
            min-width: 15px;
            position: relative;
            top: 1px;
            height: 2vh;
            margin-right: 5px;
          }
        }
      }
      &:hover{
        background-color: var(--solid-hover-color);
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

