.trade-tab-body-child {
    height: 100%;
    width: 100%;
    .trade-tab-body-sub-body {
        height: 100%;
        width: 100%;
        display: flex;
        
        .sub-body-list-wrapper{
            width: 100%;
            height: 100%;
            transition: 0.3s;
            .trade-tab-body-sub-header{
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 40px;
                align-items: center;
                border-bottom: 1px solid var(--border-color) !important;
                span{
                    &:nth-child(1){
                        width: 50%;
                    }
                    font-size: 75%;
                    font-weight: 600;
                    input{
                        width: 45%;
                        border: 0;
                        font-size: 120%;
                    }
                    img{
                        height: 15px;
                        padding: 2px;
                        margin-left: 10px;
                    }
                }
            }
            .tab-list-wrapper{
                height: calc(100% - 40px);
                width: 100%;
            }
            

        }

        .list-adjust{
            width: calc((200%/3));
            transition: 0.3s;
        }
        .sub-body-dashboard-wrapper{
            width: 0;
            height: 100%;
            transition: 0.3s;
        }
        .dashboard-adjust{
            border-left: 1px solid var(--border-color) !important;
            width: calc(100%/3);
            height: 100%;
            transition: 0.3s;

        }
    }
}
