@import "src/css-variables/css-variables.scss";
.switch-main{
    height: 16px;
    width: 35px;
    cursor: pointer;
    border: 1px solid var(--gray-color);
    border-radius: 8px;
    position: relative;
    margin:0 1rem;
    .switch-ball{
        height:12px;
        width: 12px;
    }
    div{
        width: 16px;border-radius: 50px;
        background-color: var(--background-color);

        position: absolute;
        font-weight: 600;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #626262;
    }
}
.off{
    background-color: var(--background-color);
    div{
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--main-color)
    }
}
.on{
    background-color: var(--background-color);
    div{
    right: 2px !important;
    top: 50%;
    transform: translateY(-50%);
    color:  var(--background-color);
    background: var(--main-color)
    }
}