@import "src/css-variables/css-variables.scss";
.deposit-withdraw-main{
    display: flex;
    height: 100%;

    .main-left{
        width: 33.5%;
        height: 100%;
        border-right: 1px solid var(--border-color);
        .selected-type{
            background-color: var(--border-color);
            
        }
        div{
            &:nth-child(3){
                opacity: 0.35;
            }
            height: calc(100%/3);
            width: 100%;
            cursor: pointer;
            display: flex;
            // justify-content: center;
            align-items: center;
            padding-left: 20%;
            h6{
                margin-bottom: 0;
                font-weight: 500;
                img{
                    height: 1.1rem;
                    margin-right: 1rem;
                }
            }
        }
    }
    .main-right{
        width: 66.5%;
        height: 100%;
    }
}