@import "src/css-variables/css-variables.scss";
.trade-direction{
    width: 100%;
    height: 100%;
    .trade-direction-row{
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        border-bottom: 1px solid var(--border-color);
        cursor: pointer;
        &:hover{
            background-color: rgba(24,37,66,0.1);
        }

    }
}