.terminal-profile{
  height: 100%; width: 100%;
  overflow: hidden;
  .terminal-profile-header{
    height: 11%; width: 100%;
    display: flex;
    button{
      flex: 1;
      border: 0;
      height: 100%;
      color: white;
      outline: none;
      &:hover{
        cursor: pointer;
      }
      &:nth-child(1){
        background-color: rgba(70,75,78,0.9);
        &:hover{
          background-color: rgba(70,75,78,1);
        }
      }
      &:nth-child(2){
        background-color: rgba(140,144,245,0.9);
        &:hover{
          background-color: rgba(140,144,245,1);
        }
      }
      &:nth-child(3){
        background-color: rgba(144,228,162,0.9);
        &:hover{
          background-color: rgba(144,228,162,1);

        }
      }
    }
    .selected{
      font-size: 100%;
      font-weight: 600;

      @media (max-width: 767px){
        font-size: 100%;
      }
    }
  }
  .terminal-profile-body{
    border-right: 1px solid #E5E5E5 !important;
    border-left: 1px solid #E5E5E5 !important;
    height: 79%; width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      height: 50vh;
    }
    .chartjs-size-monitor{
      .chartjs-render-monitor{
        height: 430px !important;
        width: 210px !important;
      }
    }
    .terminal-amount{
      text-align: center;
      position: absolute;
      top: 50%;left: 50%;
      transform: translate(-50%, -50%);
      p{
        color: #6c6c6c;
      }
      h5{
        color: #186AB4;
      }
    }

  }
  .terminal-body-footer{
    height: 10%; width: 100%;
    background-color: #464b4e;
  }
}
