@import "src/css-variables/css-variables.scss";

.trade-tab-header{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);

}
.trade-tab-body{
    height: calc(100% - 120px);
    width: 100%;

}
.extend__height{
    height: calc(100% - 70px);

}
.trade-tab-footer{
    height: 50px;
    width: 100%;
    background-color: var(--light-border-color);
    &:hover{
        background-color: var(--border-color);
        border-top: 1px solid var(--text-color);
        img{
            transition: 0.3s;
            transform: scale(1.15);
        }

    }

}