@import "src/css-variables/css-variables.scss";
.pagination{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .selected{
        background-color: var(--main-color);
        color: var(--background-color);

    }
    button{
        outline: none;
        height: 24px;
        min-width: 24px;
        font-size: 75%;
        background-color: transparent;
        border: 1px solid var(--border-color);
        color: var(--main-color);
        border-radius: 4px;
        margin: 0 5px;

    }
}