@import "src/css-variables/css-variables.scss";
.header-options{
    display: flex;
    height: 100%;
    button{
        outline: none !important;
        width: calc(100%/3);
        @include removeDefault;
        background-color: transparent;
        &:nth-child(2){
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            img{
                height: 0.9rem;
                margin-left: 1rem;
            }
        }
    }
    .initial-page{

    }
    .selected{
        font-weight: 600;
    }
    .not-selected{
        opacity: 0.5;
    }
}