.trade-tab-header-child {
    display: flex;
    height: 100%;
    display: flex;
    &:nth-child(1) {
        border-bottom: 1px solid var(--border-color) !important;
    }

    .header-block {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:nth-child(2) {
            border-left: 1px solid var(--border-color) !important;
            border-right: 1px solid var(--border-color) !important;
        }
        h6 {
            font-size: 90%;
            img {
                height: 20px;
                margin-right: 6px;
            }
        }
    }
    .current-block {
        h6 {
            font-weight: 600;
            
        }
    }
    .opaque-block {
        opacity: 0.5;
    }
}
