.ew-step-three{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input{
        background-color: transparent;
        border: 0;
        text-align: center;
        width: 60%;
        font-size: 150%;
    }
    div{
        margin-top: 2rem;
        width: 100%;
        text-align: center;
        button{
            width: 17%;
            margin: 0 10px;
            background-color: transparent;
            border: 1px solid #E5E5E5;
            font-size: 70%;
            padding: 8px 0;
            &:hover{
                border: 1px solid #c3c3c3;

            }
        }
    }

}