.transact-add-main {
    height: calc(100%);
    width: 100%;
    background-color: var(--background-color);
    .transaction-add-methods {
        width: 100%;
        height: 100%;
        padding: 20px;
        position: relative;
        .transaction-add-method-overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            background-color: var(--background-color);
            animation: 0.3s modal-view-tam 1 linear;
            .tam-overlay-cancel {
                position: absolute;
                top: 4%;
                right: 4%;
                transform: rotate(45deg);
                cursor: pointer;
            }
            div {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                    // padding: 5px 20px;
                    padding: 4px 0;
                    margin-top: 4vh;
                    font-weight: 500;
                    font-size: 80%;
                    width: 150px;
                    &:hover {
                        border: 1px solid var(--main-color);
                        font-weight: 600;
                    }
                }
            }
        }
        .tam-header {
            width: 100%;
            height: 80px;
            border: 1px solid var(--light-border-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 3vh;
            span {
                font-size: 90%;
                img {
                    height: 20px;
                    margin-right: 5px;
                }
                &:nth-child(2) {
                    font-weight: 400;
                }
            }
        }
        .tam-body {
            height: calc(100% - 80px);
            overflow: auto;
            padding-bottom: 5vh !important;
            &::-webkit-scrollbar{
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--border-color);
            }
            .transact-add-done {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: auto;
                h5{
                    margin-bottom: 10px;
                    height: auto !important;
                    font-size: 160%;
                    font-weight: 600;
                }
                .transact-add-next-list {
                    div {
                        display: flex;
                        align-items: center;
                        margin-bottom: 3vh;
                        button {
                            height: 6vh;
                            width: 6vh;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: black;
                            border: 1px solid var(--border-color);
                            margin-right: 10px;
                            border-radius: 4px;
                            img {
                                // height: 40%;
                                width: 60%;
                            }
                        }
                        h5 {
                            margin-bottom: 0;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .coin-address-wrapper {
                width: 100%;
                // height: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: space-between;
                align-items: flex-start;
                padding-bottom: 20px;                // overflow: auto;
                .step-or-wrapper{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 2vh 0;
                }
                .step-card {
                    margin-bottom: 4vh;
                    div {
                        h4 {
                            font-weight: 600;
                            margin-bottom: 10px;
                        }
                        span {
                            font-size: 70%;
                            white-space: normal;
                            font-weight: 400;
                        }
                        margin-bottom: 3vh;
                    }
                    h6 {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        border: 1px solid var(--border-color);
                        padding: 7px 20px;
                        position: relative;
                        input {
                            border: 0;
                            width: 70%;
                        }
                        img {
                            height: 20px;
                            width: 20px;
                            cursor: pointer;
                        }
                        .cancel-image{
                            transform: rotate(45deg);
                        }
                        p{
                            position: absolute;
                            top: 120%;
                            right: 10%;
                            background-color: #212121;
                            color: white;
                            font-size: 85%;
                            padding: 3px 10px;
                            border-radius: 4px;
                        }
                    }
                }
                button {
                    border: 0;
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                    padding: 5px 20px;
                    font-size: 85%;
                    font-weight: 600;
                    margin: 2vh 0;
                    &:disabled {
                        opacity: 0.25;
                    }
                }
            }
            .method-title {
                font-size: 85%;
                text-decoration: underline;
                margin-bottom: 1rem;
            }
            .tam-methods-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 8.5vh;
                div {
                    height: 100%;
                    width: 23%;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    align-items: center;
                    padding: 5px;
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                    span {
                        margin-top: 10px;
                        font-size: 60%;
                        font-weight: 500;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        text-align: center;
                    }
                }
                .disable {
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
    }
    .transact-add-select {
        width: 100%;
        height: 100%;
        padding-top: 3vh;
        .option-wrapper {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 3vh 0;
            h6 {
                padding: 0 20px;
            }

            .transact-search-box {
                padding: 0 20px;
                h6 {
                    font-size: 100%;
                    font-weight: 500;
                    text-decoration: underline;
                    margin-bottom: 0;
                    padding: 0;
                }
                input {
                    margin: 2vh 0;
                    width: 100%;
                    border: 1px solid var(--border-color);
                    font-size: 85%;
                    padding: 5px;
                }
            }
            .options-row {
                height: auto;
                display: flex;
                margin: 0 20px;
                // justify-content: space-between;
                white-space: nowrap;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    height: 0px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--main-color);
                    border-radius: 5px;
                }
                div {
                    height: 10vh !important;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid var(--border-color);
                    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                    // border-radius: 5px;
                    padding: 0 7px;
                    // width: 22%;
                    height: 100%;
                    min-width: 22%;
                    flex: none;
                    margin: 0 5px;
                    &:hover,img{
                        span{
                            transition: 0.3s;
                            font-weight: 600;
                            transform: scale(1.12)
                        }
                    }
                    img {
                        height: 40%;
                    }
                    span {
                        font-weight: 500;
                    }
                }
                .selected {
                    background-color: transparent !important;
                    border: 1px solid var(--main-color);
                    span {
                        color: var(--text-color);
                    }
                }
                .disable {
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
        .increase-height {
            height: auto;
            .options-row {
                height: 40%;
            }
        }
    }
}

@keyframes modal-view-tam {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}
