.transaction-add-coin-details{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    .t-a-c-d-title{
        height: 17%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--light-border-color);
        h4{
            margin-bottom: 0;
            font-weight: 700;
            color: var(--text-color);
            // font-size: 3.3vh;
        }
        img{
            height: 3.3vh;
            margin-right: 10px;
        }
    }
    .t-a-c-d-market{
        height: 22%;
        border-bottom: 1px solid var(--light-border-color);
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        overflow-x: auto;
        &::-webkit-scrollbar{
            height: 0;
        }
        div{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            flex: none;
            h3{
                margin-bottom: 0;
                position: relative !important;
                font-size: 3.3vh;
                font-weight: bold;
                span{
                    position: absolute;
                    font-size:40%;
                    font-weight: 400;
                    top: 102%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                // &:nth-child(2){
                //     span{
                //         left: auto;
                //         right: 0 !important;
                //     }
                // }
            }

        }
    }
    .t-a-c-d-list{
        display: flex;
        flex-direction: column;
        height: 61%;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 0;
        }
        h6{
            padding: 2vh 0;
            margin: 0;
            font-weight: 600;
        }
        div{
            display: flex;
            align-items: center;
            border: 1px solid var(--light-border-color);
            border-left: 0;
            border-right: 0;
            margin-bottom: 2vh;
            padding: 2vh 0;
            cursor: pointer;
            &:hover{
                h6{
                    opacity: 1;
                }
                border: 1px solid var(--text-color);
                border-left: 0;
                border-right: 0;
            }
            h6{
                opacity: 0.7;
                font-size: 95%;
            }
            img{
                margin-right: 10px;

            }
        }
        .disable-it{
            opacity: 0.25;
            pointer-events: none;
        }
    }


}