.transaction-history{
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5 !important;
  .transaction-history-header{
    height: 10%;
    width: 100%;
    background-color: #464b4e;
    display: flex;
    justify-content: center;
    align-items: center;
    h6{
      color: white;
      margin-bottom: 0;
    }

  }
  .transaction-history-body{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .history-table-header{
      height: 10%; width: 100%;
      background-color: #E5E5E5;
      //display: none;
      display: flex;
      div{
        width: calc(100%/6);
        display: flex;
        align-items: center;
        padding: 10px;
      }
    }
    .history-table-body{
      width: 100%;
      max-height: 100%;
      min-height: 90%;
      overflow: scroll;
      &::-webkit-scrollbar{
        width: 2px
      }
      &::-webkit-scrollbar-thumb{
        background-color: #464b4e;
      }
      .table-row-container{
        width: 100%;
        height: 12%;
        border-bottom: 1px solid #E5E5E5 !important;
        display: flex;
        div{
          width: calc(100%/6);
          display: flex;
          align-items: center;
          padding: 10px;
        }
      }
      .table-row-container-small{
        .arrow-down{
          position: absolute;
          top: 2.5vh;
          left: 10px;
          transform: translateY(-50%) scale(2);
          &:hover{
            cursor: pointer;
          }
        }
        .no{
          transform: scale(2) rotate(270deg);
        }
        width: 100%;
        height: auto;
        border-bottom: 1px solid #E5E5E5 !important;
        display: flex;
        flex-wrap: wrap;
        div{
          height: 5vh;
          width: 100%;
          display: flex;
          align-items: center;
          h6{
            width: 50%;
            margin-bottom: 0;
            font-size: 100%;
            font-weight: 400;
            &:nth-child(1){
              color: #8D8E9B;
              font-weight: 400;
              font-size: 80%;
            }
          }
        }
        .drop-down-active{
          border-bottom: 1px solid #E5E5E5 !important;
          padding-left: 4%;
          &:nth-child(2){
            padding-left: 10%;
          }
        }
        .drop-down-disabled{
          padding-left: 10%;
          &:nth-child(6),&:nth-child(5),&:nth-child(4),&:nth-child(3),&:nth-child(7){
            display: none;
          }
          &:nth-child(2){
            display: flex;
          }

        }
      }

    }
  }
}
