@import "src/css-variables/css-variables.scss";
.analytics-main{
    width: 100%;
    height: 92%;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    .analytics-main-top{
        width: 100%;
        height: 55%;
        // border: 1px solid $border-color;
    }
    .analytics-main-bottom{
        width: 100%;
        // height: 45%;
        // border: 1px solid $border-color;
        margin-top: 2rem;
        .analytics-header{
            height: 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            span{
                color: $gray-color;
                font-weight: 500;
                padding: 0 20px;
            }
            .selected{
                font-weight: 600;
                border-bottom: 1px solid $gray-color;
            }
        }
    }
    
}