@import "src/css-variables/css-variables.scss";

.asset-section-main {
    height: 170px;
    border-bottom: 1px solid var(--border-color);
    padding: 0 5%;
    display: flex;
    padding-right: 0;
    align-items: center;
    @media (min-width: 1600px) {
        height: 200px;
    }

    button {
        position: absolute;
        outline: none !important;
        right: 2%;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid var(--gray-color);
        border-radius: 50%;
        img {
            transform: rotate(90deg);
        }
    }
    .asset-section-left {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        .a-s-f-wrapper{
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            img{
                height: 45%;
            }
            div{
                width: 60%;
                border: 1px solid var(--border-color);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                border-radius: 3px;
                input{
                    border: 0;
                }
                img{
                    height: 60%;
                }
            }
        }
    }
    .asset-section-right {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        overflow: hidden;
        .select-asset-text {
            position: absolute;
            bottom: 1%;
            left: 0;
            font-size: 85%;
            color: var(--gray-color);
        }
        &:hover {
            .coin-move-right {
                display: flex !important;
            }
            .coin-move-left {
                display: flex !important;
            }
        }

        .coin-move-left {
            position: absolute;

            z-index: 1;
            cursor: pointer;
            height: 100%;
            width: 40px;
            background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
            display: none;
            justify-content: center;
            align-items: center;
            // opacity: 0;
            transition: 0, 3s;
            &:hover {
                background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
                opacity: 1;
                transition: 0, 3s;
            }
            img {
                height: 70px;
                filter: invert(1);
                transform: scale(0.6);
            }
        }
        .coin-move-right {
            display: none;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            right: 0;
            height: 100%;
            width: 40px;
            background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
            // display: flex;
            justify-content: center;
            align-items: center;
            // opacity: 0;
            transition: 0, 3s;
            &:hover {
                background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
                opacity: 1;
                transition: 0.3s;
            }
            img {
                height: 70px;
                // width: 25px;
                filter: invert(1);
                transform: rotate(0deg) scale(0.6);
            }
        }

        .asset-collapse-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            // flex-wrap: nowrap;
            // border: 1px solid blue;
            // justify-content: space-between;
            overflow: auto;
            &::-webkit-scrollbar {
                height: 0;
            }

            .asset-wrapper {
                width: 26.3%;
                height: 100%;
                flex: none !important;
                display: flex;
                // justify-content: center;
                align-items: center;
                // border: 1px solid red;
                .asset-wrapper-child {
                    cursor: pointer;
                    width: 80%;
                    height: 60%;
                    border: 1px solid var(--border-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 10%;
                    opacity: 0.25;
                    &:hover {
                        opacity: 0.75;
                        h5 {
                            transform: scale(1.1); 
                            transition: 0.3s;
                            img{
                                transition: 0.3s;
                                transform: scale(1.2) rotate(360deg);
                            }
                        }
                    }
                    h5 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 0;
                        transition: 0.3s;
                        img {
                            transition: 0.3s;
                            height: 20px;
                            margin-right: 5px;
                        }
                        .asset-value {
                            font-size: 100%;
                        }
                    }
                    p {
                        margin: 0;
                        width: 100%;
                        text-align: right;
                        font-size: 70%;
                        font-weight: 600;
                    }
                }
                .selected-asset {
                    border: 1px solid var(--main-color);
                    opacity: 1;
                }
            }
            .asset-wrapper__collapse {
                width: 35.5%;
            }
            .market-value-wrapper {
                width: calc(100% / 3);
                height: 100%;
                // border: 1px solid red;
                display: flex;
                // flex-direction: column;
                justify-content: center;
                align-items: center;
                .market-value {
                    cursor: pointer;
                    margin-bottom: 0;
                    font-weight: 600;
                    position: relative;
                    font-size: 180%;
                    color: var(--text-color);

                    .market-text {
                        font-size: 40%;
                        font-weight: 400;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        padding: 2px 0;
                        padding: 2px 5px;
                    }
                }
                &:hover {
                    .market-value {
                        transform: scale(1.1);
                        transition: 0.3s;
                        .market-text {
                            background-color: var(--main-color);
                            color: var(--background-color);
                        }
                    }
                }
            }
            .market-value-wrapper__collapse {
                width: 50%;
            }
            .market__selected {
                .market-text {
                    background-color: var(--main-color);
                    color: var(--background-color);
                }
            }
        }
        .asset-collapse-wrapper__collapse {
            width: 100%;
        }
    }
}
