.asset-classes-main{
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding-right: 4%;
    overflow: auto;
    &::-webkit-scrollbar{
        height: 0;
    }
    button{
        height: 54%;
        // padding: 0 20px;
        width: 22%;

        margin-right: 5.2%;
        background-color: transparent;
        border: 1px solid var(--border-color);
        opacity: 0.5;
        flex: none;
        img{
            height: 50%;
        }
        &:hover{
            transition: 0.3s;
            opacity: 0.85;
            transform: scale(1.1);
        }
    }
    .selected-asset{
        opacity: 1;
        border: 1px solid var(--main-color);

    }
}