.chart-and-exchange-main {
    transition: 0.3s;
    width: 50%;
    height: 100%;
    border: 1px solid var(--border-color);
    border-left: 0;
    .chart-exchange-header {
        height: 10%;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        h6 {
            width: calc(100% / 3);
            margin-bottom: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 90%;
            cursor: pointer;
            opacity: 0.5;
        }
    }
    .selected-header {
        opacity: 1 !important;
        font-weight: 600;
        border-bottom: 2px solid var(--main-color);
    }
    .chart-exchange-body {
        height: 90%;
        width: 100%;
        .analytics-chart {
            width: 100%;
            height: 100%;
            // padding: 5%;
            position: relative;
            .chart-overlay {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 2;
                background-color: var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .pairs-component{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5% 10%;
            padding-bottom: 0;
            h5{
                margin: 0;
            }
            .pairs-input{
                height: 40px;
                width: 100%;
                border: 1px solid var(--border-color);
                padding-left: 2%;
                input{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 0;
                }

            }
            .coin-list-to-pair{
                height: 65%;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0;
                }
                div{
                    display: flex;
                    height: 38%;
                    border: 1px solid var(--border-color);
                    align-items: center;
                    padding: 0 5%;
                    margin-bottom: 2vh;
                    cursor: pointer;
                    &:hover{
                        background-color: var(--border-color);
                    }
                    img{
                        margin-right: 10px;
                    }
                    h6{
                        margin-bottom: 0;
                    }

                }
            }
        }
        .analytics-exchange {
            width: 100%;
            height: 100%;
            .analytics-exchange-header {
                height: 50px;
                width: 100%;
                // border: 1px solid red;
                display: flex;
                align-items: center;
                padding: 0 5%;
                span {
                    font-weight: 500;
                    font-size: 95%;
                }
            }
            .analytics-exchange-body {
                width: 100%;
                height: calc(100% - 50px);
                padding: 0 5%;
                .analytics-right-row {
                    height: 25%;
                    width: 100%;
                    margin-bottom: 2vh;
                    border: 1px solid var(--border-color);
                }
                .loading {
                    background-color: #f1f1f1 !important;
                    animation: glow-dim 1.5s infinite;
                    border: 0;
                }
            }
        }
    }
}
