.ledger-main{
    padding:5.5vh 0% !important;
    padding-right: 5% !important;
    padding-left: 5% !important;
    // padding-bottom: 3.0% !important;
    width: 100%;
    height: 100%;
    display: flex;
    // border: 1px solid red;
    // padding-bottom: 0;
    // .ledger-pagination{
    //     height: 8%;
    //     width: 100%;

    // }

}
.compress__width{
    width: 99%;
}