@import "src/css-variables/css-variables.scss";
.ledger-table{
    height: 10%;
    width: 100%;
    border: 1px solid var(--border-color);
    // animation: come-big 0.3s 1 linear;
    // overflow: hidden;
    .ledger-table-header{
        height: 100%; width: 100%;
        // padding-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // .wrapper{
        //     height: 100%;
            // padding-left: 3%;
        .header-first-child{
            // padding-right: 20px;
            padding-left: 4vh;
            cursor: pointer;
            border-right: 1px solid var(--border-color);
            height: 100%;
        
            margin-bottom: 0;
            width: 30%;
            span{
                font-size: 100%;
            }
            // padding-right: 20px;


        }
        .header-second-child{
            // width: 73%;
            display: flex;
            width: 40%;
            height: 100%;
            .tab-header{
                min-width: 25%;
                border-right: 1px solid var(--border-color);
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                // padding: 0 20px !important;
                position: relative;
            }

        }
    // }
        .header-third-child{
            white-space: nowrap;
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: 400;
            font-size: 85%;
            padding-right: 20px;
            margin-bottom: 0;
            border-left: 1px solid var(--border-color);
            color: var(--main-color)

        }
    }
}