@import "src/css-variables/css-variables.scss";
    .ledger-table-sub-header{
        height: 6%; width: 100%;
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        display: flex;
        padding: 0 40px;
        align-items: center;
        animation: opacity-change 0.3s 1 linear;
        background-color: var(--main-color);
        span{
            width: calc(40% / 3);
            font-size: 75%;
            text-align: right;
            font-weight: 600;
            color: var(--background-color);
            &:nth-child(2){
                width: 20%;
                text-align: left;
            }
            &:nth-child(1){
                width: 40%;
                text-align: left;
            }
        }
    }
    .ledger-table-sub-header-iced{
        height: 6%; width: 100%;
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        display: flex;
        padding: 0 40px;
        align-items: center;
        animation: opacity-change 0.3s 1 linear;
        background-color: var(--main-color);
        span{
            width: calc(40%/3);
            font-size: 75%;
            text-align: right;
            font-weight: 600;
            color: var(--background-color);
            &:nth-child(1){
                width: 35%;
                text-align: left;
            }
            &:nth-child(2){
                width: 25%;
                text-align: left;
            }
        }

    }
    .ledger-table-sub-header-market{
        height: 6%; width: 100%;
        border-bottom: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        display: flex;
        padding: 0 40px;
        align-items: center;
        animation: opacity-change 0.3s 1 linear;
        span{
            width: calc(50%/3);
            font-size: 75%;
            text-align: right;
            font-weight: 600;
            color: var(--gray-color);
            &:nth-child(1){
                width: 50%;
                text-align: left;
            }
        }

    }
    .ledger-table-body{
        height: 86%; width: 100%;
        border-bottom: 1px solid  var(--border-color);
        border-left: 1px solid  var(--border-color);
        border-right: 1px solid  var(--border-color);
        overflow-y: hidden;
        animation: opacity-change 0.3s 1 linear;
        display: flex;

    }