@import "src/css-variables/css-variables.scss";
.ledger-wrapper{
    width: 100%;
    height: 92%;
    .ledger-pagination{
        height: 8%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 40px;
        .pagination-wrapper{
            height: 100%;
            width: 50%;
        }
    }
    
}