@import "src/css-variables/css-variables.scss";
.content-navbar {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    padding-right: 0;
    position: relative;
    .theme-switch {
        position: absolute;
        right: 10px;
    }
    .title-wrapper {
        width: 28%;
        display: flex;
        height: 100%;
        align-items: center;
        .title-wrapper-pic {
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid var(--main-color);
                cursor: pointer;
                overflow: hidden;
                margin-right: 15px;
                &:hover {
                    transition: 0.3s;
                    transform: scale(1.2);
                }
            }
            position: relative;
            p {
                display: none;
                position: absolute;
                top: 125%;
                // left: -32%;
                background-color: var(--background-color);
                border: 1px solid var(--main-color);
                font-weight: 600;
                padding: 3px 5px;
                font-size: 85%;
                z-index: 4;
                white-space: nowrap;
            }
            &:hover {
                p {
                    display: block;
                }
            }
        }
        .title-wrapper-text {
            width: calc(100% - 50px);
            h3 {
                margin-top: 3px;
                margin-bottom: 0;
                font-weight: bold;
                color: var(--text-color);
                width: 80%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            span {
                position: relative;
                cursor: text;
                font-size: 100%;
                top: -3px;
                font-weight: 400;
            }
        }
    }

    .navbar-right {
        width: calc(30% + 50px);
        height: 100%;
        display: flex;
        align-items: center;
        // overflow: hidden;
        position: relative !important;
        &:hover {
            .right-layer {
                // display: flex !important;
            }
            .left-layer {
                // display: flex !important;
            }
        }
        .right-layer {
            position: absolute;
            cursor: pointer;
            width: 40px;
            z-index: 1;
            height: 100%;
            right: 0;
            background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
            display: none;
            justify-content: center;
            align-items: center;
            // opacity: 0;
            transition: 0, 3s;
            &:hover {
                background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
                opacity: 1;
                transition: 0, 3s;
            }
            img {
                filter: invert(1);
                transform: rotate(0deg) scale(0.4);
            }
        }
        .left-layer {
            position: absolute;
            cursor: pointer;
            z-index: 1;
            width: 40px;
            height: 100%;
            left: 0;
            background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
            display: none;
            justify-content: center;
            align-items: center;
            // opacity: 0;
            transition: 0, 3s;
            &:hover {
                background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
                opacity: 1;
                transition: 0, 3s;
            }
            img {
                filter: invert(1);
                transform: rotate(180deg) scale(0.4);
            }
        }
        .full-menu {
            // padding-right: 46.5%;
            button {
                width: 22% !important;
            }
        }
        .navbar-asset-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // overflow-x: scroll;
            overflow-y: visible !important;

            &::-webkit-scrollbar {
                width: 0;
                height: 0px;
                position: absolute;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #f1f1f1;
                cursor: pointer !important;
            }
            // justify-content: space-between;
            .not-selected-asset {
                opacity: 0.35;
                transition: 0.5s;
            }
            .navbar-terms {
                outline: none;
                height: 55%;
                width: 18%;
                flex: none;
                opacity: 0.25;
                // margin-right: 5%;
                background-color: var(--background-color);
                border: 1px solid var(--border-color);
                color: var(--main-color);
                transition: 0.3s;
                animation: come-big 0.3s linear;
                white-space: nowrap;
                // overflow: hidden;
                padding: 0;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                cursor: pointer;
                img {
                    // margin-right: 5px;
                    height: 50%;
                    // width: 15px;
                    // position: relative;
                    // top: -1px;
                    z-index: 0;
                }
                &:nth-child(5) {
                    // display: none;
                }
                &:hover {
                    opacity: 1;
                    img {
                        transition: 0.3s;
                        transform: scale(1.07);
                    }
                }
                .more-info {
                    position: absolute;
                    width: 150%;
                    // height: 370%;
                    background-color: white;
                    z-index: 2;
                    top: 150%;
                    span {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -100%);
                        width: 0;
                        height: 0;
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;

                        border-bottom: 12px solid white;
                    }
                    .more-info-body {
                        // height: 80%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        word-wrap: break-word;
                        white-space: normal !important;
                        font-size: 85%;
                        padding: 10% 8%;
                        text-align: center;
                    }
                    .more-info-footer {
                        // height: 20%;
                        width: 100%;
                        background-color: var(--main-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--background-color);
                        padding: 6px 0;
                        font-weight: 600;
                    }
                }
            }
            .selected-asset {
                opacity: 1;
            }

            .your-brand {
                background-color: var(--main-color);
                color: var(--background-color);
                white-space: normal;
                font-size: 75% !important;
                line-height: 1rem;
                font-weight: 600;
            }
        }
    }
    .extra-width{
        width: 70%;
    }
}
@keyframes come-big {
    from {
        transform: scale(0.8);
        opacity: 0.4;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
