@import "src/css-variables/css-variables.scss";

.height-none{
    height: 0 !important;
    overflow: hidden;
    animation: 0.5s opacity-down linear 1;
}
.height-full{
    animation: 0.5s opacity-up linear 1;
    border-bottom: 1px solid var(--border-color);
}
.net-worth-controller{
    position: relative;
    width: 100%;
    height: 208px;
    transition: 0.5s height;
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .calculate{
        outline: none;
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px 35px;
        background-color: transparent;
        border: 1px solid var(--border-color);
        border-bottom: 0;
        font-weight: 600;
        font-size: 110%;
        
        color: var(--main-color)

    }
    h5{
        margin-top: 2.5%;
        margin-bottom: 0;
        color: var(--main-color)
    }
    .options-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        &:nth-child(3){
            margin-bottom: 2.5%;

        }

        span{
            width: 10%;
            
            color: var(--main-color)
        }
        button{
            outline: none;
            background-color: transparent;
            border: 1px solid var(--border-color);
            font-size: 80%;
            margin-right: 1rem;
            padding: 4px 15px;
            color: var(--main-color)
        }
        .selected{
            border: 1px solid var(--main-color);
            font-weight: 500;
        }
    }

}
@keyframes opacity-up{
    from{opacity:0}
    to{opacity: 1}
}
@keyframes opacity-down{
    from{opacity:1}
    to{opacity: 0}
}