.terminals-navbar{
    height: 90px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    .terminals-navbar-left{
        height: 100%;
        display: flex;
        align-items: center;
        img{
            height: 40%;
        }
    }
    .terminals-navbar-right{
        height: 45px;
        width: 25%;
    }
    .t-n-r-dropdown{
        height: 45px;
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        border-radius: 4px;
        z-index: 2;
        button{
            position: absolute;
            right: 2%;
            top: 22.5px;
            transform: translateY(-50%);
            background-color: transparent;
            border: 0;
            img{
                filter: invert(1);
                height: 10px;
                width: 10px;
                transition: 0.3s;
            }
            .turn-it-down{
                transition: 0.3s;
                transform: rotate(180deg);
            }
        }
        div{
            height: 45px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 5%;
            cursor: pointer;
            &:hover{
                background-color: var(--light-border-color);
            }
            img{
                height: 20px;
                margin-right: 10px;
            }
            h6{
                margin-bottom: 0;
            }
        }
        .selected-type{
            &:hover{
                background-color: transparent;
            }

        }
        .disable{
            pointer-events: none;
            opacity: 0.25;
        }
    }
    .expand-height{
        transition: 0.3s;
        height: auto;
    }

}