.crypto-vault {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 229px);
  overflow-y: auto;
  @media (max-width: 768px) {
    height: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .card-inner {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 15px;
    }
    h2 {
      font-size: 4rem;
      span {
        color: green;
        font-size: 1.25rem;
      }
      @media (max-width: 768px) {
        font-size: 2.5rem;
        span {
          font-size: 0.8rem;
        }
      }
    }
    .main-dropdown {
      z-index: 3;
      background-color: #fff;
      padding: 5px;
      box-shadow: 0 0 5px #d9d9d9;
      right: 0;
      .country-list {
        justify-content: space-between;
        width: 120px;
      }
    }
  }
  .card-item {
    img {
      max-width: 60px;
    }
    .title {
      font-weight: bold;
      font-size: 1.4rem;
    }
    .value {
      font-size: 0.9rem;
    }
  }
  .carousel {
    .slide {
      background: transparent;
      .cc-container {
        margin-top: 25px;
        .cu-card {
          width: 292px;
          height: 190px;
          position: relative;
          border-radius: 14.5px;
          transform-style: preserve-3d;
          transition: all 0.4s linear;
          margin: 0 auto;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          img {
            width: unset !important;
          }
          .center-logo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 60px;
            max-width: 150px;
          }
          .rect {
            position: absolute;
            right: 10px;
            bottom: 10px;
            height: 25px;
            max-width: 100px;
          }
          .pay-wrap {
            right: 0;
            top: 0;
            height: 60px;
            width: 90px;
            margin-bottom: auto;
            margin-left: auto;
            .pay {
              position: absolute;
              right: 10px;
              top: 16px;
              height: 25px;
              min-width: 70px;
            }
          }
        }
        @media (max-width: 1564px) {
          .cu-card {
            width: 240px;
            height: 156px;
          }
        }
      }
      &.selected {
        .cc-container {
          margin-top: 0;
          .cu-card {
            width: 320px;
            height: 208px;
          }
          @media (max-width: 1564px) {
            .cu-card {
              width: 260px;
              height: 169px;
            }
          }
          @media (max-width: 768px) {
            .cu-card {
              max-width: 90%;
            }
          }
        }
      }
    }
  }
}
.crypto-spends {
  padding-top: 4rem;
  .donut-chart-text-value {
    display: none;
  }
  tspan.donut-chart-text-value {
    display: none;
  }
  padding-top: 3rem;

  height: calc(100vh - 229px);
  overflow-y: auto;
}
.crypto-assets {
  margin-left: 4rem;
  margin-right: 4rem;
  @media (max-width: 768px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.your-assets {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .assets-item-head {
    box-shadow: 0px 1px 4px -3px rgba(50, 50, 50, 0.75);
  }
  .assets-wrapper {
    overflow-y: auto;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    .assets-item {
      height: 62px;
      min-height: calc(20% - 0.6rem);
      flex-direction: row;
      .img-coin {
        width: 1.2rem;
        height: 1.2rem;
      }
      .title {
        font-weight: bold;
        font-size: 1.2rem;
      }
      .value {
        font-size: 1.2rem;
      }
      .img-btn {
        max-width: 50px;
      }
    }
  }
  @media (max-width: 767px) {
    flex-grow: unset;
    .assets-wrapper {
      flex-grow: unset;
      .assets-item {
        height: unset;
        flex-direction: column;
        text-align: center;
        .img-coin {
          margin-left: auto !important;
        }
        .title {
          margin-right: auto;
        }
        h4,
        h5 {
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .tab-container {
    margin: 1rem;
    display: flex;
    height: 3rem;
    flex-flow: row wrap;
    justify-content: center;
    .option {
      min-height: 47px;
      outline: none;
      text-align: center;
      font-weight: bold;
      flex: 1 1 2em;
      color: #f0f0f0;
      font-size: 16px;
      display: flex;
      align-items: center;
      z-index: 2;
      cursor: pointer;
      border: none;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &.selected {
        flex-basis: 9em;
        outline: none;
        @media (max-width: 768px) {
          flex-basis: 4em;
        }
      }
      &::before {
        content: "";
        position: relative;
        width: 1.7em;
        height: 100%;
        left: 0%;
        top: 0%;
        color: #f0f0f0;
        transform-origin: left top;
        transform: skew(-30deg, 0deg);
      }
    }
    .option--two {
      background: #EAB00C;
    }
    .option--two::before {
      background: #EAB00C;
    }
    .option--one {
      background: rgb(240, 248, 255);
      color: #EAB00C;
    }
  }
}
.QrCodeScanSecBlockWraper,
.SendPopSectionWraper {
  z-index: 99999;
}
