@import "src/css-variables/css-variables.scss";
.ew-calculator {
    height: 100%;
    width: 100%;
    position: relative;
    .submit-button {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color: var(--main-color);
        color: var(--background-color);
    }
    .wd-calculator-title {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12%;
        h5 {
            margin-bottom: 0;
            font-weight: 600;
        }
        span {
            font-size: 90%;
            font-weight: 400;
        }
    }
    .wd-calculator-body {
        height: calc(100% - 100px);
        width: 100%;
        padding: 0 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
            &:nth-child(1) {
                button {
                    margin-right: 5px;
                    @include removeDefault;
                    font-size: 70%;
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                    padding: 2px 20px;
                }
                .selected {
                    border: 1px solid var(--main-color);
                }
            }
            &:nth-child(2) {
                margin-top: 2rem;
                h6 {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0;
                    input {
                        border: 0;
                        background-color: transparent;
                    }
                    &:nth-child(1) {
                        border-bottom: 1px solid var(--main-color);
                        font-weight: 600;
                    }
                    font-weight: 500;
                }
            }
            h6 {
                margin-bottom: 0;
            }
        }
        p {
            font-weight: 600;
            text-decoration: underline;
            margin: 0;
        }
    }
}
