@import "src/css-variables/css-variables.scss";
.step-two-right{
    height: 100%;
    width: 100%;
    .step-two-right-title{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12%;
        border-bottom: 1px solid var(--border-color);
        h5{
            margin-bottom: 0;
        }
        span{
            font-weight: 400;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .step-two-right-body{
        height: calc(100% - 100px);
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--main-color);
        }
        .add-account-wrapper{
            height: 100%;
            width: 100%;
        }
        .step-two-row-wrapper{
            height: 20%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12%;
            cursor: pointer;
            &:hover{
                background-color: rgba(0,0,0,0.1);
            }
            span{
                &:nth-child(1){
                    font-weight: 400;
                    img{
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }
            

        }
    }

}