@import "src/css-variables/css-variables.scss";
.controller-main{
    width: 100%;
    height: 100%;

    .controller-header{
        height: 40px; width: 100%;
        border-bottom: 1px solid var(--border-color);
        // padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--main-color);
        span{

            padding:0 40px;
            
            color: rgba($color: var(--main-color), $alpha: 0.25);
            font-weight: 400;
            height: 100%;
            display: flex;
            align-items: center;
            opacity: 0.6;
        }
        .selected{
            opacity: 1;
            transition: 0.4s;
            font-weight: 600;
            color: var(--main-color);            
            border-bottom: 1px solid var(--main-color);
        }
    }
    .controller-body{
        height: calc(100% - 0px);
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        .display-content{
            flex: none;
            width: 100%;
            height: 100%;
            transition: 0.2s;
        }
        .hide-content{
            width: 0;
            height: 100%;
            flex-shrink: 0;
            overflow: hidden;
            transition: 0.25s;
            pointer-events: none;
            pointer-events: none;
        }

    }
}