@import "src/css-variables/css-variables.scss";
.wd-step-one {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    // padding: 5% 10%;

    .wd-step-one-title {
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12%;
        h5 {
            font-weight: 600;
            margin-bottom: 0;
        }
        span{
            font-size: 90%;
            font-weight: 400;
        }
    }
    .wd-step-one-body {
        height: calc(100% - 100px);
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        padding: 0 12%;
        overflow-y: auto;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--main-color);
        }
        .row-wrapper {
            display: flex;
            // justify-content: space-between;
            margin-bottom: 3rem;

            div {
                width: 20%;
                span {
                    height: 70px;
                    width: 70px;
                    background-color: var(--faint-dark);
                    border-radius: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // box-shadow: 2px 2px 2px #c3c3c3;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 82%;
                        height: 93%;
                        top: 12%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        // z-index: 0;
                        filter: blur(6px);
                        opacity: 90%;
                        background-color: inherit;
                        border-radius: inherit;
                    }

                    img {
                        z-index: 2;
                        height: 50%;
                    }
                    &:hover {
                        p {
                            display: block;
                        }
                    }
                    p {
                        display: none;
                        position: absolute;
                        background-color: var(--background-color);
                        color: var(--main-color);
                        top: 110%;
                        font-size: 80%;
                        border-radius: 4px;
                        z-index: 2;
                        font-weight: 500;
                        border: 1px solid var(--main-color);
                        padding: 2px 10px;
                    }
                }
            }
        }
    }
}
