.details-table-item .token-txn-name,
.details-table-item .user-name {
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .details-table-item .token-txn-name,
  .details-table-item .user-name {
    font-size: 1.6rem;
  }
}

.details-table-item .token-txn-country-icon,
.details-table-item .user-country-icon {
  height: 30px;
  width: 30px;
}

.details-table-item .token-txn-date,
.details-table-item .user-signup-date {
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .details-table-item .token-txn-date,
  .details-table-item .user-signup-date {
    font-size: 1.5rem;
  }
}

.details-table-item .token-txn-broker,
.details-table-item .user-broker-name {
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .details-table-item .token-txn-broker,
  .details-table-item .user-broker-name {
    font-size: 1.5rem;
  }
}

.details-table-item .token-txn-commission {
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .details-table-item .token-txn-commission {
    font-size: 1.6rem;
  }
}

.details-table-item .token-txn-volume {
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .details-table-item .token-txn-volume {
    font-size: 1.6rem;
  }
}

.details-table-item .date-indirect-otc,
.details-table-item .coin-indirect-otc,
.details-table-item .broker-indirect-otc,
.details-table-item .name-indirect-otc,
.details-table-item .commission-indirect-otc {
  font-size: 0.95rem;
}

@media (min-width: 1600px) {
  .details-table-item .date-indirect-otc,
  .details-table-item .coin-indirect-otc,
  .details-table-item .broker-indirect-otc,
  .details-table-item .name-indirect-otc,
  .details-table-item .commission-indirect-otc {
    font-size: 1.3rem;
  }
}
