.handle-funds {
    display: flex;
    height: 100%;
    .handle-funds-sidebar {
        height: 100%;
        border-right: 1px solid var(--light-border-color);
    }
    .normal-sidebar {
        width: 20%;
        transition: 0.3s;
    }
    .compressed-sidebar {
        width: 8%;
        transition: 0.3s;
        .funds-sidebar-body{
            // background-color: blue ;
            div{
                justify-content: center;
                padding: 0;
            }
        }
    }
    .handle-funds-dashboard {
        height: 100%;
        transition: 0.3s;
    }
    .normal-dashboard {
        width: 80%;
        transition: 0.3s;
    }
    .expand-dashboard {
        width: 92%;
        transition: 0.3s;
    }
}
