.update-bio-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    padding: 5%;
    img{
        height: 20px;
    }
    .update-bio-main-form{
        h5{
            font-weight: bold;
            margin-bottom: 5vh;
        }
        div{
            width: 100%;
            margin-bottom: 3vh;
            &:nth-child(2){
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin-bottom: 5vh;
                p{
                    position: absolute;
                    color: blue;
                    cursor: pointer;
                    opacity: 1;
                    &:hover{
                        text-decoration: underline;
                    }
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            label{
                cursor: pointer;
                height: 10vh;
                width: 10vh;
                border-radius: 50%;
                overflow: hidden;
                margin: 0;
                padding: 0;
                border: 1px solid var(--border-color);
                img{
                    height: 100%;
                    width: 100%;
                }
                input{
                    display: none;
                }
            }
            p{
                margin-bottom: 1vh;
                opacity: 0.7;
            }
            input, textarea{
                width: 100%;
                resize: none;
                border: 1px solid var(--border-color);
                padding: 5px;
            }
        }


    }
    .update-bio-mai-footer{
        display: flex;
        justify-content: space-between;
        button{
            width: 45%;
            padding: 5px;
            font-size: 105%;
            font-weight: 500;
            &:nth-child(1){
                background-color: transparent;
                border: 1px solid var(--border-color);
            }
            &:nth-child(2){
                background-color: var(--main-color);
                border: 0;
                color: white;
            }
            &:disabled{
                opacity: 0.25;
            }
        }
    }
    
}