
// .asset-section-body{
//     width: 100%;
//     height: 100%;
//     // border: 2px solid red;
//     overflow: hidden;
//     .charts-wrapper{
//         height: 100%;
//         width: 100%;
//         .chart-container{
//             cursor: pointer;
//             height: 100%;
//             width: 80%;
//             .custom-card{
//                 width: 100%;
//                 height: 100%;
//                 border: 1px solid;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 color: white;
//                 font-size: 300%;
//                 position: absolute;
//                 top: 0;
//                 left: 50%;
//                 transform: translateX(-50%);
//             }
//         }
//     }
//     #id1:checked ~ .charts-wrapper #cId1,
//     #id2:checked ~ .charts-wrapper #cId2,
//     // #id4:checked ~ .charts-wrapper #cId4,
//     #id3:checked ~ .charts-wrapper #cId3{
//         transform: translate(12%);
//         z-index: 2;
//         transition: 0.6s;
//         background-color: black;
//     }
//     #id1:checked ~ .charts-wrapper #cId2,
//     #id2:checked ~ .charts-wrapper #cId3,
//     #id3:checked ~ .charts-wrapper #cId1
//     {
//         transform: translateX(50%) scale(0.7);
//         opacity: 0.5;
//         transition: 0.6s;
//         background-color: blue;
//     }
    
//     #id1:checked ~ .charts-wrapper #cId3,
//     #id2:checked ~ .charts-wrapper #cId1,
//     // #id4:checked ~ .charts-wrapper #cId3,
//     #id3:checked ~ .charts-wrapper #cId2{
//         transform: translateX(-50%) scale(0.7);
//         transition: 0.6s;
//         // visibility: hidden;
//         background-color: red;
//     }
    
//     // #id1:checked ~ .charts-wrapper #cId3,
//     // #id2:checked ~ .charts-wrapper #cId4,
//     // #id3:checked ~ .charts-wrapper #cId1,
//     // #id4:checked ~ .charts-wrapper #cId2{
//     //     transform: translate(150%, 12%) scale(0.5);
//     //     opacity: 0.5;
//     //     transition: 0.6s;
//     //     background-color: red;

//     // }
// }