$main-color: #88C920;
$green-color: #2ea654;
$red-color: #da4040;
$gray-color: #464B4E;
$border-color: #e5e5e5;
html {
    --main-color: #88C920;
    --green-color: #2ea654;
    --red-color: #da4040;
    --gray-color: #9A9A9A;
    --border-color: #e5e5e5;
    --background-color: #ffffff;
    --hover-color: rgba(255,255,255,0.2);
    --light-gray: #272727;
    --faint: rgba(255,255,255,0.8);
    --faint-dark: #f1f1f1;
    --light-border-color: rgba(229, 229, 229, 0.5);
    --text-color: #88C920;
}
html[data-theme="dark"] {
    --main-color: #ffffff;
    --green-color: #2ea654;
    --red-color: #da4040;
    --gray-color: #9A9A9A;
    --border-color: rgba(255,255,255,0.25);
    --background-color: #182542;
    --hover-color: rgba(24,37,66, 0.2);
    --light-gray: #A3A3A3;
    --faint: rgba(255,255,255,0.2);
    --faint-dark: #212121;
    --text-color: #ffffff;
}

@mixin removeDefault {
    outline: none;
    border: 0;
}
