.skeleton-main{
    width: calc(100% - 70px);
    transition: 0.3s;
    background-color: #d9d9d9;
    .skeleton-header{
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
        animation: glow-dim 1.5s infinite;
        padding: 0 5%;
        .skeleton-header-left{
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            button{
                height: 70%;
                width: 80%;
                border: 0;
                background-color: white;
                animation: glow-dim 1.5s infinite;
            }
        }
        .skeleton-header-right{
            height: 100%;
            width: 60%;
            display: flex;
            align-items: center;
            button{
                width: 19%;
                height: 70%;
                background-color: white;
                animation: glow-dim 1.5s infinite;
                margin-right: 1%;
                border: 0;
            }

        }
    }
    .skeleton-asset-list{
        height: 166px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
        animation: glow-dim 1.5s infinite;
        padding: 0 5%;
        .skeleton-asset-list-left{
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4{
                background-color: white;
                animation: glow-dim 1.5s infinite;
                height: 20%;
                width: 100%;
            }
            span{
                background-color: white;
                animation: glow-dim 1.5s infinite;
                height: 15%;
                width: 30%;
            
            }

        }
        .skeleton-asset-list-right{
            height: 100%;
            width: 60%;
            display: flex;
            align-items: center;
            div{
                height: 50%;
                width: 19%;
                margin-right: 1%;
                background-color: white;
                animation: glow-dim 1.5s infinite;
            }


        }
    }
    .skeleton-table-section{
        width: 100%;
        height: calc(100% - 246px);
        padding: 1% 5%;
        .skeleton-table-section-header{
            background-color: white;
            animation: glow-dim 1.5s infinite;
            height: 35px;
            width: 30%;  
        }
        .skeleton-table-section-body{
            height: calc(100% - 35px);
            width: 100%;
            overflow: hidden;
            padding: 2% 0;
            div{
                width: 60%;
                height: 100%;
                background-color: white;
                animation: glow-dim 1.5s infinite;
                position: absolute;
                z-index: 2;
                &:nth-child(2){
                    transform: translate(50%, 10%) scale(0.75);
                    background-color: #f1f1f1;
                    animation: glow-dim 1.5s infinite;
                    z-index: 1;
                }
                &:nth-child(3){
                    transform: translate(100%, 20%) scale(0.5);
                    background-color: #e9e9e9;
                    animation: glow-dim 1.5s infinite;
                    z-index: 0;
                }
            }
        }

    }
}


@keyframes glow-dim{
    0%{opacity: 1;}
    50%{opacity: 0.6;}
    100%{opacity: 1;}
}