.chat-app{
  width: 100%;
  height: 100%;
  .chat-app-header{
    height: 10%; width: 100%;
    background-color: #186AB4;
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    align-items: center;
    img{
      &:hover{
        cursor: pointer;
      }
      &:nth-child(2) {
        height: 70%;
      }
    }
  }
  .chat-app-body{
    width: 100%; height: 90%;
    border-left: 1px solid #E5E5E5 !important;
    border-right: 1px solid #E5E5E5 !important;
  }

}
