@import "src/css-variables/css-variables.scss";

.analytics-withdrawal {
    display: flex;
    height: 100%;
    animation: 0.4s 1 opacity-change linear;
    div {
        width: calc(100% / 3);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h6 {
            font-size: 130%;
            font-weight: 600;
            margin-bottom: 1rem;
            color: $gray-color;
        }
        img {
            height: 35%;
        }
    }
}
@keyframes opacity-change {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
