@import "src/css-variables/css-variables.scss";
.analytics-home {
    display: flex;
    flex: 1;
    height: 100%;
    animation: 0.4s 1 opacity-change linear;
    .analytics-home-left {
        height: 100%;
        width: 50%;
        padding: 0 1%;
        padding-top: 2% !important;
    }
    .analytics-home-right {
        height: 100%;
        width: 50%;
        padding: 2%;
        color: $gray-color;
    }
}
