@import "src/css-variables/css-variables.scss";

.analytics-deposit {
    display: flex;
    height: 100%;
    animation: 0.4s 1 opacity-change linear;
}
@keyframes opacity-change {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
