@import "src/css-variables/css-variables.scss";
.trade-main-terminal{
    height: 100%;
    width: 100%;
    // border: 2px solid red;
    // padding-top: 2%;
    // padding-right: 5.8%;
    .trade-main-header{
        height: 40px;
        width: 100%;
        border: 1px solid var(--border-color) !important;

    }
    .trade-main-body{
        height: calc(100% - 40px);
        width: 100%;
        border: 1px solid var(--border-color) !important;
        border-top: 0;
    }
}