// @import "src/scss-variables/all-variables";
.exchange-countries{
  width: 100%;
  height: 100%;
  @media (max-width: 767px) {
    height: 50vh;

  }
  button{
    &:hover{
      cursor: pointer;
    }
  }
  .exchange-countries-header {
    height: 0%;
    width: 100%;
    background-color: var(--main-color);
    padding: 0 4%;
    display: flex;
    button{
      flex: 1;
      font-size: 80%;
      background-color: transparent;
      border: 0;
      outline: none;
      color: var(--bg-color);
      font-weight: 500;
      &:nth-child(1){
        text-align: left;
      }
      &:nth-child(2){
        text-align: center;
      }
      &:nth-child(3){
        text-align: right;
      }
    }
    .selected {
      font-weight: 600;
    }

  }
  .exchange-countries-body-header{
    border-bottom: 1px solid var(--border-color) !important;
    height: 20%; width: 100%;
    border-right: 1px solid var(--border-color) !important;
    border-left: 1px solid var(--border-color) !important;
    position: relative;

    .full-button{
      position: absolute;
      right: 10px;
      background-color: var(--main-color);
      color: black;
      top: 50%;
      padding: 2px;
      border-radius: 2px;
      transform: translateY(-50%);
      opacity: 0;
      &:hover{
        cursor: pointer;
      }
    }
    &:hover{
      .full-button{
        opacity: 1;
        transition: 0.5s opacity;
      }
    }
  }
  .exchange-countries-footer-hide{
    background-color: var(--main-color);
    height: 10%; width: 100%;
    padding: 0 3%;
    display: flex;
    align-items: center;
    button{
      display: none;
    }
    .back-button{
      border: 0;
      height: 50%;
      font-size: 115%;
      color: #d9d9d9;
      display: flex;align-items: center;
      justify-content: center;
      img{
        position: relative;
        top: 1px;
        margin-right: 0.7rem;
        height: 80%;
        transform: rotate(180deg);
        filter: invert(1);
      }
      &:hover{
        cursor: pointer;
      }

    }
  }
  .exchange-countries-footer{
    background-color: var(--main-color);
    height: 10%; width: 100%;
    display: flex;
    align-items: center;
    padding: 0 4%;
    @media (max-width: 767px) {
      display: block;
    }
    div{
      display: none;
    }
    .percentage-button{
      background-color: var(--rd-color) !important;
      .red{
        color: var(--red-color);
      }
      .green{
        color: var(--green-color);
      }
    }
    .terminal{
      width: 30%;
    }
    button{
      //border: 1px solid red;
      background-color: transparent;
      border: 0;
      //padding: 0;
      color: var(--bg-color);
      text-align: left;
      width: 20%;
      padding: 0 2px;
      font-size: 100%;
      font-weight: 400;

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
      &:nth-child(1){
        width: 40%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
      &:nth-child(4){
        //color: red;

        span{
          background-color: var(--red-color);
        }
      }
      &:nth-child(5){
        width: 10%;
        height: 100%;
        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

  }
}

@keyframes image1 {
  0%{opacity: 0.2}
  50%{opacity: 1}
  100%{opacity: 0.2}

}





@keyframes image1 {
  0%{opacity: 0.2}
  50%{opacity: 1}
  100%{opacity: 0.2}

}
