@import "src/css-variables/css-variables.scss";

.trade-tab-header{
    height: 50px;
    width: 100%;
    // border: 1px solid var(--red-color);

}
.trade-tab-body{
    height: calc(100% - 40px);
    width: 100%;

}
.extend__height{
    height: calc(100% - 0px);

}
.trade-tab-footer{
    height: 40px;
    width: 100%;
    background-color: var(--light-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        height: 50%;
    }

}