$main-background-color: white;
$text-color: #464b4e;
$border: #E5E5E5;
$red-color: #EF5350;
$green-color: #70C582;
$transparent-red: rgba(239, 83, 80, 0.17);
$transparent-green: rgba(112, 197, 130, 0.17);

$dark-main-background-color: #212121;
$dark-text-color: white;
$dark-border: rgba(255, 255, 255, 0.25);
$dark-transparent-blue:rgba(2, 58, 254, 0.17);

$light-blue:rgba(24, 106, 180, 0.25);
$dark-blue: #186AB4;
$transparent: transparent;
h1,h2,h3,h4,h5,h6,p,span,button{
    color: var(--main-color);
}

html{
    // --main-color:  #464B4E;
    --bg-color: #ffffff;
    // --red-color:#EF5350;
    // --green-color: #70C582;
    --transparent-red-color: rgba(239, 83, 80, 0.17);
    --transparent-green-color: rgba(112, 197, 130, 0.17);
    // --border-color: #E5E5E5;
    --transparent : transparent;
    --hover-color: rgba(0,0,0,0.1);
    --solid-hover-color: #f1f1f1;
}
html[data-theme="dark"]{
    // --main-color:  #ffffff;
    // --bg-color: #464B4E;
    // --red-color:#EF5350;
    // --green-color: #70C582;
    --transparent-red-color: rgba(239, 83, 80, 0.17);
    --transparent-green-color: rgba(112, 197, 130, 0.17);
    --border-color: #E5E5E5;
    --transparent : transparent;
    --hover-color: rgba(255, 255, 255, 0.1);
    --solid-hover-color: #212121;

}