.earnings-table{
    width: 100%;
    height: 100%;
    position: relative;
    .earnings-table-header{
        height: 10%;
        background-color: var(--main-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        position: relative;
        h6{
            margin-bottom: 0;
            color: white;
            font-size: 85%;
            width: 25%;
            text-align: left;
        }
        div{
            position: absolute;
            right: 5%;
            img{
                height: 16px;
                width: 16px;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
    .earnings-table-body{
        height: 90%;
        width: 100%;
        padding-bottom: 5%;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 0;
        }

        .earnings-table-row{
            display: flex;
            justify-content: space-between;
            align-items: center;
        padding: 0 5%;
        height: 20%;
        border-bottom: 1px solid var(--border-color);
        &:hover{
            h6{
                &:nth-child(1){
                    transition: 0.3s;
                    transform: scale(1.08);
                }
            }
        }
            h6{
                margin-bottom: 0;
                font-size: 95%;
                width: 25%;
                font-weight: 700;
                text-align: left;
                img{
                    height: 20px;
                    margin-right: 10px;
                }
            }


        }

    }
    .earnings-table-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15%;
        border-top: 1px solid var(--border-color);
        background-color: var(--background-color);
        z-index: 2;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .e-t-f-left{
            display: flex;
            align-items: center;
            h6{
                margin: 0;
                margin-right: 20px;
               opacity: 0.5; 
               font-weight: 700;
               cursor: pointer;
            }
            .selected-type{
                opacity: 1;
            }

        }
        .e-t-f-right{
            display: flex;
            align-items: center;
            h6{
                margin-bottom: 0;
                font-weight: 700;
            }
            img{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin-left: 5px;
            }
            button{
                margin-left: 10px;
                background-color: transparent;
                border: 1px solid var(--border-color);
                font-size: 80%;
                display: flex;
                align-items: center;

            }

        }
    }
}