@import "src/css-variables/css-variables.scss";
.ew-step-one{
    height: 100%;
    width: 100%;
    .ew-step-one-title{
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 12%;
        h5,p{
            margin-bottom: 0;
        }
        p{
            cursor: pointer;
            text-decoration: underline;
            
        }
    }
    .ew-step-one-body{
        height: calc(100% - 100px);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 12%;
        overflow: auto;
        .user-wrapper{
            width: 20%;
            height: 25%;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                height: 70px;
                width: 70px;
                position: relative;
                img{
                    background-color: var(--border-color);
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;

                }
                &:hover{
                    p{
                        display: block;
                    }
                }
                p{
                    position: absolute;
                    display: none;
                    top: 120%;
                    font-weight: 400;
                    background-color: var(--background-color);
                    border: 1px solid var(--main-color);
                    padding: 0px 10px;
                    margin: 0;
                }
            }
        }
    }

}