$error_red: rgb(255, 78, 78);
.saved-payment-method {
  width: 40vw;
  min-width: 628px;
  height: 100%;
  .btn-gxblue {
    color: #fff;
    background-color: #EAB00C;
    border-color: #EAB00C;
    &:hover {
      background-color: #194e86;
      border-color: #194e86;
      color: #fff;
    }
  }
  .card-inner {
    height: 114px;
    margin: 0;
    h2 {
      margin: auto;
      font-size: 3rem;
      span {
        color: green;
        font-size: 0.8rem;
      }
      @media (max-width: 768px) {
        font-size: 1rem;
        span {
          font-size: 0.6rem;
        }
      }
    }
    .main-dropdown {
      z-index: 3;
      background-color: #fff;
      padding: 5px;
      box-shadow: 0 0 5px #d9d9d9;
      right: 0;
      height: 180px;
      margin-top: 10px;
      overflow-y: auto;
      .country-list {
        justify-content: space-between;
        width: 120px;
      }
    }
  }
  .ant-tabs-nav {
    width: 100%;
    .ant-tabs-tab {
      margin: 0;
      min-width: 20%;
      padding: 0;
      padding-top: 19px;
      padding-bottom: 19px;
    }
  }
  .bottom-bar {
    background-color: white;
    position: absolute;
    padding: 15px 25px;
    border-top: 1px solid #f0f0f0;
    bottom: 0;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    @media (max-width: 768px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .flex-row {
      button {
        flex-grow: 1;
      }
    }

    // .btn-outline-darkblue {
    //   color: #EAB00C;
    //   background-color: transparent;
    //   background-image: none;
    //   border-color: #EAB00C;
    //   border-radius: 0;
    //   padding: 0;
    //   margin-bottom: 0;
    //   margin-top: 0;
    //   padding: 12px;
    //   margin-bottom: 10px;
    //   margin-top: 20px;
    //   &:hover {
    //     color: #fff;
    //     background-color: #EAB00C;
    //     border-color: #0039ff;
    //   }
    // }
    // .btn-circle {
    //   background: linear-gradient(
    //     90deg,
    //     rgba(46, 224, 136, 1) 5%,
    //     rgba(24, 154, 122, 1) 100%
    //   );
    //   height: 50px;
    //   width: 50px;
    //   border-radius: 50px;
    //   color: white;
    // }
    @media (max-width: 768px) {
      position: relative;
    }
  }

  @media (max-width: 992px) {
    width: 70vw;
  }
  @media (max-width: 768px) {
    width: 90vw;
    min-width: unset;
  }

  .flex-grow-h-0 {
    height: 0;
    @media (max-width: 992px) {
      height: unset;
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(172, 172, 172);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  .paymentSuccess {
    height: calc(100vh - 174px);
  }
  .payment_error {
    background-color: #fff;
    height: calc(100vh - 174px);
    text-align: center;
    & * {
      box-sizing: border-box;
    }
    .error__circle {
      width: 100px;
      height: 100px;
      background-color: $error_red;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      margin: 0 auto;
      font-size: 35px;
      font-family: fantasy;
      color: #fff;
    }
    .error__text {
      .error__text--lg {
        padding: 25px 0;
        font-size: 24px;
        color: $error_red;
      }
      .error__text--sm {
        color: #171717;
        font-size: 18px;
      }
    }
    .error__btn {
      display: block;
      width: 80%;
      margin: 0 auto;
      height: 45px;
      line-height: 45px;
      border: none;
      background-color: $error_red;
      text-align: center;
      color: #fff;
      text-decoration: none;
      font-family: Arial;
      margin-top: 25px;
      &:hover {
        background-color: darken($error_red, 5%);
      }
    }
  }
  .pay-wrap {
    display: none;
    .pay {
      display: none;
    }
  }
  .invoice {
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.1rem;
    }
  }
}
// .hide-pay-btn {
//   .pay-wrap {
//     display: none;
//     .pay {
//       display: none;
//     }
//   }
// }
