.ad-banner-loading {
    height: 170px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-left: 5%;
    @media (min-width: 1600px) {
        height: 200px;
    }
    &::-webkit-scrollbar {
        height: 0;
    }
    div {
        width: 20%;
        flex: none;
        height: 80%;
        border: 1px solid var(--border-color);
        margin-right: 4vh;
        background-color: var(--border-color);
        animation: glow-dim 1.5s infinite;
        
    }
}
.ad-banner-main {
    height: 170px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-left: 5%;
    @media (min-width: 1600px) {
        height: 200px;
    }
    &::-webkit-scrollbar {
        height: 0;
    }
    .single-banner {
        width: 20%;
        flex: none;
        height: 80%;
        border: 1px solid var(--border-color);
        display: flex;
        // flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        cursor: pointer;
        margin-right: 4vh;
        &:hover{
            box-shadow: 0 1px 25px rgba(0,0,0,0.1);
        }
        .single-banner-left {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h6 {
                font-weight: bold;
                &:nth-child(1){
                    margin-bottom: 10px;
                }
            }
            h6 {
                margin-bottom: 0;
                display: flex;
                align-items: center;
                button {
                    height: 25px;
                    font-size: 70%;
                    background-color: transparent;
                    border: 0px solid var(--border-color);
                    margin-right: 5px;
                    font-weight: 600;
                    white-space: nowrap;
                    padding: 0;
                    max-width: 50%;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    img {
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
        .single-banner-right{
            width: 35%;
            img{
                width: 100%;
                height: 100%;
            }

        }
    }
}
