.trade-balance{
    width: 100%;
    height: 170px;
    img{
        height: 20px;
    }
    border-bottom: 1px solid var(--border-color);
    position: relative;
    &:hover {
        .coin-move-right {
            display: flex !important;
        }
        .coin-move-left {
            display: flex !important;
        }
    }
    .coin-move-left{
        position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        height: 100%;
        width: 40px;
        background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
        display: none;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        transition: 0, 3s;
        &:hover {
            background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
            opacity: 1;
            transition: 0, 3s;
        }
        img {
            height: 70px;
            filter: invert(1);
            transform: scale(0.6);
        }

    }
    .coin-move-right{
        display: none;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
        // display: flex;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        transition: 0, 3s;
        &:hover {
            background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
            opacity: 1;
            transition: 0.3s;
        }
        img {
            height: 70px;
            // width: 25px;
            filter: invert(1);
            transform: rotate(0deg) scale(0.6);
        }

    }
    .trade-balance-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        overflow: auto;
        align-items: center;
        padding: 0 5%;
        position: relative;
        &::-webkit-scrollbar{
            height: 0;
        }
        div{
            min-width: 15%;
            width: auto;
            height: 60%;
            border: 1px solid var(--border-color);
            flex: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            margin-right: 5vh;
            opacity: 0.5;
            img{
                height: 22px;
                margin-right: 10px;
            }
            h6{
                margin-bottom: 0;
                position: relative;
                font-weight: 600;
                font-size: 140%;
                p{
                    position: absolute;
                    margin: 0;
                    font-size: 60%;
                    white-space: nowrap;
                    right: 0;
                    top: 105%;
                    font-weight: 400;

                }
            }
        }
        .selected-balance{
            opacity: 1;
            border: 1px solid var(--main-color);
        }


    }
}