.earning-details-loading {
    height: 170px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-left: 5%;
    @media (min-width: 1600px) {
        height: 200px;
    }
    &::-webkit-scrollbar {
        height: 0;
    }
    div {
        width: 17%;
        flex: none;
        height: 80%;
        border: 1px solid var(--border-color);
        margin-right: 4vh;
        background-color: var(--border-color);
        animation: glow-dim 1.5s infinite;
    }
}

.user-portfolio-balance {
    width: 100%;
    height: 170px;
    img {
        height: 20px;
    }
    border-bottom: 1px solid var(--border-color);
    position: relative;
    &:hover {
        .coin-move-right {
            display: flex !important;
        }
        .coin-move-left {
            display: flex !important;
        }
    }
    .coin-move-left {
        position: absolute;
        top: 0;
        z-index: 3;
        cursor: pointer;
        height: 100%;
        width: 40px;
        background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
        display: none;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        transition: 0, 3s;
        &:hover {
            background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
            opacity: 1;
            transition: 0, 3s;
        }
        img {
            height: 70px;
            filter: invert(1);
            transform: scale(0.6);
        }
    }
    .coin-move-right {
        display: none;
        position: absolute;
        z-index: 3;
        cursor: pointer;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        background: linear-gradient(to right, rgba(24, 37, 66, 0.2), rgba(24, 37, 66, 0.2));
        // display: flex;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        transition: 0, 3s;
        &:hover {
            background: linear-gradient(to right, rgba(24, 37, 66, 0.35), rgba(24, 37, 66, 0.35));
            opacity: 1;
            transition: 0.3s;
        }
        img {
            height: 70px;
            // width: 25px;
            filter: invert(1);
            transform: rotate(0deg) scale(0.6);
        }
    }
    .trade-balance-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: auto;
        align-items: center;
        padding: 0 5%;
        position: relative;
        &::-webkit-scrollbar {
            height: 0;
        }
        div {
            min-width: 17%;
            width: auto;
            height: 70%;
            border: 1px solid var(--border-color);
            flex: none;
            margin-right: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 2vh;
            position: absolute;
            transition: 0.3s;
            animation: come-big 0.3s linear;
            z-index: 2;
            &:first-child{
                z-index: 1;
            }
            &:last-child{
                z-index: 1;
            }
            &:last-child{
                border: 0;
                min-width: 5%;
                max-width: 5% !important;
            }
            &:hover {
                transition: 0.3s;
                transform: scale(1.1);
                p {
                    text-decoration: underline;
                }
            }
            button {
                position: absolute;
                right: 6px;
                top: 6px;
                background-color: transparent;
                border: 0;
                display: flex;
                align-items: center;
                font-weight: 700;
                img {
                    height: 15px;
                    margin-right: 5px;
                }
            }
            h4 {
                font-weight: 700;
                margin: 2px 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
            p {
                margin: 0;
                font-size: 80%;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}
