.terminal-conversion{
  width: 100%;
  height: 100%;
  .terminal-conversion-header{
    height: 11%; width: 100%;
    background-color: #464b4e;
    display: flex;
    border: 1px solid #464b4e !important;
    button{
      outline: none;
      width: 50%;
      color: #d9d9d9;
      background-color: white;
      border: 0;
    }
    .selected{
      outline: none;
      background-color: #464b4e;
      font-weight: 500;
      color: white;

    }
    &:hover{
      .full-button{
        opacity: 1;
        transition: 0.5s opacity;
      }
    }
    .full-button{
      position: absolute;
      right: 10px;
      background-color: #464b4e;
      color: black;
      top: 50%;
      padding: 2px;
      border-radius: 2px;
      transform: translateY(-50%);
      opacity: 0;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .terminal-conversion-body{
    height: 79%; width: 100%;
    border-left: 1px solid #E5E5E5 !important;
    border-right: 1px solid #E5E5E5 !important;
  }
  .terminal-conversion-footer{
    height: 10%; width: 100%;
    background-color: #464b4e;
    display: flex;
    button{
      outline: none;
      border: 0;
      width: 50%;
      background-color: transparent;
      color: white;
      &:nth-child(1){
        border-right: 1px solid white;
      }
    }
  }
  //.liquid-conversion{
  //  width: 100%;height: 100%;
  //  .liquid-conversion-body{
  //    width: 100%;height: 90%;
  //    border-bottom: 1px solid #E5E5E5;
  //    display: flex;
  //    .liquid-country-scroll{
  //      height: 100%;width: 20%;
  //      border-right: 1px solid #E5E5E5;
  //      overflow-y: scroll;
  //      &::-webkit-scrollbar{
  //        width: 4px;
  //      }
  //      &::-webkit-scrollbar-thumb{
  //        background-color: #464b4e;
  //      }
  //
  //      button{
  //        width: 100%;
  //        border: 0;
  //        padding: 1rem 0;
  //        background-color: transparent;
  //        img{
  //           width: 70%;
  //        }
  //        &:hover{
  //          cursor: pointer;
  //        }
  //      }
  //    }
  //    .liquid-main-conversion{
  //      height: 100%;width: 80%;
  //      .liquid-main-conversion-top{
  //        width: 100%; height: 20%;
  //        display: flex;
  //        align-items: flex-start;
  //        button{
  //          outline: none;
  //          height: 50%;
  //          transition: 0.6s;
  //          width: 50%;
  //          border: 0;
  //          border-right: 1px solid #E5E5E5 ;
  //          border-bottom: 2px solid #464b4e;
  //          &:hover{
  //            cursor: pointer;
  //          }
  //        }
  //        .selected{
  //          transition: 0.6s;
  //          height: 100%;
  //          font-weight: 500;
  //        }
  //      }
  //      .liquid-main-conversion-body{
  //        width: 100%; height: 80%;
  //        padding:25% 10%;
  //        display: flex;
  //        align-items: end;
  //        flex-direction: column;
  //        div{
  //          &:nth-child(1){
  //            display: flex;
  //            align-items: center; position: relative;
  //            justify-content: space-between;
  //            input{
  //              z-index: 1;
  //              width: 80%;
  //              background-color: transparent;
  //              border: 0;
  //              border-bottom: 1px solid #E5E5E5;
  //              & + span{
  //                z-index: -1;
  //                position: absolute;
  //                top: 0;
  //                transition: 0.3s;
  //              }
  //              &:valid{
  //                & + span{
  //                  font-weight: 500;
  //                  transition: 0.3s;
  //                  top: -100%;
  //                }
  //              }
  //              &:focus{
  //                & + span{
  //                  font-weight: 500;
  //                  transition: 0.3s;
  //                  top: -100%;
  //                }
  //              }
  //            }
  //            img{
  //              width: 3vh;height: 3vh;
  //            }
  //          }
  //
  //          &:nth-child(2){
  //            margin-top: auto;
  //            width: 100%;
  //            position: relative;
  //            input{
  //              z-index: 1;
  //              width: 100%;
  //              background-color: transparent;
  //              border: 0;
  //              border-bottom: 1px solid #E5E5E5;
  //              & + span{
  //                z-index: -1;
  //                transition: 0.3s;
  //                position: absolute;
  //                top: 0;
  //                left: 0;
  //              }
  //              &:valid{
  //                & + span{
  //                  font-weight: 500;
  //                  transition: 0.3s;
  //                  top: -100%;
  //                }
  //              }
  //              &:focus{
  //                & + span{
  //                  font-weight: 500;
  //                  transition: 0.3s;
  //                  top: -100%;
  //                }
  //              }
  //            }
  //          }
  //        }
  //
  //      }
  //
  //    }
  //  }
  //  .liquid-conversion-footer{
  //    width: 100%;height: 10%;
  //    display: flex;
  //    button{
  //      outline: none;
  //      &:nth-child(1), &:nth-child(2){
  //        flex: 4.25;
  //        border: 0;
  //        border-right: 1px solid #E5E5E5;
  //        background-color: #f1f1f1;
  //      }
  //      &:nth-child(3){
  //        border: 0;
  //        background-color: #464b4e;
  //        i{
  //          color: white;
  //          font-size: 25px;
  //
  //        }
  //        flex: 1.5;
  //      }
  //    }
  //
  //  }
  //}


}
