@import "src/scss-variables/all-variables";
.exchange-countries-body{
  position: relative;
  height: 70%; width: 100%;
  overflow: hidden;
  border-right: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;

  .exchange-countries-table-header{
    height: 10%;width: 100%;
    border-bottom: 1px solid var(--border-color) !important;
    box-shadow: 0 0 5px #d9d9d9;
    background-color: var(--solid-hover-color);
    display: flex;
    align-items: center;
    padding: 0 4%;
    @media (max-width: 767px) {
      display: block;
    }
    button{
      background-color: transparent;
      border: 0;
      text-align: left;
      width: 20%;
      font-size: 70%;
      font-weight: 500;
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
      &:nth-child(1){
        width: 30%;
        @media (max-width: 767px) {
          width: 100%;
          text-align: center;
        }
      }
      &:nth-child(5){
        width: 10%;
        text-align: center;
      }
    }
  }
  .exchange-countries-table-body{
    height: 90%; width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: var(--main-color);
    }
    .selected{
      background-color: var(--solid-hover-color);

    }
    .exchange-countries-table-row{
      padding: 0 4%;
      height: 25%;width: 100%;
      display: flex;
      border-bottom: 1px solid var(--border-color) !important;
      &:hover{
        background-color: rgba(241,242,250,0.48);
      }
      div{
        height: 100%; width: 20%;
        display: flex;
        z-index: 1;
        align-items: center;
        padding: 1px 6px;
        @media (max-width: 767px) {
          display: block;
          width: 100%;
          padding: 5px 0;
        }
        h6{
          font-size: 80%;
          margin-bottom: 0;
        }
        &:nth-child(1){
          width: 30%;
          img{
            height: 3vh;width: 3vh;
            margin-right: 1rem;
          }
          @media (max-width: 767px) {
            display: flex;
            width: 100%;
            padding: 5px 0;
            justify-content: center;
          }
        }
        &:nth-child(5){
          width: 10%;
          display: flex;
          align-items: center;
          //padding: 5px 0;
          flex-direction: column;
          button{
            height: 40%;
            width: 90%;
            z-index: 2;
            background-color: var(--main-color);
            color: var(--bg-color);
            border: 0;
            outline: none;
            font-size: 75%;
            //margin-top: auto;
            &:nth-child(1){
              margin-top: auto;
              margin-bottom: auto;
            }
            &:nth-child(2){
              margin-bottom: auto;
            }
          }
        }
      }
      &:hover{
        cursor: pointer;
      }
      @media (max-width: 767px) {
        display: block;
        text-align: center;

      }
    }
  }
}
@keyframes rotate-around {
  from{transform: rotate(0)}
  to{transform: rotate(360deg)}
}






@keyframes rotate-around {
  from{transform: rotate(0)}
  to{transform: rotate(360deg)}
}
