.block-check-main {
    width: 100%;
    height: 100%;

    .bc-step-one {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .bc-image-wrapper {
            img {
                height: 5vh;
            }
        }
        .bc-text-wrapper {
            width: 25%;
            text-align: center;
            line-height: 1.5rem;
            margin: 1rem 0;
            font-size: 85%;
        }
        .bc-type-list {
            display: flex;
            width: 100%;
            margin-top: 4vh;
            padding: 0 5%;
            div {
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                }
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: center;
                img {
                    height: 9vh;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .bc-step-two {
        width: 100%;
        height: 100%;
        display: flex;
        .bc-step-two-left {
            width: 35%;
            height: 100%;
            border-right: 1px solid var(--light-border-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0% 4%;
            .bc-step-two-child {
                width: 100%;
                height: 75%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .bc-two-amount-title {
                    height: 20%;
                    width: 100%;
                    img {
                        height: 30px;
                    }
                    h1 {
                        font-size: 4.5vh;
                        margin-bottom: 0;
                        color: #1a6bb4;
                        text-align: center;
                        font-weight: bold;
                    }
                    h6 {
                        text-align: left;
                        margin: 0;
                    }
                }
                .enter-address-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid var(--light-border-color);
                    padding: 5px;
                    input {
                        border: 0;
                        font-size: 85%;
                        width: 100%;
                        padding-right: 15px;
                    }
                    img {
                        padding: 2px;
                        cursor: pointer;
                    }
                }
                .enter-values-wrapper {
                    h6 {
                        margin-bottom: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 4px 10px;
                        input {
                            border: 0;
                            font-weight: bold;
                            background-color: transparent;
                        }
                        span {
                            font-weight: bold;
                        }
                        &:nth-child(1) {
                            border-bottom: 1px solid var(--main-color);
                            input {
                                background-color: transparent;
                                color: #1a6bb4;
                            }
                            span {
                                color: #1a6bb4;
                            }
                        }
                    }
                }
                .notes-wrapper {
                    display: flex;
                    width: 100%;
                    padding: 5px;
                    border-bottom: 1px solid var(--border-color);
                    input {
                        width: 100%;
                        border: 0;
                        background-color: transparent;
                        font-size: 85%;
                    }
                }

                button {
                    height: 35px;
                    width: 100%;
                    background-color: #1a6bb4;
                    border: 0;
                    color: white;
                    padding: 1vh 0;
                    &:disabled {
                        opacity: 0.5;
                    }
                }
            }
        }
        .bc-step-two-right {
            width: 65%;
            height: 100%;
        }
    }
}
