.investment-paths-main {
    width: 100%;
    height: 100%;
    .investment-path-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        height: 25%;
        padding: 0 40px;
        &:hover{
            .path-row-left{
                transition: 0.3s;
                transform: scale(1.1, 1.05)
            }
        }
        .path-row-left {
            transition: 0.3s;
            display: flex;
            align-items: center;
            img {
                height: 32px;
                width: 32px;
                margin-right: 10px;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                a{
                    text-decoration: none !important;
                }
                h5 {
                    margin-bottom: 0;
                    text-decoration: none !important;
                    font-weight: 600;
                    color: #182542;
                }
                span {
                    font-weight: 400;
                    font-size: 70%;
                }
            }
        }
        .path-row-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h5 {
                margin-bottom: 0;
                font-weight: 600;
                color: #182542;
            }
            span {
                font-weight: 400;
                font-size: 70%;
            }
        }
    }
}
