.mi-loading-main {
    width: 100%;
    height: 100%;
    display: flex;

    .mi-loading-main-left {
        opacity: 0.5;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 10%;
        border-right: 1px solid var(--border-color);
        h6{
            text-align: center;
            line-height: 1.5rem;
            margin-bottom: 3vh;
        }
        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                height: 94px;
                width: 94px;
                border-radius: 10px;
                margin-bottom: 10px;
            }
            span{
                font-size: 100%;
            }
        }
    }
    .mi-loading-main-right {
        opacity: 0.5;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
        h6{
            text-align: center;
            line-height: 1.5rem;
            margin-bottom: 3vh;
        }
    
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            flex-direction: column;
            img {
                height: 94px;
                width:  94px;
                border-radius: 10px;
                margin-bottom: 10px;
            }
            span{
                font-size: 100%;
            }
        }
    }
    .selected-side{
        opacity: 1;
        animation: bounce 1s infinite linear;
    }
}
.hide-second-loader{
    .mi-loading-main-left{
        width: 100%;

    }
    .mi-loading-main-right{
        display: none;
    }
}
@keyframes bounce{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}