@import "src/css-variables/css-variables.scss";
.trade-quote{
    width: 100%;
    height: 100%;
    .normal{
        height: 0;
        overflow: hidden;
    }
    .extra{
        height: 30px;
    }
    .trade-quote-heading{
        width: 100%;
        background-color: var(--main-color);
        padding: 0 40px;
        display: flex;
        align-items: center;
        span{
            color: var(--background-color);
            font-weight: 500;
        }

    }

    .normal-body{
        height: 100%;
    }
    .extra-body{
        height: calc(100% - 30px);
    }   
    .trade-quote-body{
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            // height: 0;
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }
        .quote-row{
            height: 25%;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            justify-content: space-between;
            padding: 0 40px;
            align-items: center;
            cursor: pointer;
            &:hover{
                background-color: rgba(24,37,66,0.1);
            }
            h6{
                img{
                    margin-right: 1rem;
                }
            }
        }
    }
    
}