.manual-component{
  width: 100%; height: 100%;
  padding: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  p{
    margin-bottom: 4px;
    font-size: 75%;
    font-weight: 500;
  }
  .enter-size-container{
    width: 100%; height: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    .enter-size-container-text{
      width: 100%;
      display: flex;
      span{
        &:nth-child(1){
          width: 50%;
          font-size: 80%;
          text-align: left;
          display: flex;
          align-items: center;
          font-weight: 500;
        }
        &:nth-child(2){
          width: 50%;
          text-align: right;
          padding: 1% 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          button{
            outline: none;
            padding: 0;
            font-size: 65%;
            height: 100%;
            background-color: #ffffff;
            border: 1px solid #464b4e !important;
            border-radius: 3px;
            margin-right: 2px;
            width: calc(100%/3.3);
          }
          .selected{
            background-color: #464b4e;
            color: white;
          }
        }
      }
    }

    .enter-size-container-input{
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: 1px solid black !important;
      padding: 5px;
      border-radius: 5px;
      button{
        outline: none;
        background-color: #464b4e;
        color: white;
        font-size: 75%;
        width: 15%;
        border: 0;
        border-radius: 5px;
        &:disabled{
          background-color: #a3a5a7;
        }
      }
      .input-container {
        width: 60%;
        position: relative;
        input {
          text-align: center;
          outline: none;
          font-weight: 500;
          width: 100%;
          background-color: transparent;
          border: 0;
        }
      }
    }

  }
  .exchange-container{
    width: 100%; height: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    p{
      width: 100%;
    }
    .image-not-loaded{

    }
    div{
      width: 100%;
      height: 40%;
      //height: 6vh;
      h6{
        color: white;
        margin-bottom: 0;
      }
      border-radius: 5px;
      display: flex;justify-content: center;align-items: center;
      background-color: #464b4e;
      padding: 10px 0;
      img{
        height: 25px;width: auto;
      }
    }
  }
  .binance-market-price{
    width: 100%; height: calc(100%/3);
    display: flex;flex-wrap: wrap;align-content: center;
    p{
      width: 100%;
    }
    div{
      width: 100%;
      background-color: white;
      border-radius: 5px;
      border: 1px solid black !important;
      padding: 5px 0;
      text-align: center;
      font-weight: 500;
    }
  }
}
