.trade-tab-list{
    height: 100%;
    width: 100%;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--main-color);
    }
    .tab-list-row{
        cursor: pointer;
        height: 25%;
        width: 100%;
        border-bottom: 1px solid var(--light-border-color) !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        h6{
            img{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                margin-right: 10px;
            }
            margin-bottom: 0;
            font-size: 1.8vh;
            font-weight: 600;
        }
        span{
            color: var(--gray-color);
            font-weight: 400;
        }
        &:hover{
            background-color: var(--faint-dark);
        }
    }
    .selected-bank{
        background-color: var(--border-color);
    }
}