.mi-result-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4% 0;
    .mi-result-top{
        display: flex;
        height: 40%;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 20%;
        align-items: center;
        h3{
            text-align: center;
        }
        span{
            white-space: normal;
            text-align: center;
            font-size: 90%;
            font-weight: 300;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .mi-result-bottom{
        display: flex;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
        div{
            background-color: red;
            padding: 6vh 6vh;
            border-radius: 10px;
            transition: 0.3s;
            img{
                height: 50px;
                width: 50px;
            }
            &:nth-child(2){
                margin: 0 12px;
            }
            &:hover{
                padding: 8vh 6vh;
                transition: 0.3s;
            }
        }

    }
}