.transaction-step {
    height: calc(100%);
    width: 100%;
    background-color: var(--background-color);
    .transaction-list {
        width: 100%;
        height: 100%;
        padding: 20px;
        .transaction-list-header {
            height: 80px;
            width: 100%;
            border: 1px solid var(--border-color);
            // border-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            span {
                &:nth-child(1) {
                    font-size: 130%;
                    img {
                        margin-right: 5px;
                        height: 4vh;
                    }
                }
            }
        }
        .transaction-list-body {
            height: calc(100% - 80px);
            width: 100%;
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--border-color);
                border-radius: 4px;
            }

            .transaction-card {
                height: 40%;
                width: 100%;
                border: 1px solid var(--border-color);
                cursor: pointer;
                border-top: 0;
                .t-card-footer {
                    height: 44px;
                    width: 100%;
                    border-top: 1px solid var(--border-color);
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 3vh;
                        margin-right: 10px;
                    }
                }
                .t-card-body {
                    height: calc(100% - 44px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20px;
                    div {
                        h5 {
                            margin-bottom: 0;
                        }
                        span {
                            font-weight: 400;
                            font-size: 70%;
                        }
                    }
                    button {
                        background-color: transparent;
                        border: 1px solid var(--main-color);
                        font-size: 80%;
                        font-weight: bold;
                        padding: 4px 4%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .transaction-describe {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--border-color);
            border-radius: 4px;
        }
        .td-history {
            height: 45px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img {
                height: 50%;
            }
        }
        .td-cover-pic {
            height: 40%;
            margin-bottom: 40px;
            position: relative;
            .td-cover-cover {
                width: 100%;
            }
            .td-cover-icon {
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 80px;
                transform: translate(-50%, 50%);
                background-color: var(--background-color);
                padding: 10px;
                // box-shadow: 0 0 5px rgba(0, 0, 0, 0.16);
            }
        }
        .td-information {
            padding: 10px 20px;

            h5,
            h6,
            p {
                text-align: center;
            }
            h5 {
                color: #186ab4;
                font-weight: bold;
            }
            h6 {
                img {
                    margin: 0 8px;
                }
            }
            p {
                font-size: 85%;
            }
        }
        .td-relational-institution {
            padding: 0 20px;
            margin-bottom: 4vh;
            .td-ri-row {
                display: flex;
                height: 12vh;
                border: 1px solid var(--border-color);
                width: 90%;
                .td-ri-row-left {
                    width: 30%;
                    height: 100%;
                    border-right: 1px solid var(--border-color);
                }
                .td-ri-row-right {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px 5px;
                    p {
                        font-size: 75%;
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 600;
                    }
                }
            }
        }
        .td-screenshots {
            padding: 0 20px;
            .td-s-gallery {
                height: 12vh;
                width: 90%;
                display: flex;
                justify-content: space-between;
                span {
                    width: 28%;
                    border: 1px solid var(--border-color);
                    margin-right: 5px;
                    &:last-child {
                        width: 15%;
                        background-color: rgba(0, 0, 0, 0.46);
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .transaction-step-current {
        width: 100%;
        height: 100%;
        .tsc-header {
            height: 45px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            img {
                height: 50%;
            }
        }
        .tsc-body {
            width: 100%;
            height: calc(80% - 6vh - 45px);
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .tsc-footer {
            display: flex;
            height: 20%;
            cursor: pointer;
            border-bottom: 1px solid var(--border-color);
            div {
                img {
                    width: 70%;
                    height: 70%;
                }
                &:nth-child(1) {
                    width: 30%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 1px solid var(--border-color);
                }
                &:nth-child(2) {
                    width: 70%;
                    display: flex;
                    height: 100%;
                    // align-items: center;
                    padding: 0 20px;
                    flex-direction: column;
                    justify-content: center;
                    h4 {
                        height: auto;
                        margin: 0;
                    }
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
        .tsc-extra-buttons {
            height: 6vh;
            border-top: 1px solid var(--border-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-left: 2vh;
            overflow: auto;
            &::-webkit-scrollbar {
                height: 0;
            }
            h6 {
                flex: none;
                width: auto;
                height: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                margin-right: 3vh;
                padding: 0 2vh;
                font-weight: 600;
                border: 1px solid var(--border-color);
                cursor: pointer;
                img {
                    height: 15px;
                    width: 15px;
                    margin-right: 5px;
                }
                font-size: 75%;
            }
        }
        position: relative;
        .transaction-step-overlay {
            position: absolute;
            // visibility: hidden;
            top: 0%;
            left: 0;
            right: 0;
            bottom: 5.95vh;
            border-top: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: rgba(0, 0, 0, 0.8);
            .ts-overlay-body {
                padding: 2% 5%;
                background-color: var(--background-color);
                height: calc(100% - 5.95vh);
                height: 50%;
                @media (min-width: 1600px) {
                    height: 40%;
                }
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .ts-overlay-header {
                    font-size: 120%;
                    font-weight: 600;
                    color: var(--main-color);
                    img {
                        margin-right: 2vh;
                    }
                }
                p {
                    font-size: 75%;
                    margin: 0;
                }
                .file-wrapper {
                    height: 30%;
                    @media (min-width: 1600px) {
                        height: 35%;
                    }
                    display: flex;
                    flex-wrap: nowrap;
                    // padding: 10px 0;
                    overflow: auto;
                    align-items: center;
                    &::-webkit-scrollbar {
                        height: 0;
                    }
                    .add-file {
                        height: 90%;
                        width: 10vh;
                        border: 1px solid var(--border-color);
                        margin-right: 2vh;
                        margin-bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex: none;
                        cursor: pointer;
                        img {
                            height: 3.5vh;
                            filter: invert(0.7);
                        }
                    }
                    .other-files {
                        height: 90%;
                        width: 10vh;
                        flex: none;
                        border: 1px solid var(--border-color);
                        margin-right: 2vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h2 {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .ts-overlay-footer {
                height: 6.05vh;
                // background-color: rgba(255,255,255, 0.5);
                background-color: var(--background-color);
                .filename {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    border-top: 1px solid var(--border-color);
                    input {
                        width: calc(100% - 12.1vh);
                        border: 0;
                    }
                    button {
                        height: 6.05vh;
                        width: 6.05vh;
                        border: 0;
                        img {
                            height: 18px;
                            width: 18px;
                        }
                        &:nth-child(1) {
                        }
                        &:nth-child(3) {
                            background-color: var(--main-color);
                        }
                    }
                }
            }
        }
    }
    .t-stepper {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        padding-top: 3vh;
        .option-wrapper {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 3vh 0;
            .options-row {
                height: 50%;
                display: flex;
                // justify-content: space-between;
                white-space: nowrap;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    height: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--main-color);
                    border-radius: 5px;
                }
                div {
                    height: 10vh;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid var(--border-color);
                    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                    border-radius: 5px;
                    padding: 0 7px;
                    // width: 22%;
                    // height: 100%;
                    width: 23%;
                    flex: none;
                    margin: 0 5px;
                    img {
                        height: 35%;
                    }
                    span {
                        font-weight: 500;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                        text-align: center;
                    }
                }
                .selected {
                    background-color: transparent !important;
                    border: 1px solid var(--main-color);
                    span {
                        color: var(--text-color);
                    }
                }
                .disable {
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
    }
}
