.mi-iced-vault-main{
    width: 100%;
    height: 100%;
    .mi-iv-home{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10%;
        .mi-iv-home-header{
            display: flex;
            // justify-content: space-between;
            align-items: flex-start;
            height: 6%;
            img{
                height: 100%;
            }
            span{
                font-size: 25px;
                margin: 0 2vh;
                line-height: 25px;
                font-weight: 500;
            }
        }
        .mi-iv-home-apps{
            display: flex;
            // height: 55%;
            justify-content: space-between;
            .app-wrapper{
                width: 12vh;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                &:hover{
                    cursor: pointer;
                }
                span{
                    width: 170%;
                    text-align: center;
                    overflow: hidden;
                    &:nth-child(1){
                        font-weight: 400;
                        font-size: 90%;
                        margin-bottom: 12px;
                    }
                    &:nth-child(3){
                        font-weight: 400;
                        margin-top: 8px;
                    }

                }
                div{
                    width: 12vh;
                    height: 12vh;
                    background-color: var(--background-color);
                    display: flex;
                    overflow: hidden;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    border: 1px solid #f1f1f1;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .app-selected{
                span{
                    font-weight: 600 !important;
                }
            }
        }
        .mi-iv-home-footer{
            // height: 25%;
            width: 100%;
            display: flex;
            align-items: flex-end;
            .button-text-wrapper{
                position: relative;
                width: 100%;
                p{
                    position: absolute;
                    top: -25px;
                    left: 0;
                    font-size: 75%;
                    text-decoration: underline;
                    cursor: pointer;

                }
                button{
                    width: 100%;
                    // padding: 10px 0;
                    background-color: var(--main-color);
                    border: 0;
                    color: var(--background-color);
                    font-size: 85%;
                    padding: 8px 0;
                }
                div{
                    border: 1px solid var(--border-color);
                    font-size: 10px;
                    padding: 5px;
                    text-align: center;
                    b{
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }
        }
    }
    .mi-iv-app-container{
        display: flex;
        height: 100%;
        flex-direction: column;
        padding-bottom: 0;
        .mi-iv-apps-header{
            height: 40px;
            width: 100%;
            h6{
                font-weight: 600;
            }
        }
        .mi-iv-apps-body{
            height: calc(100% - 40px);
            .mi-apps-body-search-bar{
                height: 25%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    width: 100%;
                    border: 1px solid #f1f1f1;
                    font-size: 14px;
                    padding: 4px 10px;
                }

            }
            .mi-apps-body-app-list{
                height: 75%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0;
                }
                .app-icon-wrapper{
                    height: 20%;
                    width: calc(100%/3);
                    display: flex;
                    justify-content: center;

                    div{
                        padding: 5px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        border: 1px solid #f1f1f1;
                        border-radius: 5px;
                        position: relative;
                        span{
                            display: none;
                            position: absolute;
                            left: 0;
                            top: 120%;
                            font-weight: 400;
                            font-size: 70%;
                            padding: 2px 5px;
                            border-radius: 4px;
                            background-color: var(--background-color);
                            border: 1px solid var(--main-color);
                        }
                        &:hover{
                            span{
                                display: block;
                            }
                        }
                        img{
                            height: 4.5vh;
                            width: 4.5vh;
                        }
                    }
                    
                    &:nth-child(3n){
                        justify-content: flex-end;
                        span{
                            left: -100%;
                        }
                    }
                    &:nth-child(3n + 1){
                        justify-content: flex-start;
                    }
                    margin-bottom: 5vh;
                }
            }

        }


    }

}