.select-coin {
    width: 100%;
    height: 70%;
    .selected-coin {
        width: 100%;
        height: 100%;
        padding: 0 5%;
        // padding-top: 10vh;
        .selected-coin-above {
            width: 100%;
            height: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 2%;
            .selected-coin-title-input {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 8vh;
                .sc-title {
                    h2 {
                        img {
                            height: 4vh;
                            margin-left: 5px;
                            border-radius: 5px;
                        }
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    h6 {
                        font-weight: 600;
                    }
                }
            }
            
            .sc-box {
                border: 1px solid var(--border-color);
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;
                span {
                    img {
                        height: 2.5vh;
                        margin-right: 5px;
                    }
                }
            }
            p{
                
                height: 14px;
                cursor: pointer;
                font-size: 85%;
                text-decoration: underline;
                margin: 0;
            }
        }
        .selected-coin-below {
            width: 100%;
            height: 40px;
            button {
                width: 100%;
                height: 100%;
                background-color: #1a6bb4;
                border: 0;
                color: white;
            }
        }
    }
    .select-coin-list{
        display: flex;
        flex-direction: column;
        height: 100%;
        // padding: 0 10%;
        // padding-top: 12%;
        .select-coin-list-header{
            height: 30%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border-bottom: 1px solid var(--border-color);
            input{
                background-color: transparent;
                border: 0;
                font-size: 90%;
            }


        }
        .select-coin-list-body{
            height: 70%;
            width: 100%;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 0;
            }
            div{
                height: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    img{
                        height: 3vh;
                    }
                }
                &:hover{
                    background-color: #f1f1f1;
                }
            }


        }
    }
}
