.confirm-password{
    width: 100%;
    padding-top: 2rem;
    h6{
        color: var(--main-color) !important;
        margin-bottom: 2rem;
        font-weight: 600 !important;
    }
}
.confirm-button{
    
    margin-top: 3rem;
    outline: none;
    // margin-left: auto;
    background-color: var(--main-color);
    border: 0;
    height: 40px;
    display: flex;justify-content: center;align-items: center;
    color: var(--background-color);
    padding: 6px 50px;
    position: relative;
    &:disabled{
        opacity: 0.6;
    }
}