@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?2jjnqe");
  src: url("fonts/icomoon.eot?2jjnqe#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?2jjnqe") format("truetype"),
    url("fonts/icomoon.woff?2jjnqe") format("woff"),
    url("fonts/icomoon.svg?2jjnqe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-academy:before {
  content: "\e900";
}
.icon-controls:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e902";
}
.icon-broker:before {
  content: "\e903";
}
.icon-marketplace:before {
  content: "\e904";
}
.icon-vsa:before {
  content: "\e905";
}
