.passive-conversion{
  height: 100%;width: 100%;
  .passive-conversion-header{
    height: 20%;width: 100%;
    display: flex; align-items: flex-start;
    button{
      outline: none;
      height: 50%;
      width: 50%;
      border: 0;
      border-right: 1px solid #E5E5E5;
      border-bottom: 2px solid #464b4e;
      transition: 0.6s;
      &:hover{
        cursor: pointer;
      }
    }
    .selected-buy-sell{
      height: 100%;
      transition: 0.6s;
    }
  }
  .passive-conversion-body{
    height: 66%;width: 100%;
    padding: 10% 12%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .passive-conversion-body-radio{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .passive-one-line{
        display: flex;
        align-items: center;
        input{
          margin-right: 10px;
          &:checked{
            & + span{
              font-weight: 500;
            }
          }
        }
      }


    }
    .passive-conversion-body-enter-amount{
      width: 100%;
      display: flex;
      margin-top: auto;
      justify-content: space-between;
      input{
        padding-bottom: 5px;
      }
      h6{
        font-weight: 600;
        margin-bottom: 0;
        font-size: 150%;
      }
      .passive-input-container{
        width: 70%;
        position: relative;
        input{
          z-index: 1;
          width: 100%;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid #E5E5E5;

          & + span{
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.6s;
          }
          &:focus{
            & + span{
              top: -100%;
              font-weight: 500;
              transition: 0.6s;
            }
          }
          &:valid{
            & + span{
              font-weight: 500;
              top: -100%;
              transition: 0.6s;
            }
          }
        }
      }


    }
    .passive-conversion-body-interest-rate{
      width: 100%;
      margin-top: auto;
      position: relative;
      input{
        z-index: 1;
        padding-bottom: 5px;
        background-color: transparent;
        border: 0;
        width: 100%;
        border-bottom: 1px solid #E5E5E5;
        & + span{
          z-index: -1;
          font-weight: 500;
          position: absolute;
          top: -100%;
          left: 0;
        }

      }
    }

  }
  .passive-conversion-footer{
    height: 14%;width: 100%;
    border-top: 1px solid #E5E5E5;
    display: flex;
    div{
      &:nth-child(1){
        border-right: 1px solid #E5E5E5;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:nth-child(2){
        background-color: #464b4e;
        padding: 5px;
        display: flex;
        flex-direction: column;
        span{
          color: white;
          font-size: 75%;
        }
        h6{
          color: white;
          margin-bottom: 0;
        }
      }
      width: 50%;
      height: 100%;
    }

  }
}
