@import "src/css-variables/css-variables.scss";

.display-main-content{
    width: 100%;
    height: 92%;
    border: 1px solid var(--border-color);
    border-top: 0;
}
.hide-main-content{
    display: none;
    pointer-events: none;
}