@import "src/css-variables/css-variables.scss";

.trade-main-header-default {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px !important;
    img{
        height: 65%;
    }
}
.trade-main-header-tab-list {
    width: 100%;
    height: 100%;
    display: flex;
    .tab-list-left{
        width: 60px;
        height: 100%;
        border-right: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .tab-list-right{
        width: calc(100% - 50px);
        height: 100%;
        display: flex;
        align-items: center;
        // padding: 0 40px;
        h6{
            margin: 0;
            font-size: 90%;
            font-weight: 600;
            img{
                height: 22px;
                margin-right: 10px;
            }
        }

    }
}