// @import "src/scss-variables/all-variables";
.chart-body{
  height: 100%; width: 100%;
  min-width: 50%;
  transition: 0.5s;
  background-color: var(--bg-color);
  .chart-transaction-trending-body-header{
    height: 25%; width: auto;
    border-bottom: 1px solid var(--border-color) !important;
    display: flex;
    padding: 0 5%;
    padding-bottom: 10px !important;
    h6{
      font-size: 120%;
      font-weight: 500;
    }
    .chart-transaction-trending-first{
      display: flex;
      align-items: flex-end;
      width: 34%;
      p{
        margin-bottom: 0;
        font-size: 90%;
      }
      h5{
        font-size: 180%;
      }
    }
    .chart-transaction-trending-inside{
      display: flex;
      width: 22%;
      justify-content: center;
      align-items: flex-end;
      &:nth-child(4){
        justify-content: flex-end;
      }

    }
  }
  .normal{
    height: 100%; width: 100%;
    transition: 1s;
  }
  .full{
    position: absolute !important;
    top: 0; left: 0;
    transition: 1s;
    height: 100vh;
    width: 100vw;
    background-color:var(--bg-color);
    //background-color: ;
    z-index: 3;
    .full-screen{
      top: 10px !important; right: 50px !important;
    }

  }
  .chart-curve-chart{
    position: relative;
    .full-screen{
      border-radius: 3px;
      position: absolute;
      top: 15px; right: 15px;
      //box-shadow: 0 0 5px #d9d9d9;
      z-index: 10;
      display: flex;justify-content: center;align-items: center;
      //border: 0;
      padding: 5px;
      outline: none;
      border: 1px solid var(--bg-color) !important;
      background-color: var(--main-color);
      &:hover{
        h6{
          display: block;
        }
      }
      h6{
        display: none;
        width: 100px;
        background-color: var(--main-color);
        border-radius: 4px;
        border: 1px solid var(--border-color);
        position: absolute;
        font-weight: 400;
        font-size: 90%;
        padding: 3px 0;
        top: 120%;
      }
      img{
        height: 2vh;
        width: 2vh;
      }
    }
    .curved-chart-chart-container {
      .curved-chart-chart-container-values{
        width: 100%;
        position: absolute;
        text-align: left;
        top: 3%;
        left: 3%;
        h1{
          margin-bottom: 0;
          color: var(--bg-color);
          font-size: 320%;
          font-weight: 700;
        }
        h6{
          font-weight: 500;
          span{
            &:nth-child(1){
              color: var(--green-color);
            }
            &:nth-child(2){
              color: #858484;
            }
          }
        }
      }
      position: relative;
      .curved-chart {
      }
    }

  }

}
