
@import "src/css-variables/css-variables.scss";
.otp-wrapper{
    width: 100%;
    .otp-title{
        color: var(--main-color) !important;
        margin-bottom: 2rem;
        font-weight: 400 !important;
    }
    .row-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        div{
            width: 100%;
            display: flex;
            input{
                width: 40px !important;
                height: 43px;
                margin-right: 9px;
                @media (max-width: 767px){
                    width: 36px !important;
                    height: 36px;
                    margin-right: 9px;
                }
            }
        }
           
    }
}
.otp-next-button{
    // margin-top: 5rem;
    outline: none;
    // margin-left: auto;
    background-color: var(--main-color);
    border: 0;
    height: 40px;
    display: flex;justify-content: center;align-items: center;
    color: var(--background-color) !important;
    padding: 6px 50px;
    position: relative;
    &:disabled{
        opacity: 0.6;
    }

}