@import "src/css-variables/css-variables.scss";
.tab-header-item{
    cursor: pointer;
    width: 20%;
    font-size: 95%;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    justify-content: center;
    position: relative;
    img{
        margin-right: 10px;
    }
    span{
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 5px;
        color: var(--main-color) !important;
        font-size: 100%;
    }
}
.dark{
    background-color: var(--main-color);
    color: var(--background-color);

}