// @import "src/scss-variables/all-variables";

.choose-base-asset {
  width: 100%;
  height: 70%;
  border-right: 1px solid var(--border-color) !important;
  border-left: 1px solid var(--border-color) !important;
  .choose-base-asset-head {
    height: 12%;
    width: 100%;
    border-bottom: 1px solid var(--border-color) !important;
    display: flex;
    padding: 0 4%;
    button {
      outline: none;
      width: calc(70% / 4);
      border: 0;
      background-color: transparent;
      font-size: 65%;
      font-weight: 500;
      &:nth-child(1) {
        width: 30%;
        text-align: left;
      }
    }
  }
  .choose-base-asset-body {
    height: 88%;
    width: 100%;
    .choose-base-asset-body-row {
      z-index: 3;
      width: 100%;
      height: 25%;
      border-bottom: 1px solid var(--border-color) !important;
      display: flex;
      padding: 0 4%;
      border-bottom: 1px solid var(--border-color) !important;
      &:hover {
        background-color: var(--solid-hover-color);
      }
      button {
        img {
          height: 2vh;
          margin-right: 5px;
          position: relative;
          top: -2px;
        }
        outline: none;
        width: calc(70% / 4);
        border: 0;
        background-color: transparent;
        font-size: 80%;
        font-weight: 500;
        &:nth-child(1) {
          width: 30%;
          text-align: left;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
