.video-player {
    position: relative;
    border: 1px solid #e5e5e5;

    &:hover {
        .video-overlay {
            div{
                button{
                    &:nth-child(1){
                        animation: from-left 0.3s 1 linear;
                        transform: translateX(0);

                    }
                }
            }
        }
    }

    .video-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        div {
            display: flex;
            width: 100%;
            justify-content: center;
            @media(max-width: 767px){
                flex-wrap: wrap;
                align-content: center;
                button{
                    width: 7vh;
                    height: 7vh;
                    &:nth-child(2){
                        background-color: transparent;
                        color: white;
                        border: 1px solid white;
                    }
                }
            }

            button {
                outline: none;
                margin: 0 7px;
                width: 10vh;
                height: 10vh;
                padding: 8px;
                border-radius: 50%;
                background-color: white;
                border: 0;
                font-size: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 0.8rem;
                    margin-right: 5px;
                    transform: rotate(90deg) scale(1.2);
                    position: relative;
                    left: 5px

                }
                &:nth-child(1) {
                    transform: translateX(-200px);
                    &:hover {
                    }
                }
                &:nth-child(2) {
                    transform: translateX(200px);
                    &:hover {
                    }
                }
            }
        }
        // &:hover {
            background-color: rgba(24, 37, 66, 0.93);
            transition: 0.4s;
        
    }
}

@keyframes from-left {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}
