.menu-home-main{
    width: 100%;
    height: 100%;
    padding: 0 5%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .m-h-m-header{
        width: 100%;
        height: 7%;
        display: flex;
        align-items: center;
        div{
            width: 95%;
            height: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            padding: 0 10px;
            border-radius: 6px;
            input{
                width: 100%;
                border: 0;
                background-color: transparent;
                padding-left: 10px;
            }
        }
    }
    .m-h-m-recent{
        height: 34%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // padding-top: 5%;
        h5{
            margin: 0;
        }
        .recent-chat-friends-wrapper{
            display: flex;
            overflow-x: auto;
            padding-bottom: 10px;
            height: 67%;
            &::-webkit-scrollbar{
                height: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--border-color);
                border-radius: 3px;
            }
            div{
                cursor: pointer;
                margin-right: 3vh;
                transition: 0.3s;
                border: 1px solid var(--light-border-color);
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
                padding:0 10px;
                height: 100%;
                width: 37%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                &:hover{
                    transition: 0.3s;
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.07);
                }
                img{
                    height: 4vh;
                    width: 4vh;
                }
                p,h6{
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: center;
                }
                p{
                    margin: 0;
                    font-size: 85%;
                    color: #bbbbbb;
                }
                h6{
                    margin: 1vh 0;
                    font-size: 100%;
                    font-weight: 600;
                }
            }
        }

    }
    .m-h-m-friends{
        height: 48%;
        h5{
            margin-bottom: 0;
            height: 12%;
        }
        .friends-list-wrapper{
            width: 100%;
            height: 88%;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 0px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--border-color);
                border-radius: 3px;
            }

            .single-friend-card{
                border: 1px solid var(--light-border-color);
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                height: 30%;
                width: 100%;
                margin-bottom: 2vh;
                padding: 0 5%;
                border-radius: 6px;
                cursor: pointer;
                &:hover{
                    border: 1px solid var(--border-color);

                }
                img{
                    height: 5vh;
                    width: 5vh;
                }
                div{
                    width: calc(90% - 5vh) !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 15px;
                    p{
                        width: 100%;
                        font-size: 85%;
                    }
                    h6,p{
                        margin: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

        }
    }
}