.chat-box-main {
    width: 100%;
    height: 100%;
    position: relative;
    .chat-box-body {
        height: calc(100% - 60px);
        padding: 0 5%;
        padding-top: 2%;
        width: 100%;
        overflow: scroll;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }
        h6{
            text-align: center;
            font-size: 90%;
        }
        p{
            text-align: center;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        .single-message-wrapper {
            display: flex;
            flex-direction: row;
            height: auto;
            margin-bottom: 5vh;
            &:last-child{
                margin-bottom: 1vh;
            }

            div{
                &:nth-child(2){
                }
            }
            .messaged-by {
                width: 10vh;
                height: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    height: 28px;
                    width: 28px;
                    margin-bottom: 10px;
                    border-radius: 50%;
                }
                span{
                    white-space: normal;
                    font-weight: 400;
                    font-size: 70%;
                }
            }
            .chat-image-container{
                height: auto;
                width: calc(90% - 60px);
                height: 20vh;
                border: 4px solid var(--border-color);
                border-radius: 10px 0 10px 0;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;

                }
                

            }
            .simple-message {
                width: auto;
                max-width: calc(100% - 60px);

                display: flex;
                align-items: center;
                padding: 10px 20px;
                justify-content: space-between;
                border-radius: 0px 20px 0px 20px;
                border: 1px solid #f1f1f1;
                span{
                    white-space: normal;
                    font-weight: 500;
                    overflow-wrap: anywhere;
                }
            }
            .transaction-message{
                border: 1px solid var(--border-color);
                width: calc(90% - 10vh);
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 0px 20px 0px 20px;
                padding: 0 5%;
            

                
            }
        }
        .reverse-it {
            flex-direction: row-reverse;
            div{
                &:nth-child(1){
                    border-radius: 20px 0 20px 0;
                }
                &:nth-child(2){
                    border-radius: 20px 0 20px 0;
                }
            }
        }
    }
    .chat-box-footer {
        height: 60px;
        width: 100%;
        border-top: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        label{
            cursor: pointer;
            height: 100%;
            width: 60px;
            margin: 0;
            border-right: 1px solid var(--border-color);
            display: flex;
            justify-content: center;
            align-items: center;


        }
        button {
            background-color: transparent;
            border: 0;
            outline: none;
            height: 60px;
            width: 60px;
            &:nth-child(1) {
                border-right: 1px solid var(--border-color);
            }
            &:nth-child(3) {
                background-color: var(--main-color);
                &:disabled{
                    opacity: 0.35;
                }
            }
        }
        .chat-box-input-wrapper {
            width: calc(100% - 120px);
            height: 100%;
            display: flex;
            align-items: center;
            input{
                width: 100%;
                height: 100%;
                font-size: 85%;
                background-color: transparent;
                border: 0;
                padding-left: 10px;
            }

            div {
                height: auto;
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                align-items: flex-start;
                // padding-left: 10px;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: clip;
                min-height: 20px;
                max-height: 100%;
            }
        }
    }
}
