@import "src/css-variables/css-variables.scss";


.flag{
    height: 16px;
    margin-right: 10px;
}
.arrow{
    height: 5px;
    margin-left: 10px;
    transform: rotate(180deg);
}
span{
    cursor: pointer;
    font-size: 80%;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.header-text{
    padding: 0 20px;
    padding-left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    // overflow: hidden;
    color: var(--main-color);
    position: relative;
    .arrow{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: rotate(180deg) translateY(0%);
    }
    
}
.table-dropdown{
    width: calc(100% + 1px);
    min-height: 200%;
    height: auto;
    overflow: hidden;
    background-color: var(--background-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid  var(--border-color);
    border-left: 1px solid  var(--border-color)r;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 10% 20%;
    z-index: 2;
    animation: curtain-down 0.4s 1;
    .title{
        text-decoration: underline;
        font-weight: 500;
        margin-bottom: 1rem;
        font-size: 16px;
        color: var(--main-color)
    }
    p{
        cursor: pointer;
        margin: 0;
        color: var(--main-color);
        padding: 0;
        height: 24px;
        font-size: 14px !important;
        font-weight: 400;
    }
    
}
@keyframes curtain-down{
    from{opacity: 0.5; transform: translateY(-50px);}
    to{opacity: 1; transform: translateY(0px);}
}