@import "src/css-variables/css-variables.scss";
.friend-email{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 0 40px;
    position: relative;
    .next-button{
        position: absolute;
        left: 50%;
        bottom: 10%;
        @include removeDefault;
        background-color: transparent;
        border: 1px solid var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        img{
            height: 2.5vh;
            width: 2.5vh;
        }
        animation: 1s coming-up 1 linear
    }
    .verifying-animation{
        position: absolute;
        bottom: 15%;
        span{
            font-weight: 500;
        }
    }
    h6,input{
        text-align: center;
        width: 100%;
    }
    h6{
        font-weight: bold;
    }
    .error{
        border-bottom: 1px solid var(--red-color);
        &:focus{
            border-bottom: 1px solid var(--red-color);
        }
    }
    input{
        outline: none;
        background-color: transparent;
        border: 0;
        font-size: 3.2vh;
        color: var(--main-color);
        &:focus{
            border-bottom: 1px solid var(--faint-dark);
        }
    }
}

@keyframes coming-up{
    from{transform: translate(-50%,10vh)}
    to{transform: translate(-50%,-50%)}
}