.transaction-main{
  width: 100%;
  height: 100%;
  overflow: hidden;

  .transaction-table-header{
    height: 10%; width: 100%;
    border-bottom: 1px solid #E5E5E5 !important;
    box-shadow: 0 0 5px #d9d9d9;
    display: flex;
    background-color: #e1e1e1;
    button{
      outline: none;
      width: calc(100%/6);
      background-color: transparent;
      border: 0;
      font-size: 80%;
      font-weight: 500;
    }
  }
  .transaction-table-body{
    height: 90%;width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 5px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #464b4e;
    }
    .transaction-table-body-row{
      height: calc(100%/6);
      display: flex;
      border-bottom: 1px solid #E5E5E5 !important;
      &:hover{
        background-color: rgba(0,0,0,0.1);
      }
      button{

        width: calc(100%/6);
        background-color: transparent;
        font-size: 90%;
        border: 0;
        &:nth-child(1){
          display: flex;
          align-items: center;
          font-weight: 500;
          justify-content: center;
        }
      }
    }

  }

}
