.tab-dash-result{
    height: 100%;
    width: 100%;
    .tab-dash-result-header{
        height: 40px;
        width: 100%;
        background-color: var(--main-color);
        color: var(--background-color);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        h6{
            margin-bottom: 0;
            font-weight: 600;
            color: var(--background-color);
        }
        span{
            position: absolute;
            top: 50%;
            transform: translate(50%, -50%);
            color: var(--background-color);
            right: 20px;
            padding: 10px;
        }

    }
    .tab-dash-result-body{
        height: calc(100% - 40px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 4vh 40px;
        .completed-text{
            color: var(--light-gray);
            font-weight: 400;
            font-size: 1.8vh;
        }
        .block-wrapper{
            h6{
                font-size: 2vh;
            }
            div{
                display: flex;
                justify-content: space-between;
                border: 1px solid var(--border-color);

                button{
                    background-color: transparent;
                    outline: none;
                    border: 0;
                    pointer-events: none;
                    padding: 1vh;
                    font-size: 1.8vh;
                    font-weight: 600;
                    &:nth-child(1){
                        width: 70%;
                        text-align: left;
                    }
                    &:nth-child(2){
                        border-left: 1px solid var(--border-color);
                        width: 30%;
                        img{
                            margin-left: 5px;
                            height: 2vh;
                        }

                    }
                }
            }
        }
        .completed-buttons{
            display: flex;
            justify-content: space-between;
            button{
                width: 47%;
                font-size: 75%;
                font-weight: 600;
                padding: 1vh;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border: 0;
                &:nth-child(1){
                    background-color: var(--background-color);
                    color: var(--main-color);
                    border: 0;
                }
                &:nth-child(2){
                    background-color: var(--main-color);
                    color: var(--background-color);

                }
            }
        }

    }
}