@import "src/css-variables/css-variables.scss";
.friends-contact-book{
    width: 100%;
    height: 100%;
    .contact-book-header{
        height: 48px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        .contact-book-header-search{
            width: calc(100% - 96px);
            height: 100%;
            padding-left: 40px;
            display: flex;
            align-items: center;
            input{
                width: 100%;
                height: 100%;
                outline: none;
                border: 0;
                background-color: transparent;
            }
        }
        .contact-book-header-add{
            width: 48px;
            height: 48px;
            display: flex;justify-content: center;align-items: center;
            cursor: pointer;
            img{
                height: 30%;
            }

        }
        .contact-book-header-search-button{
            width: 48px;
            height: 48px;
            cursor: pointer;
            display: flex;justify-content: center;align-items: center;
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
            img{
                height: 30%;
            }

        }
    }
    .contact-book-body{
        width: 100%;
        height: calc(100% - 48px);
    }

}