.setup-chat-profile {
    width: 100%;
    height: 100%;
    .scp-home-main {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 10%;
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 100%;
                margin-bottom: 1vh;
            }
            span {
                font-weight: 400;
                font-size: 80%;
                color: #3b4859;
            }
        }
        button {
            background-color: transparent;
            border: 1px solid var(--main-color);
            color: var(--main-color);
            width: 80%;
            font-size: 85%;
            padding: 4% 0;
            font-weight: 600;
        }
    }
    .scp-finish-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            height: 5vh;
            animation: 1s weird-animation infinite linear;
        }
        span{
            color: var(--text-color);
        }

    }
    .scp-steps-main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
        .scp-steps-header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            img {
                height: 6vh;
                margin-bottom: 0.7vh;
            }
            span {
                color: #3b4859;
                font-size: 90%;
                font-weight: 500;
            }
        }
        .scp-one {
            margin: 4vh 0;
            padding: 1.2vh 20px;
            border: 1px solid var(--border-color);
            color: var(--main-color);
        }
        .scp-two {
            margin: 4vh 0;
            padding: 1.2vh 20px;
            border: 1px solid var(--border-color);
            color: var(--main-color);
            height: 15vh;
            resize: none;
        }
        .scp-three {
            display: flex;
            align-items: center;
            border: 1px solid var(--border-color);
            padding: 5% 4%;
            margin: 4vh 0;
            label {
                margin-bottom: 0;
                cursor: pointer;
            }
            img {
                height: 6vh;
                width: 6vh;
                border-radius: 50%;
                margin-right: 1.4vh;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h5 {
                    margin-bottom: 0;
                    color: var(--main-color);
                    font-weight: 600;
                }
                span {
                    color: var(--text-color);
                    font-weight: 400;
                }
            }
        }
        .scp-steps-footer {
            width: 100%;
            button {
                width: 42%;
                margin-right: 10px;
                font-size: 85%;
                padding: 5px 0;
                &:disabled{
                    opacity: 0.25;
                }
                &:nth-child(1) {
                    background-color: transparent;
                    border: 1px solid var(--main-color);
                    color: var(--main-color);
                }
                &:nth-child(2) {
                    background-color: var(--main-color);
                    border: 1px solid var(--main-color);
                    color: white;
                }
            }
        }
    }
}
@keyframes weird-animation{
    0%{
        transform:  scale(0.8);
    }
    50%{
        transform:  scale(1);
    }
    100%{
        transform:  scale(0.8);
    }
}