.fd-information{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    .fd-information-overlay{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        transition: 0.3s;
        transform: translateX(-100%);
        background-color: var(--background-color);
        .why-blockcheck-main{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 6%;
            button{
                background-color: transparent;
                font-size: 80%;
                font-weight: 600;
                padding: 10px 30px;
                border: 1px solid var(--border-color);
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                h4{
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    font-size: 4vh;
                    img{
                        height: 4vh;
                        margin-left: 8px;
                    }
                }
                p{
                    margin-top: 3vh;
                   width: 60%;
                //    background-color: red;
                   font-size: 85%; 
                   text-align: center;
                }
            }

        }
    }
    .show-overlay{
        transition: 0.3s;
        transform: translateX(0);
    }
    .fd-information-above{
        height: 89%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            
            color: var(--text-color);
        }
        button{
            color: var(--text-color);
            img{
                height: 1rem;
                transform: rotate(180deg);
                margin-right: 5px;
                animation: 0.8s show-arrow linear infinite;
                &:nth-child(3){
                    margin-right: 15px;
                }
            }
            background-color: transparent;
            border: 1px solid var(--main-color);
            font-size: 80%;
            padding: 12px 25px;
        }


    }
    .fd-information-below{
        height: 11%;
        width: 100%;
        display: flex;
        justify-content: center;
        // align-items: flex-end;
        p{
            margin: 0;
            font-size: 85%;
            font-weight: 600;
            transition: 0.3s;
            color: var(--text-color);
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }

    }

}
@keyframes show-arrow{
    from{transform:rotate(180deg) translateX(-70%);}
    to{transform:rotate(180deg) translateX(0);}
}