.chat-user-profile {
    width: 100%;
    height: 100%;
    animation: 0.3s chat-curtain-down 1 linear;
    background-color: var(--background-color);
    .user-profile-update-password{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .update-password-step-one{
            width: 100%;
            padding: 0 5%;
            h5{
                margin: 0;
            }
            p{
                font-size: 85%;
                margin: 4vh 0;
            }
            button{
                background-color: transparent;
                border: 1px solid var(--border-color);
                width: 50%;
                padding: 8px 0;
                font-weight: 500;
            }
        }
        .update-password-step-two{
            width: 100%;
            padding: 0 5%;
            .row-wrapper{
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 4vh 0;
                div{
                    width: 100%;
                    display: flex;
                    input{
                        width: 30px !important;
                        border: 0;
                        border-bottom: 1px solid var(--main-color);
                    }
                }
                   
            }
            button{
                background-color: transparent;
                border: 1px solid var(--border-color);
                width: 50%;
                padding: 8px 0;
                font-weight: 600;
                &:disabled{
                    opacity: 0.25;
                }
            }
        }
        .update-password-step-three{
            width: 100%;
            padding: 0 5%;
            position: relative;
            h5{
                margin: 0;
            }
            div{
                margin: 4vh 0;
                display: flex;
                flex-direction: column;
                span{
                    position: relative;
                    &:nth-child(1){
                        margin-bottom: 4vh;
                        background-color: red;
                        img{
                            height: 16px !important;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }

                    }
                    width: 100%;
                    input{
                        width: 100%;
                        padding: 10px;
                    }
                    .green-border{
                        border: 2px solid var(--green-color);
                    }
                }
            }
            button{
                background-color: var(--main-color);
                border: 0;
                width: 45%;
                color: var(--background-color);
                padding: 8px;
                &:disabled{
                    opacity: 0.25;
                }
            }
            .up-checklist{
                position: absolute;
                h5{
                    margin-bottom: 10px;
                    font-size: 100%;
                    font-weight: 600;
                }
                p{
                    font-size: 77%;
                    margin-bottom: 2px;
                    &::before{
                        content: "*";
                    }
                }
            }
        }

    }
    .user-profile-username{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .username-step-one{
            width: 100%;
            padding: 0 5%;
            h4{
                margin: 0;
            }
            p{
                font-size: 80%;

            }
            .congratulations{
                white-space: normal;
                padding: 4vh 0 !important;
                font-weight: 400;
                font-size: 90%;
            }
            div{
                margin: 4vh 0;
                border: 1px solid var(--border-color);
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px;
                span{
                    font-size: 110%;
                    color: #737373;
                    margin-right: 5px;
                }
                input{
                    width: 110%;
                    height: 100%;
                    background-color: transparent;
                    border: 0;
                }
            }
            h6{
                margin-bottom: 0;
                display: flex;
                justify-content: space-between; 
                width: 100%;
                button{
                    border: 1px solid var(--main-color);
                    font-size: 90%;
                    width: 48%;
                    padding: 10px 0;
                    &:disabled{
                        opacity: 0.25;
                    }
                    &:hover{
                        transition: 0.3s;
                        font-weight: 600;
                    }
                    &:nth-child(1){
                        background-color: transparent;
                    }
                    &:nth-child(2){
                        background-color: var(--main-color);
                        color: var(--background-color);
                    }
                }

            }
        }
        .username-step-two{
            width: 100%;
            padding: 0 5%;
            h4{
                margin: 0;
            }
            p{
                margin: 4vh 0;
            }
            button{
                border: 1px solid var(--main-color);
                font-size: 90%;
                width: 48%;
                padding: 10px 0;
                background-color: transparent;
                &:hover{
                    transition: 0.3s;
                    font-weight: 600;
                }

            }

        }
    }
    .user-profile-home {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .user-profile-home-body{
            height: calc(100% - 45px);
            padding: 0 5%;
            .user-settings-header{
                height: 15%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h4,p{
                    margin: 0;
                }
                h4{
                    height: auto;
                }
                p{
                    font-size: 75%;
                }
            }
            .user-setting-list{
                height: 85%;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0;
                }
                div{
                    border: 1px solid var(--border-color);
                    position: relative;
                    margin-bottom: 2vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 15%;
                    border-radius: 3px;
                    padding: 0 5%;
                    cursor: pointer;
                    h6, p{
                        margin: 0;
                    }
                    p{
                        font-size: 70%;
                        width: 75%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    img{
                        position: absolute;
                        right: 5%;
                        top: 50%;
                        height: 18px;
                        transform: translateY(-50%);
                    }
                    &:hover{
                        border: 1px solid var(--gray-color);
                    }

                }
                .disabled-current-div{
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
        .user-profile-home-footer{
            height: 45px;
            border-top: 1px solid var(--border-color);
            background-color: var(--background-color);
            display: flex;
            overflow-x: auto;
            box-shadow: 0 0 5px rgba(0,0,0,0.24);
            &::-webkit-scrollbar{
                height: 0;
            }
            h6{
                cursor: pointer;
                height: 100%;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 85%;
                padding: 0 3vh;
                font-weight: 400;
                color: var(--gray-color) !important;
                &:hover{
                    // font-weight: 500;
                color: var(--text-color) !important;
                }
            }
            .selected-footer{
                font-weight: bold;
                border-top: 1px solid var(--main-color);
                transition: 0.3s;
                color: var(--text-color) !important;
                &:hover{
                    font-weight: bold;
                }
            }
            .un-clickable{
                pointer-events: none;
                // opacity: 0.25;
            }
        }
        // .user-general-info {
        //     height: 40%;
        //     width: 100%;
        //     .user-cover-photo {
        //         width: 100%;
        //         height: 50%;
        //         border-bottom: 1px solid var(--border-color);
        //         position: relative;
        //         .round-profile-pic {
        //             position: absolute;
        //             bottom: 0;
        //             left: 50%;
        //             transform: translate(-50%, 50%);
        //             border: 1px solid var(--main-color);
        //             height: 9vh;
        //             width: 9vh;
        //             background-color: var(--background-color);
        //             border-radius: 50%;
        //         }
        //     }
        //     .user-names {
        //         display: flex;
        //         flex-direction: column;
        //         align-items: center;
        //         justify-content: flex-end;
        //         height: 50%;
        //         padding-bottom: 10px;
        //         h5 {
        //             margin-bottom: 0;
        //         }
        //         span {
        //             font-weight: 400;
        //         }
        //     }
        // }
        // .chat-user-profile-tab {
        //     height: 60%;
        //     .profile-tab-header {
        //         height: 40px;
        //         display: flex;
        //         border-bottom: 1px solid var(--border-color);
        //         button {
        //             width: 50%;
        //             background-color: transparent;
        //             border: 0;
        //             font-size: 90%;
        //             &:nth-child(2) {
        //                 font-weight: 600;
        //                 border-bottom: 2px solid var(--main-color);
        //             }
        //         }
        //     }
        //     .profile-tab-body {
        //         height: calc(100% - 40px);
        //         .profile-tab__settings {
        //             height: 100%;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: space-evenly;
        //             div {
        //                 text-align: center;
        //                 h6 {
        //                     margin-bottom: 0;
        //                 }
        //                 span {
        //                     font-weight: 400;
        //                     &:hover {
        //                         text-decoration: underline;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}
@keyframes chat-curtain-down {
    from {
        transform: translate(0, -100%);
    }
    to {
        transform: translate(0, 0);
    }
}
