@import "src/css-variables/css-variables.scss";

.ledger-table-row {
    height: calc(100% / 7);
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    h6 {
        width: calc(40% / 3);
        text-align: right;
        cursor: pointer;
        margin-bottom: 0;
        color: var(--main-color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:nth-child(2) {
            width: 20%;
            text-align: left;
        }

        &:nth-child(1) {
            width: 40%;
            text-align: left;
            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                position: relative;
                top: -2px;
            }
            span {
                font-weight: 400;
                color: var(--gray-color);
            }
        }
    }
}
.selected-row {
    background-color: var(--border-color);
}

.iced-ledger-table-row {
    height: calc(100% / 7);
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    h6 {
        width: calc(40% / 3);
        text-align: right;
        cursor: pointer;
        margin-bottom: 0;
        color: var(--main-color);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:nth-child(2) {
            width: 25%;
            text-align: left;
        }

        &:nth-child(1) {
            width: 35%;
            text-align: left;
            padding-right: 40px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                position: relative;
                top: -2px;
            }
            span {
                font-weight: 400;
                color: var(--gray-color);
            }
        }
    }
    .negative {
        color: var(--red-color);
    }
}
.market-ledger-table-row {
    height: calc(100% / 7);
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    h6 {
        width: calc(50% / 3);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: right;
        cursor: pointer;
        margin-bottom: 0;
        color: var(--main-color);

        &:nth-child(1) {
            width: 50%;
            text-align: left;
            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                position: relative;
                top: -2px;
            }
            span {
                font-weight: 400;
                color: var(--gray-color);
            }
        }
    }
}
