.transaction-inspector {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5% 5%;
    border-left: 1px solid var(--border-color);
    animation: come-to-left 0.3s 1 linear;
    h2 {
        white-space: nowrap;
        // overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        position: relative;
        button{
            position: absolute;
            left: 101%;
            background-color: var(--main-color);
            // padding: 0 10px;
            height: 30px;
            width: 30px;
            padding: 0;
            border-radius: 5px;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                svg{
                    transform: scale(1.1);
                }
            }

        }
        // img {
        //     height: 30px;
        //     margin-left: 14px;
        //     cursor: pointer;
        // }
    }
    .transaction-rows {
        display: flex;
        justify-content: center;
        flex-direction: column;
        span {
            font-weight: 400;
            font-size: 1.5vh;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h5 {
            font-weight: 600;
            font-size: 2.2vh;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:nth-child(4) {
            flex-direction: row;
            div {
                width: 50%;
                height: 100%;
            }
        }
    }
}

@keyframes come-to-left {
    from {
        width: 0%;
    }
    to {
        width: 50%;
    }
}
