@import "src/css-variables/css-variables.scss";
.selected-card{
    transform: scale(1.05);
    border: 1px solid var(--main-color) !important;
    transition: 0.3s;
    img{
        transform: scale(1.2);
        transition: 0.3s;
    }
    div{
        color: var(--main-color) !important;
        font-weight: 600;
    }
}
.contact-card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 31%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-right: 2.33%;
    margin-bottom: 5%;
    
    height: 14vh;
    border: 1px solid var(--border-color);
    img{
        height: 4.5vh;
        width: 4.5vh;
        border-radius: 50%;
    }
    span{
        position: relative;
        .dot{
            height: 7px;
            width: 7px;
            background-color: var(--green-color);
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 50%;
        }
    }
    div{
        font-size: 1.5vh;
        width: 90%;
        color: var(--light-gray);
        word-break: keep-all;
        max-height: 40%;
        text-align: center;
        overflow: hidden;

    }
}