.app-config-set-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 10%;
    .mas-step-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0 10%;

        p {
            margin: 3vh 0;
            color: #999c9a;
            line-height: 2rem;
        }
        h2 {
            display: flex;
            align-items: center;
            img {
                margin-right: 10px;
                height: 32px;
            }
            font-size: 270%;
        }
        .enter-number-wrapper {
            height: 6vh;
            width: 40%;
            display: flex;
            align-items: center;
            position: relative;
            .country-code-dropdown {
                position: absolute;
                width: 100%;
                height: 25vh;
                top: 100%;
                left: 0;
                padding: 2vh 0;
                padding-top: 0;
                border: 1px solid var(--border-color);
                animation: 0.4s curtain-down linear 1;
                .dropdown-header {
                    height: 50px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 0 2vh;
                    border-bottom: 1px solid var(--border-color);
                    input{
                        text-align: left;
                        padding: 0vh;
                    }
                }
                .dropdown-body {
                    height: calc(100% - 50px);
                    overflow-y: auto;
                    overflow-x: hidden;
                    h6 {
                        padding: 6px 2vh;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0;
                        &:hover {
                            background-color: var(--border-color);
                        }
                        span {
                            &:nth-child(1) {
                                font-weight: 400;
                            }
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: var(--border-color);
                    }
                }
            }

            border: 1px solid var(--border-color);
            button {
                height: 6vh;
                width: 6vh;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(1) {
                    width: 10vh;
                    background-color: transparent;
                    border: 0;
                    border-right: 1px solid var(--border-color);
                }
                &:nth-child(3) {
                    width: 7vh;
                    img {
                        filter: invert(1);
                        height: 45%;
                    }
                    background-color: var(--main-color);
                    &:disabled{
                        opacity: 0.5;
                    }
                }
            }
            input {
                width: calc(100% - 10vh);
                border: 0;
                background-color: transparent;
                text-align: left;
                padding: 0 10px;
            }
        }
    }
    .sms-details {
        width: 100%;
        padding: 0 5%;
        input {
            width: 100%;
            border: 0;
            border-bottom: 1px solid var(--main-color);
            font-size: 20px;
            &::placeholder {
                font-size: 80%;
            }
        }
    }
    .step-three {
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        text-align: center;
        width: 100%;
        margin: 0;
    }
}
@keyframes curtain-down {
    from {
        height: 0;
        opacity: 0.65;
    }
    from {
        height: 25vh;
        opacity: 1;
    }
}
