@import "src/css-variables/css-variables.scss";
.trade-body-main {
    height: 100%;
    width: 100%;
    display: flex;
    .trade-main-left {
        height: 100%;
    }
    .full {
        transition: 0.3s;
        width: 100%;
    }
    .compromised {
        transition: 0.3s;
        width: calc((100% / 3) * 2);
    }

    .no-trade {
        transition: 0.3s;
        width: 0;
    }
    .trade {
        transition: 0.3s;
        width: calc((100% / 3) * 1);
        border-left: 1px solid var(--border-color);
    }
    .trade-main-right {
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }
}
