.trade-stream-main{
  width: 100%;
  height: 100%;
  .trade-stream-header{
    width: 100%; height: 10%;
    background-color: #70C582;
    img{
      position: relative;
      top: 50%;
      left: 50%;
      height: 70%;
      transform: translate(-50%, -50%);
    }
    span{
      padding: 3px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .trade-stream-footer{
    width: 100%; height: 10%;
    background-color: #70C582;
  }
  .trade-stream-body{
    height: 80%; width: 100%;
    border-left: 1px solid #E5E5E5 !important;
    border-right: 1px solid #E5E5E5 !important;
    .trade-stream-step-one{
      width: 100%;
      height: 100%;
      padding: 0 5%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      .step-one-text{
        height: 30%;width: 100%;
        text-align: center;
        h5{
          color: #34ce57;
          margin-bottom: 0;
        }
      }
      .step-one-go-live{
        height: 20%;width: 100%;
        display: flex;align-items: center;justify-content: center;
        button{
          outline: none;
          width: 60%;
          background-color: transparent;
          color: #34ce57;
          border: 1px solid #34ce57;
          border-radius: 4px;
          font-size: 80%;
          padding: 4px 0;
        }
      }
      .step-one-later{
        height: 20%;width: 100%;
        display: flex;align-items: center;justify-content: center;
        button{
          width: 60%;
          background-color: #34ce57;
          color: white;
          font-size: 80%;
          border: 1px solid #34ce57;
          border-radius: 4px;
          padding: 4px 0;
        }
      }
    }
    .trade-stream-step-four{
      width: 100%; height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      .step-four-text{
        height: 12%; width: 100%;
        text-align: center;
        color: #34ce57;
      }
      .debited-container,.credited-container{
        height: 32%; width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        h6{
          color: #34ce57;
          margin-bottom: 0;
          width: 100%;
          font-weight: 400;
          font-size: 90%;
          padding: 0 3%;
        }
        div{
          margin-top: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #E5E5E5 !important;
          border-radius: 4px;
          padding: 1.5% 3%;
          h6 {
            padding: 0;
            font-weight: 500;
            img {
              height: 2.5vh; width: 2.5vh;
              margin-right: 5px;
            }
          }

          input{
            width: 60%;
            border: 0;
            text-align: right;
          }
        }
      }
    }
  }
}
