
.buy-sell-main{
  width: 100%; height: 100%;
  &:nth-child(1){
    border: 1px solid var(--border-color) !important;
  }
  .buy-sell-header{
    height: 50px;
    width: 100%;
    display: flex;
    button{
      width: 50%;
      border: 0;
      font-weight: 600;
      &:nth-child(2){
        background-color: #5e5e5e;
        color: white;
      }
    }

  }
  .buy-sell-body{
    height: calc(100% - 100px);
    .buy-sell-panel-header{
      height: 35px;
      width: 100%;
      border-bottom: 1px solid var(--light-border-color) !important;
      display: flex;
      align-items: center;
      span{
        text-align: center;
        width: 25%;
        font-weight: 400;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 75%;
      }
      .selected{
        font-weight: bold;
        font-size: 90%;
        border-bottom: 2px solid var(--text-color);
      }
    }
    .buy-sell-panel{
      width: 100%;
      height: calc(100% - 35px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5%;
      .panel-market-wrapper{
        display: flex;
        height: 22%;
        width: 100%;
        border: 1px solid var(--border-color) !important;
        div{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          input{
            width: 50%;
            border: 0;
            text-align: right;
            font-size: 100%;
            font-weight: bold;
          }
        }
        button{
          width: 20%;
          background-color: transparent;
          border: 0;
          border-left: 1px solid var(--border-color) !important;
          font-size: 85%;
          font-weight: 600;
          color: #8D8E9B;
        }
      }
      .panel-amount-wrapper{
        display: flex;
        height: 22%;
        width: 100%;
        border: 1px solid var(--border-color) !important;
        div{
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          span{
            width: 50%;
            img{
              transform: rotate(180deg);
              margin-left: 10px;
            }
            position: relative;
            div{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              border: 1px solid var(--border-color) !important;
              
              width: calc(100% + 20px);
              position: absolute;
              top: 100%;
              right: 0;
              background-color: var(--background-color);
              z-index: 5;
              h6{
                font-size: 80%;
                margin-bottom: 0;
                padding: 8px 0;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
          input{
            width: 50%;
            border: 0;
            text-align: right;
            font-size: 100%;
            font-weight: bold;
          }
        }
        button{
          width: 20%;
          background-color: transparent;
          border: 0;
          border-left: 1px solid var(--border-color) !important;
          font-size: 85%;
          font-weight: 600;
          color: #8D8E9B;
        }
      }
      label{
        width: 100%;
        height: 20%;
        display: flex;
        position: relative;
        width: 100%;
        border: 1px solid #464B4E !important;
        display: flex;
        border-radius: 20px;
        overflow: hidden;
        p{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          color: #464B4E;
          margin: 0;
          font-size: 80%;
        }
        .range-left{
          background-color: #464B4E;
          height: 100%;
          min-width: 18% !important;
          // max-width: 82%;
          display: flex;
          align-items: center;
          padding-left: 20px;
          justify-content: center;
          span{
            // width: 100%;
            color: white;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .range-right{
          height: 100%;
          // min-width: 18% !important;
          span{
            // color: white;
          }
        }

        .slider{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          width: 100%;
          cursor: pointer;
        }
      }

    }

  }
  .buy-sell-footer{
    height: 50px;
    background-color: var(--green-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 0;
      margin: 0;
      color: white;
      font-weight: 600;
      &:disabled{
        opacity: 0.25;
        pointer-events: none;
      }
    }

  }

}


