.model-container {
  overflow-y: auto;
  max-height: 100%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.model-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.model-container::-webkit-scrollbar-thumb, .model-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.model-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.model-container .card {
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.model-container .card .card-item {
    padding: 15px;
    padding-top: 0;
    text-overflow: clip;
}

.model-container .card .card__text-overflow {
    /*width: 80%;*/
    text-overflow: clip;
}

.model-container .card .card-item:first-child {
    padding-top: 15px;
}

.model-container .card .card-item .item-header {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.model-container .card .card-item .item-value {
  font-size: 0.85rem;
}
