.list-block-payment .new-faith-table-payment {
  padding-top: 0px;
  padding-bottom: 10px !important;
}
.list-block .new-faith-table-payment {
  padding-top: 20px;
  padding-bottom: 10px !important;
}
.list-block-payment{
  border: 1px solid #f1f1f1;
  box-shadow: 2px 2px 5px #d9d9d9;
  overflow-x: hidden;
}
@media (min-width: 1650px) and (max-width: 1700px) and (min-height: 900px){
  .list-block {
    height: 52vh !important;
    padding-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
  }
}
.list-block {
  height: 52vh !important;
  padding-bottom: 0;
  border-bottom: 1px solid #f1f1f1;
}
.list-block-payment {
  height: 53vh !important;
  padding-bottom: 0;
  border-bottom: 1px solid #f1f1f1;
}
/*@media only screen and (min-height: 600px) and (max-height: 780px) {*/
/*  .list-block-payment {*/
/*    height: 34vh;*/
/*  }*/
/*}*/
/*@media only screen and (min-height: 780px) {*/
/*  .list-block {*/
/*    height: 40vh !important;*/
/*  }*/
/*  .list-block-payment {*/
/*    height: 45vh !important;*/
/*  }*/
/*}*/

@media (max-width: 576px) {
  .list-block {
    /*height: auto !important;*/

  }
  .list-block-payment {
    /*height: auto !important;*/
  }
  .tran-time{
    font-size: 90% !important;
    font-weight: 400 !important;
  }
  .tran-amount{
    font-size: 200% !important;
    margin-bottom: 0 !important;
  }
  .tran-balance{
    font-size: 90%;
    margin-bottom: 0px !important;
  }
}

.list-block .tran-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  padding-bottom: 1rem !important;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 10px #999;
  box-shadow: 0px 1px 10px #999;
}
.list-block .tran-header,   .list-block-payment .tran-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
  /*padding-bottom: 1rem !important;*/
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 10px #999;
  box-shadow: 0px 1px 10px #999;
  /*border-top: 1px solid #f1f1f1;*/
  /*border-left: 1px solid #f1f1f1;*/
  /*border-right: 1px solid #f1f1f1;*/

}
.list-block-payment::-webkit-scrollbar{
  width: 0 !important;
}

.list-block .tran-header label {
  font-weight: bold;
  color: black;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.tran-item .col-md-2{
  text-align: center !important;
}

@media (min-width: 1600px) {
  .list-block .tran-header label {
    font-size: 1.1rem;
  }
  /*.list-block-payment {*/
  /*  height: 46vh !important;*/
  /*}*/
}
@media (min-width: 1100px) and (max-width: 1300px){
  .list-block-payment{
    height: 46.5vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
}
@media (min-width: 1300px) and (max-width: 1450px){
  .list-block-payment{
    height: 54.5vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
  .list-block-payment .tran-item{
    padding: 7px 10px !important;
  }
  .list-block-payment .tran-item .tran-details .tran-desc{
    font-size: 17px !important;
  }
  .list-block-payment .tran-item .tran-details .tran-time{
    font-size: 12px !important;
  }
}
@media (min-width: 1430px) and (max-width: 1500px) and (min-height: 800px){
  .list-block-payment{
    height: 50vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
  .paymentTransactionAndtransactionMrg{
    margin-top: 15px !important;
  }
}


@media (min-width: 1500px) {
  .list-block-payment{
    height: 55.4vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
}
@media (min-width: 1550px) {
  .list-block {
    height: 62vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
  .list-block-payment {
    height: 49vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
}

@media (min-width: 1700px) and (max-width: 1800px){
  .list-block-payment{
       height: 56.5vh !important;
       border-bottom: 1px solid #f1f1f1;
     }
}
@media (min-width: 1600px) and (min-height: 900px){
  .list-block-payment{
    height: 64.5vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
}

@media (min-width: 1800px) {
  .list-block-payment{
    height: 65vh !important;
    border-bottom: 1px solid #f1f1f1;
  }
}
.list-block .tran-header .deposit-amount-wrapper label,
.list-block-payment .tran-header .deposit-amount-wrapper label
{
  text-align: end;
}

.list-block .tran-header .withdraw-amount-wrapper label {
  text-align: end;
}

.list-block .tran-header .balance-amount-wrapper label {
  text-align: end;
}

.list-block .tran-item {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 16px;
  padding-top: 16px;
}

.list-block-payment .tran-item {
  padding: 20px 0rem 10px 3rem;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}
.list-block-payment .tran-item:hover h6,.list-block-payment .tran-item:hover span{
  color: #EAB00C;
  transition: 0.3s;

}
.list-block .tran-item:last-child {
  padding-bottom: 0;
}
.list-block-payment .tran-item:last-child {
  padding-bottom: 0;
}

@media (max-width: 576px) {
  .list-block .tran-item {
    padding-left: 0;
    padding-right: 0;
  }
  .list-block-payment .tran-item {
    padding-left: 0;
    padding-right: 0;
  }
}

.list-block .tran-item .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 10px;
}
.list-block-payment .tran-item .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-orient: vertical;*/
  /*-webkit-box-direction: normal;*/
  /*-ms-flex-direction: column;*/
  /*flex-direction: column;*/
  /*-webkit-box-pack: center;*/
  /*-ms-flex-pack: center;*/
  justify-content: center;
  padding: 0 10px;
}

.list-block .tran-item .icon-wrapper .tran-icon {
  width: 40px;
  height: 40px;
}
.list-block-payment .tran-item .icon-wrapper .tran-icon {
  width: 40px;
  height: 40px;
}

.list-block .tran-item .tran-details {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.list-block-payment .tran-item .tran-details {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .list-block .tran-item .tran-details {
    text-align: center;
    margin-top: 10px;
  }

  .list-block-payment .tran-item .tran-details {
    text-align: center;
    margin-top: 10px;
  }
}

.list-block .tran-item .tran-details .tran-desc {
  font-weight: 600;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}
.list-block-payment .tran-item .tran-details .tran-desc {
  font-weight: 600;
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .list-block .tran-item .tran-details .tran-desc {
    font-size: 1.35rem;
  }
  .list-block-payment .tran-item .tran-details .tran-desc {
    font-size: 1.35rem;
  }
}

.list-block .tran-item .tran-details .tran-time {
  font-size: 0.95rem;
  margin: 0;
  color: #b6b6b6;
}
.list-block-payment .tran-item .tran-details .tran-time {
  font-size: 0.95rem;
  margin: 0;
  color: #b6b6b6;
}

@media (min-width: 1600px) {
  .list-block .tran-item .tran-details .tran-time {
    font-size: 0.85rem;
  }
  .list-block-payment .tran-item .tran-details .tran-time {
    font-size: 0.85rem;
  }
}

.list-block .tran-item .deposit-amount-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-block .tran-item .deposit-amount-wrapper .tran-amount {
  color: green;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
  text-align: end;
}
.list-block-payment .tran-item .deposit-amount-wrapper,
.list-block-payment .tran-item .withdraw-amount-wrapper,
.list-block-payment .tran-item .balance-amount-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-block-payment .tran-item .deposit-amount-wrapper .tran-amount {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-block-payment .tran-item .withdraw-amount-wrapper .tran-amount {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-block-payment .tran-item .balance-amount-wrapper h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 1470px) and (min-width: 1024px){
  .list-block-payment .tran-item .deposit-amount-wrapper .tran-amount{
    font-size: 0.7rem;
    text-align: center;
  }
  .list-block-payment .tran-item .withdraw-amount-wrapper .tran-amount{
    font-size: 0.7rem;
    text-align: center;
  }
  .list-block-payment .tran-item .balance-amount-wrapper h6{
    font-size: 0.7rem;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .list-block .tran-item .deposit-amount-wrapper .tran-amount {
    font-size: 1.1rem;
  }
}

.list-block .tran-item .withdraw-amount-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-block .tran-item .withdraw-amount-wrapper .tran-amount {
  color: red;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
  text-align: end;
}

@media (min-width: 1600px) {
  .list-block .tran-item .withdraw-amount-wrapper .tran-amount {
    font-size: 1.1rem;
  }
}

.list-block .tran-item .balance-amount-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.list-block .tran-item .balance-amount-wrapper .tran-balance {
  font-weight: bold;
  text-align: end;
  color: #080808b9;
  font-size: 0.8rem;
}

@media (min-width: 1600px) {
  .list-block .tran-item .balance-amount-wrapper .tran-balance {
    font-size: 1.1rem;
  }
}

.list-block .tran-item .amount-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.list-block-payment .tran-item .amount-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 576px) {
  .list-block .tran-item .amount-wrapper {
    margin-top: 10px;
  }
  .list-block-payment .tran-item .amount-wrapper {
    margin-top: 10px;
  }
  .list-block-payment .tran-item .icon-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*-ms-flex-direction: column;*/
    /*flex-direction: column;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    justify-content: center;
    padding: 0 10px;
  }
}

.list-block .tran-item .amount-wrapper .tran-amount {
  font-weight: bold;
  font-size: 0.8rem;

  color: red !important;
  margin: 0;
  text-align: end;
}
.list-block-payment .tran-item .amount-wrapper .tran-amount {
  font-size: 1.25rem;
  margin-bottom: 0.3rem !important;

}

.list-block .tran-item .amount-wrapper .tran-balance {
  font-size: 0.8rem;
  color: #9b9b9b;
}
.list-block-payment .tran-item .amount-wrapper .tran-balance {
  font-size: 0.8rem;
  color: #9b9b9b;
}

.list-block .tran-item .amount-wrapper .tran-amount,
.list-block .tran-item .amount-wrapper .tran-balance {
  font-weight: 600;
  text-align: end;

  margin: 0;
  width: 100%;
}
.list-block-payment .tran-item .amount-wrapper .tran-amount,
.list-block-payment .tran-item .amount-wrapper .tran-balance {
  font-weight: 600;
  text-align: end;

  margin: 0;
  width: 100%;
}

@media (max-width: 576px) {
  .list-block .tran-item .amount-wrapper .tran-amount,
  .list-block .tran-item .amount-wrapper .tran-balance {
    text-align: center;
  }
  .list-block-payment .tran-item .amount-wrapper .tran-amount,
  .list-block-payment .tran-item .amount-wrapper .tran-balance {
    text-align: center;
  }
}
