.learn-video-player-main{
    width: 100%;
    height: 100%;
    .video-playing-area{
        width: 100%;
        height: 80%;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--background-color);
        position: relative;
        img{
            position: absolute;
            top: 5%;
            right: 5%;
            z-index: 10;
            // display: none;
            filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.25));
            &:hover{
                transition: 0.3s;
                transform: scale(1.3);
                cursor: pointer;
                
            }

        }
        &:hover{
            img{
                display: block;
            }
        }
        .video-overlay-curtain{
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: white;
            position: absolute;
            z-index: 11;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .video-playing-info{
        width: 100%;
        height: 20%;
        background-color: var(--light-border-color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        p,h5,span{
            color: var(--main-color);
            margin: 0;
        }
        p{
            span{
                color: #2fb3ff
            }
        }
        h6{
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                font-weight: 400;
            }
            button{
                margin-left: 10px;
                background-color: transparent;
                border: 1px solid var(--main-color);
                font-size: 85%;
                padding: 4px 10px;
                &:nth-child(2){
                    background-color: var(--green-color);
                    color: white;
                }
            }
        }
        padding: 1.5% 2%;
    }
}