.donut-chart-funds{
  width: 100%; height: 100%;
  position: relative;
  .donut-chart-funds-circle{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;align-items: center;justify-content: center;
    div{
      text-align: center;
      h6,h5{
        margin-bottom: 0;
        color: white;
      }
      h6{
        font-size: 80%;
      }
    }
  }
}
