@import "src/scss-variables/all-variables";

.exchange-header{
  width: 100%; height: 100%;
  border-top: 1px solid var(--border-color) !important;
  display: flex;
  .exchange-header-container{
    min-width: calc(100%/3);
    width: 100%;
    transition: 0.5s;
    padding: 0 10px;
    display: flex;align-items: center;justify-content: center;
    span{
      font-size: 100%;
      @media (max-width: 767px) {
        font-size: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .search-image{
      position: relative;
      top: -3px;
      margin-left: 10px;
    }
    .filled{
      font-size: 140%;
      font-weight: 500;
      img{
        position: relative;top: -2px;
        height: 3vh;
        margin-right: 5px;
      }
    }

    input{
      background-color: transparent;
      outline: none;
      border: 0;
      padding: 0 4%;
      width: 100%;
      font-size: 140%;
      &::placeholder{
        color: rgba(70, 75, 78, 0.5);
      }
    }
    &:nth-child(2){
      border-left: 1px solid var(--border-color) !important;
      border-right: 1px solid var(--border-color) !important;
    }
    &:hover{
      cursor: pointer;
    }
  }
}


