.apps-menu-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    animation: just-opacity 0.5s 1 linear;
    overflow: auto;
    position: relative;
    .apps-menu-header{
        display: flex;

        .app-menu-current{
            height: 9vh;
            margin-right: 15px;
            
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 9vh;
            h1{
                font-size: 5.5vh;
                margin-bottom: 0;
                font-weight: 700;
                position: relative;
                top: -5px;
            }
            h6{
                font-size: 16px;
                position: relative;
                // top: -5px;
                img{
                    height: 3.2vh;
                    margin-left: 5px;
                }
            }
        }
        
        // button{
        //     padding: 5px 15px;
        //     background-color: transparent;
        //     border-radius: 4px;
        //     font-size: 85%;
        //     transition: 0.3s;
        //     height: 40px;
        //     border: 1px solid var(--main-color);
        //     &:hover{
        //         transition: 0.3s;
        //         transform: scale(1.1);
        //     }

        }
    
    .apps-menu-native-apps{
        height: 50%;
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .apps-row-title{
            font-weight: bold;
            margin-bottom: 2vh;
        }
        .platform-app-row{
            display: flex;
            h5{
                font-weight: 600;
            }
            .platform-wrapper{
                margin-right: 5vh;
                div{
                    animation: be-big 0.4s 1 linear;
                    height: 16vh;
                    width: 16vh;
                    display: flex;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    border: 1px solid var(--light-border-color);
                    margin-bottom: 2vh;
                    
                    img{
                        transition: 0.3s;
                        height: 10vh;
                        width: 10vh;
                        opacity: 0.8;
                    }
                    &:hover{
                        img{
                            transition: 0.3s;
                            transform: scale(1.2);
                        }
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
                    }
                }
                h6{
                    text-align: center;
                    font-weight: 600;font-size: 90%;
                }
            }
            .disable-it{
                opacity: 0.25;
                pointer-events: none;
                
                h6{
                    font-weight: 400;
                }
                div{
                    border: 1px solid var(--gray-color);
                    box-shadow: none;
                }
            }
        }

    }
    .apps-menu-plugins{
        height: 50%;
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(3){
            .apps-plugin-wrapper{
                // &:nth-child(4), &:nth-child(5){
                //     opacity: 0.25;
                //     pointer-events: none;
                // }
            }
        }
        &:nth-child(4){
            .apps-plugin-wrapper{
                 &:nth-child(7){
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
        .apps-row-title{
            font-weight: bold;
            margin-bottom: 2vh;
        }
        h5{
            font-weight: 600;
        }
        .apps-plugin-row{
            display: flex;
            overflow: auto;
            &::-webkit-scrollbar{
                height: 0px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--border-color);
            }
            .apps-plugin-wrapper{
                margin-right: 5vh;
                div{
                    animation: be-big 0.4s 1 linear;
                    height: 16vh;
                    width: 16vh;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    align-items: center;
                    background-color: var(--main-color);
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    border: 1px solid var(--light-border-color);
                    margin-bottom: 2vh;
                    &:hover{
                        img{
                            transition: 0.3s;
                            transform: scale(1.1);
                        }
                        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.45);
                    }
                    img{
                        transition: 0.3s;
                        height: 10vh;
                        width: 10vh;
                        opacity: 0.8;
                    }
                }
                h6{
                    text-align: center;
                    font-weight: 600;font-size: 90%;
                }
            }

        }

    }
}
@keyframes be-big{
    0%{transform: scale(0.2); opacity: 0.2}
    100%{transform: scale(1); opacity: 1}
}
@keyframes just-opacity{
    0%{opacity: 0.2}
    100%{opacity: 1}
}