.gx-insights-wrapper {
  width: 100%;
}

.gx-insights-wrapper .gx-insights-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gx-insights-wrapper .insight-section-header {
  background-color: #0039ff;
  border-radius: 10px;
  padding: 1rem 0.8rem;
  margin: 0;
}

.gx-insights-wrapper .insight-section-header .users-header {
  display: inline-block;
  zoom: 0.9;
  margin-right: 10px;
  border-radius: 8px;
  padding: 5px 8px;
  background-color: #fff;
  color: #000;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.gx-insights-wrapper .insight-section-header .users-header.active {
  background-color: #0039ff;
  color: #fff;
  border: 2px solid #ffffff;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .insight-section-header .users-header {
    zoom: 1.15;
  }
}

.gx-insights-wrapper .insight-section-header .broker-header {
  display: inline-block;
  zoom: 0.9;
  margin-right: 10px;
  border-radius: 8px;
  padding: 5px 8px;
  background-color: #fff;
  color: #000;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.gx-insights-wrapper .insight-section-header .broker-header.active {
  background-color: #0039ff;
  color: #fff;
  border: 2px solid #ffffff;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .insight-section-header .broker-header {
    zoom: 1.15;
  }
}

.gx-insights-wrapper .top-user-wrapper {
  padding-top: 1.25rem;
}

.gx-insights-wrapper .top-user-wrapper .top-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.25rem;
}

.gx-insights-wrapper .top-user-wrapper .top-user label {
  margin: 0;
}

.gx-insights-wrapper .top-user-wrapper .top-user .user-info .user-avatar {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .top-user-wrapper .top-user .user-info .user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
}

.gx-insights-wrapper .top-user-wrapper .top-user .user-info .user-name {
  font-size: 1rem;
  color: #141414;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .top-user-wrapper .top-user .user-info .user-name {
    font-size: 1.3rem;
  }
}

.gx-insights-wrapper .top-user-wrapper .top-user .user-info .user-country {
  font-size: 0.7rem;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .top-user-wrapper .top-user .user-info .user-country {
    font-size: 0.8rem;
  }
}

.gx-insights-wrapper .top-user-wrapper .top-user .user-stats {
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gx-insights-wrapper .top-user-wrapper .top-user .user-stats .user-volume {
  margin-top: 10px;
  font-size: 1.1rem;
  color: #141414;
  font-weight: bold;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .top-user-wrapper .top-user .user-stats .user-volume {
    font-size: 1.4rem;
  }
}

.gx-insights-wrapper .user-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gx-insights-wrapper .user-item-container .user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gx-insights-wrapper .user-item-container .user-item label {
  margin: 0;
}

.gx-insights-wrapper .user-item-container .user-item .user-rank .user-avatar {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .user-item-container .user-item .user-rank .user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 6px;
  }
}

.gx-insights-wrapper .user-item-container .user-item .user-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
}

.gx-insights-wrapper .user-item-container .user-item .user-info .user-name {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.85rem;
  color: #141414;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .user-item-container .user-item .user-info .user-name {
    font-size: 1.15rem;
  }
}

.gx-insights-wrapper .user-item-container .user-item .user-info .user-country {
  font-size: 0.6rem;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .user-item-container .user-item .user-info .user-country {
    font-size: 0.85rem;
  }
}

.gx-insights-wrapper .user-item-container .user-item .user-info .user-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gx-insights-wrapper .user-item-container .user-item .user-info .user-stats .user-volume {
  font-size: 0.9rem;
  color: #141414;
}

@media (min-width: 1600px) {
  .gx-insights-wrapper .user-item-container .user-item .user-info .user-stats .user-volume {
    font-size: 1.1rem;
  }
}

.users-card {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
