.terminal-main{
  display: flex;
  width: 100%;
  height: 100%;
  @media (max-width: 767px) {
    height: auto;
  }
}
.right-popup-none{
  position: absolute;
  display: none;
}
.right-popup{
  position: absolute;
  top: 4%;
  right: 0;
  padding: 10px;
  color: var(--bg-color);
  box-shadow: 0 0 5px #d9d9d9;
  transform: translateX(100%);
  animation: move-left 1.5s linear 1;
}
@keyframes move-left {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(0);
  }
  80%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
