@import "src/css-variables/css-variables.scss";
.wd-step-two{
    display: flex;
    height: 100%;
    .step-two-left{
        width: 50%;
        border-right: 1px solid var(--border-color);
        height: 100%;
        // padding: 5% 5%;
        .step-two-left-title{
            width: 100%;
            height: 100px;
            padding: 0 12%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h5{
                font-weight: 600;
                margin-bottom: 0;
            }
            span{
                font-size: 90%;
                font-weight: 400;
            }
        }
        .step-two-left-body{
            width: 100%;
            padding: 0 12%;
            height: calc(100% - 100px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            .insta-crypto-agency{
                height: 40%;
                width: 35%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // border: 1px solid red;
                    span{
                        font-weight: 400 ;
                    }
                div{
                    border-radius: 5px;
                    height: 80%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--border-color);
                    img{
                        height: 40%;
                    }
                }
            }
            
            .completed{
                span{
                    font-weight: 600;
                }
                div{
                    border: 1px solid var(--main-color);
                }
            }

        }
    }
    .step-two-right{
        width: 50%;
        height: 100%;
        .supported-assets{
            width: 100%;
            height: 100%;
            .supported-assets-title{
                height: 100px;
                width: 100%;
                border-bottom: 1px solid var(--border-color);
                padding: 0 12%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                span{
                    font-size: 90%;
                    font-weight: 400;
                }
                h5{
                    margin-bottom: 0;
                    font-weight: 600;

                }
            }
            .supported-assets-body{
                height: calc(100% - 100px);
                width: 100%;
                overflow-y: auto;
                div{
                    height: 20%;
                    width: 100%;
                    cursor: pointer;
                    &:hover{
                        background-color: var(--border-color);
                    }
                    img{
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    justify-content: space-between;
                    align-items: center;
                    display: flex;
                    padding: 0 10%;
                }
            }


        }
        .wd-calculator{
            height: 100%;
            width: 100%;
            position: relative;
            .submit-button{
                position: absolute;
                bottom: 0;
                height: 40px;
                width: 100%;
                background-color: var(--main-color);
                color: var(--background-color);
            }
            .wd-calculator-title{
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 12%;
                h5{
                    margin-bottom: 0;
                    font-weight: 600;
                }
                span{
                    font-size: 90%;
                    font-weight: 400;
                }
                
            }
            .wd-calculator-body{
                height: calc(100% - 100px);
                width: 100%;
                padding: 0 12%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                div{
                    &:nth-child(1){
                        button{
                            margin-right: 5px;
                            @include removeDefault;
                            font-size: 70%;
                            background-color: transparent;
                            border: 1px solid var(--border-color);
                            padding: 2px 20px;
                        }
                        .selected{
                            border: 1px solid var(--main-color);

                        }
                    }
                    &:nth-child(2){
                        margin-top: 2rem ;
                        h6{
                            display: flex;
                            justify-content: space-between;
                            padding: 5px 0;
                            input{
                                border: 0;
                                background-color: transparent;
                            }
                            &:nth-child(1){
                                border-bottom: 1px solid var(--main-color);
                                font-weight: 600;
                            }
                            font-weight: 500;
                        }

                    }
                    h6{
                        margin-bottom: 0;
                    }
                }
                p{
                    font-weight: 600;
                    text-decoration: underline;
                    margin: 0;
                }
            }
        }

    }


}