.agency-list-main {
    height: 100%;
    width: 100%;
    border: 1px solid var(--main-color);
    border-bottom: 0;
    background-color: var(--background-color);
    .agency-list-main-header {
        height: 18%;
        width: 100%;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-color);
        .agency-list-main-header-left {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            h5,
            p {
                margin-bottom: 0;
                img {
                    margin-right: 5px;
                }
            }
            p {
                font-weight: 600;
                font-size: 90%;
            }

            img {
                height: 20px;
                width: 20px;
            }
        }
        .agency-list-main-header-right {
            display: flex;
            // flex-direction: column;
            justify-content: center;
            align-items: center;
            button {
                margin-left: 10px;
                background-color: transparent;
                border: 2px solid var(--main-color);
                padding: 3px 10px;
                font-weight: 500;
            }
            .disable-this{
                opacity: 0.5;
                border: 2px solid var(--border-color);
            }
        }
    }
    .agency-list-main-body {
        height: 82%;
        width: 100%;
        .agency-list-row {
            height: 35%;
            width: 100%;
            padding: 0 5%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--border-color);
            &:hover {
                background-color: var(--light-border-color);
            }
            &:nth-child(2) {
                opacity: 0.25;
                pointer-events: none;
            }
            img {
                height: 30px;
                margin-right: 5px;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                h5,
                p {
                    margin: 0;
                }
                h5 {
                    font-weight: 600;
                }
            }
        }
    }
}
