@import "src/css-variables/css-variables.scss";
.login-right {
    overflow: hidden;
    height: 80%;
    flex-wrap: wrap;
    padding: 3% 0;
    align-content: space-between;
    @media (max-width: 767px) {
        height: 60%;
        padding: 5% 0;
        margin: 0.5rem 0;
    }

    .above-text {
        display: flex;
        justify-content: center;
        color: var(--main-color);
        // color: white;
        margin-bottom: 0;
        font-weight: 600;
        @media (max-width: 767px) {
            color: $main-color;
            font-size: 120%;
            font-weight: 700;
        }
        span{
            // color: white;
            font-weight: 600;
            font-size: 100%;
        }
    }
    .below-text {
        display: flex;
        width: 100%;
        height: 30%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px){
            height: 40%;
            p{
                font-size: 80% !important;
                width: 100% !important;
            }
            button{
                padding: 4px 20px !important;
            }
        }
        h5{
            margin-bottom: 0;
            font-weight: 600;
        }
        p{
            width: 100%;
            text-align: center;
            // font-size: 90%;
            margin: 0;
            word-break: keep-all;
        }
        span{
            width: 70%;
            text-align: center;
            font-size: 100%;
            font-weight: 400;
            margin: 0;
            white-space: normal;
        }
        button{
            border: 1px solid var(--main-color) !important;
            @include removeDefault;
            background-color: var(--main-color);
            color: var(--background-color);
            font-size: 75%;
            font-weight: 600;
            padding: 1vh 3vh;
        }
    }
    .login-cards-wrapper {
        width: 100%;
        height: 65%;
        // flex: 1;
        @media (max-width:767px){
            height: 50%;
        }
        .cards-wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            label {
                overflow: hidden;
                cursor: pointer;
                position: absolute;
                width: 53%;
                height: 100%;
                background-color: white;
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                @media (max-width: 767px) {
                    width: 70%;
                }
            }
        }

        #id3:checked ~ .cards-wrapper #cId3,
        // #id4:checked ~ .cards-wrapper #cId4,
        #id1:checked ~ .cards-wrapper #cId1,
        #id2:checked ~ .cards-wrapper #cId2{
        // #id5:checked ~ .cards-wrapper #cId5 
            transform: translateX(-50%) scale(1);
            z-index: 3;
            transition: 0.5s;
        }

        #id3:checked ~ .cards-wrapper #cId2,
        // #id4:checked ~ .cards-wrapper #cId3,
        // #id5:checked ~ .cards-wrapper #cId4,
        #id1:checked ~ .cards-wrapper #cId3,
        #id2:checked ~ .cards-wrapper #cId1 {
            transform: translateX(-105%) scale(0.75);
            background-color: #898989;
            z-index: 2;
            transition: 0.5s;
        }

        // #id3:checked ~ .cards-wrapper #cId1,
        // #id4:checked ~ .cards-wrapper #cId2,
        // #id5:checked ~ .cards-wrapper #cId3,
        // #id1:checked ~ .cards-wrapper #cId4,
        // #id2:checked ~ .cards-wrapper #cId5 
        // {
        //     transform: translateX(-150%) scale(0.5);
        //     background-color: #737373;
        //     z-index: 1;
        //     transition: 0.5s;
        // }

        #id3:checked ~ .cards-wrapper #cId1,
        // #id4:checked ~ .cards-wrapper #cId5,
        // #id5:checked ~ .cards-wrapper #cId1,
        #id1:checked ~ .cards-wrapper #cId2,
        #id2:checked ~ .cards-wrapper #cId3 {
            transform: translateX(5%) scale(0.75);
            background-color: #898989;
            z-index: 2;
            transition: 0.5s;
        }

        // #id3:checked ~ .cards-wrapper #cId5,
        // #id4:checked ~ .cards-wrapper #cId1,
        // #id5:checked ~ .cards-wrapper #cId2,
        // #id1:checked ~ .cards-wrapper #cId3,
        // #id2:checked ~ .cards-wrapper #cId4 {
        //     transform: translateX(50%) scale(0.5);
        //     background-color: #737373;
        //     z-index: 1;
        //     transition: 0.5s;
        // }
    }
}
