@import "src/css-variables/css-variables.scss";
.privacy-policy-main {
    width: 100%;
    height: 100%;
    padding: 0 10%;
    background-color: var(--main-color);

    h1 {
        color: white;
        font-weight: bold;
        // font-size: 300%;
        height: 50px;
        // background-color: blue;
        animation: 1s show-opacity 1 ease-out;
    }
    p,
    span {
        color: white !important;
        margin: 0;
        font-weight: 400;
        white-space: normal !important;
        animation: 1s show-opacity 1 linear;
    }
    .content-wrapper {
        // height: 50vh;
        height: calc(100% - 50px);
        overflow: scroll;
        word-break: keep-all;

        &::-webkit-scrollbar {
            width: 0px;
            height: 0;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--border-color);
        }
    }
}
@keyframes show-opacity{
    from{opacity: 0.3}
    to{opacity: 1}
}