.user-chat-main {
    height: 100%;
    width: 100%;
    border-left: 1px solid var(--border-color);
    overflow: hidden;
    animation: 0.3s zoom-big linear 1;
    position: relative;
    .user-chat-header {
        height: 90px;
        border-bottom: 1px solid var(--border-color);

        .uc-header-logo {
            display: flex;
            padding: 0 20px;
            height: calc(100%);
            justify-content: center;
            align-items: center;
            position: relative;
            button{
                position: absolute;
                background-color: transparent;
                border: 0;
                transition: 0.3s;
                &:hover{
                    transition: 0.3s;
                    transform: scale(1.15);
                }
                &:nth-child(1){
                    left: 5%;

                }
                &:nth-child(3){
                    right: 5%;

                }
            }
            .disabled-it{
                opacity: 0.25;
                pointer-events: none;
            }
            h3{
                width: 75%;
                margin-bottom: 0;
                font-weight: bold;
                color: var(--main-color);
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                img{
                    height: 30px;
                    margin-right: 5px;
                }
            }

        }
    }
    .user-chat-search{
        height: 60px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        button{
            width: 20%;
            background-color: transparent;
            border: 0;
            border-right: 1px solid var(--border-color);
            font-weight: bold;
            color: var(--main-color);
        }
        .selected-button{
            background-color: var(--main-color);
            color: var(--background-color)
        }
        div{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            input{
                border: 0;
                width: 100%;
                height: 100%;
                font-size: 105%;
            }

        }
    }
    .user-chat-body {
        height: calc(100% - 150px );
        position: relative;
        .chat-body-differentiator {
            width: 100%;
            height: calc(100% - 50px);
            overflow: hidden;
            position: relative;
            .menu-overlay-wrapper {
                position: absolute;
                z-index: 7;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--background-color);
                transform: translateY(-100%);
                transition: 0.3s;
                padding: 0 5%;
                .overlay-search{
                    width: 100%;
                    height: 100%;
                    img{
                        height: 20px;
                    }
                    .o-c-featured-sections{
                        height: 30%;
                        width: 100%;
                    }
                    .o-c-all-categories{
                        height: 70%;
                        width: 100%;


                    }
                }
                .overlay-category{
                    width: 100%;
                    height: 100%;
                    padding: 10% 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    img{
                        height: 20px;
                    }
                    .o-c-featured-sections{
                        height: 30%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .o-c-f-s-body{
                            height: 85%;
                            width: 100%;
                            div{
                                width: 20%;
                                h2,p{
                                    margin-bottom: 0;
                                    text-align: center;
                                }
                            }
                        }
                        h6{
                            font-weight: 600;
                        }
                    }
                    .o-c-all-categories{
                        height: 65%;
                        width: 100%;
                        h6{
                            font-weight: 600;
                        }
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .o-c-a-c-body{
                            height: 88%;
                            width: 100%;
                            div{
                                height: 22%;
                                border-bottom: 1px solid var(--light-border-color);
                                border-top: 1px solid var(--light-border-color);
                                display: flex;
                                align-items: center;
                                margin-bottom: 2vh;
                                cursor: pointer;
                                img{
                                    margin-right: 10px;
                                }
                                h6{
                                    margin: 0;
                                }
                                &:hover{
                                    border-bottom: 1px solid var(--main-color);
                                    border-top: 1px solid var(--main-color);

                                }
                            }
                        }

                    }

                }
                .overlay-other{
                    .m-o-w-search {
                        height: 15%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        div {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                            border: 1px solid var(--light-border-color);
                            padding: 5px 10px;
                            input {
                                padding-left: 10px;
                                width: 100%;
                                background-color: transparent;
                                border: 0;
                                &::placeholder {
                                    opacity: 0.7;
                                }
                            }
                            img {
                                height: 20px;
                            }
                        }
                    }
                    .m-o-w-body {
                        height: 85%;
                        width: 100%;
                        div {
                            height: 12%;
                            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                            border: 1px solid var(--light-border-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 2vh;
                            border-radius: 6px;
                            cursor: pointer;
                            &:hover {
                                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
                            }
                            h6 {
                                color: var(--text-color) !important;
                                margin-bottom: 0;
                                font-size: 100%;
                            }
                        }
                        .disable-this {
                            pointer-events: none;
                            opacity: 0.25;
                        }
                    }

                }
            }
            .curtains-down {
                transform: translateY(0%);
                transition: 0.3s;
            }
        }
        .chat-menu-bar {
            position: absolute;
            background-color: var(--background-color);
            border-top: 1px solid var(--border-color);
            width: 100%;
            height: 55px;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5%;
            button {
                background-color: transparent;
                border: 0;
                opacity: 0.25;
                width: 20%;
                p {
                    margin: 0;
                    background-color: white;
                    font-weight: 600;
                    display: none;

                }
                img {
                    transition: 0.3s;
                }
                &:hover {
                    opacity: 0.8;
                    img,svg {
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
                }
                &:nth-child(3) {
                    opacity: 1;
                    background-color: white;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    border: 1px solid var(--border-color);
                    transform: translateY(-8px);
                    z-index: 6;

                    img{
                        height: 50%;
                    }
                    p {
                        top: -55%;
                    }
                }
            }
            .selected-menu{
                opacity: 1;
                transition: 0.3s;
                p {
                    display: block;
                    font-size: 75%;
                    color: var(--main-color);
                }
            }
        }

        .uc-body-options {
            height: 9vh;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            button {
                font-size: 80%;
                background-color: transparent;
                border: 1px solid var(--border-color);
                // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                padding: 8px 12px;
                font-weight: 600;
                border-radius: 2px;
                opacity: 0.5;
                img {
                    margin-right: 5px;
                }
            }
            .option-selected {
                opacity: 1;
                border: 3px solid var(--border-color);
                // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
            }
        }
        .uc-body-option-expanded {
            height: 20vh;
            width: 100%;
            overflow: hidden;
            transition: 0.5s;
            // border-bottom: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 0 20px;
            // box-shadow: 0 5px 5px 0px var(--border-color);
            .chat-header-human {
                width: 100%;
                height: 100%;
                transition: 0.3s;
                .human-chat-description {
                    height: 100%;
                    display: flex;
                    div {
                        &:nth-child(1) {
                            width: 20%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &:nth-child(2) {
                            width: 80%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 100%;
                            h6 {
                                text-decoration: none;
                            }
                            p {
                                margin: 0;
                                white-space: normal;
                                font-weight: 400;
                                font-size: 70%;
                                line-height: 15px;
                                // line-height: 10px;
                            }
                        }
                    }
                }
                .human-chat-dropdown {
                    display: none;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5%;
                    height: 20%;
                    border-top: 1px solid var(--border-color);
                    cursor: pointer;
                    h6 {
                        text-decoration: none;
                        font-size: 85%;
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                    img {
                        // transform: rotate(180deg);
                        transition: 0.3s;
                        filter: invert(1);
                    }
                    .rotate-it {
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }
                }
            }
            h6 {
                text-decoration: underline;
            }
            .bot-option-wrapper-learn {
                display: flex;
                height: 50%;
                overflow: scroll;
                &::-webkit-scrollbar {
                    width: 0;
                    height: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--main-color);
                }
                div {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid var(--border-color);
                    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                    // border-radius: 5px;
                    padding: 0 7px;
                    // width: 22%;
                    height: 100%;
                    max-width: 25%;
                    flex: 1;
                    margin: 0 5px;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover{
                        span{
                            transition: 0.3s;
                            transform: scale(1.12)
                        }
                    }
                    // padding: 10px;
                    span {
                        &:nth-child(1) {
                            height: 40%;
                            img {
                                height: 100%;
                                // width: 5vh;
                            }
                        }
                        &:nth-child(2) {
                            text-align: center;
                            font-weight: 500;
                            font-size: 67%;
                            width: 60px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
                .selected-box {
                    border: 1px solid var(--main-color);
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
                }
            }
            .bot-option-wrapper {
                display: flex;
                // justify-content: space-between;
                height: 72px;

                div {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid var(--border-color);
                    // border-radius: 5px;
                    padding: 0 7px;
                    // width: 22%;
                    height: 100%;
                    max-width: 25%;
                    flex: 1;
                    margin: 0 5px;
                    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                    &:nth-child(1),
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover{
                        span{
                            transition: 0.3s;
                            transform: scale(1.12)
                        }
                    }
                    // padding: 10px;
                    span {
                        &:nth-child(1) {
                            height: 40%;
                            img {
                                height: 100%;
                                // width: 5vh;
                            }
                        }
                        &:nth-child(2) {
                            text-align: center;
                            font-weight: 500;
                            font-size: 67%;
                            width: 60px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                }
                .selected-box {
                    border: 1px solid var(--main-color);
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
                }
                .hide-it {
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
        .no-height {
            height: 0;
            overflow: hidden;
            transition: 0.3s;
        }
        .uc-body-chat-box {
            height: calc(100% - 29vh);
            transition: 0.3s;
            width: 100%;
            position: relative;
            .chat-overlay-content {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 2;
                overflow: hidden;
                .trade-hover-info{
                    height: 100%;
                    width: 100%;
                    padding: 20px;
                    img{
                        height: 5vh;
                        margin-bottom: 2vh;
                    }
                }
            }
        }
        .extra-chat-height {
            height: calc(100% - 20vh);
            transition: 0.3s;
        }
        .transaction-height {
            height: calc(100% - 9vh);
            transition: 0.3s;
        }
        .full-height {
            height: 100%;
            transition: 0.3s;
        }
    }
}

@keyframes zoom-big {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}
