@import "src/css-variables/css-variables.scss";

.search-box{
    width: 100%;
    height: 100%;
    border-left: 1px solid $border-color;
    .search-header{
        height: 70px;
        width: 100%;
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 8%;
        input{
            @include removeDefault;
        }
        img{
            height: 1rem;
        }
    }
}