@import "src/css-variables/css-variables.scss";
.controller-analytics {
    width: 100%;
    height: 100%;
    .analytics-dashboard {
        width: 100%;
        height: 100%;
        display: flex;
        // padding: 0 5%;
        padding: 0 4vh;
        padding-right: 0px;
        flex-wrap: wrap;
        .analytics-dashboard-left {
            width: 100%;
            height: 100%;
            padding: 5vh 0;
            // padding-right: 8%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (min-width: 1600px) {
                padding: 7vh 0;
                padding-right: 10vh;
                
            }
            .span-value{
                position: relative;
                font-size: 110% ;
                .span-symbol{
                    position: absolute;
                    bottom: 1px;
                    left: 102%;
                    font-size: 55%;
                    font-weight: 600;

                }
                
            }
            .equity-section{
                p{
                    margin: 0;
                    font-size: 95%;
                    font-weight: 600;
                }
                h1{
                    margin-bottom: 0;
                }
                .span-value{
                    font-weight: 600;
                }
                .span-symbol{
                    bottom: 4px;
                }

            }
            .liquidity-other-section{
                width: 100%;
                display: flex;

                div{
                    width: calc(100%/3);
                    padding-right: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        margin: 0;
                        font-weight: 500;
                        font-size: 1.75vh;
                    }
                    h4{
                        margin-bottom: 0;
                        .span-value{
                            font-weight: 600;
                            font-size: 27px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            
                        }
                        .span-symbol{
                            font-size: 12px;
                            bottom: 4px;
                        }
                    }
                }

            }
            ._24hr-section{
                display: flex;
                width: 100%;
                div{
                    &:nth-child(2){
                        .span-value, .span-symbol{
                            color: var(--green-color);
                        }

                    }
                    width: calc(100%/3);
                    p{
                        margin: 0;
                        font-weight: 500;
                        font-size: 1.75vh;
                    }
                    h4{
                        margin-bottom: 0;
                        .span-value{
                            font-weight: 600;
                            font-size: 3.5vh;
                        }
                        .span-symbol{
                            font-size: 2vh;
                            bottom: 4px;
                        }
                    }
                }
                .negative{
                    .span-value{
                        color: var(--red-color) !important;

                    }
                    .span-symbol{
                        color: var(--red-color) !important;

                    }
                }
                .positive{
                    .span-value{
                        color: var(--green-color) ;

                    }
                    .span-symbol{
                        color: var(--green-color) ;

                    }

                }



            }

        }
        .analytics-dashboard-right {
            width: 50%;
            height: 100%;
            border-left: 1px solid var(--border-color);
            display: flex;
            display:none;
            padding: 5vh 40px;
            padding-bottom: 0;
            justify-content: space-evenly;
            .analytics-right-wrapper{
                height: 100%;
                width: 100%;
                // border: 1px solid red;
                .analytics-right-header{
                    height: 50px;
                    width: 100%;
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    span{
                        font-weight: 500;
                    }

                }
                .analytics-right-body{
                    height: calc(100% - 50px);
                    width: 100%;
                    overflow-y: scroll;
                    &::-webkit-scrollbar{
                        width: 2px;
                    }
                    &::-webkit-slider-thumb{
                        background-color: var(--border-color);
                    }

                    // border: 1px solid red;
                    p{
                        color: var(--main-color);
                        font-weight: 500;
                        padding: 0 6%;
                    }
                    .analytics-right-row{
                        height: 31%;
                        width: 100%;
                        margin-bottom: 2vh;
                        border: 1px solid var(--border-color);
                    }
                    .loading{
                        background-color: #f1f1f1 !important;
                        animation: glow-dim 1.5s infinite;
                        border: 0;
                    }

                }

            }
        }
    }
    .analytics-balance {
        width: 100%;
        height: 35%;
        border-top: 1px solid var(--border-color);
        padding: 1% 40px;
        .analytics-balance-left {
            width: 20%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            h5,
            p {
                animation: 0.4s 1 opacity-change linear;
                width: 100%;
                margin: 0;
                color: var(--main-color)
            }
            .selected{
                font-size: 100%;
                font-weight: 600;
                &:hover{
                    font-weight: 600;
                }

            }
            p {
                font-size: 90%;
                padding-left: 10px;
                cursor: pointer;
                &:hover{
                    font-weight: 500;
                }
            }
        }
    }
}
