.funds-app{
  width: 100%;height: 100%;
  .funds-app-header{
    height: 10%; width: 100%;
    background-color: #464b4e;
    display: flex;
    align-items: center;
    justify-content: center;
    .select-time-span{
      h6{
        color: white;
        margin-bottom: 0;
      }
    }
    img{
      height: 65%;
    }
    .funds-app-header-left{
      width: 14%;
      height: 100%;
      border-right: 1px solid #E5E5E5 !important;
      border-bottom: 1px solid #E5E5E5 !important;
      display: flex;align-items: center;justify-content: center;
      img{
        height: 55%;
      }
    }
    .funds-app-header-right{
      width: 86%;
      height: 100%;
      border-bottom: 1px solid #E5E5E5 !important;
      display: flex;align-items: center;justify-content: center;
      h6{
        color: white;
        margin-bottom: 0;
      }
    }
  }
  .funds-app-body{
    width: 100%;height: 80%;
    border-left: 1px solid #E5E5E5 !important;
    border-right: 1px solid #E5E5E5 !important;
    .fund-app-one-body{
      height: 100%; width: 100%;
      padding: 8% 8%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      div{
        width: 100%;
        height: 21%;
        text-align: center;
        border: 1px solid #464b4e !important;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          cursor: pointer;
        }
        &:nth-child(1){
          border: 0;
          flex-wrap: wrap;
          h6, h5{
            margin-bottom: 0;
            font-weight: 700;
          }
        }
      }
    }
    .fund-app-two-body{
      height: 100%; width: 100%;
      overflow-y: hidden;
      position: relative;
      .time-span-container{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.9);
        z-index: 2;
        button{
          outline: none;
          background-color: transparent;
          border: 0;
          color: white;
          height: 20%;
          width: 100%;
          &:nth-child(1), &:nth-child(5){
              color: #626262;
          }
          &:nth-child(2), &:nth-child(4){
            color: rgba(255, 255, 255, 0.5);
            font-size: 135%;
          }
          &:nth-child(3){
            color: white;
            font-weight: 600;
            font-size: 170%;
          }
          &:hover{
            color: white;
            font-weight: 500;
          }
        }
      }

      .scroll-hide{
        height: 0;
        display: none !important;
        .fund-app-two-text{
          display: none !important;
        }
        .fund-app-two-input{
          display: none !important;

        }
        //transition: 1s height;
        animation: decrease-height 1s linear 1;
      }
      .scroll-show{
        height: 30%;
      }
      .fund-app-two-body-above{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        .fund-app-two-input{
          width: 100%;
          height: 100%;
          padding: 0 10%;
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          text-align: center;
          h2, p{
            margin-bottom: 0;
          }
          p{
            line-height: 1.1rem;
            button{
              border: 1px solid #464b4e;
              background-color: transparent;
              font-size: 60%;
              padding: 0 10px;
            }
          }
        }
      }
      .full-height{
        height: 100%;
      }
      .normal-height{
        height: 70%;
      }
      .fund-app-two-body-below{
        width: 100%;
        padding: 0 0%;
        overflow-y: auto;
        &::-webkit-scrollbar{
          width: 0px;
        }
        &::-webkit-scrollbar-thumb{
          background-color: #464b4e;
        }
        .fund-app-two-body-below-list-container {
          height: 32%;width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 5px;
          .counter{
            background-color: #464b4e;
            color: white;
            display: flex;justify-content: center;align-items: center;
            width: 9%;
            height: 40%;
          }
          .fund-app-two-body-below-list {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #f1f1f1 !important;
            border-radius: 3px;
            height: 100%;
            width: 89%;
            display: flex;
            align-items: center;
            position: relative;

            &:hover {
              cursor: pointer;
            }

            .counter {
              position: absolute;
              top: 50%;
              left: 0;
              background-color: red;
              transform: translateY(-50%);
              width: 9%;
              height: 40%;
            }

            .step-three-face {
              width: 20%;
              position: relative;

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 80%;

              }
            }

            div {
              height: 40%;
              display: flex;
              flex-wrap: wrap;
              align-content: space-between;

              h6 {
                margin-bottom: 0;

                &:nth-child(2) {
                  font-size: 70%;
                  font-weight: 400;
                  color: #8D8E9B;
                }
              }

              &:nth-child(1) {
              }

              &:nth-child(2) {
                width: 30%;

              }

              &:nth-child(3), &:nth-child(4) {
                width: 25%;
                text-align: right;

              }
            }
          }
        }
      }

    }
    .fund-app-four-body{
      height: 100%; width: 100%;
      background-color: black;
      .fund-app-four-body-upper{
        height: 50%; width: 100%;
        position: relative;
        .values-absolute{
          text-align: center;
          position: absolute;
          left: 50%;
          top: 10px;
          transform: translateX(-50%);
          h6{
            margin-bottom: 0;
            color: white;
            &:nth-child(2){
              font-size: 70%;
              font-weight: 400;
            }
          }
        }

      }
      .fund-app-four-body-lower{
        height: 50%; width: 100%;
        background-color: white;
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-wrap: wrap;
        padding: 5% 8%;
        align-content: space-between;
        .fund-app-four-name{
          width: 100%;
          height: 45%;
          display: flex;
          .fund-app-four-name-image{
            width: 20%;height: 100%;
            display: flex;justify-content: flex-start;align-items: center;
            img{
              height: 80%;
            }
          }
          .fund-app-four-name-name{
            width: 80%; height: 100%;
            .fund-app-four-name-name-upper{
              height: 50%; width: 100%;
              display: flex;
              justify-content: space-between;
              h6{
                font-size: 133%;
                font-weight: 700;
                margin-bottom: 0;
              }
            }
            .fund-app-four-name-name-lower{
              height: 50%; width: 100%;
              h6{
                font-weight: 400;
                font-size: 85%;
                color: #949499;
              }

            }
          }
        }
        .fund-app-four-other{
          width: 100%;
          height: 45%;
          display: flex;
          align-items: center;
          div{
            width: calc(100%/3);
            h5{
              font-weight: 700;
              margin-bottom: 0;
            }
            h6 {
              margin-bottom: 0;
              font-weight: 400;
              font-size: 75%;
            }
            &:nth-child(2){
              text-align: center;
            }
            &:nth-child(3){
              text-align: right;
            }

          }
        }

      }
    }
    .fund-app-five-body{
      width: 100%; height: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5% 0;
      .fund-app-five-header{
        height: 10%;
        width: 100%;
        text-align: center;
        font-weight: 500;
      }
      .fund-app-five-chart-container{
        height: 45%;
        width: 100%;
        display: flex;

        .fund-app-five-chart-container-right{
          display: flex;
          flex-wrap: wrap;
          align-content: center;

          div{
            width: 100%;
            display: flex;
            margin-bottom: 2px;
            align-items: center;
            img{
              position: relative;
              top: 1px;
              margin-right: 5px;
            }
            span{
              font-size: 85%;
              font-weight: 500;
              &:nth-child(2){
                font-weight: 400;
              }
            }
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
      .fund-app-five-slider{
        height: 20%;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar{
          height: 0;
        }
        .fund-app-five-slider-list{
          &:hover{
            cursor: pointer;
          }
          width: 65%;
          display: inline-block;
          position: relative;
          top: 0%;
          //transform: translateY(-50%);
          margin-right: 10px;
          height: 80%;
          border-radius: 5px;
          border: 1px solid #f1f1f1 !important;
          box-shadow: 0 4px 5px #E5E5E5;
          .fund-app-five-slider-list-container {
            height: 100%;
            width: 100%;
            display: flex;
            padding: 0 6%;
            div {
              height: 100%;

              &:nth-child(1) {
                width: 20%;
                display: flex;
                align-items: center;
              }

              &:nth-child(2) {
                width: 55%;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                h6{
                  width: 100%;
                  margin-bottom: 0;
                  &:nth-child(2){
                    font-size: 65%;
                    color: #8D8E9B;
                  }
                }
              }

              &:nth-child(3) {
                width: 25%;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
              }
            }
          }
        }
      }
      .fund-app-five-percentage{
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
          height: 70%;
          width: 60%;
          border-radius: 5px;
          border: 1px solid #f1f1f1;
          text-align: center;
          box-shadow: 0 5px 5px #d9d9d9;
          input{
            outline: none;
            border: 0;
            width: 100%;
            background-color: transparent;
            text-align: center;
            font-size: 120%;
          }
          h6 {
            margin-bottom: 0;
            font-size: 60%;
            color: black;

          }
        }
      }
    }
  }
  .funds-app-footer{
    border-top: 1px solid white !important;
    width: 100%;height: 10%;
    background-color: #464b4e;
    display: flex;
    button{
      padding: 0;
      outline: none;
      &:nth-child(1), &:nth-child(2), &:nth-child(5){
        width: 14%;
        height: 100%;
        background-color: transparent;
        border: 0;
        border-right: 1px solid #8D8E9B !important;
        img{
          position: relative;
          top: -2px;
        }
      }
      &:nth-child(5){
        border-left: 1px solid #8D8E9B !important;

      }
      &:nth-child(3), &:nth-child(4){
        //min-width: 30%;
        width: 72%;
        height: 100%;
        background-color: transparent;
        border: 0;
        font-size: 80%;
        color: white;
        border-right: 1px solid #8D8E9B !important;
        &:disabled{
          color: #8D8E9B;
        }
      }
    }

  }
}


@keyframes decrease-height {
  from{height: 35%}
  to{height: 0}
}
