.register-final{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 12vh;
        margin-bottom: 5vh;
    }
    p{
        font-weight: 600;
        font-size: 120%;
        margin-bottom: 5vh;
    }
    div{
        
        display: flex;
        justify-content: space-between;
        width: 30%;
        button{
            font-size: 90%;
            padding: 10px 0;
            border-radius: 3px;
            &:nth-child(1){
                background-color: transparent;
                border: 1px solid var(--border-color);
                width: 48%;

            }
            &:nth-child(2){
                background-color: var(--main-color);
                border: 0;
                color: white;
                width: 48%;
            }
        }
    }

}
.register-main{
    width: 100%;
    height: 100%;
    display: flex;
    button{
        &:hover{
            transition: 0.3s;
            transform: scale(1.07);
        }
        &:disabled{
            pointer-events: none;
            &:hover{
                transform: scale(1);

            }
        }
    }

    .register-main-left{
        height: 100%;
        border-right: 1px solid var(--border-color);
        .register-list-of-steps{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20% 5%;
            h2,h5{
                margin-bottom: 0;
            }
            h2{
                 font-weight: bold;
            }
            h6{
                display: flex;
                align-items: center;
                justify-content: space-between;
                svg{
                    animation: 1s 1 svg-animation ;
                }
            }
            .current-step{
                font-weight: 700;
            }
            .hide-the-step{
                opacity: 0.25;
            }
        }

    }
    .register-main-right{
        height: 100%;
        button{
            &:disabled{
                opacity: 0.25;
            }
        }
        .valid-detail{
            border-left: 5px solid var(--main-color) !important;
        }
        .register-step-two{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .rsf-otp-wrapper{
                width: 30%;
                height: 7vh;
                margin-bottom: 5vh;
                animation: 0.4s  rise-from-below 1 linear;
                div{
                    width: 100%;
                    height: 7vh;
                    display: flex;
                    justify-content: space-between;
                    div{
                        width: 14%;
                        height: 7vh;
                        input{
                            width: 100% !important;
                            height: 7vh;
                            font-size: 150%;
                            font-weight: 600;
                            &::placeholder{
                                opacity: 0.5;
                            }
                            border: 1px solid var(--light-border-color);
                            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
                        }
                    }


                }


            }
            .pr-step-two-check-list {
                position: absolute;
                width: 60%;
                height: 350px;
                bottom: 0;
                left: 50%;
                backdrop-filter: blur(15px);
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5%;
                transition: 0.3s;
                transform: translate(-50%, 100%);
                button{
                    position: absolute;
                    padding: 0;
                    height: 20px;
                    width: 20px;
                    right: 5%;
                    top: 5%;
                    background-color: transparent;
                    border: 0;
                    padding: 3px;
                    img{
                        height: 20px;
                        width: 20px;
                        transform: rotate(45deg);

                    }
                    &:hover{
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
                }
                h6 {
                    width: 100%;
                    margin: 0;
                    font-weight: 400;
                    margin-bottom: 0;
                    position: relative;
                    span {
                        position: absolute;
                        height: 10px;
                        width: 10px;
                        background-color: #be241a;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 50%;
                    }
                    input {
                        width: 100%;
                        padding: 12px 20px;
                        border: 1px solid var(--border-color);
                        border-radius: 4px;
                        &::placeholder {
                            opacity: 0.5;
                            font-size: 90%;
                        }
                    }
                }
            }
            .drawer-up{
                transition: 0.3s;
                transform: translate(-50%,0);
            }
            img{
                height: 12vh;
                margin-bottom: 5vh;
            }
            p{
                margin-bottom: 5vh;
                opacity: 0.5;
                font-size: 105%;
            }
            .custom-email-input-wrapper{
                width: 30%;
                margin-bottom: 5vh;
                position:relative;
                span{
                    position: absolute;
                    left: 0;
                    top: 90%;
                    font-size: 110%;
                    font-weight: 500;
                    color: var(--red-color);
                }
                div{
                    width: 100%;
                    height: 6vh;
                    border-left: 5px solid var(--red-color);
                    animation: 0.4s  rise-from-below 1 linear;
                    &:nth-child(1){
                        margin-bottom: 2vh;
                    }
                    input{
                        width: 100%;
                        height: 100%;
                        border: 0;
                        border: 1px solid var(--border-color);
                        padding-left: 15px;
                        &::placeholder{
                            opacity: 0.5;
                        }
                    }
                }
                

            }
            .rst-input-wrapper{
                display: flex;
                justify-content: space-between;
                width: 35%;
                height: 7vh;
                border: 1px solid var(--border-color);
                border-left: 5px solid var(--red-color);
                margin-bottom: 5vh;
                animation: 0.4s  rise-from-below 1 linear;
                input{
                    width: 55%;
                    border: 0;
                    border-right: 1px solid var(--border-color);
                    padding-left: 15px;
                }
                h6{
                    width: 45%;
                    font-size: 100%;
                    height: 100%;
                    display: flex;
                    margin-bottom: 0;
                    align-items: center;
                    justify-content: center;
                    font-weight: 600;
                }
            }
            .rs-three-button-wrapper{
                display: flex;
                justify-content: space-between;
                width: 30%;
                animation: 0.4s  rise-from-below 1 linear;
                button{
                    font-size: 90%;
                    padding: 10px 0;
                    border-radius: 3px;
                    &:nth-child(1){
                        background-color: transparent;
                        border: 1px solid var(--border-color);
                        width: 70%;

                    }
                    &:nth-child(2){
                        background-color: var(--main-color);
                        border: 0;
                        color: white;
                        width: 26%;
                    }
                }
            }
            .rst-ce-button-wrapper{
                display: flex;
                justify-content: space-between;
                width: 30%;
                animation: 0.4s  rise-from-below 1 linear;
                button{
                    font-size: 90%;
                    padding: 10px 0;
                    border-radius: 3px;
                    width: 48%;
                    &:nth-child(1){
                        background-color: transparent;
                        border: 1px solid var(--border-color);

                    }
                    &:nth-child(2){
                        background-color: var(--main-color);
                        border: 0;
                        color: white;
                    }
                }

            }
            .rst-button-wrapper{
                display: flex;
                justify-content: space-between;
                width: 35%;
                animation: 0.4s  rise-from-below 1 linear;
                button{
                    font-size: 90%;
                    padding: 10px 0;
                    border-radius: 3px;
                    &:nth-child(1){
                        background-color: transparent;
                        border: 1px solid var(--border-color);
                        width: 65%;

                    }
                    &:nth-child(2){
                        width: 30%;
                        background-color: var(--main-color);
                        border: 0;
                        color: white;
                    }
                }

            }

        }
        .register-step-one{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                height: 12vh;
                margin-bottom: 5vh;
            }
            p{
                margin-bottom: 5vh;
                opacity: 0.5;
                font-size: 105%;
                
            }
            .r-s-o-input-wrapper{
                display: flex;
                flex-direction: column;
                margin-bottom: 5vh;
                width: 30%;
                input{
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                    padding: 10px 0;
                    padding-left: 20px;
                    animation: 0.4s  rise-from-below 1 linear;
                    &:nth-child(1){
                        margin-bottom: 2vh;
                    }
                    &::placeholder{
                        opacity: 0.5;
                    }
                }
            }
            .r-s-o-button-wrapper{
                display: flex;
                justify-content: space-between;
                width: 30%;
                animation: 0.4s  rise-from-below 1 linear;
                button{
                    font-size: 90%;
                    padding: 6px 0;
                    border-radius: 3px;
                    &:nth-child(1){
                        background-color: transparent;
                        border: 1px solid var(--border-color);
                        width: 65%;
                        a{
                            color: var(--main-color);
                        }

                    }
                    &:nth-child(2){
                        width: 30%;
                        background-color: var(--main-color);
                        border: 0;
                        color: white;
                    }
                }
            }
        }

    }
}

@keyframes svg-animation{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes rise-from-below{
    from{
        opacity: 0;
        transform: translateY(5vh);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}