.cls-1 {
    fill: #5caba6;
}

.cls-2 {
    fill: #55a49f;
}

.cls-3 {
    fill: #4a8c89;
}

.cls-4 {
    fill: #5aaba5;
}

.cls-5 {
    fill: #4a8c8a;
}

.cls-6 {
    fill: #5aaba6;
}

.cls-7 {
    fill: #4b8f8e;
}

.cls-8 {
    fill: #7cc6c7;
}

.cls-9 {
    fill: #5ab5b4;
}

.cls-10 {
    fill: #428989;
}

.cls-11 {
    fill: #549391;
}

.cls-12 {
    fill: #306563;
}

.cls-13 {


    fill: #64b9b9;
}

.cls-14 {
    fill: #7fd6d5;
}



.st0{fill:#159E49;}
.st1{fill:#333433;}
