
.sub_img_Text_div
{
h1{
    color: #182542;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}
h2{
    color: #182542;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
}
p{
    color: #182542;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 0;  
}
h4

{
    color: #182542;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}}


.mainversiondiv
{
    display: flex;
    margin-top: 4%;
    p
    {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #182542;
        margin-bottom: 0;
        padding-right: 9px;
    }
    span{
        font-family: Montserrat;
        font-style: normal;
        /* font-weight: bold; */
        font-size: 15px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #182542;
        text-decoration: underline;
        /* opacity: 0.5; */
        padding-left: 13px;
        margin-top: 3%;
    }
}
.MainLandingPageiOS
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
.newRowcontent
{

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.ioslable{
    border: 0.5px solid #182542;
    display: block;
    width: 249px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invite-_button
{
    background: #182542;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 249px;
    justify-content: center;
    height: 3.5rem;
    margin-bottom: 19px;
}

.label-ain-div
{
        padding-left: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub_img_Text_div
{
    padding-left: 13px;
}

.label-ain-div-custom {
  
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 28.5rem;
    justify-content: space-between;
    margin-top: 8%;
    margin-bottom: 7%;
}
.invite-_button-cutom {
    background: #182542;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 210px;
    justify-content: center;
    height: 3.5rem;
    margin-bottom: 19px;
}
.ioslable-cutom{
    border: 0.5px solid #182542;
    display: block;
    width: 210px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftSidecontainer
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.steptext
{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #182542;
}

.stepheader
{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
display: flex;
align-items: center;

color: #182542;
}


.divcontainerapp
{
    margin-top: 13%;

}
.selectlinkdatatrue
{
    height: 8rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: 0.5px solid #E5E5E5;
    width: 31rem;
    cursor: pointer;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
}

.selectlinkdata
{
    height: 8rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  cursor: pointer;
    width: 31rem;
    border: 0.5px solid #E5E5E5;
    width: 31rem;
    cursor: pointer;

    padding-left: 14px;
    padding-right: 14px;
}

.bottomSectionnext
{
    
    background: #182542;
    color: white;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
cursor: pointer;
    p
    {
margin-bottom: 0;
color: white;
font-weight: bold;
    }
}

.mobileSetOne
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.moblisectionbe
{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}


.inputEmail
{
    border-bottom: 0.5px solid #182542;
    width: 27rem;
    padding-bottom: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    /* padding-right: 12px; */
    padding-left: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #182542;
    opacity: 0.5;
}
.inputEmail::placeholder
{

    color: #182542;
    opacity: 0.5;
}

.dropdownbodystyling
{
    height: 9rem;
    overflow-y: scroll;
    border: 1px solid #8080804f;
    width: 11rem;
    text-align: center;
}

.dropdownbodystyling::-webkit-scrollbar
{
    display: none;
}
.countrycodeinputbox
{
    width: 3.5rem;
    border: 0.5px solid #E5E5E5;
    height: 3rem;
    /* display: flex; */
    align-items: center;
    color: rgba(24, 37, 66, 0.5);
    border: 0.5px solid #E5E5E5;
    height: 3rem;
    /* width: 17rem; */
    /* padding-left: 24px; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    color: rgba(24, 37, 66, 0.5);
}
.countrycodeinputbox::placeholder
{
 
    /* display: flex; */
    align-items: center;
    color: rgba(24, 37, 66, 0.5);
}
.countrycodetype
{
    border: 0.5px solid #E5E5E5;
    height: 3rem;
    width: 20rem;
    padding-left: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    color: rgba(24, 37, 66, 0.5);
} 
.borderRighHandsideDiv
{
    border-left: 0.5px solid #E5E5E5;
}
.countrycodetype::placeholder
{

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    color: rgba(24, 37, 66, 0.5);
}





.mobileSetOneloading {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.downloadon
{
    margin-bottom: 0;
    font-size: 11px;
}
.appstore
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #182542;
    margin-bottom: 0;
}

.applethe
{
    display: flex;
    align-items: center;
} 

.spaceingdt
{
    margin-right: 7px;
}