@import "src/css-variables/css-variables.scss";
.friends-profile {
    width: 100%;
    height: 100%;
    .contact-profile-header {
        height: 48px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        .selected {
            border-bottom: 1px solid var(--main-color);
            opacity: 1;
            font-weight: 600;
        }
        .hide-header{
            opacity: 0.1;
        }
        button {
            opacity: 0.5;
            width: 50%;
            font-size: 85%;
            @include removeDefault;
            background-color: transparent;
        }
    }
    .contact-profile-body {
        height: calc(100% - 48px);
        width: 100%;
    }
    .contact-profile {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            height: 9vh;
            width: 9vh;
            border-radius: 50%;
        }
        div {
            text-align: center;
            margin-top: 0.5rem;
            h5 {
                margin: 0;
                font-weight: bold;
            }
            span {
                position: relative;
                top: -5px;
                font-size: 75%;
                font-weight: 400;
                &:hover{
                    color: red;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
    .contact-asset {
        width: 100%;
        height: 60%;
        .contact-asset-header {
            height: 48px;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            .selected {
                border-bottom: 1px solid var(--main-color);
                opacity: 1;
                font-weight: 600;
            }
            button {
                opacity: 0.5;
                width: 50%;
                font-size: 85%;
                @include removeDefault;
                background-color: transparent;
            }
        }
        .contact-asset-wrapper {
            height: calc(100% - 48px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            .contact-asset-coins {
                height: 35%;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-bottom: 1%;
                padding: 0 15%;
                position: relative;
                .move-left{
                    position: absolute;
                    left: 20px;
                    border-radius: 50%;
                    background-color: transparent;
                    height: 25px;
                    width: 25px;
                    border: 1px solid var(--gray-color);
                    display: flex; justify-content: center; align-items: center;
                    img{
                        height: 14px;
                        width: 14px;
                        background-color: transparent;
                        transform: rotate(90deg);
                    }
                }
                .move-right{
                    position: absolute;
                    right: 20px;
                    border-radius: 50%;
                    background-color: transparent;
                    height: 25px;
                    width: 25px;
                    border: 1px solid var(--gray-color);
                    display: flex; justify-content: center; align-items: center;
                    img{
                        height: 14px;
                        width: 14px;
                        background-color: transparent;
                        transform: rotate(-90deg);
                    }
                }

                img {
                    height: 5vh;
                    width: 5vh;
                    border-radius: 50%;
                    background-color: var(--background-color);
                    cursor: pointer;
                    // &:nth-child(1) {
                    //     margin-right: -10%;
                    //     transform: scale(0.4);
                    //     z-index: 1;
                    // }
                    // &:nth-child(2) {
                    //     margin-right: -5%;
                    //     transform: scale(0.6);
                    //     z-index: 2;
                    // }
                    // &:nth-child(3) {
                    //     z-index: 3;
                    // }
                    // &:nth-child(4) {
                    //     margin-left: -5%;
                    //     transform: scale(0.6);
                    //     z-index: 2;
                    // }
                    // &:nth-child(5) {
                    //     margin-left: -10%;
                    //     transform: scale(0.4);
                    //     z-index: 1;
                    // }
                    
                }
                .selected-coin{
                    transform: scale(1.2);
                }
            }
            .contact-asset-action {
                height: calc(45%);
                padding: 0 15%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .copy-clipboard {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid var(--border-color);
                    width: 100%;
                    padding: 5px 5%;
                    align-items: center;
                    margin-bottom: 0.5rem;
                    position: relative;
                    span {
                        position: absolute;
                        background-color: var(--main-color);
                        color: var(--background-color);
                        right: 0;
                        top: 100%;
                        font-weight: 400;
                        padding: 2px 10px;
                        border-radius: 3px;
                    }
                    h6 {
                        margin-bottom: 0;
                        width: 90%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: 85%;
                    }
                    img {
                        padding: 5px;
                        cursor: pointer;
                    }
                }
                .contact-action {
                    display: flex;
                    justify-content: space-between;
                    button {
                        width: 28%;
                        @include removeDefault;
                        font-size: 85%;
                        background-color: transparent;
                        border: 1px solid var(--border-color);
                    }
                }
            }
        }
    }
}
