.trading-loading{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        position: relative;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        img{
            height: 100%;
            position: absolute;
            animation: 2s rotate-round infinite linear;
            
        }
    }
}
@keyframes rotate-round{
    0%{transform: rotate(0) scale(0.5)}
    50%{transform: rotate(180deg) scale(1)}
    100%{transform: rotate(360deg) scale(0.5)}
}