










/* dasd */
.searchMainaltas
{
    display: flex;
    align-items: center;
    width: 70%;
}

.crmtaboverflow
{
    position: fixed;
    top: 0;
    right: 2px;
    width: 100%;
    /* height: 100%; */
    /* margin-top: 26px; */
    z-index: 99;
    width: 100%;
    width: calc(100% - 70px);
    /* height: calc(100% - 73px); */
    transform: translate(0px, 25vh);
    height: 100%;
}

.imgcustonarrow
{
    position: fixed;
    top: 0;
    right: 17px;
    width: 100%;
    /* height: 100%; */
    /* margin-top: 26px; */
    z-index: 9999;
    /* background: red; */
    /* width: 100%; */
    width: 5px;
    height: 1;
    /* width: calc(100% - 70px); */
    /* height: calc(100% - 73px); */
    transform: translate(0px, 22.3vh);
    cursor: pointer;
}
.custom-arro
{
    position: fixed;
    top: 0;
    right: 11px;
    width: 100%;
    /* height: 100%; */
    /* margin-top: 26px; */
    z-index: 99;
    width: 100%;
    width: calc(100% - 70px);
    /* height: calc(100% - 73px); */
    transform: translate(0px, 25vh);
    width: 1rem;

    height: 2px;
    z-index: 9999;
    border-left: 8px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 7px solid white !important;
    /* z-index: 1 !important; */
    background-color: transparent !important;
}

.crmtaboverflow .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 !important;
    /* padding: 12px 16px; */
    width: 100% !important;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
    justify-content: center;
    height: 3rem !important;
    padding-top: 13px  !important;
    display: block !important;
    padding-bottom: 25px !important;
    border-bottom: 1px solid !important;
}
.crmtaboverflow .ant-tabs-ink-bar {
    width: 0px !important;
    height: 0 !important;
    left: 7.7%;
    display: none !important;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0x solid white !important;
    z-index: 1 !important;
    background-color: transparent !important;
}
.selectbroker
{
    height: 24.5rem;
}
.atlascard
{
       width: 42%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: inline-block;
    margin-right: 3rem;
  

}
.dropdown-list-main::-webkit-scrollbar {
    display: none;
}
.altas-card-rw
{
        padding: 3%;
    height: 74vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .atlascrmcardsmain
{
    display: flex;
    text-align: center;
    justify-content: space-between;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
} */

.atlascrmcardsmain::-webkit-scrollbar {
    display: none;
}
.levelsormembers
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    display: flex; 
    align-items: center; 
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    justify-content: center;
}
.atlascrmcardsmain {
    /* display: flex; */
    /* text-align: center; */
    justify-content: space-between;
    overflow: auto;
    width: 100%;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.atlercrmnumber
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    /* line-height: 53px; */
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    /* letter-spacing: 1px; */
    color: #000000;
    margin:0
}
.enterlabel
{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 163.68%;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    color: #000000;
    border: 1px solid;
    width: 53%;
    margin: auto;
    border-radius: 10px;
    margin-top: 49px;
}
.firstcrmcontiner
{
    display: flex;
    align-items: center;
    padding: 3%;
}
.crd-img-s
{
    width: 4rem;
    height: 85%;
}
.patlascrm
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 163.68%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #000000;
    width: 70%;
    margin:0;
    padding-top: 6rem;
    margin: auto;
}
.textaligmcrm
{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 49px;
display: flex;
align-items: center;
letter-spacing: 1px;
width: 70%;
color: #000000;
margin: auto;
}

.subcardcontainers
{
    padding-top: 1.3rem;
    /* margin-bottom: 1rem; */
    padding-bottom: 2.5rem;
    height: 20rem;
}
.atlercrmtitlesectiom
{
    height: 4.5rem;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}



.atlastvmain
{
    height: 78vh;
    padding-top: 1.5rem;
    overflow-y: scroll;
}

.expanded-stats-table {
    /* position: absolute;
    top: 0;
    z-index: 99999;
    width: 97% !important;
    height: 93% !important;
    left: 0;
    right: 0;
    margin: auto !important; */
}

.User-tab-main
{
    height: 74vh; 
    overflow-y: scroll;
  
}
.stats-container
{
    width: 100%;
}
.overviewmainpage
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 74vh;
}

.AtlasTvwmainpage
{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 74vh;
    overflow: scroll;
    padding-top: 4rem;
}
/* .Usersmainpage
{

    align-items: center;
    height: 74vh;
    overflow-x: scroll;
 
} */



.img-drp
{
    position: relative;
    top: -8px;
}

.span-drp-img

     {
        border: 1.2px solid #80808040;
        position: relative;
        right: 35px;
        height: 15px;
        border-radius: 4px;
        cursor: pointer;

}

.ant-select-arrow {
    display: inline-block;
    color: inherit;
    font-style: normal;
    font-size: 4rem;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -6px;
    top: 9px;
    color: transparent;
    font-size: 20px;
    line-height: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 9;
}
.MainTabSection .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 32px 0 0;
    /* padding: 12px 16px; */
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
    justify-content: center;
    height: 4.5vh !important;
}
.crmtab  .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 32px 0 0;
    /* padding: 12px 16px; */
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
    justify-content: center;
    height: 4.5vh !important;
}
.MainTabSection .ant-tabs-ink-bar {
    position: absolute;
    height: 100% !important;
   background-color: #EAB00C !important;
   z-index: -1 !important;
}
.crmtab .ant-tabs-nav-container
{
    line-height: 1 !important;
}

 .MainTabSection .ant-tabs-bar {
    border-top: 1px solid #8080802b  ;
    border-bottom: 1px solid #8080802b ;
  }
  .crmtab .ant-tabs-nav-wrap
  {
      background-color: black;
  }
 
.MainTabSection  .ant-tabs-nav .ant-tabs-tab-active
{
    color: white !important;
}
.MainTabSection .ant-tabs-nav .ant-tabs-tab:hover {
    color: black !important;
}
.crmtab .ant-tabs-nav .ant-tabs-tab:hover {
    color: white !important;
}
.mainsection-social
{
    display: flex;
    justify-content: center;
    margin-top: 27px;
}
.crmtab .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    color: white !important;
}
.facebooksection
{
    background: #3B5999;
    width: 8rem;
    height: 39px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crmtab  .ant-tabs-tab-next {

    color: white;
}

.crmtab .ant-tabs-tab-prev.ant-tabs-tab-arrow-show
{
    background-color: black;
}
.crmtab  .ant-tabs-tab-next.ant-tabs-tab-arrow-show
{
    background-color: black;
}
.crmtab .ant-tabs-tab-prev-icon
{
    color: white; 
}

.crmtab .ant-tabs-ink-bar
{
    width: 0px !important;
    height: 0 !important;
    left: 7.7%;
    border-left: 8px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 7px solid white !important;
    z-index: 1 !important;
    background-color: transparent !important;
  
}
.whatsappsection
{
    background: #4CAF50;
    width: 8rem;
    height: 39px;
    border-radius: 9px;
    display: flex;
    margin-right: 17px;
    justify-content: center;
    align-items: center;
}

.altas-main-p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #585757;
  
}
.arr-footer
{
    position: relative;
    left: -28px;
    top: -2px;
}
.div-border-atlas
{
    border-right: 1px solid #80808069;
    padding-bottom: 19px;
}
.div-border-atlas1
{
  
    padding-bottom: 19px;
}
.Emailinput
{
    width: 65%;
    border: 1px solid #80808054;
    height: 2.3rem;
    text-align: center;
    border-radius: 10px;
    padding-right: 26px;
    margin-top: 1.4rem;
}
.atlasfooter
{
    text-align: center;
    height: 29vh;
 
    padding: 19px 2% 0 2%;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    justify-content: space-around;
}
.footer-p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 21px;
    display: block;
    align-items: center;
    text-align: center;
    color: rgba(88, 87, 87, 0.75);
    margin: 0;
}

.footer-h1
{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
margin: 0;
text-align: center;

color: #585757;
}
.dashtitle
{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
align-items: center;
text-align: center;
margin: 0;
color: #585757;

}
.inputcopy
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    border: 1px solid #EAB00C;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    color: #eab00cba;
    height: 39px;
    width: 25rem;
    text-align: center;
    border-radius: 9px 0 0 9px;
}
.copy-main-section
{
    position: absolute;
    bottom: -43px;
}
.searchdashimg
{
    width: 5rem;
}
.copybutton
{
    border: none;
    color: white;
    background-color: #EAB00C;
    height: 39px;
    padding: 0px 11px 0px 11px;
    border-radius: 0 9px 9px 0px;
}
.main-seb-div
{
    height: 34vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.atlassubtitle
{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

align-items: center;
text-align: center;

color: #585757;
}

.atlasp1
{font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    /* display: flex; */
    display: block;
    align-items: center;
    text-align: center;
    color: #585757;
    text-align: center;
    margin: 0;
   
    margin-top: 7px;}

.atlasp
{font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    /* display: flex; */
    display: block;
    align-items: center;
    text-align: center;
    color: #585757;
    text-align: center;
    margin: 0;
    position: relative;
    left: -7px;
    margin-top: 7px;}
.sectiondevalign
{
    background: rgba(234, 176, 12, 0.35);
    height: 47.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    position: relative;
}
.altas-dash
{
    display: flex;
    justify-content: space-around;
}


.sendmain
{
        width: 50%;
}
.withdrawsection
{
    text-align: right;
    width: 30%
}
.withdrawsection1
{
    text-align: right;
    width: 30%;
    text-align: right;
    width: 35%;
    border-right: 1px solid #8080805e;
    padding-right: 2rem;
}
.main-subnav
{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.atlasnavbar
{
    /* display: flex;
    padding: 2%;
    justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    height: 17vh;
    align-items: center;
    /* justify-content: center; */
    margin: auto;
    padding: 0 2% 0 2%;
}
.searchMainaltas .ant-input-group .ant-input
{
    height: 39px;
}
.ant-input:hover
{
    border-color: none !important;
}

.searchMainaltas .ant-input-group-addon {
 
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 23%;
    /* padding: 0px 0px 21px 29px; */
}


.searchMainaltas .ant-select-selection--single .ant-select-selection__rendered{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 5rem;
    margin-right: 34px;
    padding-top: 8px;
    margin-left: 13px;
}

.searchMainaltas .ant-select-selection__rendered {
 margin-left: 35px;
}


.ant-select-dropdown
{
    background-color: white;
    color:grey;
}
.ant-select-dropdown-menu-item-selected
{
    background-color: #ffc107bf;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: #EAB00C;
}

.spanseachimage
{
    background: #EAB00C;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    border-radius:0 !important ;
    position: relative;
    left: -18px;
    cursor: pointer;
}
.h1namealtas
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    color: #585757;
    margin: 0;
}
.pnamealtas
{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
display: flex;
align-items: center;
margin-bottom: 4px;

color: #585757;

}

.atlas-img-value
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    /* line-height: 15px; */
    display: flex;
    align-items: center;
    color: #585757;
    text-align: right;
    margin: 0;
    justify-content: flex-end;
   
}
.atlas-img-value-span
{
    position: relative;
    top: -2px;
    margin-right: 4px;
    color: #585757;
}
.atlas-img-valueh1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    margin: 0;
    letter-spacing: 2px;
    color: #585757;
}

.altas-withdrow
{
    background: #FFFFFF;
    border: 1px solid rgba(88, 87, 87, 0.75);
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 2px 8px 4px 6px;
    margin-top: 5px;
    color: #585757;
    font-weight: 500;
    width: 6rem;
    text-align: center;
}




@media only screen and (min-width:1550px) and (max-width:4000px)
{
    /* .atlasnavbar
{
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    height: 20vh;
    padding: 2%;
    align-items: center;
} */

}


@media only screen and (min-width:0px) and (max-width:500px)
{
    .inputcopy {
       width: 64%;
        }

        .searchdashimg{
            width: 4rem;
        }
}
@media only screen and (min-width:0px) and (max-width:767.9px)
{

    .h1namealtas
    {
        text-align: center;
        display: block;
    }
    .atlasnavbar {
        display: block;
        padding: 0 2% 0 2%;
        justify-content: space-between;
        margin-top: 5rem;
        height: auto;
    }
    .atlasfooter {
        text-align: center;
        height: auto;
     
    }
    .sendmain {
        width: 100%;
    }
    .searchMainaltas {
        width: 80%;
        margin: auto;
   }
   .spanseachimage
   {
       margin-right: 0;
   }
   .pnamealtas {
    display: block;
    text-align: center;
   }
   .main-subnav {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: space-around;
}
.withdrawsection1 {
    width: 50%;
}
.withdrawsection {
    text-align: right;
    width: 50%;
}

}


@media only screen and (min-width:768px) and (max-width:1200)
{

    .Emailinput {
        width: 88%;
      
    }

    .whatsappsection {
        background: #4CAF50;
        width: 7rem;
    }
    .facebooksection {
        background: #3B5999;
        width: 7rem;
    }
}