
@import "src/css-variables/css-variables.scss";
.Geneology
{
    border: 1px solid;
    height: 74vh;
}

.MainTabSection .ant-tabs-nav
{
    width: 100%;
}
.crmtab .ant-tabs-nav
{
    width: 100%;
}
.MainTabSection .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 !important;
    /* padding: 12px 16px; */
    width: 16.6666666667%;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
    justify-content: center;
    height: 4.5vh !important;
}
.crmtab .ant-tabs-nav .ant-tabs-tab {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    height: 100%;
    margin: 0 !important;
    /* padding: 12px 16px; */
    width: 16.66%;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    align-items: center;
    justify-content: center;
    height: 3.5vh !important;
}
.sa1
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* line-height: 12px; */
    display: block;
    align-items: center;
    color: var( --main-color);
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 99%;
}

.submain-main-sctm:nth-child(even)
{
    background: rgba(240, 240, 240, 0.5);
}
.sa
{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    /* line-height: 20px; */
    display: block;
    align-items: center;
    color: var( --main-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 99%;
}
.mainslect
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #8080804f;
}
.submain-main-sectm{
    width: 20%;
}
.submain-main-sctm{
    align-items: center;
    width: 80%;
    padding-left: 3%;
    background: rgba(240, 240, 240, 0.5);
    height: 4rem;
    /* display: flex; */
    padding-top: 7px;
}
.select-af
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    /* display: flex; */
    align-items: center;
    text-decoration-line: underline;
    color: var( --main-color);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3px;
}
.imagesection-selction-contant
{
    width: 42.5%;
    text-align: center;
    background-color: #F0F0F0;;
    cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
    height: 100%;
}  
.imagesection-selction
{
    width: 16%;
    text-align: center;
    border-left: 1px solid #8080804f;
    border-right: 1px solid #8080804f;
}

.selectionmain
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    border-bottom: 1px solid #8080804f;
}
.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
    text-align: center;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 57vh;
}

.header-fixed > tbody > tr > th
{
    font-size: 9px !important;
    /* height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.header-fixed > tbody > tr > td
{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 17px;
align-items: center;
text-align: center;
/* display: flex;
justify-content: center;
height: 4rem !important;
color: rgba(88, 87, 87, 0.75) !important; */

}
.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 14.2857142857%;
    float: left;
}
.table-img
{
    width: 3rem;
    height: 3rem;
}
.table-borderless td
{
    text-align:center
}

/* .table-borderless th
{
    font-size: 12px;
    color: white;
    text-align:center;
    height: 4vh;
    display: flex !important;;
    align-items: center;
    justify-content: center;
} */
/* .tables-main
{
    overflow: scroll;
    height: 100%;
    padding-bottom: 3rem;
} */
.img-sec-div1 {
    padding-left: 3%;
    background: #F0F0F0;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}
.Geneology-label{
    padding: 0% 5% 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second-tab-header-control1 {
    height: 25.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.withdrawlabel
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* line-height: 18px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: rgba(88, 87, 87, 0.75);
    border: 1px solid;
    text-align: center;
    height: 2rem;
    border-radius: 4px;
    padding-top: 4px;
    width: 28.33%;
    text-align: center;
}

.Geneology-nodata
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    color: rgba(88, 87, 87, 0.5);
}
.Geneologyspan
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 21px; */
    display: flex;
    align-items: center;
    color: #8E8E93;
    width: 4rem;
}

.second-tab-header-control
{
    height: 30.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2%;
}
.header-h1
{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
text-decoration-line: underline;

color: var( --main-color);

}
.text-headear
{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
align-items: center;
padding-left: 4%;
color: #8E8E93;
width: 100%;
margin: 0;
}
.suddivsection
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5% 0% 5%;
}
.suddivsection1
{
    display: flex;
    align-items: center;
   
    width: 100%  ;

}
.Geneology-image-tag1{
    height: 100%;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
    width: 22%;
   
}
.Geneology-subimagesection
{
    display: flex;
    height: 9vh;
    align-items: center;
    border-bottom: 1px solid #8080804f;
}
.submain-main-sectiom
{
    border: 1px solid #8080804f;
    height: 70vh;
    border-radius: 11px;
    overflow: hidden;
}


.contain-geneology-c {
    height: 11.875vh;
    display: flex;
    height: 11.875vh;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    border-right: 1px solid;
}
.subgeneology-f
{
    padding: 1% 1% 1% 0%;
    height: 74vh;
}

.subtaim
{
    /* width: calc(50% - -1px); */
    width: 100%;
    text-align: center;
}
.lk
{
    display: flex;
    justify-content: space-evenly;
}

.Geneology-list-custom-border-final {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
}
.tab-main-h-f {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    /* display: flex; */
    align-items: center;
    color: var( --main-color);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}
.parent-geneology-two-cust-f {
    width: 80%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 53%;
    margin: auto;
}

.finally-borderGeneology
{
    border: 1px solid #8080804f;
    height: 70vh;
  
    border-radius: 11px;
    overflow: hidden;
}
.tab-main-p-dev {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    /* line-height: 14px; */
    /* display: flex; */
    align-items: center;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var( --main-color);
    margin: auto;
    width: 100%;
    margin: 0;
}


.tab-main-h-dp{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    /* display: flex; */
    align-items: center;
    color: var( --main-color);
    text-align: center;
    margin: auto;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    width: 100%;
}
.tab-main-h-dp:nth-child(4) {

    width: 62%;
}

.tab-main-h-dp:nth-child(5) {

    width: 62%;
}
.col-Geneology
{
    padding: 1%;
    height: 74vh;
}
.main-height
{
    height: 15.375vh;
}

.tab-main-geneology
{
    border-top: 1px solid rgba(88, 87, 87, 0.15);
    border-bottom: 1px solid rgba(88, 87, 87, 0.15);
    display: flex;
    height: 3.5vh;
    justify-content: space-between;
  
}
.name-section-div-custtab {
    display: flex;
    justify-content: space-between;
    width: 83%;
    align-items: center;
    padding: 0 3% 0 3%;
    background: #F0F0F0;
}
.Geneology-list{
    display: flex;
    align-items: center;
    width: 6rem;
    justify-content: center;
}
.contain-geneology-sub-custom {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
}

.contain-geneology-sub-custom1 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
}

.contain-geneology-sub-custom-finall {
    width: 12.50%;
    display: flex;
    align-items: center;
    justify-content: center;
     border-right: 1px solid rgba(88, 87, 87, 0.15);
}

.Geneology-list-custom-border-final:nth-child(5) {
    width: calc(50% - 2px);
}
.contain-geneology-sub-custom-finall:nth-child(1) {
            width: calc(12.50% - -1px);
}
.contain-geneology-sub-custom-finall:nth-child(2) {
            width: calc(12.50% - -1px);
}
.contain-geneology-sub-custom-finall:nth-child(3) {
            width: calc(12.50% - -1px);
}
.contain-geneology-sub-custom-finall:nth-child(4) {
    width: calc(12.50% + 32px);
}
.contain-geneology-sub-custom-finall:nth-child(5) {
    width: calc(12.50% + 32px);
}
.contain-geneology-sub-custom-finall:nth-child(6) {
            width: calc(12.50% - -1px);
}
.contain-geneology-sub-custom-finall:nth-child(7) {
            width: calc(12.50% - -1px);
}
.contain-geneology-sub-custom-finall:nth-child(8) {
            width: calc(12.50% - -1px);
    border-right: none;
}

.Geneology-list-custom-border:nth-child(4)
{
    border: none;
}

.contain-geneology-sub-custom:nth-child(1) {
    width: 25%;
        width: calc(25% - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}

.contain-geneology-sub-custom:nth-child(2) {
    width: 25%;
    width: calc(25% + 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
.fully-with
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.contain-geneology-sub-custom:nth-child(3) {
    width: 25%;
    width: calc(25% + 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
.contain-geneology-sub-custom:nth-child(4) {
    width: 25%;
    width: calc(25% - 0px);
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-right:none;
}

.parent-geneology-two-cust-f:nth-child(4) {
    width: 69%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 53%;
    margin: auto;
}
.parent-geneology-two-cust-f:nth-child(5) {
    width: 69%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 53%;
    margin: auto;
}


/*     width: 69%; */
.Geneology-divided
{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.Geneology-list-custom {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.Geneology-list-custom-border {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
}

.level-geneology-main
{
    background: #F0F0F0;
    width: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}
.contain-geneology
{
    height: 11.875vh;
    display: flex;
    height: 11.875vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.contain-geneology-sub
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-main-h
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    /* display: flex; */
    align-items: center;
    color: var( --main-color);
    margin: 0;
}


.contain-geneology-sub-two-borderless {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contain-geneology-sub-two {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
}
.sub-inside-div-two {
    width: 26%;
    border-right: 1px solid #8080804f;
}

.parent-geneology-two{
    width: 48%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 62%;
}

.parent-geneology-two-cust {
    width: 78%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 62%;
    margin: auto;
}

.tab-main-geneology-two {
    border-top: 1px solid #8080804f;
    border-bottom: 1px solid #8080804f;
    display: flex;
    height: 3.5vh;
    justify-content: space-evenly;
    /* padding-right: 1.5%; */
}
.name-section-div
{
    display: flex;
    justify-content: space-between;
    width: 78%;
    align-items: center;
    padding: 0 3% 0 3%;
}
.sub-inside-div
{
    width: 31%;
    border-right: 1px solid #8080804f;
}

.parent-geneology  
{
    width: 26%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 68%;
}
.tab-main-p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    /* line-height: 14px; */
    /* display: flex; */
    align-items: center;
    color: var( --main-color);
    margin: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.level-geneology
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: var( --main-color);
    margin: 0;
}

.Geneology-sub
{
    display: flex;
    height: 9vh;
    align-items: center;
}

.Geneology-search-div
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
}
.searchicon
{
    right: 23px;
    position: absolute;
    
}
.Geneology-p
{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;    
    line-height: 18px;
    margin: 0;
    /* display: flex; */
    align-items: center;
    color: var( --main-color);
}

.Geneology-search
{
    height: 2.5rem;
    /* position: relative; */
    /* top: -58px; */
    padding: 0 34px 0 11px;
    width: 63%;
    border: 1px solid rgba(88, 87, 87, 0.15);
    border-radius: 6px;
}

.GeneologyImageSection
{
   
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.img-sec-div
{
    padding-left: 3%;
}
.Geneology-image-tag
{
    height: 100%;
    border-right: 1px solid rgba(88, 87, 87, 0.15);
    width: 14%;
    border-bottom: 1px solid rgba(88, 87, 87, 0.15);
}
.parent-geneology-two-cust-div{
    width: 87%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 55%;
    margin: auto;
}
.g-img
{
    height: 100%;
    width: 100%;
}
.Geneology-name
{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    line-height: 28px;
    /* display: flex; */
    font-size: 30px;
    align-items: center;
    margin: 0;
    color: var( --main-color);
}

.contain-geneology-sub-custom-finall .parent-geneology-two-cust-div:nth-child(5) {
    width: 73%;
    border: 1px solid #8080804f;
    display: flex;
    border-radius: 8px;
    height: 55%;
    margin: auto;
}



@media only screen and (min-width:0px) and (max-width:500px)
{
    .col-Geneology {
        padding: 1%;
        height: AUTO;
    }
    .Geneology {
        border: 1px solid;
        height: auto;
    }
}