.blockcheck-main{
    width: 100%;
    height: 100%;
    .bcm-search-bar{
        height: 12%;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        div{
            &:nth-child(1){
                img{
                    height: 3.5vh;
                    margin-bottom: 5px;
                }
                h6{
                    margin-bottom: 0;
                    color: var(--gray-color);
                    font-weight: 400;
                    font-size: 90%;
                }

            }
            &:nth-child(2){
                width: 28%;
                border: 1px solid var(--border-color);
                input{
                    width: 100%;
                    padding: 5px;
                    background-color: transparent;
                    border: 0;
                    font-size: 85%;
                }
            }
        }
    }
    .bcm-header{
        height: 8%;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--main-color);
        padding: 0 50px;
        h6{
            margin-bottom: 0;
            display: flex;
            color: var(--background-color);
            span{
            color: var(--background-color);
            }
        }

    }
    .bcm-body{
        height: 80%;
        width: 100%;
        display: flex;
        .bcm-body-search-filter{
            width: 40%;
            height: 100%;
            border-right: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            .bcm-body-search-filter-wrapper{
                height: 65%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 0 50px;
                .bcm-search-by-mail{
                    img{
                        height: 3.5vh;
                        margin-bottom: 5px;
                    }
                    h6{
                        font-weight: 400;
                        font-size: 90%;
                        color: var(--gray-color);
                    }
                    div{
                        margin-top: 4vh;
                        width: 65%;
                        border: 1px solid var(--border-color);
                        padding: 5px;
                        input{
                            font-size: 85%;
                            width: 100%;
                            border: 0;
                            background-color: transparent;
                        }
                    }
                }
                .ncm-search-by-filter{
                    h4{
                        color: var(--gray-color);
                        margin-bottom: 3vh;
                    }
                    div{
                        h6{
                            color: var(--gray-color);
                            font-size: 85%;
                            margin-top: 2vh;
    
                        }
                        button{
                            border: 1px solid var(--border-color);
                            background-color: transparent;
                            border-radius: 5px;
                            margin-right: 10px;
                            font-size: 70%;
                            padding: 2px 20px;
                            color: var(--gray-color);
                        margin-bottom: 2.5px;
                        }
                        .active-button{
                            border: 1px solid var(--main-color);
                            color: var(--main-color);
                            font-weight: 600;

                        }
                    }
                }

            }

        }
        .bcm-bodycheck-list{
            width: 60%;
            height: 100%;
            padding: 3% 50px;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 0;
            }
            .block-check-wrapper{
                width: 100%;
                height: 54%;
                display: flex;
                margin-bottom: 2vh;
                cursor: pointer;
                .blockcheck-strip{
                    width: 20px;
                    height: 100%;
                    background-color: #1A6BB4;
                }
                .blockcheck-cheque{
                    width: calc(100% - 20px);
                    height: 100%;
                }

            }
            

        }

    }
}