.fullscreen-toggler {
  position: absolute;
  right: 10px;
  height: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  i {
    color: #000000;
    &:hover {
      color: #125bb6;
    }
  }
}
