.pre-register-main {
    width: 100%;
    height: 100%;
    display: flex;
    .pre-register-main-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 12% 5%;
        border-right: 1px solid var(--border-color);
        h2,
        h6 {
            width: 100%;
            margin-bottom: 0;
        }
        h2 {
            font-weight: bold;
        }
        h6 {
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .hide-the-step {
            opacity: 0.25;
            pointer-events: none;
        }
    }
    .pre-register-main-right {
        .pr-step-two {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .pr-step-two-check-list {
                position: absolute;
                width: 60%;
                height: 350px;
                bottom: 0;
                left: 50%;
                backdrop-filter: blur(15px);
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 5%;
                transition: 0.3s;
                transform: translate(-50%, 100%);
                button{
                    position: absolute;
                    padding: 0;
                    height: 20px;
                    width: 20px;
                    right: 5%;
                    top: 5%;
                    background-color: transparent;
                    border: 0;
                    padding: 3px;
                    img{
                        height: 20px;
                        width: 20px;
                        transform: rotate(45deg);

                    }
                    &:hover{
                        transition: 0.3s;
                        transform: scale(1.2);
                    }
                }
                h6{
                    width: 100%;
                    margin: 0;
                    font-weight: 400;
                }
            }
            .drawer-up{
                transition: 0.3s;
                transform: translate(-50%,0);
            }
            img {
                height: 12vh;
                margin-bottom: 5vh;
            }
            p {
                margin-bottom: 5vh;
                width: 30%;
                text-align: center;
                opacity: 0.5;
            }
            h6 {
                width: 30%;
                margin-bottom: 0;
                position: relative;
                span {
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    background-color: #be241a;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                }
                input {
                    width: 100%;
                    padding: 12px 20px;
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                    &::placeholder {
                        opacity: 0.5;
                        font-size: 90%;
                    }
                }
            }
            .button-container {
                margin-top: 5vh;
                width: 30%;
                display: flex;
                justify-content: space-between;
                button {
                    border: 1px solid var(--border-color);
                    padding: 10px 0;
                    border-radius: 3px;
                    &:nth-child(1) {
                        width: 73%;
                        background-color: transparent;
                        color: var(--main-color);
                        font-size: 95%;
                    }
                    &:nth-child(2) {
                        width: 23%;
                        background-color: var(--main-color);
                        color: white;
                    }
                    &:disabled{
                        opacity: 0.25;
                        pointer-events: none;
                    }
                }
            }
        }
        .pr-step-one {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                height: 12vh;
                margin-bottom: 5vh;
            }
            p {
                margin-bottom: 5vh;
                width: 35%;
                text-align: center;
                opacity: 0.5;
            }
            div {
                width: 35%;
                display: flex;
                flex-direction: column;
                margin-bottom: 8vh;
                position: relative;
                span{
                    position: absolute;
                    top: 105%;
                    color: var(--red-color);
                    font-size: 90%;
                    font-weight: 500;
                }
                input {
                    padding: 12px 20px;
                    border: 1px solid var(--border-color);
                    border-radius: 4px;
                    &:nth-child(1) {
                        margin-bottom: 3vh;
                    }
                    &::placeholder {
                        opacity: 0.5;
                    }
                }
            }
            button {
                width: 25%;
                background-color: var(--main-color);
                color: white;
                border: 0;
                padding: 10px 0;
                border-radius: 4px;
                font-weight: 500;
                &:disabled{
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
    }
}
.pr-final-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 12vh;
    }
    h6{
        margin: 5vh 0;
    }
    div{
        width: 25%;
        display: flex;
        justify-content: space-between;
        button{
            padding: 10px 0;
            &:nth-child(1){
                width: 70%;
                background-color: transparent;
                border: 1px solid var(--border-color);
            }
            &:nth-child(2){
                width: 25%;
                border: 0;
                background-color: var(--main-color);
                color: white;
                font-weight: 500;
            }

        }

    }
}