.my-bonds-main {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative !important;
    z-index: 5;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--border-color);
    }
    .my-bond-row-wrapper {
        width: 100%;
        height: 45%;
        transition: 0.4s;
        z-index: 25;
        .my-bond-row {
            width: 100%;
            height: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3.5% 40px;
            transition: 0.3s;
            &:hover{
                transition: 0.3s;
                transform: scale(1.05);
            }
            .my-bond-row-top {
                display: flex;
                justify-content: space-between;
                div {
                    display: flex;
                    flex-direction: column;
                    &:nth-child(1) {
                        p {
                            font-weight: 600;
                            font-size: 85%;
                            span {
                                font-size: 100%;
                            }
                        }
                    }
                    h2,
                    h3,
                    h5 {
                        margin-bottom: 0;
                    }
                    p {
                        margin: 0;
                    }
                    h3 {
                        font-weight: bold;
                    }
                    .coin-name {
                        img {
                            height: 25px;
                            transform: rotate(20deg);
                        }
                        font-style: italic;
                        display: flex;
                        font-weight: 600;
                        align-items: center;
                    }
                    &:nth-child(2) {
                        p {
                            line-height: 12px;
                            text-align: right;
                            font-weight: 600;
                            margin: 0;
                            span {
                            }
                        }
                    }
                }
            }
            .my-bond-row-bottom {
                display: flex;
                justify-content: space-between;
                div {
                    display: flex;
                    flex-direction: column;
                    h5 {
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                    span {
                        margin: 0;
                        font-size: 60%;
                        font-weight: 400;
                    }
                    &:nth-child(2) {
                        text-align: center;
                        h5 {
                            text-align: center;
                        }
                    }
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }
    .my-bond-inspector-row-wrapper {
        height: 100%;
        width: 100%;
        transition: 0.4s;
        overflow: hidden;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 2;
        .bir-overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 26;
        }
        .bond-inspector-left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            h1 {
                margin-bottom: 0;
                img {
                    height: 4.5vh;
                    transform: rotate(15deg);
                }
                font-style: italic;
                span {
                    font-weight: bold;
                }
            }
            .dropdown-wrapper {
                display: flex;
                width: 60%;
                height: 5vh;
                justify-content: space-between;
                margin-top: 2vh;
                .bir-single-dropdown {
                    border: 1px solid var(--border-color);
                    width: 46%;
                    padding: 5px 10px;
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    img {
                        filter: invert(1);
                        transform: rotate(180deg);
                    }
                    .bir-dropdown-list {
                        position: absolute;
                        top: 98%;
                        left: -1px;
                        width: calc(100% + 2px);
                        max-height: 300%;
                        min-height: 100%;
                        background-color: var(--background-color);
                        z-index: 2;
                        border: 1px solid var(--border-color);
                        border-top: 0;
                        h6 {
                            margin-bottom: 0;
                            height: 5vh;
                            font-size: 80%;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            border-bottom: 1px solid var(--border-color);
                            &:last-child {
                                border-bottom: 0;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .bond-inspector-right {
            width: 50%;
            height: 100%;
            background-color: rgba(232, 235, 240, 0.35);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3% 2.5%;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 0;
            }
            .bond-inspector-header {
                height: 40px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                button {
                    height: auto;
                    background-color: var(--background-color);
                    border: 0;
                    font-size: 80%;
                    padding: 5px 10px;
                    font-weight: 400;
                    img {
                        margin-left: 5px;
                        transform: rotate(180deg);
                    }
                }
                .selected-status {
                    border: 1px solid var(--main-color);
                    font-weight: 600;
                }
            }
            .bond-inspector-body {
                height: calc(100% - 50px);
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 20;
                .inspector-data-display {
                    height: calc(100% - 7vh);
                    width: 100%;
                    background-color: white;
                    .inspector-data-display-top {
                        height: calc(100% - 7vh);
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding: 0 2.5vh;
                        // padding: 3vh 2.5vh;
                        // @media (min-width: 1600px){
                        //     padding: 7vh 2.5vh;
                        // }
                        h6 {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 0;
                            span {
                                font-size: 1.9vh;

                                &:nth-child(1) {
                                    font-weight: 400;
                                    font-size: 80%;
                                }
                                &:nth-child(2) {
                                    font-size: 105%;
                                }
                            }
                        }
                    }
                    .inspector-data-display-bottom {
                        border-top: 1px solid var(--border-color);
                        height: 7vh;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        padding: 0 3vh;
                        h6 {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 0;
                            span {
                                font-weight: 400;
                                font-size: 80%;
                                &:nth-child(2) {
                                    font-weight: bold;
                                    font-size: 105%;
                                }
                            }
                        }
                    }
                }
                .inspector-data-footer {
                    height: 7vh;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    button {
                        height: 80%;
                        width: 48%;
                        &:nth-child(1) {
                            border: 1px solid var(--border-color);
                            background-color: var(--background-color);
                        }
                        &:nth-child(2) {
                            background-color: var(--main-color);
                            color: white;
                            border: 1px solid var(--main-color);
                        }
                    }
                    // button{
                    //     display: flex;
                    //     height: 100%;
                    //     width: 100%;
                    //     border: 0;
                    //     background-color: var(--main-color);
                    //     color: var(--background-color);
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     font-weight: 600;
                    //     font-size: 90%;
                    //     img{
                    //         margin-left: 10px;
                    //         filter: invert(1);
                    //     }
                    // }
                }
            }
            .bond-list-row {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: white;
                padding: 5%;
                margin-bottom: 4vh;
                z-index: 25;
                .bond-list-row-upper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .bond-list-row-upper-info {
                        position: relative;
                        width: 50%;
                        .hover-info {
                            position: absolute;
                            width: 100%;
                            height: 300%;
                            background-color: var(--background-color);
                            border: 1px solid var(--border-color);
                            top: 110%;
                            left: -20%;
                            z-index: 26;
                            h6 {
                                margin-bottom: 0;
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translate(-50%, -100%);
                                width: 0;
                                height: 0;
                                border-left: 12px solid transparent;
                                border-right: 12px solid transparent;

                                border-bottom: 12px solid var(--border-color);
                            }
                            .hover-info-above {
                                padding: 0 15px;
                                height: calc(100% - 30px);
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                div {
                                    p {
                                        margin: 0;
                                        text-decoration: none;
                                    }
                                }
                            }
                            .hover-info-below {
                                height: 30px;
                                width: 100%;
                                background-color: var(--main-color);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: white;
                            }
                        }
                        h4 {
                            margin-bottom: 0;
                            font-weight: 600;
                        }
                        span {
                            font-weight: 500;
                        }
                    }
                }
                p {
                    font-size: 85%;
                    text-decoration: underline;
                    font-weight: 600;
                    margin: 0;
                    margin-top: 2vh;
                }
            }
        }
    }
}
