.leads-clients-wrapper .leads-table-wrapper {
  -webkit-box-shadow: 0px 0px 4px 0px #b7b7b7;
  box-shadow: 0px 0px 4px 0px #b7b7b7;
  border-radius: 8px;
}
.insight-container
{
  width: 100%;
}

.leads-clients-wrapper .leads-table-wrapper .leads-table-container {
  height: 43vh;
  overflow-y: auto;
}

@media (min-width: 1600px) {
  .leads-clients-wrapper .leads-table-wrapper .leads-table-container {
    height: 55vh;
  }
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container::-webkit-scrollbar-thumb,
.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .frag-wrapper {
  margin-top: 3rem;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table {
  max-height: 100%;
  background-color: white !important;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  thead {
  border-radius: 2px;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  thead
  tr
  th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 13px 1px 10px 0px #999;
  box-shadow: 13px 1px 10px 0px #999;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  thead
  tr
  th:first-child {
  padding-left: 2rem;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  thead
  tr
  th:last-child {
  padding-right: 2rem;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  tbody
  tr
  td:first-child {
  padding-left: 2rem;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  tbody
  tr
  td:last-child {
  padding-right: 2rem;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  .user-tag {
  padding: 4px 10px;
  border-radius: 6px;
}

.leads-clients-wrapper
  .leads-table-wrapper
  .leads-table-container
  .leads-table
  .pic-user {
  width: 2.5rem;
  height: 2.5rem;
}

.pipeline-boards-wrapper {
  overflow-x: auto;
  width: 100%;
}

.pipeline-boards-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.pipeline-boards-wrapper::-webkit-scrollbar-thumb,
.pipeline-boards-wrapper::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.pipeline-boards-wrapper::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.pipeline-boards-wrapper .pipeline-boards-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 576px) {
  .pipeline-boards-wrapper .pipeline-boards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.pipeline-boards-wrapper .pipeline-boards-container .pipeline-boards .dropzone {
  height: 400px;
  overflow-y: auto;
}

.pipeline-boards-wrapper
  .pipeline-boards-container
  .pipeline-boards
  .dropzone::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.pipeline-boards-wrapper
  .pipeline-boards-container
  .pipeline-boards
  .dropzone::-webkit-scrollbar-thumb,
.pipeline-boards-wrapper
  .pipeline-boards-container
  .pipeline-boards
  .dropzone::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.pipeline-boards-wrapper
  .pipeline-boards-container
  .pipeline-boards
  .dropzone::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.actions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
}

.close-btn-wrapper {
  position: absolute;
  left: 6rem;
  top: 1rem;
  z-index: 99999999;
}

@media (max-width: 576px) {
  .close-btn-wrapper {
    top: 6rem;
    left: 1rem;
  }
}

.leads-user-details-wrapper {
  background-color: white;
  padding: 1rem;
  width: 100%;
  overflow: auto;
}

.leads-user-details-wrapper .leads-user-details-container {
  border-radius: 10px;
  height: 100%;
  display: table;
  width: 100%;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-basic-wrapper {
  display: table-row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-basic-wrapper
  .leads-user-details-basic {
  padding: 0.7rem 0.75rem 0.75rem;
  height: 130px;
  width: 100%;
}

@media (max-width: 576px) {
  .leads-user-details-wrapper
    .leads-user-details-container
    .leads-user-details-basic-wrapper
    .leads-user-details-basic {
    padding: 0;
  }
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-basic-wrapper
  .leads-user-details-basic
  .user-details-name {
  font-weight: 700;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more {
  display: table-row;
  height: 100%;
  overflow-y: auto;
  margin-top: 20px;
  width: 100%;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 100%;
  width: 100%;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .more-details-key {
  font-weight: 700;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .more-details-value {
  color: #a6a6a6;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs {
  height: 100%;
  display: table;
  width: 100%;
  overflow: auto;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  wi
  .ant-tabs-bar {
  display: table-row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  .ant-tabs-content {
  display: table-row;
  height: 100%;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  .ant-tabs-content
  .ant-tabs-tabpane-active {
  overflow-y: auto;
  padding: 0.5rem;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  .ant-tabs-content
  .ant-tabs-tabpane-active::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  .ant-tabs-content
  .ant-tabs-tabpane-active::-webkit-scrollbar-thumb,
.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  .ant-tabs-content
  .ant-tabs-tabpane-active::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.leads-user-details-wrapper
  .leads-user-details-container
  .leads-user-details-more
  .more-container
  .ant-tabs
  .ant-tabs-content
  .ant-tabs-tabpane-active::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .affiliate-wrapper {
    padding-bottom: 0;
    padding-top: 3rem;
  }
}

.affiliate-broker {
  margin-top: 0.5rem;
  color: #EAB00C;
  font-size: 1.8rem;
}

@media (min-width: 1600px) {
  .affiliate-broker {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .affiliate-broker {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
  }
}

.header-wrapper {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .header-wrapper {
    height: 4rem;
  }
}

.affiliate-header {
  font-weight: bold;
  color: #EAB00C;
}

@media (max-width: 576px) {
  .affiliate-header {
    font-size: 1.2rem;
  }
}

.affiliate-header span {
  font-weight: normal;
}

.aff-code-wrapper {
  border-style: dashed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 1px;
  border-color: #EAB00C;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  text-align: start;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .aff-code-wrapper {
    width: 85%;
  }
}

.aff-code-wrapper .ant-typography {
  width: 100%;
}

@media (max-width: 576px) {
  .aff-code-wrapper .ant-typography {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.aff-code-wrapper .ant-typography .ant-typography-copy {
  float: right;
}

.fragment-container {
  z-index: 0;
  overflow: auto;
}

.fragment-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.fragment-container::-webkit-scrollbar-thumb,
.fragment-container::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.fragment-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.fragment-container .frag-wrapper {
  padding-top: 3rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.fixed-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: white;
  padding-top: 3rem;
}

@media (max-width: 576px) {
  .fixed-nav {
    padding-top: 1rem;
    top: 2rem;
    position: static;
  }
}

.affiliate-nav {
  padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  -webkit-box-shadow: 0 6px 10px -6px #999;
  box-shadow: 0 6px 10px -6px #999;
}

@media (max-width: 576px) {
  .affiliate-nav {
    margin-top: 1rem;
  }
}

.affiliate-nav .nav-container {
  padding-right: 3rem;
  padding-left: 3rem;
  overflow-x: auto;
}

@media (max-width: 576px) {
  .affiliate-nav .nav-container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.affiliate-nav .nav-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.affiliate-nav .nav-container::-webkit-scrollbar-thumb,
.affiliate-nav .nav-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.affiliate-nav .nav-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.affiliate-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.affiliate-nav .nav-menu li {
  padding-right: 0.5rem;
  display: inline;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.affiliate-nav .nav-menu .disabled a {
  color: #afafaf;
}

@media (min-width: 1600px) {
  .affiliate-nav .nav-menu li {
    padding-right: 1.5rem;
  }
}

.affiliate-nav .nav-menu li:last-child {
  padding-right: 0;
}

.affiliate-nav .nav-menu li a {
  font-size: 0.9rem;
  font-weight: bold;
  color: #EAB00C;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  padding: 2px 20px;
}

@media (min-width: 1600px) {
  .affiliate-nav .nav-menu li a {
    font-size: 1.1rem;
  }
}

.affiliate-nav .nav-menu li a i {
  padding-right: 15px;
  line-height: unset;
}

.affiliate-nav .nav-menu li a.active {
  color: #2f2f2f !important;
}

.affiliate-nav .nav-menu li .sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.affiliate-nav .nav-menu li .sub-menu .sub-menu-item {
  padding: 10px 0;
}

.affiliate-nav .nav-menu li .sub-menu .sub-menu-item a {
  font-size: 1rem;
}

.affiliate-nav .nav-menu li .sub-menu .sub-menu-item:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.affiliate-nav .nav-menu li:hover > .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .affiliate-nav .nav-menu li:hover > .sub-menu {
    left: 0;
  }
}

.insight-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 576px) {
  .insight-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 576px) {
  .affiliate-insights {
    margin-bottom: 2rem;
  }
}

.affiliate-insights h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2.8rem;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .affiliate-insights h2 {
    white-space: normal;
    margin-bottom: 0.2rem;
    font-size: 2.3rem;
  }
}

.affiliate-insights h2 span {
  font-size: 50%;
  font-weight: normal;
  color: #EAB00C;
}

.affiliate-insights label {
  text-align: center;
  width: 100%;
}

.links-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 576px) {
  .links-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.revenues-card-wrapper {
  margin-top: 3rem;
}
.revenues-card {
  margin-right: 25px;
  padding: 1.5rem 1rem;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

@media (min-width: 1600px) {
  .revenues-card {
    padding: 2rem 1rem;
  }
}

@media (max-width: 576px) {
  .revenues-card {
    margin-bottom: 2rem;
  }
}

.revenues-card:last-child {
  margin-right: 0;
}

.revenues-card .title {
  font-size: 1rem;
}

.revenues-card .value {
  color: white;
  font-weight: bold;
  font-size: 1.7rem;
}

@media (min-width: 1600px) {
  .revenues-card .value {
    font-size: 1.95rem;
  }
}

.revenues-card .value span {
  font-size: 0.85rem;
  font-weight: normal;
}

.revenues-card .converted-value {
  font-size: 1rem;
  margin-bottom: 0;
}

.cardOne {
  background: -o-linear-gradient(331.55deg, #3325ae 0.76%, #c36cd5 76.74%);
  background: linear-gradient(118.45deg, #3325ae 0.76%, #c36cd5 76.74%);
}

.cardTwo {
  background: -o-linear-gradient(331.55deg, #f56d19 0.76%, #ecc641 76.74%);
  background: linear-gradient(118.45deg, #f56d19 0.76%, #ecc641 76.74%);
}

.cardThree {
  background: -o-linear-gradient(331.55deg, #3024ae 0.76%, #549efd 76.74%);
  background: linear-gradient(118.45deg, #3024ae 0.76%, #549efd 76.74%);
}

.cardFour {
  background: -o-linear-gradient(331.55deg, #ea4335 0.76%, #eaaa85 76.74%);
  background: linear-gradient(118.45deg, #ea4335 0.76%, #eaaa85 76.74%);
}

.feature-card {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 6px;
  text-align: center;
}

@media (max-width: 576px) {
  .feature-card {
    margin-bottom: 2rem;
  }
}

.feature-card i {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.feature-card p {
  line-height: 1.5;
}

@media (min-width: 1600px) {
  .feature-card p {
    font-size: 1.15rem;
  }
}

.feature-card .feature-btn {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #EAB00C;
  border: 1px solid #EAB00C;
  border-radius: 6px;
  padding: 0.5rem 1.25rem;
}

@media (min-width: 1600px) {
  .feature-card .feature-btn {
    font-size: 1.1rem;
  }
}

.convert-wrapper {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3024a4),
    to(#4e95ed)
  );
  background: -o-linear-gradient(left, #3024a4 0%, #4e95ed 100%);
  background: linear-gradient(90deg, #3024a4 0%, #4e95ed 100%);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.convert-wrapper .header {
  color: white;
}

.convert-wrapper .value {
  color: white;
  font-weight: bold;
}

.convert-wrapper .convert-box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.convert-wrapper .convert-box-header img {
  height: 30px;
}

.convert-wrapper .convert-box-header h5 {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.convert-wrapper .convert-input-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  width: 70%;
}

@media (max-width: 576px) {
  .convert-wrapper .convert-input-wrapper {
    width: 100%;
  }
}

.convert-wrapper .convert-input-wrapper input {
  background: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 86%;
  border: none;
}

@media (min-width: 1600px) {
  .convert-wrapper .convert-input-wrapper input {
    width: 90%;
  }
}

.convert-wrapper .convert-input-wrapper i {
  color: rgba(255, 255, 255, 0.75);
  margin-left: 15px;
  font-size: 1.2rem;
}

.convert-wrapper .convert-btn {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 6px;
}

.convert-wrapper .btc-btn {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffce1c),
    to(#f76b1b)
  );
  background: -o-linear-gradient(left, #ffce1c 0%, #f76b1b 100%);
  background: linear-gradient(90deg, #ffce1c 0%, #f76b1b 100%);
}

.convert-wrapper .eth-btn {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#529efc),
    to(#3125af)
  );
  background: -o-linear-gradient(left, #529efc 0%, #3125af 100%);
  background: linear-gradient(90deg, #529efc 0%, #3125af 100%);
}

.searchBarMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #fff;
  width: 80%;
  max-width: 680px;
  margin: 0 auto;
  padding: 5px 10px;
  margin-top: 11px;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.searchBarMain .searchBarInput {
  height: 42px;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  width: calc(100% - 72px);
  outline: none;
  padding-right: 32px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.searchBarMain i {
  font-size: 20px;
  line-height: 42px;
  color: rgba(68, 68, 68, 0.5);
  padding-left: 10px;
  padding-right: 10px;
}

.searchBarMain i.fa-search {
  text-align: center;
  float: left;
}

.searchBarMain i.close-btn {
  right: 12px;
  top: 11px;
  display: none;
}

.searchBarMain i.close-btn:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.84);
}

.searchBarMain .ant-dropdown-trigger {
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
}

.searchBarMain .ant-calendar-picker {
  width: calc(100% - 72px);
}

.searchBarMain .ant-calendar-picker input {
  border: none;
  height: 40px;
}

.searchBarMain .ant-calendar-picker i {
  display: none;
}

.filter-wrapper {
  position: fixed;
}

@media (max-width: 576px) {
  .filter-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    z-index: 9999999;
    width: -webkit-fill-available;
  }
}

.filter-wrapper .ant-dropdown-trigger {
  width: 100%;
  margin-bottom: 2rem;
}

.filter-wrapper .filter-title {
  line-height: 27px;
  text-transform: none;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
}
/* 
@media (min-width: 1600px) {
  .filter-wrapper .filter-title {
    font-size: 1.1rem;
  }
} */

.filter-wrapper .filter-menu {
  padding-left: 0;
  list-style: none;
}

@media (max-width: 576px) {
  .filter-wrapper .filter-menu {
    margin-bottom: 2rem;
  }
}

.filter-wrapper .filter-menu .filter-menu-item {
  color: #2f2f2f;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  white-space: pre-wrap;
}

@media (min-width: 1600px) {
  .filter-wrapper .filter-menu .filter-menu-item {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .filter-wrapper .filter-menu .filter-menu-item {
    font-size: 1rem;
  }
}

.filter-wrapper .filter-menu .filter-menu-item:hover {
  background-color: rgba(158, 158, 158, 0.1);
}

.filter-wrapper .filter-menu .filter-menu-item.active {
  background-color: rgba(158, 158, 158, 0.3);
}

.product-card {
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 16px 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-card:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.product-card .title-wrapper {
  margin-top: 1rem;
  margin-bottom: 0.35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.product-card .title-wrapper .img-wrapper img {
  height: 1.4rem;
}

.product-card .title-wrapper .main-title {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #2f2f2f;
}

@media (min-width: 1600px) {
  .product-card .title-wrapper .main-title {
    font-size: 1.35rem;
  }
}

.product-card .intro-wrapper .sub-title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.8rem;
}

@media (min-width: 1600px) {
  .product-card .intro-wrapper .sub-title {
    font-size: 0.9rem;
  }
}

.product-card .intro-wrapper .sub-title span {
  font-weight: bold;
}

.product-card .intro-wrapper .intro {
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.7rem;
}

@media (min-width: 1600px) {
  .product-card .intro-wrapper .intro {
    font-size: 0.85rem;
  }
}

.product-card .intro-wrapper .type {
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.8rem;
}

@media (min-width: 1600px) {
  .product-card .intro-wrapper .type {
    font-size: 0.9rem;
  }
}

.product-card .intro-wrapper .type span {
  font-weight: bold;
}

.marketplace-container {
  height: 45vh;
  top: 3rem;
  overflow-y: auto;
  position: -webkit-sticky;
  position: sticky;
}

@media (min-width: 1600px) {
  .marketplace-container {
    height: 58vh;
  }
}

.marketplace-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.marketplace-container::-webkit-scrollbar-thumb,
.marketplace-container::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.marketplace-container::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.marketplace-container .marketplace-details-header i {
  font-size: 4rem;
}

.marketplace-container .marketplace-details-header .details-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.marketplace-container
  .marketplace-details-header
  .details-img-container
  .details-img-wrapper {
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
}

.marketplace-container .marketplace-details-header .details-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.marketplace-container
  .marketplace-details-header
  .details-header-wrapper
  .title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 1600px) {
  .marketplace-container
    .marketplace-details-header
    .details-header-wrapper
    .title {
    font-size: 1.75rem;
  }
}

.marketplace-container
  .marketplace-details-header
  .details-header-wrapper
  .sub-title {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 1600px) {
  .marketplace-container
    .marketplace-details-header
    .details-header-wrapper
    .sub-title {
    font-size: 1.25rem;
  }
}

.marketplace-container
  .marketplace-details-header
  .details-header-wrapper
  .intro {
  font-size: 0.85rem;
  color: #2f2f2f;
  margin-bottom: 0;
}

@media (min-width: 1600px) {
  .marketplace-container
    .marketplace-details-header
    .details-header-wrapper
    .intro {
    font-size: 1rem;
  }
}

.marketplace-container .marketplace-details-main {
  margin-top: 2rem;
}

.marketplace-container .marketplace-details-main .meta-wrapper .meta-item {
  margin-bottom: 0.5rem;
}

@media (min-width: 1600px) {
  .marketplace-container .marketplace-details-main .meta-wrapper .meta-item {
    margin-bottom: 1rem;
  }
}

.marketplace-container
  .marketplace-details-main
  .meta-wrapper
  .meta-item
  .meta-title {
  width: 100%;
  color: #2f2f2f;
  font-weight: bold;
  margin-bottom: 0;
}

@media (min-width: 1600px) {
  .marketplace-container
    .marketplace-details-main
    .meta-wrapper
    .meta-item
    .meta-title {
    font-size: 1rem;
  }
}

.marketplace-container
  .marketplace-details-main
  .meta-wrapper
  .meta-item
  .meta-value {
  width: 100%;
}

@media (min-width: 1600px) {
  .marketplace-container
    .marketplace-details-main
    .meta-wrapper
    .meta-item
    .meta-value {
    font-size: 1rem;
  }
}

.marketplace-container
  .marketplace-details-main
  .details-main
  .details-content {
  margin-bottom: 1rem;
}

.marketplace-container
  .marketplace-details-main
  .details-main
  .details-content:last-child {
  margin-bottom: 0;
}

.marketplace-container
  .marketplace-details-main
  .details-main
  .details-content
  h6 {
  font-weight: bold;
}

.main-video-wrapper {
  height: 100%;
}

.main-video-wrapper .main-video-container {
  height: 100%;
}

.main-video-wrapper .main-video-container video {
  width: 100%;
  height: auto;
}

.main-video-details-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-video-details-wrapper .main-video-details .video-date {
  font-size: 0.7rem;
}

@media (min-width: 1600px) {
  .main-video-details-wrapper .main-video-details .video-date {
    font-size: 0.85rem;
  }
}

@media (max-width: 576px) {
  .main-video-details-wrapper .main-video-details .video-date {
    margin-top: 5px;
  }
}

.main-video-details-wrapper .main-video-details .video-title {
  font-size: 1.2rem;
}

@media (min-width: 1600px) {
  .main-video-details-wrapper .main-video-details .video-title {
    font-size: 1.35rem;
  }
}

.main-video-details-wrapper .main-video-details .video-desc {
  max-height: 200px;
  overflow: auto;
  font-size: 0.75rem;
}

@media (min-width: 1600px) {
  .main-video-details-wrapper .main-video-details .video-desc {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .main-video-details-wrapper .main-video-details .video-desc {
    max-height: 100px;
  }
}

.videoItem {
  float: left;
  margin-bottom: 20px;
}

.videoItem:last-child {
  margin: 0;
}

.videoItem .thumbnail {
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.videoItem .thumbnail img {
  position: relative;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
}

.videoItem .thumbnail:hover:after {
  opacity: 0;
}

.videoItem .thumbnail:after {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.videoItem .duration {
  position: absolute;
  height: 18px;
  z-index: 2;
  bottom: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.videoItem .play {
  position: absolute;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(https://static1.dmcdn.net/images/home/play.png.v11b2fefa92a0dc9b);
  height: 36px;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  top: 50%;
  width: 36px;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.videoItem .category {
  font-size: 11px;
  margin: 2px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #aaa;
}

.videoItem .title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.videoItem .author {
  color: #7f7f7f;
  font-size: 13px;
  margin-bottom: 0;
}

.currency-convert-wrapper {
  position: relative;
}

.currency-convert-wrapper .converter-card {
  padding: 1rem 1.5rem;
  border-radius: 6px;
}

.currency-convert-wrapper .converter-card.converted {
  background-color: rgba(25, 106, 180, 0.1);
}

.currency-convert-wrapper .converter-card.converted .ant-dropdown-trigger {
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 576px) {
  .currency-convert-wrapper .converter-card {
    margin-bottom: 60px;
  }
}

.currency-convert-wrapper .converter-card .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
}

.currency-convert-wrapper .converter-card .controls .ant-btn-link {
  color: #EAB00C;
}

.currency-convert-wrapper .converter-card .controls .ant-dropdown-trigger {
  color: #EAB00C;
  border: none;
  background-color: rgba(25, 106, 180, 0.1);
}

.currency-convert-wrapper .converter-card .controls img {
  padding-right: 10px;
}

.currency-convert-wrapper .converter-card .controls .tittle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 1600px) {
  .currency-convert-wrapper .converter-card .controls .tittle {
    font-size: 1.2rem;
  }
}

.currency-convert-wrapper .converter-card .input-wrapper {
  margin-top: 0.5rem;
}

.currency-convert-wrapper .converter-card .input-wrapper .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.currency-convert-wrapper
  .converter-card
  .input-wrapper
  .input-container
  .ant-input-number {
  border: none;
  height: auto;
  padding: 0.25rem 0;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: transparent;
}

.currency-convert-wrapper
  .converter-card
  .input-wrapper
  .input-container
  .ant-input-number
  .ant-input-number-input {
  font-size: 2rem;
  height: auto;
  text-align: center;
}

.currency-convert-wrapper
  .converter-card
  .input-wrapper
  .input-container
  .input-currency {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.currency-convert-wrapper .converter-card .input-wrapper .input-valuation {
  margin-top: 0.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.currency-convert-wrapper .swap-icon-wrapper {
  position: absolute;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 50%;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.currency-convert-wrapper .swap-icon-wrapper.left-side {
  left: 33.333%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

@media (max-width: 576px) {
  .currency-convert-wrapper .swap-icon-wrapper.left-side {
    left: 50%;
    top: 30%;
    -webkit-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
  }
}

.currency-convert-wrapper .swap-icon-wrapper.right-side {
  right: 33.333%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

@media (max-width: 576px) {
  .currency-convert-wrapper .swap-icon-wrapper.right-side {
    left: 50%;
    bottom: 30%;
    -webkit-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
  }
}

.currency-convert-wrapper .swap-icon-wrapper .swap-icon-container {
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #EAB00C;
}

.currency-convert-wrapper .swap-icon-wrapper .swap-icon-container .anticon {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 576px) {
  .currency-convert-wrapper .swap-icon-wrapper .swap-icon-container .anticon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.currency-convert-wrapper .swap-icon-wrapper .swap-icon-container .anticon svg {
  margin: 0;
}

.virtual-otc-transactions {
  padding-top: 4rem;
}

@media (max-width: 576px) {
  .virtual-otc-transactions {
    padding-top: 1rem;
  }
}

.virtual-otc-transactions .otc-transactions-card-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.virtual-otc-transactions
  .otc-transactions-card-wrapper
  .otc-transactions-card {
  padding: 1rem 2rem;
  background-color: #EAB00C;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 6px;
}

.virtual-otc-transactions
  .otc-transactions-card-wrapper
  .otc-transactions-card:last-child {
  margin-bottom: 0;
}

.virtual-otc-transactions
  .otc-transactions-card-wrapper
  .otc-transactions-card
  h3 {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

@media (min-width: 1600px) {
  .virtual-otc-transactions
    .otc-transactions-card-wrapper
    .otc-transactions-card
    h3 {
    font-size: 2rem;
  }
}

.virtual-otc-transactions
  .otc-transactions-card-wrapper
  .otc-transactions-card
  span {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

@media (min-width: 1600px) {
  .virtual-otc-transactions
    .otc-transactions-card-wrapper
    .otc-transactions-card
    span {
    font-size: 1.2rem;
  }
}

.vsa-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .vsa-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.vsa-header .ant-dropdown-trigger {
  color: #EAB00C;
  border: none;
  background-color: rgba(25, 106, 180, 0.1);
  font-size: 0.9rem;
  height: auto;
  padding: 0.3rem 1rem;
  border-radius: 6px;
}

@media (min-width: 1600px) {
  .vsa-header .ant-dropdown-trigger {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
  }
}

.vsa-header .add-campaigns-btn {
  background-color: #EAB00C;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 1.1rem;
  margin-left: 30px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 1600px) {
  .vsa-header .add-campaigns-btn {
    font-size: 1.2rem;
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 576px) {
  .vsa-header .add-campaigns-btn {
    white-space: nowrap;
    margin-left: 0;
    margin-top: 10px;
  }
}

.vsa-cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  overflow: auto;
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper {
    margin-top: 6rem;
  }
}

@media (max-width: 576px) {
  .vsa-cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.vsa-cards-wrapper::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.vsa-cards-wrapper::-webkit-scrollbar-thumb,
.vsa-cards-wrapper::-webkit-scrollbar-track {
  background: rgba(25, 105, 180, 0.74);
  border-radius: 8px;
}

.vsa-cards-wrapper::-webkit-scrollbar-track {
  background: none;
  border-radius: 8px;
}

.vsa-cards-wrapper .vsa-cards {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .vsa-cards-wrapper .vsa-cards {
    margin-left: 0;
    margin-right: 0;
  }
}

.vsa-cards-wrapper .vsa-cards:first-child {
  margin-left: 0;
}

.vsa-cards-wrapper .vsa-cards:last-child {
  margin-right: 0;
}

.vsa-cards-wrapper .vsa-cards .vsa-featured-img {
  background-size: cover;
  height: 120px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper .vsa-cards .vsa-featured-img {
    height: 160px;
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-featured-img .vsa-status {
  position: absolute;
  color: white;
  font-weight: bold;
  bottom: 5px;
  left: 15px;
  background-color: #2f2f2f;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 0.5rem;
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper .vsa-cards .vsa-featured-img .vsa-status {
    font-size: 0.7rem;
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-details {
  padding: 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100% - 120px);
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper .vsa-cards .vsa-details {
    height: calc(100% - 160px);
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-title {
  max-width: 75%;
  font-size: 0.6rem;
  padding-left: 5px;
  font-weight: bold;
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-title {
    font-size: 0.9rem;
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9rem;
  color: rgba(25, 106, 180, 0.8);
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-views {
    font-size: 1.1rem;
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-views i {
  font-size: 0.8rem;
  margin-right: 5px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-views i {
    font-size: 1rem;
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-title-wrapper .vsa-views i svg {
  margin: 0;
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-keys {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-keys .vsa-key-item {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-keys .vsa-key-item .key-title {
  font-size: 0.65rem;
  color: rgba(25, 106, 180, 0.8);
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper
    .vsa-cards
    .vsa-details
    .vsa-keys
    .vsa-key-item
    .key-title {
    font-size: 0.8rem;
  }
}

.vsa-cards-wrapper .vsa-cards .vsa-details .vsa-keys .vsa-key-item .key-value {
  font-size: 0.7rem;
  color: #2f2f2f;
  font-weight: bold;
}

@media (min-width: 1600px) {
  .vsa-cards-wrapper
    .vsa-cards
    .vsa-details
    .vsa-keys
    .vsa-key-item
    .key-value {
    font-size: 1rem;
  }
}

.virtual-otc-desk .transaction-overview {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 1600px) {
  .virtual-otc-desk .transaction-overview {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .virtual-otc-desk .transaction-overview {
    margin-top: 1rem;
  }
}

.virtual-otc-desk .transaction-overview .table {
  background-color: white !important;
  margin: 0;
}

@media (max-width: 576px) {
  .virtual-otc-desk .transaction-overview .table {
    background-color: white !important;
  }
}

.virtual-otc-desk .transaction-overview .table thead th {
  font-size: 0.85rem;
}

@media (max-width: 576px) {
  .virtual-otc-desk .transaction-overview .table thead th {
    font-size: 0.75rem;
  }
}

.virtual-otc-desk .transaction-overview .table td {
  color: #2f2f2f;
  font-size: 0.75rem;
}

@media (min-width: 1600px) {
  .virtual-otc-desk .transaction-overview .table td {
    font-size: 0.85rem;
  }
}

.virtual-otc-desk .transaction-overview .header {
  color: rgba(0, 0, 0, 0.3);
}

.virtual-otc-desk .transaction-overview .item {
  color: #2f2f2f;
}

.virtual-otc-desk .transaction-overview .item:hover {
  color: #EAB00C;
}

.ant-dropdown {
  z-index: 99999999999999;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item img {
  padding-right: 10px;
}

.commission-form {
  margin-top: 3rem;
}

.commission-form tbody {
  margin: auto;
}

.commission-form .input-wrapper .current-fee {
  font-size: 1.2rem;
}

.commission-form .input-wrapper .current-fee span {
  font-weight: bold;
}

.commission-form .input-wrapper .commission-input {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid #eee;
  padding-left: 5px;
  padding-right: 5px;
  height: 32px;
}
