.investor-relation-main{
    height: 100%;
    width: 100%;
    padding: 6% 7%;
    padding-bottom: 0;
    .investor-relation-wrapper{
        height: 100%;
        width: 100%;
        .investor-relation-header{
            height: 20%;
            width: 100%;
            h1{
                font-weight: bold;
            }
            h6{
                width: 35%;
                line-height: 1.4rem;
            }
        }
        .investor-relation-body{
            height: 80%;
            width: 100%;
            padding-top: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .investor-relation-tab-header{
                height: 40px;
                width: 100%;
                button{
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid var(--border-color);
                    font-size: 80%;
                    padding: 0 20px;
                    margin-right: 2vh;
                }
                .selected-header{
                    border: 1px solid var(--main-color);
                    font-weight: 600;

                }
            }
            .investor-relation-tab-body{
                height: calc(100% - 90px);
                width: 100%;
                .investor-relation-tab-row{
                    height: 24%;
                    width: 100%;
                    margin-bottom: 4vh;
                    border: 1px solid var(--border-color);
                    display: flex;
                    div{
                        &:nth-child(1){
                            width: 15%;
                            border-right: 1px solid var(--border-color);
                        }
                        &:nth-child(2){
                            width: 85%;
                            padding: 0 2%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            span{
                                font-weight: 500;
                            }
                        }

                    }
                }
            }

        }

    }
}