.cardSection {
    /* background: rgba(231, 240, 242, 0.3); */
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url(/static/media/bitcoin.0723eaea.png);
    z-index: 9;
    position: relative;
    height: 25vh;
    padding-bottom: 1.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}

.bagcontainerdv1 {
    background: #000000;
    display: flex;
    position: absolute;
    opacity: 0.4;
    right: 0;
    top: 0;
    align-items: center;
    width: 100%;
    color: white;
    height: 100%;
}

.imginsode
{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.titleshping
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    justify-content: center;
}
.bitconteprice {
    font-size: 26px;
    margin: 0;
    color: white;
    line-height: 32px;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
}
.bitcontext {
    font-size: 16px;
    margin: 0;
    color: white;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
}


.showbuttondiv {
    white-space: nowrap;
    overflow-x: scroll;
    margin-top: 17px;
    z-index: 9;
    padding-left: 16%;
}
.innerbitcoin {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44%;
}

.cText {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.detailparalist {
    color: #000000;
    width: 25rem;
    display: block;
    text-align: center;
    margin: auto;
}
.mainmenucarousle
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.stdbutoon
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    top: 11px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    width: 6rem;
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.pa-mdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 4%;
    margin-right: -136px;
}
.buttonlabelbitcoin {
    border: 0.5px solid #FFFFFF;
    width: 5rem;
    display: flex;
    align-items: center;
    z-index: 1;
    font-size: 10px;
    font-weight: 700;
    justify-content: center;
    font-size: 11px;
    color: white;
    border-radius: 3px;
}

.label1show {
    background: #000000;
    border: 1px solid #000000;
    color: white;
    font-weight: 600;
    font-size: 11px;
    width: 6rem;
    text-align: center;
    height: 25px;
    padding-top: 3px;
    /* margin: 0; */
    margin-right: 10px;
    cursor: pointer;
}
.coverflow__container__1P-xE
{
  height: calc(60vh - 8rem) !important;

}
.coverflow__container__1P-xE
{
  background-color: white !important;
}
.label1show1 {
    background: #000000;
    border: 1px solid #000000;
    color: white;
    font-weight: 600;
    font-size: 11px;
    width: 6rem;
    text-align: center;
    height: 25px;
    padding-top: 3px;
    /* margin: 0; */
    cursor: pointer;
}


.showbuttondiv::-webkit-scrollbar{
    display: none;
}


.productslust
{
  font-weight: bold !important;
  opacity: 1 !important;
  color:#161a24 !important;
}
.themeDrawermain
{

  height: calc(100vh - 21rem);
  margin-top: 3rem;
  margin-bottom: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.themecontril
{
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #3B4859;
  /* margin: 0; */
  margin-bottom: 0;
  margin-top: 17px;
}
.imagebackimag
{
  position: absolute;
  top: 6px;
  right: 15px;
}
.falseopactityforimage
{
  background: black;
  position: absolute;
  width: 100%;
  height: 8rem;
  opacity: 0.7;
  top:0
}

.cutomreidt
{
  position: relative;
  height:11rem ;
  cursor: pointer;
}

.selcetionplacdiv p
{
  width: 100%;
  margin: 0;
  height: auto;
  background-color: #161a2459 !important;
  color: white;
  letter-spacing: 0px;
  font-weight: bold;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomImg{
  width: 100%;
  height: 8rem;
}
.slick-slider
{
  width:100% !important;
  overflow: hidden;
}
.rightdrawerthemedesigner
{
  position: absolute;
  width: 28.3%;
  overflow: overlay;
  margin-top: 10rem;
  padding-left: 3%;
  padding-right: 3%;
  right: 0;
  background: white;
  height: calc(100% - 10rem);
  /* height: 100%; */
  z-index: 9999999999999999;
  top: 0;
  border-left: 1px solid #8080803b;
}
.rightdrawerthemedesigner::-webkit-scrollbar
{
  display: none;
}
.slick-track
{
  display: flex;
}
.bottomBlack_name p
{
  margin-bottom: 0;
  height: auto !important;
  font-size: 11px;
}
.bottomBlack_name {
  background-color: #161a24 !important;
  color: white;
  letter-spacing: 0px;
  font-weight: bold;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagesectionsectiontrue {
  width: 14.2857142857%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.textsidesection
{
  width: 14.2857142857%;
  text-align: center;
  background-color: #161a24;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.textsidesectiontrue
{
  width: 14.2857142857%;
  text-align: center;
  background-color: #161a24 !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.textsidesectiontrue p
{
  margin: 0 !important;
  background-color: transparent !important;
}
.textsidesection p{
  margin: 0;
  background-color: transparent;
}

.imagesectionsection
{
  width: 14.2857142857%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.imagesectiontheme
{
  height: 6rem;

  width: 100%;
  display: flex;
 
}
.selcetionplacdiv
{
  display: flex;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  font-weight: 600;
}

.selcetionplacdiv :nth-child(1) {

  background: #161a240a;
}
.selcetionplacdiv :nth-child(7) {

  background: #161a240a;
}
.selcetionplacdiv :nth-child(2){

  background-color: #161a243b;
}

.selcetionplacdiv :nth-child(6){

  background-color: #161a243b;
}
.selcetionplacdiv :nth-child(3){

background-color: #161a2454;
}

.selcetionplacdiv :nth-child(5){

background-color: #161a2454;
}
.selcetionplacdiv :nth-child(4){

  background-color: #161a246b;
  }





.loginbuttonnavbar
{

    text-align: center;
    color: #161a24;
    font-size: 15px;
    font-weight: 600;
    height: 34px;
    margin: 0;
    width: 128px;
    border: 1px solid #161a24;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Startbuttonnavbar
  {
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    height: 34px;
    margin: 0;
    width: 128px;
    border: 1px solid #161a24;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -22px;
    background-color: #161a24;
  }

/* 




*/


.ExpanDcharImage
{
  position: absolute;
  top: 9px;
  right: 0;
  width: 1rem;
  cursor: pointer;
}
.productwidthcusotm {
  width: 239px;
}


.demospacebetwwen
{
  display: flex;
  justify-content: space-around;
  width: 56%;
}
.seeeproduct
{
  font-size: 13px;
    line-height: 16px;
    /* display: flex; */
    align-items: center;
    color: #000000;
    padding-right: 9px;
    font-weight: 700;
    margin-top: 11%
}
.Carousledivsection
{
  display: inline-flex;
  margin-right: 1%;
  width: 36%;
  height: 100%;
}
.adffajf1 {
  margin-bottom: 11%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
}
.themetrue1 {
  margin-bottom: 11%;
  display: flex;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
 background: #2196f314;
}

.maincarsoul
{
  white-space:nowrap;
  overflow-x:auto;
  height: 100%;
}
.adffajf
{
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  cursor: pointer;
}
.themetrue {
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  background: #2196f314;
  padding-left: 8px;
  cursor: pointer;
}
.mobileversionshowImgeDIv
{
  width: 25%;
  border: 1px solid #8080806e;
  height: 25rem;
}
.DesktopversionshowImgeDIv
{
  width: 71%;
  border: 1px solid #8080806e;
  height: 25rem;
}
.desktopVersinImage
{
  border: 1px solid #8080804f;
  width: 100%;
  height: 25rem;
}
.titlenama
{
  font-size: 17px;
  line-height: 47px;
  align-items: center;
  color: #000000;
  margin-bottom: 0;
  margin-left: 9px;
}
.pasdasd
{
  width: 72%;
    border: 1px solid;
    height: 60vh;
  /* background-image: url('../../images/Desktop.png'); */
}
.productheader
{
  font-size: 25px;
  margin-bottom: 11%;
  line-height: 30px;
  z-index: 9;
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 700;
}
.productwidht
{
  width: 175px;
  
}
.sasdaaddsasd
{
  font-size: 20px;
  line-height: 24px;
  margin-top: 22px;
  font-weight: 600;
}
.backgroundimagesection
{
  height: 62%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.paragramtext
{
  /* width: 18.5rem; */
  white-space: initial;
  background: rgba(193, 205, 231, 0.1);

}
.maincarsoul::-webkit-scrollbar{
  display: none;
}
.divsectionproduct
{
  /* width: 77%; */
  width: 79%;

}
.homepageStyleing .navbar
{

  border-bottom: 1px solid #f1ededc2;
  height:4.8rem !important;
  height: 5rem;
  padding-right: 0 !important;
  padding-left: 2.5rem !important;
}
.homepageStyleing .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem !important;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.productmenucustom
{
  display: flex;
  position: absolute;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  z-index: 9;
  background: white;
  border-bottom: 1px solid #f1ededc2;
  padding-left: 9%;


}
.productmenu
{
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  /* align-items: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 9;
  background: white;
  border-bottom: 1px solid #f1ededc2;

}
.openlistdataDiv
{
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.boderorderlist
{
  height: 100%;
    border: 1px solid #8080805c;
  
}
.gifloading
{
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover ;
  background-repeat: no-repeat !important;
}
.detailparalist
{
  color: #000000;
  width: 25rem;
  display: block;
  text-align: center;
  margin: auto;
}
.boderorderlisttext
{
  margin: 0;
  text-align: center;
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-size: 13px;
}
.cText
{
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: center;
}
.listcollectiondiv
{
  width: 7rem;
  height: 6rem;

}


.openlist
{
  display: flex;
    position: absolute;
    width: 100%;
    background: white;
    z-index: 9;
    height: calc(100vh - 4rem);
    flex-direction: column;
    align-items: center;
  
}
.coverflow__figure__3bk_C {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  cursor: pointer;
  transition: transform 600ms ease;
  backface-visibility: hidden;
  z-index: 9;
  align-self: center;
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-reflect: below 1px -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1) 13%, rgba(0, 0, 0, 0) 6%, rgba(0, 0, 0, 0)) !important;

  /* -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom,) 0%, rgba(0, 0, 0, 0) !important; */
  /* -webkit-box-reflect: above 28vh !important; */
}
.coverflow__text__39hqd
{
  display: none;
}
.charsectiondivFalse {
  width: 100%;
  padding: 4%;
  /* display: inline-block !important; */
  margin-right: 0;
  position: relative;
  border: 1px solid #8080801f;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 4rem);
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.bitcontext
{
  font-size: 16px;
  margin: 0;
  color: white;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;;
}

.bitconteprice
{
  font-size: 26px;
  margin: 0;
  color: white;
  line-height: 30px;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;;
}
.showbuttondiv::-webkit-scrollbar {
  display: none;
}
.showbuttondiv
{
  white-space: nowrap;
  overflow-x: scroll;
  margin-top: 17px;
  z-index: 9;
 
  padding-left: 16%;

}
.slidermainsectiom{
  
}
.buttonlabelbitcoin
{
  border: 0.5px solid #FFFFFF;
  width: 5rem;
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 10px;
  font-weight: 700;
  justify-content: center;
  font-size: 11px;
  color: white;
  border-radius: 3px;
}
.innerbitcoin
{
  display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44%;;
}
.headeresection6
{
  color: #000000;
    font-weight: 600;
}
.cutomslider
{
 border:1px solid red;
}



.MchartSection
{
  
  white-space: nowrap;
  overflow-x: scroll;


  
}
.textalignmentsection
{
  font-size: 14px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: rgba(0, 42, 81, 0.5);
    width: 70%;
}
.spaceblwmainprice
{
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.text-pirce-bwlow
{
  color: rgba(0, 42, 81, 0.5);
  opacity: 0.6;
  font-size: 12px;
}
.prics
{
  color: #000000;
  font-weight: 600;
  margin: 0;
}
.maindivsection
{
  height: calc(49vh - 3rem);
}

.MchartSection::-webkit-scrollbar {
  display: none;
}
.headermainsectionofcchart
{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 17vh;
}
.showtradingp
{
  color: rgba(0, 42, 81, 0.5);
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}
.trueday
{
  color: white;
  margin: 0;
  font-weight: 700;
}
.flaseday
{
  color: #b9b5ae;
  margin: 0;
}
.clientname
{
  color: #000000;
  line-height: 27px;
  font-size: 28px;
  margin: 0;
}
.linechartsection
{width: calc(100% - 3%);
    /* padding: 4%; */
    /* display: inline-block !important; */
    margin-right: 2rem;
    position: relative;
    border: 1px solid #8080801f;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(68vh - 6rem);
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 3%;
}
.charsectiondiv
{
  width: 70%;
  padding: 7%;
  /* display: inline-block !important; */
  margin-right: 2rem;
  position: relative;
  border: 1px solid #8080801f;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 54vh;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: charsectiondivFalse 2s;
}
.mainchartsection
{
  height: 100%;
  /* height: calc(42vh - 61%); */
  width: 100%;
  padding-top:7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
    /* justify-content: center; */
}
.buyheader
{
  font-weight: 500;
  font-size: 11px;
  /* line-height: 30px; */
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}
.criclchartprice
{
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
}
.CryptoPlus
{
  font-size: 30px;
  line-height: 110.65%;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
  margin-left: 14px;
}
.text-cirlce
{
  margin-bottom: 3px;
  font-size: 8px;
    /* line-height: 57px; */
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 800;
}
.allflitersection
{
  display: flex;
    align-items: center;
    /* margin-bottom: 14%; */
    justify-content: space-between;
}
.ciriclebutton
{
  width: 64px;
    height: 22px;
    /* left: 620px; */
    /* top: 419px; */
    background: #000000;
    border: 0.5px solid #000000;
    /* box-sizing: border-box; */
    border-radius: 3px;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ciriclebuttonFalse
{
  width: 64px;
  height: 22px;
  border-radius: 3px;
  color: white;
  margin: 0;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 0.5px solid rgba(24, 37, 66, 0.25);
  color: #000000;
}
.daypickeershow .ant-calendar-picker-input.ant-input {
  line-height: 1.5;
  border-top: none;
  border-left: none;
  width: 4rem;
  height: 20px !important;
  border-right: none;
  border-radius: 0;
  margin-left: 5px;
  border-color: white;
  background: #000000;
  text-align: center;
    font-size: 12px;
    color: white;

}
.headrerbacksection
{
  display: flex;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    height: 17vh;
}
.dayflitersectiondiv
{
  display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    height: 2rem;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}
.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
  display: flex !important;
  /* position: absolute;
  left: -8%; */
}
.headersimution
{
  font-size: 20px;
  font-size: 20px;
    color: #FFFFFF;
    line-height: 31px !important;
    margin-bottom: 4px;

/* or 22px */

color: #FFFFFF;
}
.chart-container {
  height: calc(63vh - 5rem);
  width: calc(100% - 3%);
padding-left: 3%;
}

.maindivsechme
{
  background: #000000;
  padding-bottom: 1rem;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  height: 20vh;
}

.showinputtype
{
  
  border: none;
  border-bottom: 1px solid  white;
  background:  #000000;
  margin-left: 4px;
  margin-right: 6px;
  line-height: 2px;
  color: white;

}
.showinputtype::placeholder
{
  

  color: white;

}
.dhysection
{
  /* word-break: break-all; */
  color: white;
  font-size: 13px;
  line-height: 1.8rem;
  letter-spacing: 1.5px;
}
.daypickeershow .ant-calendar-picker-input.ant-input::placeholder {
  line-height: 1.5;
  border-top: none;
  border-left: none;
  width: 3rem;
  height: 20px;
  border-right: none;
  border-radius: 0;
  margin-left: 12px;
  border-color: white;
  background: #000000;
  text-align: center;
  font-size: 12px;
  height: 15px;
  color: white;

}
.daypickeershow .ant-calendar-picker-icon
{
  display: none;
}

.classNameanimation
{
  animation: change-background 4s linear infinite;
}

@keyframes change-background {
  0% {
    color: blue;
  }
  50% {
    color: palegreen;
  }
  100% {
    color: red;
}
}
.tooglefull
{
  display: flex;
    flex-direction: column;
    height: 86vh;
    overflow: hidden;
    /* align-items: center; */
    margin-top: 7vh;
    -webkit-transition-duration: 2s;


    transition-duration: 1s;
   
}
.postvideosection
{
  color: #000000;
  text-align: center;
  margin-bottom: 1.4rem;

}
.footsub
{
  width: 80%;
  margin: auto;
}
.allcomps
{
  margin-top: 2rem;
}
.footer
{
  background: grey;
  color: white;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.socl-meida
{
  font-size: 2rem;
    color: white;
    margin-right: 4px;
}
.endp
{
  text-align: center;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
}
.allcomp
{

  margin-bottom: 0px;
}
.section4
{
  background: #80808040;
    padding-top: 2rem;
}
.section8
{
  background: #80808040;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.carousel {
  position: relative;
  width: 100%;
}
.carousel__next-button:focus{
  border:none !important;
  outline: 0px auto -webkit-focus-ring-color;
}
.carousel__next-button:active{
  border:none !important;
}
.carousel__next-button
{
  background: transparent !important;
  border: none !important;
  width: 3rem !important;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  font-size: 28px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -40px;
  right: 0%;
  margin-left: -8px;
  text-align: center;
}
.slidertext
{
  font-family: Poppins;
    letter-spacing: 0;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    width: 70%;
    margin: auto;
    text-align: center;
}
h1
{
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
}
.carousel__back-button
{
  border: none !important;
  width: 3rem !important;
  background: transparent !important;
  position: absolute;
  top: 50%;
  height: 40px;
  width: 40px;
  font-size: 28px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -40px;

  margin-left: -8px;
  text-align: center;
}
.carousel__back-button:focus
{
  border:none !important;
  outline: 0px auto -webkit-focus-ring-color;
}
.stars
{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    color: #000000;
}
.buttoncutomz
{
 
    z-index: 14;
    background: #000000;
    font-family: Poppins;
    height: auto;
    width: auto;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px 0px;
    padding-left: 60px;
    border-radius: 5px;
    padding-right: 60px;
    filter: blur(0px) grayscale(0%) brightness(120%);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border: none;
}
.Poplemainsection
{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.2rem;
}
.cutom
{
  width: 16%;
}
.imagepeoep
{
  text-align: center;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
}
.navbar-expand .navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  
  font-size: 1.2rem !important;

}
.riched
{
  font-family: Poppins;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.section3 
{
  padding-top: 2rem;
    padding-bottom: 2rem;
}
.section6
{
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.videosectiin
{
display: flex;
align-items: center;
justify-content: center;
}
.ar
{
  position: relative;
  right: -17px;
}
.bookimag
{
  text-align: center;
    margin: auto;
    display: flex;
}
.buttoncutom
{
  margin: auto;
    text-align: center;
    display: flex;
    z-index: 14;
    background: white;
    font-family: Poppins;
    height: auto;
    width: auto;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0px;
    font-weight: 500;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px 0px;
    padding-left: 60px;
    border-radius: 5px;
    padding-right: 60px;
    filter: blur(0px) grayscale(0%) brightness(120%);
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border: none;
}
.toolsectionmargin
{
  margin-top: 2rem;
    margin-bottom: 2rem;
}
.toolsimg
{
  text-align: center;
  margin: auto;
  display: flex;
}
.sunimagetext-subs
{
  font-family: Poppins;
    text-transform: capitalize;
    letter-spacing: 0;
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.sectiomthreeheader
{
  text-align: center;
  color: rgb(193, 210, 224);
}
.toolssection
{
  text-transform: none;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: wheat;
  text-align: center;
}

.sectionsubhearpar
{
  font-size: 17px;
  color: white;
  text-align: center;
  width: 48rem;
  margin: auto;

}
.sectionhaderthresub
{
  font-size: 23px;
  color: white;
  text-align: center
}
.Sectoinsection {
  padding-top: 3rem;
  background-color: white;
  padding-bottom: 3rem;
}

.img-section
{
  border-radius: 50%;
  text-align: center;
  margin: auto;
  display: flex;
}
.section-sectsub
{
  font-size: 1.3em;
    font-style: italic;
    margin: 0 56px;
    position: relative;
    text-align: center;
    margin-top: 31px;
}
.Sectoinsection p
{
  font-size: 29px;
  color: #000000;
  text-align: center;
}
.navbar 
{
  height: 4rem;
}
.landingpage
{
  height: 100vh;
}

.Sectoinsection h1
{
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
  text-align: center
}
.webistchildren
{
  width: 100%;
  overflow: scroll;
  height: 100%;
  cursor: pointer
}

.openlistTrue {
  /* display: flex; */
  position: absolute;
  width: 100%;
  background: white;
  z-index: 9;
  height: calc(100vh - 4rem);
  flex-direction: column;
  align-items: center;
}
.websiteMainpaginTrue {
  width: 68%;
  height: calc(100vh - 20rem);
  border: 1px solid #80808047;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2%;
  /* margin-right: 2rem; */
  /* position: absolute; */
}
.websiteMainpagin
{
  width: 80%;
  height: calc(100vh - 18rem);
  border: 1px solid #80808047;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.websiteMainpagin::-webkit-scrollbar
{
  display: none;
}
.inputbox-images-s {
  position: absolute;
  right: 28px;
  top: 20px;
  width: 15px;
}
.webinar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  width: 95%;
  margin: auto;
}

.Sectointhree
{
  background: #000000;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.asdaszd{
    width: 100%;
}
.carouselSection
{
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('../../images/loz.png'); */
 position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  height: calc(100vh - 8.8rem);
  background-repeat: no-repeat;
  background-position: center;

}
.streamh1
{

font-weight: 600;
font-size: 27px;
line-height: 33px;
display: flex;
align-items: center;

color: #000000;
}

.stream
{
  width: 203px;
height: 54px;
left: 1123px;
display: flex;
    align-items: center;
    justify-content: center;
top: 798px;

border: 2px solid #000000;
box-sizing: border-box;
}
.carouselSection h1
{
  margin-bottom: 2rem;
  z-index: 12;
  font-family: Poppins;
  color: white;
  text-decoration: none;
  white-space: normal;
  height: 75px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: center;
  line-height: 0;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 55px;
  /* padding-bottom: 5rem; */
  /* padding-top: 10px; */
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  margin: 0;
}
.socl-meida-f {
  font-size: 2rem;
  color: white;
  margin-right: 11px;
}
.toggl
{
  display: flex;
  background: #161a24;
  height: 100vh;
}

.asdasd
{
  -webkit-transition-duration: 1s;
/* width: 100%; */

  transition-duration: 1s;
}
.togglenav
{
  color: white;
  width: 33%;
  padding: 4rem;
  display: flex;
  align-items: center;
  position: relative;

}
.logo
{
 height: 34px;
}
.crooss
{
  color: white;
  cursor: pointer;
    background: transparent !important;
    border: none !important;
    width: 3rem !important;
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    font-size: 28px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -40px;
    /* right: 0%; */
    margin-left: -8px;
    text-align: center;
    left: -15px;
    font-size: 3rem;
}
.subtogg
{
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.assq
{
  position: relative;
  left: 21px;
}
.carouselSection .calh3
{
margin-bottom: 2rem;
    font-family: Poppins;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    width: 926px;
    height: 79px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 35px;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 35px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.carouselSection button
{
  width: 238px;
  cursor: pointer;
  height: 62px;
  left: 601px;
  top: 524px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  color: #FFFFFF;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
}


/*  */

.streamheader
{
  font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;

color: #002A51;
}
.streamsubheader
{
  font-weight: 500;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
margin: 0;
color: #959595;
}
.videomainpage
{
  height: 45vh;
  position: relative;
}
.speakertext
{
  font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1rem;
}
.videbackgorund
{
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.streammaindiv
{ 

  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 15vh;
  align-items: center;
}
.steremcustom
{
  margin-left: 2%;
}
.stearmtext
{
  font-weight: normal;
font-size: 7px;
line-height: 10px;
margin: 0;
display: flex;
align-items: center;
text-align: center;

color: #5A6876;

}

.divmainstreamnumberandtext
{
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
.streamdivsub
{
  width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #80808061;
}
.fileContainer .chooseFileButton
{
  background-color: white;
}

.strmwidth
{
  width: 22%;
  background: rgba(24, 37, 66, 0.5);
  height: 100%;
  display: inline-block;
  margin-right: 1rem;

  position: relative;

}
.fileUploader {
  width: 100%;
  position: absolute;
}
.fileContainer .chooseFileButton {
  padding: 0 !important;
  background: transparent !important;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}
.fileContainer {
  background: transparent !important;
  box-shadow: none !important;
  position: relative;
  border-radius: 10px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  transition: all 0.3s ease-in;
}
.fileshareingsectoin
{
  height: 15vh;
    border-bottom: 1px solid #80808061;
    white-space: nowrap;
    overflow-x: scroll;
    padding-left: 3rem;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fileshareingsectoin::-webkit-scrollbar {
  display: none !important;
}

.react-player
{
  background-color: black;
}
.logvd
{
  position: absolute;
  right: 26px;
  top: 11px;
}
.steamnumber

{
  font-weight: 600;
font-size: 17px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;

color: #002A51;
}
.priceleft
{
  font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
margin: 0;
}

.inputbox-sarch
{
  font-weight: 500;
  font-size: 20px;
  /* position: relative; */
  color: #959595;
  width: 100%;
  height: 65px;
  left: 753px;
  top: 540px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 42, 81, 0.25);
  box-sizing: border-box;
  padding-left: 2rem;
  border-left: none;

}
.commentsection
{
  overflow: scroll;
}
.commentsection::-webkit-scrollbar
{
 display: none;
}
.streamcomment
{
  display: flex;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 21px;
  margin-top: 13px;
}
.divmaincomment
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.commeontdivmain
{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comentstext
{
  margin: 0;
  padding-left: 3%;
  font-weight: 500;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;

color: #959595;
}
.rightsidesectinstearm
{
border-left: 1px solid #80808063;
}
.comentstextz
{
  margin: 0;

  font-weight: 500;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;

color: #959595;
}
.sellcomment
{
  height: 40px;
  left: 753px;
  margin: 0;
  top: 860px;
  background: #002A51;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.inputbox-images
{
  position: absolute;
  right: 43px;
  top: 22px
}
:focus {
  outline: 0 !important;
}
.inputbox-sarch:focus
{
  font-weight: 500;
  font-size: 20px;
  /* position: relative; */
  color: #959595;
  width: 100%;
  height: 65px;
  left: 753px;
  top: 540px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 42, 81, 0.25);
  box-sizing: border-box;
  padding-left: 2rem;
}
.attacment
{
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-49%);
}
.stremtext
{
  font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #002A51;
}
.containerblow
{
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.labelemail
{
  width: 364px;
height: 50px;
left: 189px;
top: 830px;
display: flex;
    align-items: center;
    justify-content: center;
background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
padding-left: 20px;
}
.mainprivingdiv
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 13vh;
  background-color: #002A51;
}
.price
{
  margin: 0;
  font-weight: 500;
font-size: 40px;

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.imgsectiondivcu {
  /* display: flex; */
  align-items: flex-end;
  height: calc(100vh - 4rem);
  padding: 0;
  /* padding-left: 3%; */
  border-right: 1px solid #80808021;
}
.turonly{
  display: flex;
  
}
.textbox-card
{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    color: white;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 5%;
}
.showrowdiv
{
  height: calc(28vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.asdad
{
    width: 100%;
    text-align: left;
    padding-left: 5%;
}
.maindivsection
{
  font-weight: 500;
  color: #000000;
  margin: 0;

}
.navmainmarket
{
    display: flex;
    align-items: center;
    height: 6rem;
    justify-content: space-between;
    width: 100%;
}
.searchclassName
{
    font-weight: 600;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;

color: #E7F0F2;

}
.searchclassName::placeholder
{
    font-weight: 600;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;

color: #E7F0F2;

}


.serchmarket
{
    position: absolute;
    right: 7px;
}

.marksetserach
{
    border: 0.5px solid #C4C4C4;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 205px;
}
.goback
{
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #000000;
    display: block;
    font-weight: 600;
    cursor: pointer;
}
.dropdownmedium
{
    font-size: 24px !important;
    /* line-height: 33px; */
    /* display: flex; */
    align-items: center;
    color: rgba(0, 0, 0, 0.85) !important;
    font-weight: 600 !important;
}
.imgsectiondiv
{
    /* display: flex; */
    align-items: flex-end;
    height: calc(100vh - 4rem);
    padding: 0;
    padding-left: 3%;
    
}
.cardadd
{
    text-align: right;
    padding-bottom: 1%;
}
.imgsectiondivcustom
{
  
    height: calc(100vh - 5rem);
    width: 100%;
}
.righsideimag
{
    position: absolute;
    left: 15%;
    bottom: 12%;
}
.leftsideimag
{
    position: absolute;
    bottom: 12%;
    left: 6%;
}
.smarksjopmainsection
{

}
.stockimg
{
    height: calc(100vh - 5rem);
}
.h1span
{
    font-weight: 300;
    font-size: 36px;
    line-height: 110.65%;
    /* display: flex; */
    align-items: center;
    color: #E7F0F2;
}
.buttoncard
{
    width: 147px;
    height: 48px;
    left: 582px;
    top: 561px;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.asdasd
{

}
.box-shaddow-img
{
  border: 1px solid red;
}
.coverflow__container__1P-xE
{
  height: calc(60vh - 8rem) !important;

}
.label1show
{
  background: #000000;
  border: 1px solid #000000;
  color: white;
  font-weight: 600;
  font-size: 11px;
  width: 6rem;
  text-align: center;
  height: 25px;
  padding-top: 3px;
  /* margin: 0; */
  margin-right: 10px;
  cursor: pointer;
}
.label1show1
{
  background: #000000;
  border: 1px solid #000000;
  color: white;
  font-weight: 600;
  font-size: 11px;
  width: 6rem;
  text-align: center;
  height: 25px;
  padding-top: 3px;
  /* margin: 0; */
  cursor: pointer;
}

.flex-derctiondiv
{
  display: flex;
  padding-left: 6%;
  padding-top: 9px;
}

.itemsecma
{
    
  height: calc(60vh - 8rem);
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
}


.pb
{
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 2rem; */
  border-top: 0.5px solid #E7F0F2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.dotsection
{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-left: none;
    position: relative;
    border-right: none;
    border-top: 1px solid #80808045;
  
}
.mens
{
    font-size: 12px;
    line-height: 16px;
    /* display: flex; */
    /* align-items: flex-end; */
    text-align: right;
    color: rgba(0, 0, 0, 0.55);
    text-align: right;
    width: 100%;
    padding-top: 4%;
    margin: 0;
}
.cusotnmen{
    font-size: 12px;
    line-height: 16px;
    /* display: flex; */
    /* align-items: flex-end; */
    text-align: right;
    color: rgba(0, 0, 0, 0.55);
    text-align: right;
    width: 100%;
  
}
.seizediv
{
    padding-top: 6%;
}
.sizesec
{
    font-size: 12px;
    line-height: 16px;
    /* display: flex; */
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.55);
    padding-right: 6px;
    margin: 0;
}
.pricesec
{
    font-size: 24px;

font-weight: bold;
color: #363A41;
margin: 0;
padding-top: 4%;
display: block;
}
.pricedivsection
{
  font-weight: 600;
  line-height: 18px;
  align-items: center;
  color: #fff;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 15px;
}
.bagcontainerdv
{
  background: #000000;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  height: 100%;
}
.bagcontainerdv1
{
  background: #000000;
  display: flex;
  position: absolute;
  opacity: 0.4;
  right: 0;
  top: 0;
  align-items: center;
width: 100%;
  color: white;
  height: 100%;
}
.shoptext
{
    width: 346px;
    /* height: 131px; */
    left: 582px;
    top: 308px;
    padding-top: 5%;
    /* padding-bottom: 10%; */
    display: block;
    font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);

}

    .pricesecross {
        font-size: 14px;
        font-weight: bold;
        color: #2196f34a;
        margin: 0;
        display: block;
        /* padding-top: 45px; */
    }

.colorsle
{
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #363A41;
    margin: 0;
}
.coloritems
{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #363A41;
    margin: 0;
}
.asdasdasdasd
{
    display: flex;
    align-items: flex-end;
    margin-bottom: 1%;
}

.asdasdasdasdrigh {
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 1%; */
  justify-content: flex-end;
  padding-top: 3%;
  height: calc(100vh - 12rem);
}
.asdasdasdfsrew
{
  width: 55px;
    height: 19px;
    /* left: 290px; */
    /* top: 239px; */
    background: #FFFFFF;
    color: #000000;
    font-size: 10px;
    font-weight: 600;
    padding-top: 2.2px;
    margin-right: 17px;
}
.asdasdasdfsrewasdasdasd
{
  width: 55px;
    height: 19px;
    font-weight: 600;
    /* left: 290px; */
    /* top: 239px; */
    background: #FFFFFF;
    color: #000000;
    font-size: 10px;
    padding-top: 2.2px;
   
}
.asdasdasdads
{
  position: absolute;
    width: 100%;
    height: 100%;
    background: #00002b;
    opacity: 0.7;
    z-index: -1;
}

.homepageStyleing .navbar-expand-lg .navbar-nav .nav-link
{
  padding-right: 1.5rem;
}


.navbar-collapse
{
  font-size: 16px;
}
.paddinf-sad
{
    border-left: 1px solid #E7F0F2;
    padding-left: 17px;
}.paddinf-sads
{
    border-right: 1px solid #E7F0F2;
    padding-right: 17px;
}
.cardSection
{
    /* background: rgba(231, 240, 242, 0.3); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../../images/bitcoin.png'); */
    z-index: 9;
    position: relative;
    height: 25vh;
    padding-bottom: 1.4rem;
    text-align: center;
    display: flex;
   
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.buttonsection
{
      width: 42px;
      height: 20.5px;
      font-weight: 600;
      font-size: 8px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      background: white;
}

.coverflow__container__1P-xE
{
  background-color: white !important;
}
.catalogymarket
{
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    padding-top: 18px;
}
.catalogymarketalter
{
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    color: #000000; 
    padding-top: 18px;
}
.row
{
    margin: 0;
}
.paginationactiv
{
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1em;
    color: #0000009c;
    border: none;
    background: white;
    
}


.paginationactiv:focus
{
    font-size: 18px;
    line-height: 25px;
    display: flex;
    /* font-weight: bold; */
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1em;
    color: #0000009c;
    border: none ;
    background: white;
    color: white;

    outline: 0 !important;
}
.paginationactivtrue
{
    font-size: 18px;
    line-height: 25px;
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1em;
    color: #0000009c;
    border: none ;
    background: white;
    outline: 0 !important;
}

.DesktopBag{
  display: block;
}
.MobileBag
{
  display:none
}
@media only screen and (min-width:0) and (max-width:600px)
{
.carouselSection h1 {
  margin-bottom: 2rem;
  z-index: 12;
  font-family: Poppins;
  color: white;
  text-decoration: none;
  white-space: normal;
  height: 42px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: center;
  line-height: 0;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 26px;
  /* padding-bottom: 5rem; */
  /* padding-top: 10px; */
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  margin: 0;
}
.carouselSection button {
  width: 159px;
  cursor: pointer;
  height: 48px;
  left: 601px;
  top: 524px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  color: #FFFFFF;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
.homepageStyleing .navbar-collapse {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100vh;
  top: 77px;
  overflow: scroll;
  z-index: 9;
  margin: 0;
  padding: 0;
  left: 0px;
  padding-left: 0.5rem;
  color: black;
  /* top: 0; */
}

.homepageStyleing .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem !important;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
}.adffajf
{
  justify-content: center;
}
.productwidthcusotm
{
width: 100%;
}

.productheader {

  justify-content: center;
  margin-top: 3rem;
}
.selcetionplacdiv p {
  width: 100%;
  margin: 0;
  height: auto;
  background-color: #161a2459 !important;
  color: white;
  letter-spacing: 0px;
  font-size: 8px;
  font-weight: bold;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.falseopactityforimage {
  
  height: 5rem;

}
.bottomImg {
  width: 100%;
  height: 5rem;
}
.bottomBlack_name p {
  margin-bottom: 0;
  height: auto !important;
  font-size: 10px;
}
.seeeproduct
{
  margin-top: 4%;
}
.productmenu {
   display:block; 
  position: absolute;
  justify-content: space-evenly;

  padding-top: 0px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 9;
  background: white;
  border-bottom: 1px solid #f1ededc2;
  overflow: scroll;
  margin: auto;
  text-align: center;
  top: 8rem;
}
.streammaindiv {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 15vh;
  align-items: center;
}
.streamheader
{
  font-size: 16px;
  line-height: initial;
  word-break: break-all;
}


.price {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.productwidht {
  width: 100%;
}
.Startbuttonnavbar
{
  left:0
}
.homepageStyleing  .navbar-expand-lg .navbar-nav .nav-link {

  margin-top: 1rem;
}

.homepageStyleing  .navbar {
  display: flex;
  justify-content: center;
}
.homepageStyleing  .navbar-light .navbar-toggler {
  color: #000000 !important;
  border: none !important;
  position: absolute;
  left: 0;
}
.DesktopBag
{
  display:none
}
.MobileBag
{
  display: block;
}
.pricedivsection
{
  display: none;
}
.dotsection
{
  position: initial;

}

.themetrue {
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bagcontainerdv {
  background: white;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  padding-left: 2%;
  padding-right: 4%;
  color: white;
  /* height: 100%; */
  height: 4.8rem !important;
}
.customthemenav
{
  top: 12rem;
}
}
@media only screen and (min-width:1600) and (max-width:30000px)
{

  .asdasd
  {
      width: 90%;
      margin: auto;
  }
}





