.App {
    width: 100%;
    margin: 0 auto;
  }
  
  .drag-container {
    text-align: center;
  }
  
  .head {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
    width:100%;
  }

  .droppable {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 10;
    background-color: #9E9E9E;
    border-left: 2px dotted red;
  }
  
  .draggable {
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px auto;
  }
  
  .inProgress {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    top: 10;
    background-color: #EEEEEE;
    border-right: 2px dotted red;
  }

  #div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
  }

  #draggable {
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    background: white;
    cursor: grab;
  }

  .dropzone {
    min-width: 16rem;
    min-height: 20rem;
    background: #ebf1f5;
    margin: 0 0.5rem 0.5rem;
    padding: 10px;
    /* background-color:"#ebf1f5"; */
  }

.milstone-select{
  cursor: pointer;
  padding: 2px 1rem;
}
.milstone-select:hover{
  background-color: #ebf1f5;
}