
.da-table thead th{
    font-weight: 400;
    border-bottom: none;
    border-color: #f2f2f2;
}
.da-table tbody td{
    border-color: #f2f2f2;
    vertical-align: middle;
}
.user-btn{
    font-size: 0.8rem;
    color: #a6a6a6;
    cursor: pointer;
}
.user-btn:hover{
    color: #f2f2f2;
    background-color: #3d6fdb;
}
.pic-user{
    width: 4rem;
    border-radius: 50%;
    margin-right: 8px;
}
.btn-notify{
    font-size:0.8rem;
    height:1.5rem;
    padding:3px;
    background-color: #0d1f47;
    color: #fff;
}