 @import "src/scss-variables/all-variables";
.liquid-passive-managed{
  //border: 1px solid #E5E5E5;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .liquid-passive-managed-header{
    height: 12%; width: 100%;
    background-color: var(--main-color);

    @media (min-width: 1600px) {
      padding: 0 10%;
    }
    padding: 0 6%;
    display: flex;
    &:hover{
      .full-button{
        opacity: 1;
        transition: 0.5s opacity;
      }
    }
    .full-button{
      position: absolute;
      right: 5px;
      background-color: var(--main-color);
      color: var(--bg-color);
      top: 50%;
      padding: 2px;
      border-radius: 2px;
      transform: translateY(-50%);
      opacity: 0;
      &:hover{
        cursor: pointer;
      }
    }
    button{
      outline: none;
      color: var(--bg-color);
      flex: 1;
      font-size: 80%;
      padding: 0;
      background-color: transparent;
      border: 0;
      &:nth-child(1){
        text-align: left;
        color: var(--bg-color);
      }
      &:nth-child(3){
        text-align: right;
        padding-right: 3px;
        color: var(--bg-color);
      }
      &:hover{
        cursor: pointer;
      }
    }
    .selected{
      font-weight: 600;
    }
  }
  .middle-area-container{
    border-right: 1px solid var(--border-color) !important;
    border-left: 1px solid var(--border-color) !important;
    height: 68%; width: 100%;
  }
  .liquid-passive-managed-sub-header{
    height: 10%; width: 100%;
    text-align: center;
    //border-bottom: 1px solid #E5E5E5;
    display: flex;
    background-color: #f1f1f1;
    align-items: center;
    @media (min-width: 1600px) {
      padding: 0 10%;
    }
    padding: 0 6%;
    span{
      width: calc(100%/3);
      font-size: 80%;
      color:  #464B4E;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 500;
      &:hover{
        cursor: pointer;
      }
      &:nth-child(1){
        text-align: left;
      }
      &:nth-child(3){
        text-align: right;
        padding-right: 3px;
      }
    }
    .selected{
      font-weight: 700;
      font-size: 85%;
    }

  }

  .liquid-passive-managed-footer{
    height: 10%;width: 100%;
    padding: 0 6%;
    background-color: var(--main-color);
    text-align: center;
    justify-content: space-between;

    h6{
      font-weight: 400;
      margin-bottom: 0;
      font-size: 90%;
      color: var(--bg-color);
    }
  }
}


