@import "src/css-variables/css-variables.scss";
.trade-exchange{
    width: 100%;
    height: 100%;
    nav {
        height: 30px;
        width: 100%;
        padding: 0 40px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        span {
            display: flex;
            // justify-content: center;
            align-items: center;
            &:nth-child(1) {
                width: 30%;
            }
            &:nth-child(2),
            &:nth-child(3) {
                width: 20%;
                justify-content: center;
            }
            &:nth-child(4),
            &:nth-child(5) {
                width: 15%;
                justify-content: center;
            }
            &:last-child {
                justify-content: flex-end;
            }
        }
    }
    .trade-exchange-body{
        height: calc(100% - 30px);
        width: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }
        .selected{
            background-color: rgba(24,37,66,0.2);
            &:hover{
                background-color: rgba(24,37,66,0.2) !important;
            }

        }
        .trade-exchange-row{
            width: 100%;
            height: 25%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            padding: 0 40px;
            &:hover{
                background-color: rgba(24,37,66,0.1);
            }

            span {
                display: flex;
                // justify-content: center;
                align-items: center;
                &:nth-child(1) {
                    width: 30%;
                    img{
                        margin-right: 1rem;
                        height: 20px;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: 20%;
                    justify-content: center;
                }
                &:nth-child(4),
                &:nth-child(5) {
                    width: 15%;
                    justify-content: center;
                }
                &:last-child {
                    justify-content: flex-end;
                    button{
                        @include removeDefault;
                        background-color: var(--main-color);
                        color: var(--background-color);
                        font-size: 85%;
                        pad3ing: 2px 10px;
                    }
                }
            }

        }

    }

}