.agency-ownership-main{
    width: 100%;
    height: 100%;

    .ownership-wrapper{
        height: 25%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        padding: 0 5%;
        div{
            width: calc(100% / 3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:nth-child(1){
                h5{
                    margin: 0;
                    font-weight: 600;
                }
                span{
                    font-weight: 400;
                    font-size: 65%;
                }

            }
            &:nth-child(2){
                text-align: center;
                h5{
                    margin: 0;
                    font-weight: 600;
                }
                span{
                    font-weight: 400;
                    font-size: 65%;
                }
            }
            &:nth-child(3){
                align-items: flex-end;
                text-align: right;
                button{
                    border: 1px solid var(--border-color);
                    background-color: transparent;
                    font-size: 85%;
                    font-weight: 600;
                    padding: 5px 20px;
                    &:disabled{
                        opacity: 0.25;
                    }
                }

            }

        }
    }
}