.transact-invest-home {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);

    .transact-invest-coin {
        width: 100%;
        height: 100%;
        .tic-header {
            height: 20vh;
            display: flex;
            width: 100%;
            align-items: center;
            .coins-wrapper {
                display: flex;
                width: 100%;
                height: auto;
                overflow-x: auto;
                padding: 5px 5%;
                &::-webkit-scrollbar{
                    height: 4px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: var(--border-color);
                    border-radius: 5px;
                }
                div {
                    opacity: 0.25;
                    border: 1px solid var(--border-color);
                    flex: none;
                    display: flex;
                    flex-direction: column;
                    min-width: 22%;
                    padding: 5px;
                    align-items: center;
                    justify-content: space-between;
                    margin-right: 5px;
                    img {
                        height: 5vh;
                        width: 5vh;
                    }
                }
                .selected-coin{
                    opacity: 1;

                }
            }
        }
        .tic-select-coin{
            height: calc(100% - 20vh);
            display: flex;
            flex-direction: column;
            padding: 0 5%;
            p{
                height: 10%;
                font-size: 95%;
                text-decoration: underline;
            }
            .list-of-coins{
                width: 100%;
                height: 90%;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0;
                }
                div{
                    height: 18%;
                    margin-bottom: 2vh;
                    border: 1px solid var(--border-color);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5%;
                    cursor: pointer;
                    img{
                        height: 20px;
                        margin-right: 8px;
                    }
                    &:hover{
                        background-color: var(--light-border-color);
                    }
                }
            }
        }
    }

    .transact-invest-select {
        width: 100%;
        height: 100%;
        padding: 0 5%;
        padding-top: 3vh;
        .option-wrapper {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 3vh 0;
            h6{
                margin-bottom: 15px;
            }
            .options-row {
                height: auto;
                display: flex;
                // margin: 0 20px;
                // justify-content: space-between;
                white-space: nowrap;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    height: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--main-color);
                    border-radius: 5px;
                }
                div {
                    height: 10vh;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid var(--border-color);
                    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                    border-radius: 5px;
                    padding: 0 7px;
                    // width: 22%;
                    // height: 100%;
                    width: 22%;
                    flex: none;
                    margin: 0 5px;
                    img {
                        height: 35% !important;
                    }
                    span {
                        font-weight: 500;
                    }
                }
                .selected {
                    background-color: transparent !important;
                    border: 1px solid var(--main-color);
                    span{
                        color: var(--text-color);
                    }
                }
                .disable {
                    opacity: 0.25;
                    pointer-events: none;
                }
            }
        }
        .increase-height {
            height: auto;
            .options-row {
                height: 40%;
            }
        }
    }
    .transact-invest-final{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
        h5{
            margin-bottom: 0;
        }
        p{
            margin: 4vh 0;
        }
        button{
            background-color: transparent;
            border: 1px solid var(--border-color);
            min-width: 50%;
            padding: 10px;
            font-size: 85%;
            font-weight: 600;
        }
    }
    .transact-invest-calculations{
        width: 100%;
        height: 100%;
        padding: 5%;
        border: 1px solid var(--border-color);
        .tical-header{
            height: 80px;
            display: flex;
            align-items: center;
            border: 1px solid var(--border-color);
            border-bottom: 0;
            padding: 0 5%;
            div{
                img{
                    height: 5vh;
                    margin-right: 10px;
                }
                &:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h6{
                        margin: 0;
                    }
                    span{
                        font-weight: 400;
                        font-size: 70%;
                    }
                }
            }
        }
        .tical-body{
            height: calc(100% - 80px);
            .tical-tab-header{
                height: 30px;
                width: 100%;
                display: flex;
                border-left: 1px solid var(--border-color);
                border-right: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
                button{
                    width: calc(100% / 3);
                    border: 0;
                    height: 100%;
                    background-color: transparent;
                    font-size: 80%;
                    &:nth-child(1){
                        border-bottom: 1px solid var(--main-color);
                    }
                }

            }
            .tical-tab-body{
                height: calc(100% - 30px);
                border: 1px solid var(--border-color);
                border-top: 0;
                padding: 8%;
                padding-bottom: 0;
                .invest-equity{
                    width: 100%;
                    height: 100%;
                    overflow-y: auto;
                    // padding: 5% 0 ;
                    &::-webkit-scrollbar{
                        width: 0px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: var(--border-color);
                        border-radius: 4px;
                    }
                    .ie-header{
                        margin-bottom: 2.5vh;
                        h4{
                            margin: 0;
                            font-weight: 600;
                        }
                        p{
                            font-weight: 400;
                            white-space: normal;
                            font-size: 70%;
                            line-height: 15px;
                            margin: 0;
                            margin-top: 6px;
                            padding: 0;
                        }
                    }
                    .ie-total-allocation{
                        
                        border: 1px solid var(--border-color);
                        padding: 20px;
                        .allocation-header{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            h4{
                                margin: 0;
                                font-size: 150%;
                            }
                            span{
                                font-weight: 400;
                                font-size: 65%;
                            }
                        }
                        .allocation-body{
                            padding: 20px 0;
                            h6{
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 0;
                                &:nth-child(2){
                                    margin: 15px 0;
                                }
                                span{
                                    &:nth-child(1){
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                    }
                    .native-value{
                        margin: 3vh 0;
                        display: flex;
                        justify-content: space-between;
                        span{
                            &:nth-child(1){
                                font-weight: 400;
                            }
                        }
                    }
                    button{
                        background-color: transparent;
                        border: 1px solid var(--border-color);
                        width: 50%;
                        padding: 7px;
                        font-weight: 500;
                    }
                    .ie-calculations{
                        margin-bottom: 2.5vh;
                        border: 1px solid var(--border-color);
                        .ie-input-wrapper{
                            height: 10vh;
                            display: flex;
                            border-bottom: 1px solid var(--border-color);
                            div{
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                &:nth-child(1){
                                    border-right: 1px solid var(--border-color);
                                }
                                input{
                                    background-color: transparent;
                                    border: 0;
                                    width: 100%;
                                    text-align: center;
                                    font-size: 150%;
                                }
                                span{
                                    font-weight: 400;
                                    font-size: 70%;
                                }
                            }

                        }
                        .calculation-body{
                            padding: 20px;
                            h6{
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 0;
                                &:nth-child(2){
                                    margin: 15px 0;
                                }
                                span{
                                    &:nth-child(1){
                                        font-weight: 400;
                                    }
                                }
                            }
                        }

                    }

                }
                
            }

        }
    }
}
