@import "src/css-variables/css-variables.scss";

.passwordrules
{
    position: absolute;
    /* top: 0; */
    background:var(--main-color);
    font-size: 12px;
    padding: 2rem;
    color: white;
    margin-top: 2rem;
}
.textrules
{
    font-size: 10px;
   
    top: 2px;
   
    margin-bottom: 2rem;
    color:var(--main-color) !important;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;

}
.forcelyinputbox
{
    font-size: 11px;
  
    height: 3rem;
    /* margin-top: 3rem; */
    display: block;
    width: 14rem;
    border: 1px solid #bfc5ca;
    margin-top: 21px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.skjad
{
  font-size: 12px;
    width: 5rem;
    background: var(--main-color);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3rem;
}
.optUnregisterConformation
{
    input{
        width: 3em !important;
        text-align: center;
        border: 1px solid;
        margin-right: 11px;
        height: 3rem ;
    
    }
    @media (max-width: 1200px) {
        input{
            width: 2em !important;
            text-align: center;
            border: 1px solid;
            margin-right: 11px;
            height: 2rem ;
        
        }
    }
}
.login-main{
    width: 100%;
    height: 100%;
    button{
        &:hover{
            transition: 0.3s;
            transform: scale(1.07);
        }
        &:disabled{
            pointer-events: none;
            &:hover{
                transform: scale(1);

            }
        }
    }
    
    .login-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 4;
    }
    .optparagrah
    {
        width: 19.5rem;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    @media (max-width: 767px) {
        .optparagrah
        {
            width: 100%;
            margin-bottom: 40px;
            margin-top: 40px;
        }       
    }
.buttonunregister

    {
        margin-top: 3.5rem;
        background:var(--main-color);
        width: 6rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        color:var(--background-color)
    }
    .row{
        @media (max-width: 767px){
            padding-bottom: 0%;
        }
        .login-left{
            background-color: var(--background-color);
            padding: 0;
            border-right: 1px solid var(--border-color);
        }
        .privacy-policy-text{
            position: absolute;
            bottom: 5%;
            font-size: 100%;
            width: 100%;
            font-weight: 400;
            color: var(--main-color);
            padding-left: 12%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            span{
                font-size: 100%;
                text-decoration: underline;
            }
        }
        .close-button-login{
            position: absolute;
            outline: none;
            right: 0;
            top: 10%;
            transform: translateX(50%);
            padding: 5px;
            height: 23px;
            width: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 0;
            z-index: 11;
            box-shadow: 0 0 2px 1px #d9d9d9;
            background-color: #ffffff;
            cursor: pointer;
            img{
                cursor: pointer;
                transform: rotate(180deg);
            }

        }
        .bottom-section{
            position: absolute;
            bottom: 2.5%;
            width: 100%;
            display: flex;
            font-size: 95%;
            font-weight: 500;
            padding-left: 12%;
            color: var(--main-color);
            text-decoration: underline;
            cursor: pointer;
        }
        .login-form{
            height: 70%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-left: 12%;
            // margin-left: -20%;
            @media (max-width: 1560px){
                width: 65%;
            }
            @media (min-width: 1600px){
                width: 55%;
            }
            @media (max-width: 767px){
                width: 80%;
                height: 70%;
            }
            p{
                color: var(--light-gray) ;
            }
            .login-form-title{
                h1{
                    margin-bottom: 0px;
                    font-weight: bold;
                    font-size: 270%;
                    letter-spacing: 1px;
                    white-space: nowrap;
                    color: var(--main-color);
                    letter-spacing: 10px;
                }
                span{
                    font-size: 100%;
                }
                h6{
                    white-space: nowrap;
                    color: var(--background-color);
                    font-weight: 400;
                }
        }
            // padding: 0 10%;
            .login-button{
                @media (max-width: 767px){
                    width: 100% !important;
                }
                outline: none;
                background-color: var(--main-color);
                border: 0;
                height: 40px;
                display: flex;justify-content: center;align-items: center;
                color: var(--background-color);
                padding: 6px 50px;
                margin-top: 1rem;
                position: relative;
                font-weight: 600;
                span{
                    position: absolute;
                    color: red;
                    left: 0;
                    top: -120%;
                    width: 300%;
                    font-weight: 500;
                    text-align: left;
                }
            }
            .below-form-text{
                p{
                    margin: 0;
                    margin-bottom: 0.5rem;
                    font-size: 90%;
                    color: var(--main-color);
                    span{
                        font-size: 100%;
                        text-decoration: underline;
                    }

                }
            }
        }
        .login-right-main-dark{
            
            background-color: var(--main-color) !important;
        }
        .login-right-main-new {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            .login-right-main-new-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                justify-content: space-between;
                height: 60%;
                width: 100%;


                img {
                    height: 22%;
                    // margin-bottom: 4vh;
                }
                p {
                    width: 60%;
                    text-align: center;
                    font-size: 110%;
                    // margin-bottom: 8vh;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    button {
                        padding: 2vh 0;
                        border: 1px solid var(--main-color);
                        font-weight: 600;
                        font-size: 95%;
                        &:nth-child(1){
                            margin-bottom: 2.5vh;
                            background-color: transparent;
                            color: var(--main-color);

                        }
                        &:nth-child(3) {
                            // margin-bottom: 2.5vh;
                            background-color: transparent;
                            color: var(--main-color);
                        }
                        &:nth-child(2) {
                            background-color: var(--main-color);
                            color: white;
                            margin-bottom: 2.5vh;
                        }
                        &:hover {
                            transition: 0.3s;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
        .login-right-main{
            background-color: var(--background-color);
            display: flex;
            align-content: space-around;
            flex-wrap: wrap;
            padding: 4% 0;
            position: relative;
            height: 100%;
            background-size: 80%;
            @media (max-width: 767px){
                background-color: white;
                align-content: center;
                padding: 0;
                //height: 100vh !important;
                .login-right-text{
                    // margin-bottom: 22%;
                    color: var(--main-color) ;
                    h2{
                        font-size: 190% !important;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: var( --main-color);
                    }
                    h1{
                        font-weight: 700;
                        font-size: 180% !important;
                        padding: 0 10%;
                        color: var(--main-color);
                        // white-space: nowrap;
                        // text-overflow: ellipsis;
                        // overflow: hidden;
                    }
                }
            }
            .login-right-text{
                width: 100%;
                text-align: center;
                color: var(--main-color) ;
                h1,h2{
                    margin-bottom: 0;
                    font-weight: 600;
                    animation: 1s show-opacity 1 linear;
                    color: var(--main-color);
                }
                h1{
                    font-size: 270%;
                    font-weight: bold;
                }
                h2{
                    font-size: 210%;
                }
            }
            .login-right-text-below{
                display: none;

                // remove this from JS
                text-align: center;
                h4{
                    font-weight: 600;
                    color: var(--main-color) ;
                    animation: 1s show-opacity 1 linear;
                }
                p{
                    color: var(--main-color) ;
                    margin: 0;
                    padding: 0 12%;
                    font-size: 85%;
                    font-weight: 600;
                }
            }
            Lottie
            .login-button{
                position: absolute;
                bottom: 0;
                width: 100%;
                background-color: var(--main-color);
                color: white;
                text-align: center;
                border: 0;
                justify-content: center;
                padding: 8px;
                align-items: center;
                font-weight: bold;
            }
        }
    }
}

.logomain
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.img_logo
{
    // width: 8rem;
    height: 13vh;
}
@media (max-width: 767px){
    .logomain{
    display: none!important 
    
    }
    
    .login-main .row .login-left {
        background-color: var(--background-color);
        padding: 0;
        border-right: 1px solid var(--border-color);
        display: flex;  
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    .login-main .row .login-form {
        width: 80%;
        height: 70%;
        margin: auto;
    }
    .login-form-title h1 img
    {
        width: 6rem;
    }
    .login-main .row .login-form {
        width: 80%;
        height: 78%;
        margin: auto;
    }
}