.bond-offering{
    width: 100%;
    height: 100%;
    .bond-offering-header{
        width: 100%;
        height: 30px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        // justify-content: space-between;
        padding: 0 40px;
        span{
            font-weight: 500;
            font-size: 70%;
            width: calc(100%/6);
        }
    }
    .bond-offering-body{
        height: calc(100% - 30px);
        width: 100%;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }
        .bond-offering-row{
            padding: 0 40px;
            // justify-content: space-between;
            // height: 9.5vh;
            overflow: hidden;
            border-bottom: 1px solid var(--border-color);
            .curtain-header{
                height: 9vh;
                width: 100%;
                display: flex;
                align-items: center;
                span{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-right: 10px;
                    width: calc(100%/6);
                    img{
                        height: 20px;
                        margin-right: 7px;
                    }
    
                }
                
                form{
                    height: 30px;
                    width: calc(100%/6);
                    border: 1px solid var(--border-color);
                    padding-right: 0;
                    input{
                        width: calc(100% - 30px);
                        background-color: transparent;
                        border: 0;
                        font-size: 85%;
                        
                    }
                    button{
                        height: 100%;
                        width: 30px;
                        background-color: var(--main-color);
                        border: 0;
                        img{
                            height: 40%;
                            margin-right: 0px;
                        }
                        .spinner{
                            height: 15px;
                            width: 15px;
                            border-radius: 50%;
                            border: 0;
                            border-top: 2px solid var(--background-color);
                            border-bottom: 2px solid var(--background-color);
                            animation: spin-round 1s infinite;
                        }
                    }
                }

            }
            .curtain-body{
                height: 23.5vh;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 2% 0;
                .curtain-body-top{
                    height: 50%;
                    display: flex;
                    justify-content: space-between;
                    div{
                        height: 100%;
                        width: 20%;
                        border: 1px solid var(--border-color);
                        display: flex;
                        padding-left: 20px;
                        // align-items: center;
                        h5{
                            margin-bottom: 0;
                            font-weight: 600;
                            color: var(--green-color);
                        }
                        span{
                            font-size: 50%;
                        }
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                .curtain-body-bottom{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    p{
                        font-size: 80%;
                        text-decoration: underline;
                    }
                    h6{
                        button{
                            border: 0;
                            padding: 5px 20px;
                            font-size: 80%;
                            font-weight: 500;
                            &:nth-child(1){
                                background-color: var(--background-color);
                                border: 1px solid var(--border-color);


                            }
                            &:nth-child(2){
                                background-color: var(--main-color);
                                color: var(--background-color)
                                
                            }
                        }
                    }
                }
            }
        }
        .normal-curtain{
            height: 9.5vh;
            transition: 0.3s;

        }
        .full-curtain{
            height: 32vh;
            transition: 0.3s;

        }
    }

}

@keyframes spin-round {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}