@import "src/css-variables/css-variables.scss";
.trade-main{
    width: 100%;
    height: 100%;
    // background-color: red;
    .trade-main-header{
        border-bottom: 1px solid var(--border-color);
        height: 80px;
        width: 100%;


    }
    .trade-main-body{
        height: calc(100% - 120px);
        width: 100%;

    }
    .trade-main-footer{
        animation: 0.3s opacity-change 1 linear;
        width: 100%;
        height: 40px;
        background-color: var(--main-color);

    }
}