@import "src/css-variables/css-variables.scss";
.friend-asset{
    width: 100%;
    height: 100%;
    .friend-asset-header{
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 40px;
        img{
            height: 6vh;
            margin-right: 1rem;
            border-radius: 50%;
        }
        div{
            width: 80%;
            h5,p{
                margin: 0;
            }
            p{
                font-size: 75%;
            }
        }
        .complete-button{
            @include removeDefault;
            padding: 3px 20px;
            background-color: transparent;
            font-size: 80%;
            font-weight: 600;
            border: 2px solid var(--main-color);
            &:disabled{
                opacity: 0.5;
            }
        }

    }
    .friend-asset-wrapper{
        width: 100%;
        height: 80%;
        .friend-asset-sub-header{
            height: 40px;
            width: 100%;
            display: flex;
            .selected{
                border-bottom: 1px solid var(--main-color);
                font-weight: 600;
            }
            button{
                width: 50%;
                font-size: 90%;
                @include removeDefault;
                background-color: transparent;
                border-bottom: 1px solid var(--border-color);
            }
        }
        .friend-asset-body{
            height: calc(100% - 40px);
            width: 100%;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--border-color);
            }
            .selected{
                background-color: var(--faint-dark);
            }
            .selected-asset{
                height: 100%;
                width: 100%;
                display: block;

                .selected-asset-title{
                    height: 70px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    border: 0;
                    padding: 0;
                    img{
                        margin-right: 10px;
                        height: 30px;
                    }
                    h6{
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                }
                .selected-asset-body{
                    height: calc(100% - 70px);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0;
                    padding-top: 2%;
                    padding-bottom: 10%;
                    div{
                        padding: 0;
                        height: auto;
                        border: 0;
                        display: block;
                        text-align: left;
                        width: 100%;
                        h6{
                            font-weight: bold;
                            font-size: 90%;
                        }
                        p{
                            height: 24px;
                            width: 80%;
                            display: flex;
                            align-items: center;
                            border: 1px solid var(--border-color);
                            font-size: 80%;
                            margin: 0;
                        }
                        input{
                            height: 24px;
                            width: 80%;
                            border: 1px solid var(--border-color);

                        }

                    }
                }
            }
            .friend-asset-body-row{
                height: 25%;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 40px;
                border-bottom: 1px solid var(--border-color);
                span{
                    img{
                        height: 30px;
                        margin-right: 1rem;
                    }
                }
                button{
                    @include removeDefault;
                    border: 1px solid var(--main-color);
                    font-size: 70%;
                    padding: 2px 15px;
                    background-color: transparent;
                    font-weight: 600;
                }
                .update-button{
                    background-color: var(--main-color) !important;
                    color: var(--background-color);
                }
            }
        }

    }
}