.common-dropdown{
    height: 6vh;
    z-index: 2;
    .cd-selected{
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 15px;
        width: 100%;
        border: 1px solid var(--light-border-color);
        border-radius: 4px;
        .dropdown-image{
            position: absolute;
            top: calc(45% - 5px);
            transform: rotate(180deg);
            right: 5%;
            padding: 5px;
            cursor: pointer;
    
        }
        
    }
    .remove-order{
        border-bottom: 0;
    }
    .cd-dropdown-list{
        
        animation: 0.3s 1 curtain-drop-down linear;
        z-index: 2;
        background-color: var(--background-color);
        height: 30vh;
        border: 1px solid var(--light-border-color);
        border-top: 0;
        border-radius: 0 0 4px 4px;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }
        h6{
            margin-bottom: 0;
            border-bottom: 1px solid var(--light-border-color);
        }
    }
}