@import "src/css-variables/css-variables.scss";
$appColor: var(--main-color);
$fontColor: white;


@media (max-width: 576px) {
  .stats-wrapper {
    padding-top: 0;
  }
}

.stats-wrapper .statistic-wrapper {
  height: 85vh;
  width: 100%;
}

@media (max-width: 576px) {
  .stats-wrapper .statistic-wrapper {
    height: auto;
  }
  .stats-wrapper .statistic-wrapper .gx-pulse-header {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .stats-wrapper .statistic-wrapper .gx-pulse-header {
    display: none !important;
  }
}

.stats-wrapper .statistic-wrapper .stats-controll {
  background-color: $appColor;
  border-radius: 10px;
  padding: 1rem 0.8rem;
}

.stats-wrapper .statistic-wrapper .stats-controll ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.stats-wrapper .statistic-wrapper .stats-controll ul > li {
  cursor: pointer;
  display: inline-block;
  zoom: 0.9;
  margin-right: 10px;
  border-radius: 8px;
  padding: 5px 8px;
  background-color: #fff;
  color: #000;
}

.stats-wrapper .statistic-wrapper .stats-controll ul > li:last-child {
  margin-right: 0;
}

.stats-wrapper .statistic-wrapper .stats-controll ul > li.active {
  background-color: $appColor;
  color: #fff;
  border: 2px solid #ffffff;
}

@media (min-width: 1600px) {
  .stats-wrapper .statistic-wrapper .stats-controll ul > li {
    zoom: 1.15;
  }
}

.stats-wrapper .statistic-wrapper .scroll-shadow {
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 10px #999;
  box-shadow: 0px 1px 10px #999;
}

.stats-wrapper .statistic-wrapper .stats-details {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .stats-wrapper .statistic-wrapper .stats-details {
    width: calc(100vw - 12px);
    overflow-y: auto;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
  }
  .stats-wrapper .statistic-wrapper .stats-details::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .stats-wrapper .statistic-wrapper .stats-details::-webkit-scrollbar-thumb,
  .stats-wrapper .statistic-wrapper .stats-details::-webkit-scrollbar-track {
    background: none;
    border-radius: 8px;
  }
  .stats-wrapper .statistic-wrapper .stats-details::-webkit-scrollbar-track {
    background: none;
    border-radius: 8px;
  }
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  text-align: center;
  margin-right: 25px;
  padding: 1rem 0.6rem;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .stats-wrapper .statistic-wrapper .stats-details .stats-item h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .stats-wrapper .statistic-wrapper .stats-details .stats-item h6 {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .stats-wrapper .statistic-wrapper .stats-details .stats-item h3,
  .stats-wrapper .statistic-wrapper .stats-details .stats-item h6 {
    margin-bottom: 0.3rem;
  }
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item.active {
  background-color: $appColor;
}

.stats-wrapper
  .statistic-wrapper
  .stats-details
  .stats-item.active
  .stats-title,
.stats-wrapper
  .statistic-wrapper
  .stats-details
  .stats-item.active
  .stats-value,
.stats-wrapper
  .statistic-wrapper
  .stats-details
  .stats-item.active
  .stats-unit {
  color: white !important;
}

.stats-wrapper
  .statistic-wrapper
  .stats-details
  .stats-item:first-child::after {
  content: none;
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: $appColor;
  width: 2px;
  height: 70%;
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: $appColor;
  width: 2px;
  height: 70%;
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item:last-child {
  margin-right: 0;
}

.stats-wrapper
  .statistic-wrapper
  .stats-details
  .stats-item:last-child::before {
  content: none;
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item .stats-title span {
  font-size: 0.5rem;
  font-weight: 600;
}

@media (min-width: 1600px) {
  .stats-wrapper
    .statistic-wrapper
    .stats-details
    .stats-item
    .stats-title
    span {
    font-size: 0.9rem;
  }
}

.stats-wrapper .statistic-wrapper .stats-details .stats-item .stats-unit {
  font-size: 0.8rem;
  font-weight: 600;
}

.stats-wrapper .notification-wrapper {
  height: 85vh;
  width: 100%;
}

@media (max-width: 576px) {
  .stats-wrapper .notification-wrapper {
    display: none !important;
  }
}

.stats-wrapper .notification-wrapper .notification-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stats-wrapper .notification-wrapper .notification-header .total-notification {
  color: #cecece;
}

.stats-wrapper .notification-wrapper .notification-list {
  overflow-y: scroll;
  padding-right: 10px;
  height: 100%;
}

.stats-wrapper .notification-wrapper .notification-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.stats-wrapper
  .notification-wrapper
  .notification-list::-webkit-scrollbar-thumb,
.stats-wrapper
  .notification-wrapper
  .notification-list::-webkit-scrollbar-track {
  background: $appColor;
  border-radius: 8px;
}

.stats-wrapper
  .notification-wrapper
  .notification-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.stats-wrapper .notification-wrapper .notification-list .notification-item {
  border: 1px solid #eeeef1;
  border-radius: 10px;
  margin-bottom: 1.25rem;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item:last-child {
  margin-bottom: 0;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  border-bottom: 1px solid #eeeef1;
  height: 30%;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-header
  .notification-item-number {
  font-weight: bold;
  color: #b7b7b7;
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-header
  .notification-item-link {
  color: $appColor;
  font-size: 0.75rem;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70%;
  padding: 0 15px;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-body
  .notification-item-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 15px;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-body
  .notification-item-icon-wrapper
  .notification-item-icon {
  width: 30px;
  height: 30px;
}

.stats-wrapper
  .notification-wrapper
  .notification-list
  .notification-item
  .notification-item-body
  .notification-item-content {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 82%;
  text-align: justify;
}

@media (min-width: 1600px) {
  .stats-wrapper
    .notification-wrapper
    .notification-list
    .notification-item
    .notification-item-body
    .notification-item-content {
    font-size: 90%;
  }
}

@media (max-width: 576px) {
  .stats-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 0;
    padding-top: 2.4rem;
    padding-bottom: 4rem;
  }
}

.stats-mobile {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 2px solid $appColor;
  border-top: 2px solid $appColor;
}

.stats-table {
  border-radius: 10px;
  position: relative;
}

.stats-table .stats-table-block {
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (max-width: 576px) {
  .stats-table .stats-table-block {
    height: auto;
  }
}

.stats-table .stats-table-block .details-table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem 2rem;
  color: black;
  font-size: 0.75rem;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .stats-table .stats-table-block .details-table-item {
    padding: 1rem 0;
  }
}

.stats-table .stats-table-block .details-table-item:first-child {
  padding-top: 2rem;
}

@media (min-width: 1600px) {
  .stats-table .stats-table-block .details-table-item {
    font-size: 0.95rem !important;
  }
}

.stats-table .stats-table-block label {
  margin-bottom: 0;
}

.stats-table .stats-table-block .flexed-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stats-table .stats-table-block .more-btn {
  cursor: pointer;
  border: 2px solid $appColor;
  background: white;
  color: black;
  border-radius: 8px;
  padding: 4px 6px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.stats-table .stats-table-block .more-btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.stats-table .details-table-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  padding-top: 0.5rem !important;
  font-weight: bold !important;
  font-size: 0.85rem !important;
  padding-bottom: 0.5rem !important;
}

@media (min-width: 1600px) {
  .stats-table .details-table-header {
    font-size: 1rem !important;
  }
}

.table-row {
  display: table-row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.expanded-stats-table {
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 93%;
  height: 93% !important;
}
