@import '~antd/dist/antd.css';
@import "src/css-variables/css-variables.scss";
.main-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  button {
    color: var(--text-color);
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  color: var(--text-color);
}
.loader:empty {
  width: 100vw;
  height: 100vh;
  background-image: url('./loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
