@import "src/css-variables/css-variables.scss";
.sameinput
{
border:1px solid  #E9E9E9 !important;
margin: 0;
margin-bottom: 0 !important;
padding-left: 25px !important;
box-shadow: none !important;
height: 3.4rem !important;
width: 100%;
}
.styleimgae
{
    
    background:  var(--main-color);
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
width: 3rem;
}
.sameinput:focus
{
border:1px solid  #E9E9E9 !important;
margin: 0;
margin-bottom: 0 !important;
padding-left: 25px !important;
box-shadow: none !important;
height: 3.4rem !important;
width: 100%;
}
.sameinput:hover
{
border:1px solid  #E9E9E9 !important;
margin: 0;
margin-bottom: 0 !important;
padding-left: 25px !important;
box-shadow: none !important;
height: 3.4rem !important;
width: 100%;
}

.passwordarrowas {

    cursor: pointer;
    width: 2rem;
}
.mainappbcktext
{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #001423;
    opacity: 0.31;
    margin-left: 1rem;
    margin-bottom: 0;
}

.bckgobck
{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 28px;
}
.mobilesetTwomaindiv
{
    display: none;
}
.mobiledevice
{
    display: none;
}
.alkfjdn
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
 
  }
  .react-responsive-modal-modalCenter {
    margin: auto;
    width: 550px;
}
  .react-responsive-modal-overlay
  {
  background: rgba(0, 20, 35, 0.8) !important;
  }
  .react-responsive-modal-modal
  {
      padding:0 !important;
  }
  .react-responsive-modal-closeButton
  {
      display: none !important;
  }
.modalimg
  {
    text-align: center;
    margin: auto;
    display: flex;
  }
.StoreVsaMain
  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74vh;
  }
  .btn-vsa {
    color: #182542 !important;
    border: none;
    font-size: 18px;
    background: var(--main-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    /* line-height: 29px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* font-weight: bold; */
    margin: auto;
    font-weight: bold;
}
  
.asdasdasdreet
{
    position: absolute;
    font-size: 25px;
    top: 4px;
    right: 5px;
    display: none;
}
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: -9px;
    opacity: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    right: 0;
    height: 2rem;
    width: 13rem;
  }


.asdadashdjad{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.fullsectionasd
{
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 590px;
    height: 70;
    height: 595px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectbrandinput
{
    height: 51px !important;
    /* left: 534px; */
    /* top: 253px; */
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9 !important;
    width: 348px !important;
color:black !important;
    margin-left: 2rem !important;
    margin-bottom: 5% !important;
}
.selectbrandinput:focus
{
    height: 51px !important;
    /* left: 534px; */
    /* top: 253px; */
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9 !important;
    width: 430px !important;
    margin-left: 2rem !important;
    margin-bottom: 5% !important;
}
.asdasdasdafjekwj
{
    display: flex;
}


.selectbrandinputq
{
    height: 51px !important;
    /* left: 534px; */
    /* top: 253px; */
    color:#182542 !important;
    margin-bottom: 5% !important;
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9 !important;
    width: 430px !important;

}
.selectbrandinputq:focus
{
    height: 51px !important;
    /* left: 534px; */
    /* top: 253px; */
    color:#182542 !important;
    margin-bottom: 5% !important;
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9 !important;
    width: 430px !important;

}

.selectbrandinputq::placeholder{

font-size: 12px !important;
opacity: 0.5px;
}
.selectbrandinput::placeholder{
    
    font-size: 12px !important;
    opacity: 0.5px;
    }
body
{
    font-family: 'Montserrat', sans-serif !important;
}
.new-stpanel
{
    height: 70vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.carcels
{
    
    width: 90%;

    padding-top: 3rem;
    display:block
}

.agencytext
{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin-top: 9px;
    margin-bottom: 17%;
}
.mainsliderPage .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60vh !important;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
   
    transform-origin: 0% 0% !important;
    width: 100% !important;
}
.footertext
{
   
 
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    bottom: 4%;
}
.modal .modal-footer 
{
    display: none !important;
}
.colordacxcd
{
    background:  var(--main-color);
}
.videoFrame
{
    width: 100% !important;
}
.colordacxc {
    font-size: 18px;
    background:  var(--main-color);
    
    font-weight: Bold;
    margin-bottom: 2.5rem;
    color: var(--main-color);
    padding-top: 1rem;
    width: 83%;
    margin: auto;
    padding-bottom: 1rem;
}
.innerplan {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4.5%;
}
.planschoose {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 83%;
    margin: auto;
    margin-top: 4%;

}
.carousel .carousel-item>img
{
        width: auto !important;
        height: 94%;
}
.pantext
{
    font-weight: bold;
    /* padding-right: 1rem; */
    margin: 0;
    padding-left: 1.5rem;
    font-size: 15px;
}
.carousel
{
   
}
.carousel .carousel-item {
    visibility: hidden;
    width: 39.333% !important;

    position: absolute;
    opacity: 1 !important ;

    left: -32.333333% !important;
    height: 100% !important;
   
}
.buttonfinal
{
    width: 300px;
    font-weight: bold;
    height: 56px;
    left: 375px;
    margin-top: 1rem;
    top: 683px;
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--main-color);
    cursor:pointer !important;
}
.buttonfinal:focus
{
    width: 300px;
    height: 56px;
    left: 375px;
    margin-top: 1rem;
    top: 683px;
    font-weight: bold;
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--main-color);
   cursor:pointer !important;
}

.buttonfinalalt:focus
{
    font-weight: bold;
    width: 300px;
    height: 56px;
    left: 375px;
    margin-left: 17px;
    top: 683px;
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color:  var(--main-color);
    border: 1px solid  var(--main-color) ;

   cursor:pointer !important;
}

.imgsecton
{
    width: 10rem;
    margin-bottom: 2rem;
}
.finalcustom
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.tobrand
{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 25px;
/* identical to box height, or 71% */

display: flex;
align-items: center;
text-align: center;
justify-content: center;
color: var(--main-color);
}
.sadasdasdasdasd
{
    background: #FFFFFF;
    border: 1px solid #182542;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #182542;
    width: 15rem;
    height: 3rem;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.adsavsdasdasdasd
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.asdasdafsgsvc
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #182542;
    justify-content: center
}
.asdasddasd {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--main-color);
    width: 533px;
    margin: auto;
    margin-top: 4rem;
}

.controgess
{
    font-family: Montserrat;
    justify-content: center;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
/* or 150% */

display: flex;
align-items: center;
text-align: center;

color: var(--main-color);
}
.buttonfinalregis {
    width: 188px;
    font-weight: bold;
    height: 52px;
    left: 375px;
    margin-top: 1rem;
    top: 683px;
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--main-color);
    cursor: pointer !important;
    margin-top: 33px;
    font-size: 11px;
}
.buttonfinalregis:focus {
    width: 188px;
    font-weight: bold;
    height: 52px;
    left: 375px;
    margin-top: 1rem;
    top: 683px;
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--main-color);
    cursor: pointer !important;
    margin-top: 33px;
    font-size: 11px;
}
.asdasdwewrwer
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.asdasdasdasd
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 18px;
    color: var(--main-color)
}
.colordacxsfdfcd {
    background:  var(--main-color);
    padding-left: 1rem;
    padding-right: 1rem;
}
.asdasdaxsdasdads
{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    /* justify-content: center; */
    padding-left: 3.6rem;
    margin: 0;
}
.videoFrame:focus{
    outline: none !important;
}
.react-player__preview:focus
{
    outline: none !important; 
}
.asdsduyahsdabsdabjds
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color:  var(--main-color);;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    background: var(--main-color);
    width: 11rem;
    margin-top: 2rem;

    /* padding-bottom: 2rem; */
    /* padding-left: 3.6rem; */
    margin: 0;
    margin: auto;
    
    margin-top: 2rem;

}
.colordacxshhjfdfcd {
    background:  var(--main-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.asdasddsasd32434 {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    /* justify-content: center; */
    padding-left: 3.6rem;
    margin: 0;
}
.asdasdaxsdzdasdads
{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    /* justify-content: center; */
    padding-left: 6px;

}
.dfsfertertert
{
    margin-bottom: 2rem;
}
.colordasdadaacxc {
    font-size: 18px;
    /* background:  var(--main-color); */
    font-weight: Bold;
    margin-bottom: 2.5rem;
    color:  var(--main-color);
    padding-top: 1rem;
    width: 83%;
    margin: auto;
    padding-bottom: 1rem;
    margin-top: 3rem;
}
.ahgshdjaksda
{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    padding-left: 3.6rem;
    align-items: center;
    color: var(--main-color);
    padding-top: 1.5rem;
   
}

.asdasddamnmnmsd {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--main-color);
    width: 533px;
    margin: auto;
    padding-top: 2rem;
}
.finalcustomss
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.custom-file {

    margin-bottom: 4rem;
  }
  .custom-file input {

    border: none !important;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.2rem;
    padding-left: 0 !important;
  }
  .custom-file-label::after {
  
    color: var(--main-color) !important;
   
    background-color: #000000 !important;
  
  }
  .custom-file-label
{
  color: #000000 !important; 
     
  background-color: #000000 !important;
}
.buttonfinalalt
{
    width: 300px;
    font-weight: bold;
    margin-left: 17px;
    height: 56px;
    left: 375px;
    top: 683px;
    background: var(--main-color);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    color:  var(--main-color);
    border: 1px solid  var(--main-color) ;

   cursor:pointer !important;
}
.finalheader
{
  
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: var(--main-color);
    margin: 0;
    padding-left: 3rem;
}
.finalcustom .carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;

    opacity: 1 !important;
}
.finalcustom  .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    perspective: 700px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
}
.optf input
{
    text-align: center;
    margin-right: 12px !important;
    width: 4rem !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px;
    height: 4rem !important;
    padding: 0 !important
}
.optf input:focus
{
    text-align: center;
    margin-right: 12px !important;
    width: 4rem !important;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px;
    height: 4rem !important;
    padding: 0 !important
}
.optf
{
    justify-content: center;
    margin-bottom: 2.5rem;
}
.imagecow
{
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-bottom: 12px;
    width: 6rem;
    margin-top: 12px;
}
.imageguy
{
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-bottom: 16px;
    margin-top: 18px;
}
.iconmainsection
{
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    height: 6rem;
    width: 6rem;;
}
.informationTextHeader {
    text-align: center;
    margin: 0;

    line-height: 18px;
    /* display: flex; */
    align-items: center;
    color: var(--main-color);
    opacity: 0.29;
    font-size: 19px;
    margin-top: 6px;
    /* margin-top: 21px; */
}
.getEmailbutton
{

    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;
    justify-content: center;
    margin-top: 59px;
    width: 274px;
    height: 54px;
    left: 797px;
    top: 539px;
    background:  var(--main-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.getEmailbuttoncustom{
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    width: 274px;
    height: 54px;
    left: 797px;
    top: 539px;
    background: white;
    border-radius: 5px;
    border: 1px solid black ;
    cursor: pointer
}
.getEmailbuttoncustom:focus{
    display: flex;
    align-items: center;
    text-align: center;
    color:black;;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    width: 274px;
    height: 54px;
    left: 797px;
    top: 539px;
    background: white;
    border-radius: 5px;
    border: 1px solid black ;
    cursor: pointer
}
.getEmailbutton:focus
{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;
    justify-content: center;
    margin-top: 59px;
    width: 274px;
    height: 54px;
    left: 797px;
    top: 539px;
    background:  var(--main-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.informationTextHeadercustom {
    text-align: center;
    margin: 0;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    color: var(--main-color);
    /* opacity: 0.31; */
    line-height: 33px;
    font-size: 19px;
    /* margin-top: 21px; */
    font-weight: bold;
    opacity: 0.29;
}
.advasdasd
{
    margin-top: 48px;
}
.topali
{
    margin-top: 17px;  
}

.informationTextHeaderTop {
    text-align: center;
    margin: 0;
    margin-top: 25px;
    line-height: 18px;
    /* display: flex; */
    align-items: center;
    color: var(--main-color);
    opacity: 0.29;

    font-size: 19px;
    /* margin-top: 21px; */
}
  


.mainsliderPage
{
    background-color: #186ab4;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 !important;
    background-position: center;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important; 
    justify-content: center;
}
.sliderheaders
{
    margin: 0;
    text-align: center;
    color:  var(--main-color);
    font-weight: bold;
}

.maincontinerdivsubsection
{
    width: 28rem;
/* height: 70vh; */
}
.powerimg
{
    width: 16px;
    margin-left: 8px;
}
.powerby
{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: var(--main-color);
    letter-spacing: 2px;
   
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    /* display: flex; */
    align-items: center;
    color:  var(--main-color);
}

.slider-header-main
{
    
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    /* display: flex; */
    /* align-items: center; */
    text-align: left;
    margin: 0;
    color:  var(--main-color);
    font-weight: bold;
    width: 90%;
}
.homepagesecondSection
{
    background-color: white;
    position: relative;

}
.stepsheaderz
{
   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
   
    line-height: 31px;

    text-align: center;
    color: var(--main-color);
    
    opacity: 0.29;

}
.stepsheader
{
   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0px;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--main-color);
    opacity: 0.29;


}

.stepsheadermobile
{
   
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 0px;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--main-color);
    opacity: 0.29;
    display: none;


}
.row
{
    margin: 0;
    margin-bottom: 0 !important;
}
.homepagesecondSection
{
   
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.indicatorPassword
{
    width: 9px;
    height: 13px;
    background: #d51717;
    border: 1px solid #d51717;
    border-radius: 14px;
    padding: 0 0 0 12px;
    font-size: 10px;
}
.indicatorPasswordmathced
{
    width: 9px;
    height: 13px;
    background:  var(--main-color);
    border: 1px solid  var(--main-color);
    border-radius: 14px;
    padding: 0 0 0 12px;
    font-size: 10px;
    width: 0.8rem;
}

.informationsectionPasswrd
{
    margin: 0;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: var(--main-color);
    opacity: 0.31;
    font-size: 16px;
    color: var(--main-color);
}
.passwordarrow
{
    cursor: pointer;
    width: 1rem;
    height: 1rem;

}

.passwordinfodiv
{
    border: 1px solid #e9e9e926;
    margin-top: 1.4rem;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 26px;
    width: 99%;
}
.intialapp
{
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.passwardarrow input
{
    border: 1px solid #e9e9e991 !important;
    border:1px solid  #E9E9E9 !important;
margin: 0;
margin-bottom: 0 !important;
padding-left: 25px !important;
box-shadow: none !important;
height: 3.4rem !important;
width: 100%;
    
}
.headercontineinfo
{
    font-size: 21px;
    line-height: 24px;
    /* display: flex; */
    /* align-items: center; */
    color: var(--main-color);
    opacity: 0.29;
    
    font-weight: bold;
}
.passwardarrow
{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 3rem;
}
.passwordcontainer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
    
}
.setTwomaindiv
{
    width: 28rem;
}
.indicatorred
{
    width: 0.8rem;
    height: 0.8rem;
    background: #d51717;
    border: 1px solid #d51717;
    border-radius: 14px;
    position: absolute;
    right: 21px;
}
.inputformSection
{

    display: flex;
    align-items: center;
    margin-top: 19px;
    justify-content: center;
    position: relative;
}
.sameinput{
    color:var(--main-color) !important;
}

.indicatorGreen
{
    width: 0.8rem;
    height: 0.8rem;
    background:  var(--main-color);
    border: 1px solid  var(--main-color);
    border-radius: 14px;
    position: absolute;
    right: 21px; 
}
.steponebutton{
background: transparent;
border-radius: 5px;
color: lightgrey;
width: 16rem;
height: 3rem;
margin: auto;
text-align: center;
display: flex;
margin-top: 3rem;
align-items: center;
justify-content: center;
border: none;
cursor: pointer;
border: 1px solid #26252345;
}
.steponebutton:focus
{
    background: transparent !important;
    border-radius: 5px;
    color: lightgrey;
    width: 16rem;
    height: 3rem;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border: 1px solid #26252345;
}

.steponebuttonFalse {
    background: transparent;
    background:  var(--main-color) !important;
    border-radius: 5px;
    color: white !important;
    width: 16rem;
    height: 3rem;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid  var(--main-color);
    font-weight: bold;
}
.steponebuttonFalse:focus{

    background: transparent;
    background:  var(--main-color) !important;
    border-radius: 5px;
    color: white;
    width: 16rem;
    height: 3rem;
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid  var(--main-color);
    font-weight: bold;
}


@media only screen and (min-width:0px) and (max-width:500px)
{
    .maincontinerdivsubsection
    {
        height: auto;
    }
    .stepsheader {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: initial;
        margin-bottom: 2rem;
        text-align: center;
        color: var(--main-color);

    }
    stepsheadermobile
    {
        display: block;
    }
    .informationsectionPasswrd {
        margin: 0;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: var(--main-color);
        opacity: 0.31;
        font-size: 10px;
    }
    .getEmailbutton {
        display: flex;
        align-items: center;
        text-align: center;
        color: white;
        margin: auto;
        justify-content: center;
        margin-top: 59px;
        width: 274px;
    }
    .agencytext {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: var(--main-color);
        margin-top: 9px;
        margin-bottom: 12%;
    }
    .informationTextHeaderTop {
        text-align: center;
        margin: 0;
        margin-top: 25px;
        line-height: 18px;
        /* display: flex; */
        align-items: center;
        color: var(--main-color);
        font-size: 14px;
        opacity: 0.29;
        /* margin-top: 21px; */
    }
    .informationTextHeader {
        text-align: center;
        margin: 0;
        line-height: 18px;
        opacity: 0.29;
        /* display: flex; */
        align-items: center;
        color: var(--main-color);
        font-size: 13px;
        margin-top: 6px;
        /* margin-top: 21px; */
    }
    .colordacxc {
        font-size: 14px;
        background:  var(--main-color);
        font-weight: Bold;
        margin-bottom: 2.5rem;
        color: var(--main-color);
        padding-top: 1rem;
        width: 83%;
        margin: auto;
        padding-bottom: 1rem;
    }
    .pantext {
        font-weight: bold;
        /* padding-right: 1rem; */
        margin: 0;
        padding-left: 1.5rem;
        font-size: 11px;
    }
    .homepagesecondSection {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .jkhgsadasdasdfdsfghjk{
        width: 82%;
    }
    /* .setTwomaindiv
    {
        display: none;
    } */
  
    .passwordinfodiv {
        border: none;
        margin-top: 1.4rem;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 26px;
        width: 99%;
        margin-bottom: 3rem;
    }



    .headercontineinfo {
        font-size: 15px;
        line-height: 24px;
        /* display: flex; */
        /* align-items: center; */
        color: var(--main-color);
        font-weight: bold;
        opacity: 0.29;
    }

    .buttonfinalalt {
        width: 300px;
        font-weight: bold;
        margin-left: 0;
        height: 56px;
        left: 375px;
        top: 683px;
        background: var(--main-color);
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        color:  var(--main-color);
        border: 1px solid  var(--main-color);
        cursor: pointer !important;
        margin-top: 12px;
    }
    .buttonfinalalt:focus {
        width: 300px;
        font-weight: bold;
        margin-left: 0;
        height: 56px;
        left: 375px;
        top: 683px;
        background: var(--main-color);
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 10px;
        color:  var(--main-color);
        border: 1px solid  var(--main-color);
        cursor: pointer !important;
        margin-top: 12px;
    }

    .homepagesecondSection {
    
        width: 100%;
    }
    .mainsliderPage
    {
        display: none;
    }
    .maincontinerdivsubsection {
        width:100%;
    }
    .setTwomaindiv {
        width: 100%;
    }
    .setTwomaindivopt
    {width: 100%;

    }
    .passwordarrow {
        cursor: pointer;
        width: 3rem;
        height: 53px;
    }
    .optf input {
        text-align: center;
        margin-right: 11px !important;
        width: 2.1rem !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
        border-radius: 5px;
        height: 2rem !important;
        padding: 0 !important;
    }
    .finalheader {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 36px;
        /* display: flex; */
        align-items: center;
        text-align: center;
        color: var(--main-color);
        margin: 0;
        padding-left: 1rem;
    }
    .tobrand {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: var(--main-color);
    }
    .asdasdasdasd {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-right: 18px;
        color: var(--main-color);
    }
    .ahgshdjaksda {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 30px;
        display: flex;
        padding-left: 0.6rem;
        align-items: center;
        color: var(--main-color);
        padding-top: 1.6rem;
        text-align: left;
    }
    .asdasddsasd32434 {
        font-style: italic;
        font-weight: 300;
        font-size: 10px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: var(--main-color);
        /* justify-content: center; */
        padding-left: 0.6rem;
        margin: 0;
    }
    .asdasdaxsdzdasdads {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: var(--main-color);
        /* justify-content: center; */
        padding-left: 6px;
    }
    .asdasdaxsdasdads {
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: var(--main-color);
        /* justify-content: center; */
        padding-left: 0.6rem;
        margin: 0;
    }
    .asdasddamnmnmsd {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: var(--main-color);
        width: 100%;
        margin: auto;
        padding-top: 2rem;
    }
    .asdasddasd {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: var(--main-color);
        width: 94%;
        margin: auto;
        margin-top: 3rem;
    }
    .controgess {
        font-family: Montserrat;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 45px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--main-color);
    }
    .asdasdasdafjekwj {
        display: flex;
        width: 100%;
    }
    .buttonfinal {
        width: 261px;
    }

    .fullsectionasd {
        background: #FFFFFF;
        border: none;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        width: 100%;
        height: 70;
        /* height: 595px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .stepsheaderz {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;

        text-align: center;
        color: var(--main-color);
    }
    .optf input:focus {
        text-align: center;
        margin-right: 11px !important;
        width: 2.1rem !important;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25) !important;
        border-radius: 5px;
        height: 2rem !important;
        padding: 0 !important;
    }
}
@media only screen and (min-width:500.9px) and (max-width:992px)
{
    .mainsliderPage
    {
        display: none;
    }
    .homepagesecondSection {
    
        width: 100%;
    }
}
@media only screen and (min-width:0px) and (max-width:992px)
{
    .iconmainsection {
        text-align: center;
        margin: auto;
        display: flex;
        margin-bottom: 50px;
        width: 6rem;
    }
.setTwomaindiv
{
    display: none;
}
.mobilesetTwomaindiv
{
    display: block;
}
    .asdasdasdreet
    {
display: block;
    }
    .mobiledevice
    {
        display: block;
    }
   .homepagedesktop
   {
       display: none;
   }
   .maincontinerdivsubsection {
   
    height: auto;
    margin: auto;
}
   /* .setTwomaindiv {
    display: none;
    margin: auto;
} */
   .passwordinfodiv {
    border: none;
    margin-top: 1.4rem;
    padding-left: 21px;
    padding-right: 21px;
    padding-bottom: 26px;
    width: 100%;
    margin-bottom: 3rem;
}
   .homepagesecondSection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.jkhgsadasdasdfdsfghjk{
    width: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .setTwomaindiv
{
    display: none;
} */




}

@media only screen and (min-width:992px) and (max-width:1450px)
{

    .maincontinerdivsubsection
    {
        height: auto;
    }
    .stepsheader {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 0px;
        margin-bottom: 3rem;
        text-align: center;
        color: var(--main-color);
    }

    .agencytext {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: var(--main-color);
        margin-top: 9px;
        margin-bottom: 9%;
    }
    .new-stpanel {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider-header-main {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 42px;
        /* display: flex; */
        /* align-items: center; */
        text-align: left;
        margin: 0;
        color:  var(--main-color);
        font-weight: bold;
        width: 90%;
    }
    .carousel .carousel-item {
        visibility: hidden;
        width: 38.333% !important;
        position: absolute;
        opacity: 1 !important;
        left: -28.333333% !important;
        height: 100% !important;
    }
}

@media only screen and (min-width:1500px) and (max-width:9000px)
{
    .finalcustom .carousel {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 400px;
        perspective: 919px;
        transform-style: preserve-3d;
        transform-origin: 0 50%;
    }
   
}

@media only screen and (min-width:1200px) and (max-width:1400px)
{
   
    
    
}
@media only screen and (min-width:1600px) and (max-width:90000px)
{
    /* .sadasdasdas {
        height: 50rem;
    } */

    .carousel .carousel-item {
        visibility: hidden;
        width: 40.333% !important;
    
        position: absolute;
        opacity: 1 !important ;
    
        left: -32.333333% !important;
        height: 100% !important;
       
    }
    
}








