.tab-dash-calculator {
    width: 100%;
    height: 100%;
    .dash-calculator-header {
        height: 55px;
        width: 100%;
        // border-bottom: 1px solid var(--border-color);
        display: flex;
        button{
            background-color: transparent;
            border: 0;
            width: 50%;
            font-size: 90%;
            font-weight: 600;
            &:nth-child(1){
                opacity: 0.25;
                border-bottom: 1px solid var(--main-color);
            }
            &:nth-child(2){
                border-bottom: 2px solid var(--main-color);
            }
        }
    }
    .dash-calculator-body {
        height: calc(100% - 55px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 6% 40px;
        @media (min-width: 1600px) {
            padding: 5.5vh 40px;
        }
        .calculator-both{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .calculator-amount {
                height: 30%;
                width: 100%;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 3vh 0;
                .amount-header {
                    display: flex;
                    justify-content: space-between;
                    span {
                        &:nth-child(1) {
                            font-size: 1.8vh;
                            font-weight: 600;
                        }
                        &:nth-child(2) {
                            button {
                                background-color: transparent;
                                border: 1px solid var(--border-color);
                                font-size: 70%;
                                padding: 3px 10px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid rgba(24, 37, 66, 0.25);
                    border-radius: 3px;
                    padding: 1.3%;
                    h6 {
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                    input {
                        width: 35%;
                        background-color: transparent;
                        border: 0;
                        text-align: left;
                        font-weight: 400;
                    }
                }
            }
        }
        .calculator-buy{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            animation: 0.4s appear-block 1 linear;
            .calculator-buy-wrapper{
                h6{
                    font-size: 90%;
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button{
                        background-color: transparent;
                        border: 1px solid var(--border-color);
                        margin-left: 5px;
                        font-size: 85%;
                        padding: 4px;
                    }
                }
                .input-wrapper{
                    h6{
                        font-size: 90%;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid rgba(24, 37, 66, 0.25);
                        border-radius: 3px;
                        padding: 1.3%;
                        span {
                            margin-bottom: 0;
                            font-weight: 600;
                        }
                        input {
                            width: 35%;
                            background-color: transparent;
                            border: 0;
                            text-align: left;
                            font-weight: 400;
                        }
                    }

                }
            }
        }

        .calculator-generate {
            background-color: var(--main-color);
            border: 0;
            color: var(--background-color);
            padding: 10px 0;
            font-weight: 600;
            border-radius: 5px;
            &:disabled{
                opacity: 0.5;
            }
        }
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // padding: 6vh 40px;
}
@keyframes appear-block{
    from{opacity: 0; transform: scale(0.8);}
    to{opacity: 1; transform: scale(1)}
}