.controlled-by-someone {
    width: 100%;
    height: 100%;
    .cbse-page-one {
        width: 100%;
        height: 100%;
        display: flex;

        .cbse-page-one-left {
            width: 35%;
            height: 100%;
            border-right: 1px solid var(--border-color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // justify-content: center;
            padding: 0% 4%;
            // padding-top: 10vh;
            padding-bottom: 0;
            .extra-div {
                height: 70%;
                width: 100%;
                padding-bottom: 2%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .method-title {
                    height: 8vh;
                    img {
                        height: 4vh;
                    }
                }
                .empty-div {
                    height: 14px;
                    width: 100%;
                    // margin-bottom: 1rem;
                }
                .para-wrapper {
                    margin: 0vh 0;
                    font-size: 85%;
                }
                button {
                    width: 50%;
                    border-radius: 4px;
                    background-color: #1a6bb4;
                    border: 0;
                    color: white;
                    padding: 5px 0;
                    &:disabled {
                        opacity: 0.5;
                    }
                }
                .method-wrapper {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .image-text-wrapper {
                        width: 25%;
                        cursor: pointer;
                        &:hover {
                            div {
                                img {
                                    transform: scale(1.2);
                                    transition: 0.3s;
                                }
                            }
                        }
                        display: flex;
                        // flex: 1;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                        div {
                            border: 1px solid var(--light-border-color);
                            width: 100%;
                            border-radius: 5px;
                            padding: 3vh 0;
                            margin-bottom: 10px;
                            img {
                                height: 4.5vh;
                                width: 4.5vh;
                                transition: 0.3s;
                            }
                        }
                        span {
                            font-weight: 600;
                            font-size: 75%;
                        }
                        &:nth-child(3) {
                            opacity: 0.4;
                        }
                    }
                }
                .phone-number-recipient {
                    width: 100%;
                    border: 1px solid var(--border-color);
                    display: flex;
                    border-radius: 5px;
                    // margin-top: 6vh;
                    position: relative;
                    .span-left {
                        padding: 5px 0;
                        width: 17%;
                        border-right: 1px solid var(--border-color);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .span-right {
                        padding: 5px 0;
                        width: 83%;
                        input {
                            width: 100%;
                            outline: none;
                            border: 0;
                            font-size: 110%;
                            background-color: transparent;
                        }
                    }
                    button {
                        position: absolute;
                        top: 200%;
                        left: 0;
                        z-index: 1;
                        width: 50%;
                        border-radius: 4px;
                        background-color: #1a6bb4;
                        border: 0;
                        color: white;
                        padding: 5px 0;
                        &:disabled {
                            opacity: 0.5;
                        }
                    }
                    .country-code-dropdown {
                        position: absolute;
                        background-color: var(--background-color);
                        width: 100%;
                        height: 15vh;
                        z-index: 2;
                        top: 100%;
                        left: 0;
                        padding: 2vh 0;
                        padding-top: 0;
                        border: 1px solid var(--border-color);
                        animation: 0.4s curtain-down linear 1;
                        .dropdown-header {
                            height: 30px;
                            width: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: 0 2vh;
                            border-bottom: 1px solid var(--border-color);
                            input {
                                text-align: left;
                                padding: 0vh;
                                border: 0;
                                background-color: transparent;
                            }
                        }
                        .dropdown-body {
                            height: calc(100% - 30px);
                            overflow-y: auto;
                            overflow-x: hidden;
                            h6 {
                                padding: 4px 2vh;
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 0;
                                &:hover {
                                    background-color: var(--border-color);
                                }
                                span {
                                    &:nth-child(1) {
                                        font-weight: 400;
                                    }
                                }
                            }
                            &::-webkit-scrollbar {
                                width: 4px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background-color: var(--border-color);
                            }
                        }
                    }
                }
                .valid-number {
                    border: 1px solid var(--main-color);
                }
                .recipient-wrapper {
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    padding: 5px;
                    position: relative;
                    // margin-top: 15%;
                    input {
                        border: 0;
                        width: 100%;
                        background-color: transparent;
                        font-size: 90%;
                    }
                }
                .email-wrapper {
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    padding: 5px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    img {
                        height: 20px;
                        width: 20px;
                        margin-right: 5px;
                    }
                    input {
                        border: 0;
                        width: 100%;
                        background-color: transparent;
                    }
                }
                .address-receiver {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    // margin-top: 6vh;
                    div {
                        border: 1px solid var(--border-color);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px;
                        input {
                            border: 0;
                            width: 90%;
                        }
                        img {
                            cursor: pointer;
                        }
                    }
                }
                .question-wrapper {
                    height: 38%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // margin-top: 6vh;
                    h6 {
                        margin-bottom: 0;
                        &:nth-child(2) {
                            display: flex;
                            justify-content: space-between;
                            button {
                                width: 48%;
                                outline: none;
                                border: 0;
                                padding: 5px 0;
                                border-radius: 4px;
                                color: white;
                                &:nth-child(1) {
                                    background-color: var(--red-color);
                                    // opacity: 0.2;
                                    // pointer-events: none;
                                }
                                &:nth-child(2) {
                                    background-color: var(--green-color);
                                }
                            }
                        }
                    }
                }
                .users-number-wrapper {
                    // height: 100%;
                    width: 100%;
                    display: flex;
                    // justify-content: space-between;
                    flex-direction: column;
                    position: relative;
                    span {
                        white-space: normal;
                    }
                    .enter-phone-wrapper {
                        margin-top: 1rem;
                        height: 40px;
                        position: relative;
                        border: 1px solid var(--border-color);
                        width: 100%;
                        display: flex;
                        span {
                            display: flex;
                            align-items: center;
                            &:nth-child(1) {
                                width: 15%;
                                cursor: pointer;
                                justify-content: center;
                                border-right: 1px solid var(--border-color);
                            }
                            &:nth-child(2) {
                                width: 85%;
                                input {
                                    width: 100%;
                                    border: 0;
                                    background-color: transparent;
                                    outline: none;
                                }
                            }
                        }
                        .cc-dropdown {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            height: 100px;
                            width: 100%;
                            z-index: 2;
                            background-color: var(--background-color);
                            border: 1px solid var(--border-color);
                            border-top: 0;
                            .cc-dropdown-header {
                                width: 100%;
                                height: 30%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-bottom: 1px solid var(--light-border-color);
                                input {
                                    border: 0;
                                    background-color: transparent;
                                    font-size: 85%;
                                }
                            }
                            .cc-dropdown-body {
                                height: 70%;
                                width: 100%;
                                overflow: auto;
                                &::-webkit-scrollbar {
                                    width: 0;
                                }
                                div {
                                    width: 100%;
                                    display: flex;
                                    padding: 5px 0;
                                    cursor: pointer;
                                    justify-content: space-between;
                                    border-bottom: 1px solid var(--light-border-color);
                                    span {
                                        &:nth-child(1) {
                                            width: 15%;
                                        }
                                        &:nth-child(2) {
                                            width: auto;
                                            padding-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .receipt-someone {
            width: 65%;
            height: 100%;
        }
        .cbse-page-center {
            transition: 0.4s;
            width: 32.5%;
            height: 100%;
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
        }
        .hide-content {
            opacity: 0.35;
            pointer-events: none;
        }
        .cbse-page-right {
            transition: 0.4s;
            width: 100%;
            height: 70%;
            padding: 0 4%;
            // padding-top: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title-wrapper {
                h1,
                h6 {
                    margin: 0;
                }
            }
            .input-wrapper {
                height: 60px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                div {
                    display: flex;
                    justify-content: space-between;
                    input {
                        border: 0;
                        background-color: transparent;
                    }
                    &:nth-child(1) {
                        border-bottom: 1px solid var(--main-color);
                    }
                }
            }

            button {
                background-color: #1a6bb4;
                border: 0;
                padding: 5px;
                color: white;
                height: 40px;
                &:disabled {
                    opacity: 0.2;
                }
            }
        }
    }
    .cbse-page-two {
    }
}
