.managed-conversion{
  height: 100%;width: 100%;
  .managed-conversion-body{
    height: 90%;width: 100%;
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    .managed-conversion-body-scroll{
      height: 100%;width: 20%;
      overflow-y: scroll;
      button{
        width: 100%;
        border: 0;
        background-color: transparent;
        padding: 1rem 0;
        &:hover{
          cursor: pointer;
        }
        img{
          width: 60%;
        }
      }
      &::-webkit-scrollbar{
        width: 4px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #464b4e;
      }

    }
    .managed-conversion-body-main{
      height: 100%;width: 80%;
      .managed-conversion-body-main-top-section{
        height: 30%;width: 100%;
        .managed-market-limit-section{
          height: 35%;width: 100%;
          border-bottom: 1px solid #E5E5E5;
          button{
            outline: none;
            width: 50%;
            height: 100%;
            border: 0;
            color: #464b4e;
          }
          .selected{
            background-color: #464b4e;
            color: white;
          }
        }
        .managed-buy-sell-section{
          height: 65%;width: 100%;
          display: flex;
          align-items: flex-start;
          button{
            outline: none;
            width: 50%;
            border: 0;
            height: 45%;
            transition: 0.6s;
            border-bottom: 2px solid #464b4e;
          }
          .selected{
            transition: 0.6s;
            height: 100%;
          }

        }

      }
      .managed-conversion-body-main-top-section-input{
        height: 70%;width: 100%;
        display: flex;
        padding: 20% 10%;
        align-items: flex-start;
        flex-direction: column;
        div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #E5E5E5;
          padding-bottom: 5px;
          position: relative;
          input{
            border: 0;
            z-index: 1;
            width: 80%;
            background-color: transparent;
            & + span{
              z-index: -1;
              position: absolute;
              top: 0;
              transition: 0.3s;
            }
            &:valid{
              & + span{
                font-weight: 500;
                transition: 0.3s;
                top: -100%;
              }
            }
            &:focus{
              & + span{
                font-weight: 500;
                transition: 0.3s;
                top: -100%;
              }
            }

          }
          img{
            height: 3vh;width: 3vh;
          }
          &:nth-child(2){

            margin-top: auto;
            img{
              height: 2.5vh;width: 4vh;
            }

          }
        }
      }

    }
  }
  .managed-conversion-footer{
    height: 10%;width: 100%;
    display: flex;
    button{
      border: 0;
      &:nth-child(1),&:nth-child(2){
        flex: 4.25;
        border-right: 1px solid #E5E5E5;
      }
      &:nth-child(3){
        background-color: #464b4e;
        flex: 1.5;
        i{
          font-size: 25px;
          color: white;
        }
      }
    }

  }
}
