.transaction-main {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    .transaction-step-one {
        width: 100%;
        height: 100%;
        .t-step-one-title {
            height: 15%;
            display: flex;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 0;
            text-decoration: underline;
        }
        .coins-wrapper {
            height: 85%;
            width: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--border-color);
            }
            .t-coins-row {
                cursor: pointer;
                margin: 20px;
                height: 20%;
                display: flex;
                flex-direction: row;
                border: 1px solid var(--border-color);
                padding: 0 20px;
                align-items: center;
                &:hover {
                    background-color: var(--light-border-color);
                }
                img {
                    height: 4vh;
                    width: 4vh;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                div {
                    h6 {
                        margin-bottom: 0;
                        font-size: 90%;
                    }
                    span{
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .transaction-step-three{
        width: 100%;
        height: 100%;
        overflow: hidden;
        .t-step-3-header{
            height: 20%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid var(--border-color);
            padding: 0 20px;
            background-color: var(--light-border-color);
            img{
                height: 5vh;
            }
            div{
                padding-left: 5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h6{
                    margin-bottom: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                span{
                    font-weight: 400;
                    font-size: 80%;
                }
            }
        }
        .t-step-3-body{
            height: 60%;
            width: 100%;
            padding: 5% 20px;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color: var(--border-color);
            }
            h6{
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: 1px solid var(--light-border-color);
                margin-bottom: 2vh;
                cursor: copy;
                span{
                    width: 50%;
                    font-weight: 500;
                    font-size: 75%;
                    white-space: normal;
                    overflow-wrap: anywhere;
                    cursor: copy;
                }
                

            }

        }
        .audit-section{
            padding: 0 20px;
            height: 10%;
            width: 100%;
            // box-shadow: 0 -4px 10px rgba(0,0,0,0.16);
            display: flex;
            align-items: center;
            button{
                background-color: transparent;
                border: 0;
                font-weight: 600;
                padding: 0;
                font-size: 90%;
                text-decoration: underline;
            }
        }
        .t-step-3-footer{
            height: 10%;
            display: flex;
            button{
                width: 50%;
                background-color: transparent;
                border: 1px solid var(--border-color);
                font-size: 80%;
                height: 100%;
                // &:nth-child(2){
                //     opacity: 0.25;
                //     pointer-events: none;
                // }
            }
        }

    }
}
