.cbm-receipt-main{
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 5%;
    .cmb-receipt-card{
        height: 70%;
        width: 100%;
        border: 1px solid var(--light-border-color);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 6%;
        box-shadow: 0 5px 5px 2px #e2e2e2;
        h6{
            margin-bottom: 0;
        }
        span{
            color: #9A9A9A;
        }
        .cmb-card-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid red;
            img{
                height: 3.5vh;
            }
            h6{
                margin-bottom: 0;
                width: 25%;
                display: flex;
                span{
                    &:nth-child(1){
                        margin-right: 10px;
                    }
                    &:nth-child(2){
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);
                    }
                }
            }
        }
        .cmb-amount{
            .cmb-amount-coin{
                display: flex;
                h6{
                    &:nth-child(1){
                        width: 75%;
                        padding-right: 40px;
                        display: flex;
                        align-items: flex-end;
                        span{
                            &:nth-child(1){
                                width: 90px;
                                white-space: normal;
                            }
                            &:nth-child(2){
                                width: 100%;
                                border-bottom: 1px solid var(--border-color);
                            }
                        }

                    }
                    &:nth-child(2){
                        width: 25%;
                        border: 1px solid var(--border-color);
                        display: flex;
                        align-items: center;
                        padding: 0 10px;
                        span{
                            width: 50%;
                            &:nth-child(2){
                                img{
                                    height: 15px;
                                    margin-right: 10px;
                                }
                            }
                        }

                    }
                }
            }
            .cmb-amount-usd{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 20px;
                h6{
                    &:nth-child(1){
                        width: 75%;
                        display: flex;
                        padding-right: 40px;
                        span{
                            width: 100%;
                            border-bottom: 1px solid var(--border-color);
                        }
                    }
                    &:nth-child(2){
                        width: 25%;
                        display: flex;
                        align-items: center;
                        img{
                            height: 18px;
                            margin-right: 10px;
                        }

                    }
                }
            }

        }
        .cmb-notes-wrapper{
            display: flex;
            h6{
                width: 50%;
                display: flex;
                padding-right: 20px;
                span{
                    &:nth-child(1){
                        margin-right: 10px;

                    }
                    &:nth-child(2){
                        width: 100%;
                        border-bottom: 1px solid var(--border-color);
                        white-space: normal !important;
                        text-overflow: ellipsis;
                        overflow: hidden;

                    }
                }
            }
        }
    }
}
.for-the-list{
    padding: 0;
    border: 1px solid var(--light-border-color);
    p{
        padding: 0 6%;
        letter-spacing: 5px;
        font-weight: 700;
        color: #464B4E;
    }
    .cmb-receipt-card{
        height: 100%;
        box-shadow: none;
        border: 0;
    }
}