@import "src/css-variables/css-variables.scss";
.friends-action{
    width: 100%;
    height: 100%;
    .contact-action-header{
        height: 48px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        .first-image{
            height: 65%;
        }
        div{
            display: flex;
            flex-direction: column;
            h6{
                font-weight: 600;
                margin: 0;
            }
            span{
                font-weight: 400;
            }
        }
        button{
            padding: 0 10px;
            height: 60%;
            font-size: 70%;
            font-weight: 500;
            @include removeDefault;
            background-color: transparent;
            border: 1px solid var(--border-color);
            img{
                transform: rotate(180deg);
                margin-left: 10px;
            }
        }
    }
    .contact-action-body{
        height: calc(100% - 24px);
        width: 100%;
        padding: 0 40px;
        padding-top: 7%;
        overflow: scroll;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: var(--border-color);
        }

        .chat-row{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 1.5rem;
            .image-wrapper{
                display: flex;
                flex-direction: column;
                img{
                    height: 4vh;
                    margin-bottom: 0.5rem;
                }
                span{
                    font-weight: 500;
                    font-size: 60%;
                    color: var(--light-gray);
                }
            }
            .details-wrapper{
                position: relative;
                margin:0 1rem;
                top: -5px;
                border: 1px solid var(--faint);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
                padding: 0 20px;
                border-radius: 30px;
                width: 65%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-size: 95%;
                    &:nth-child(1){
                        img{
                            height: 20px;
                            margin-right: 1rem;
                        }

                    }
                    &:nth-child(2){
                        font-weight: 600;
                    }
                }
            }
        }
    }

}