.offering-wrapper-main{
    width: 100%;
    height: 100%;
    .offering-wrapper-header{
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        .normal-header{
            width: calc(100% / 8);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            flex-direction: column;
            span{
                // position: absolute;
                // background-color: var(--background-color);
                // top: 130%;
                // border: 1px solid var(--main-color);
                // padding: 3px 6px;
                display: none;
                z-index: 1;
                font-weight: 400;
            }
            &:hover{
                span{
                    // display: block;
                }
            }
            img{
                height: 25px;
                margin-bottom: 5px;
            }
        }
        .selected-header{
            span{
                display: block;
            }
            img{
                transition: 0.3s transform;
                transform: scale(1.3);
                // filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.45));
            }
        }
    }
    .offering-wrapper-body{
        height: calc(100% - 70px);
        width: 100%;
    }
}