@import "src/css-variables/css-variables.scss";
.contact-list{
    width: 100%;
    height: 100%;
    padding: 40px;
    overflow-y: scroll ;
    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--border-color);
    }
    
    .contact-group{
        h6{
            color: var(--light-gray);
        }
        .contact-wrapper{
            display: flex;
            justify-content: flex-start !important;
            flex-wrap: wrap;
            width: auto;

        }
    }
    .no-friends{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        button{
            @include removeDefault;
            background-color: var(--main-color);
            color: var(--background-color);
            font-size: 80%;
            padding: 5px 20px;
        }
    }
}