.update-interest-step-three {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5%;
    position: relative;

    .ui-three-header {
        h3 {
            margin-bottom: 0;
            font-weight: bold;
        }
        p {
            font-size: 85%;
            margin-bottom: 0;
        }
        margin-bottom: 4vh;
    }
    .ui-three-body {
        border: 1px solid var(--border-color);
        height: 33%;
        .ui-three-body__header {
            display: flex;
            align-items: center;
            height: 33%;
            border-bottom: 1px solid var(--border-color);
            padding: 0 5%;
            img {
                height: 22px;
                margin-right: 10px;
            }
            h5 {
                margin-bottom: 0;
                font-weight: 600;
            }
        }
        .ui-three-body__body {
            height: 63%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5%;
            div {
                display: flex;
                justify-content: space-between;
                span {
                    &:nth-child(1) {
                        font-weight: 400;
                    }
                    &:nth-child(2) {
                        img {
                            height: 22px;
                            width: 22px;
                            margin-right: 10px;
                        }
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .ui-three-footer {
        width: 100%;
        position: absolute;
        bottom: 5%;
        left: 0;
        z-index: 1;
        button {
            padding: 5px 0;
            width: 40%;
            border: 1px solid var(--border-color);
            font-size: 85%;
            margin-right: 20px;
            &:nth-child(1) {
                background-color: transparent;
            }
            &:nth-child(2) {
                background-color: var(--main-color);
                color: var(--background-color);
            }
        }
    }
}

.update-interest-part-two {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 5%;
    .ui-two-header {
        h3 {
            margin-bottom: 0;
        }
        p {
            font-size: 80%;
            margin: 0;
        }
        margin-bottom: 5vh;
    }
    .ui-two-body {
        width: 100%;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--border-color);
        }
        div {
            position: relative;
            width: 100%;
            border: 1px solid var(--border-color);
            margin-bottom: 3vh;
            // padding: 1.6vh;
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
                h6 {
                    transition: 0.3s;
                    font-weight: 600;
                }
            }

            h6 {
                margin: 0;
                img {
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                }
            }
            p {
                margin: 0;
                font-size: 75%;
            }
            .right-arrow-ui {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
                height: 35%;
            }
        }
    }
}
.update-interest-part-one {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7% 5%;
    .ui-header {
        h3 {
            margin-bottom: 0;
            font-weight: bold;
        }
        p {
            font-size: 85%;
            margin-bottom: 0;
        }
    }
    .ui-money-market-earning {
        border: 1px solid var(--border-color);
        height: 33%;
        .money-market-earning-header {
            display: flex;
            align-items: center;
            height: 33%;
            border-bottom: 1px solid var(--border-color);
            padding: 0 5%;
            img {
                height: 22px;
                margin-right: 10px;
            }
            h5 {
                margin-bottom: 0;
                font-weight: 600;
            }
        }
        .money-market-earning-body {
            height: 63%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 5%;
            div {
                display: flex;
                justify-content: space-between;
                span {
                    &:nth-child(1) {
                        font-weight: 400;
                    }
                    &:nth-child(2) {
                        img {
                            height: 22px;
                            width: 22px;
                            margin-right: 10px;
                        }
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .ui-footer-buttons {
        width: 100%;
        button {
            padding: 5px 0;
            width: 40%;
            border: 1px solid var(--border-color);
            font-size: 85%;
            margin-right: 20px;
            &:nth-child(1) {
                background-color: transparent;
            }
            &:nth-child(2) {
                background-color: var(--main-color);
                color: var(--background-color);
            }
        }
    }
}
