.controlled-by-app{
    display: flex;
    width: 100%;
    height: 100%;
    // background-color: red;
    display: flex;
    .by-app-left{
        width: 50%;
        height: 100%;
        border-right: 1px solid var(--light-border-color);

    }
    .by-app-right{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .by-app-dashboard{
        display: flex;
        height: 100%;
        width: 100%;
        .by-app-dashboard-left{
            width: 35%;
            height: 100%;
            border-right: 1px solid var(--border-color);
            display: flex;
            justify-content: center;
            align-items: center;
            .question-answer{
                width: 100%;
                height: 70%;
                padding: 0 15%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .qa-title{
                    img{
                        height: 3.5vh;
                    }
                }
                .qa-input-wrapper{
                    border: 1px solid var(--border-color);
                    input{
                        width: 100%;
                        border: 0;
                        padding: 5px;
                        font-size: 90%;
                        background-color: transparent;
                    }
                }
                button{
                    background-color: #1a6bb4;
                    color: white;
                    border: 0;
                    font-size: 90%;
                    padding: 5px 0;
                    &:disabled{
                        opacity: 0.5;
                    }
                }

            }
            .by-app-calculator{
                width: 100%;
                height: 70%;
                padding: 0 15%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .by-app-calculator-title{
                    h3,h6{
                        margin-bottom: 0;
                        color: #1a6bb4;
                    }
                }
                .by-app-calculator-input-wrapper{
                    h6{
                        margin-bottom: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        span{
                            color: #1a6bb4;
                        }
                        input{
                            background-color: transparent;
                            border: 0;
                        }
                        &:nth-child(1){
                            border-bottom: 1px solid #1a6bb4
                        }
                    }

                }
                button{
                    background-color: #1a6bb4;
                    color: white;
                    border: 0;
                    font-size: 90%;
                    padding: 5px 0;
                    &:disabled{
                        opacity: 0.5;
                    }
                }
            }
        }
        .by-app-dashboard-right{
            width: 65%;
            height: 100%;

        }
    }
}