.friend-carousel{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 4% 5%;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    .friend-carousel-header{
        height: 20%;
        width: 100%;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            height: 50%;
        }
        span{
            font-size: 100%;
        }
        // justify-content: spa;

    }
    .friend-carousel-body{
        height: 80%;
        width: 100%;
        border: 1px solid red;

    }
}