.by-apps-form-child{
    height: 70%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .by-app-form-title{
        img{
            height: 3.5vh;
        }
    }
    .middle-text{
        font-size: 85%;
    }
    button{
        background-color: #1A6BB4;
        border: 0;
        color: white;
        font-size: 85%;
        padding: 5px 0;
        &:disabled{
            opacity: 0.5;
        }
    }
    .by-apps-form-method{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .input-wrapper{
            width: 100%;
            display: flex;
            border: 1px solid var(--border-color);
            padding: 5px 10px;
            display: flex;
            img{
                height: 3vh;
                width: 3vh;
                margin-right: 10px;
            }
            span{
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid var(--border-color);
            }
            input{
                width: 100%;
                border: 0;
                font-size: 85%;
                outline: none;
            }
            position: relative;
            .dropdown-code{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                border: 1px solid var(--border-color);
                height: 20vh;
                background-color: white;
                z-index: 2;
                overflow: auto;
                &::-webkit-scrollbar{
                    width: 0;
                }
                h6{
                    padding: 4px 10px;
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .options-row{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .option-single-wrapper{
                width: 28%;
                cursor: pointer;
                div{
                    width: 100%;
                    border: 1px solid var(--light-border-color);
                    display: flex;
                    justify-content: center;
                    padding: 3vh 0;
                    img{    
                        height: 4vh;
                        width: 4vh;
                    }
                }
                p{
                    text-align: center;
                    width: 100%;
                    font-size: 80%;
                    font-weight: 500;
                    padding-top: 10px;
                }
            }
        }

    }
}