.by-apps-checkbook{
    width: 100%;
    height: 100%;
    .by-app-cb-header{
        border-bottom: 1px solid var(--light-border-color);
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7%;
        div{
            img{
                height: 3.5vh;
            }
            h6{
                margin-bottom: 0;
            }
        }
        button{
            border: 1px solid var(--border-color);
            background-color: transparent;
            padding: 7px 20px;
            display: flex;
            align-items: center;
            font-size: 90%;
            img{
                height: 14px;
                margin-right: 5px;
            }
        }

    }
    .by-app-cb-body{
        height: 75%;
        width: 100%;
        .bh-app-cb-search-bar{
            height: 50px;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            span{
                width: 50%;
                display: flex;
                input{
                    width: 100%;
                    border: 0;
                    background-color: transparent;
                    outline: none;
                }
                &:nth-child(1){
                    padding-left: 40px;
                }
                &:nth-child(2){
                    border-left: 1px solid var(--border-color);
                }
                button{
                    width: calc(100% / 3);
                    border: 0;
                    background-color: transparent;
                    &:nth-child(2){
                        border-left: 1px solid var(--border-color);
                        border-right: 1px solid var(--border-color);
                    }
                }
                .selected-type{
                    font-weight: 600 !important;
                }
            }
        }
        .bh-app-cb-list{
            height: calc(100% - 50px);
            width: 100%;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 5px;
            }
            .by-app-cb-row{
                height: 25%;
                width: 100%;
                padding: 0 7%;
                border-bottom: 1px solid var(--border-color);
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% / 3);
                    img{
                        height: 18px;
                        margin-right: 5px;
                    }
                    &:nth-child(1){
                        justify-content: flex-start;
                    }
                    &:nth-child(3){
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

}