.by-apps-coin-list{
    width: 55%;
    height: 100%;
    padding-top: 5%;
    .by-apps-coin-list-header{
        height: 80px;
        width: 100%;
        h4,h6{
            color: #1A6BB4;
            margin-bottom: 0;
        }
        h6{
            font-weight: 400;
        }
    }
    .by-apps-coin-list-body{
        height: calc(100% - 80px);
        width: 100%;
        border: 1px solid var(--border-color);
        overflow: auto;
        &::-webkit-scrollbar{
            width: 0;
        }
        .by-app-coin-list-row{
            height: 20%;
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 30px;
            cursor: pointer;
            span{
                color: #1A6BB4;
                img{
                    height: 16px;
                    margin-right: 5px;
                }
            }
            &:hover{
                background-color: rgba(26,107,180, 0.1);
            }
        }

    }
}