.friend-carousel{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 4% 5%;
    padding-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    .friend-carousel-header{
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            margin-bottom: 0;
        }
        // justify-content: spa;

    }
    .friend-carousel-body{
        height: 80%;
        width: 100%;
        padding: 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            height: 45%;
            width: 30%;
            background-color: var(--background-color);
            border: 1px solid var(--border-color);
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            // margin: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            h6{
                color: #1a6bb4;
                font-weight: 600;
                position: absolute;
                top: 105%;
                width: 100%;
                left: 0;
                text-align: center;
                span{
                    
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    left: 0;
                    font-size: 60%;
                    text-align: center;
                    font-weight: 400;
                }
            }
            // &:nth-child(1),&:nth-child(5){
            //     opacity: 0.5;
            //     transform: scaleY(0.75);
            // }
            // &:nth-child(2), &:nth-child(4){
            //     opacity: 0.75;
            //     transform: scaleY(1);
            // }
            // &:nth-child(3){
            //     opacity: 1;
            //     transform: scaleY(1.25);
            // }
        }

    }
}
