.funds-sidebar {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .funds-sidebar-body {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        div {
            cursor: pointer;
            flex: 1;
            display: flex;
            // justify-content: center;
            align-items: center;
            transition: 0.3s;
            padding-left: 40px;
            &:hover {
                img {
                    transform: scale(1.2);
                    transition: 0.3s;
                }
            }
            img {
                height: 17%;
            }
            .small-image {
                width: 25px;
            }
            &:nth-child(2) {
                border-top: 1px solid var(--light-border-color);
                border-bottom: 1px solid var(--light-border-color);
            }
            &:nth-child(3) {
                border-bottom: 1px solid var(--light-border-color);
            }
        }
        .selected-side {
            background-color:#F1F4F6;
        }
        .hide-this {
            opacity: 0.35;
            pointer-events: none;
        }
    }
    .deposit {
        height: 100%;
        div {
            height: calc(50%);

            &:nth-child(3) {
                border-bottom: 0px solid var(--light-border-color);
            }
            &:nth-child(2) {
                border-top: 1px solid var(--light-border-color);
                border-bottom: 0px solid var(--light-border-color);
            }
        }
    }
    .funds-footer {
        height: 10%;
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            color: var(--background-color);
        }
    }
    .deposit-footer {
        height: 0;
        display: none;
    }
    .no-padding {
        padding: 0 !important;
        div {
            justify-content: center;
        }
    }
    .selected {
        background-color: var(--border-color);
    }
}
